[2016-10-20 19:29] nikoTM commented on #1000
@dveditz so how come this was not forwarded to angular team ?

[2016-10-20 20:31] thejh commented on #1000
@ian-a-hickey FYI, I have a working bypass, works even in CSP mode, from the simple Angular binding context (`{{...}}`), and it still worked with your bug fixed (before they removed the whole sandbox).

[2016-10-20 21:55] mryellow commented on #1000
There is no fix for broken architecture. Only fix is to stop using it for purposes it is not fit for.

[2016-10-20 23:27] whitef0x0 commented on #1000
@mprobst any updates from the Angular team on this?

[2016-10-21 01:12] mprobst commented on #1000
@whitef0x0 yes.

* We understand the underlying concern better now after talking to the researcher
* The issue is unrelated to sandbox bypasses
* There is a (not super high priority) security issue that deserves fixing. It's not really specific to Angular, but Angular makes it easier to exploit.
* We believe the problem can be mitigated between Angular and Firefox. I'm working on a fix.

[2016-10-21 01:47] hhsadiq commented on #1000
This ban looks more like a personal grudge towards angular than anything else. The reasons provided by @wagnerand are not very compelling. Or probably firefox team is not very happy about the fact that google chrome has taken over its browser market share, so started to hate everything related to google.

[2016-10-21 02:32] EliCDavis commented on #1000
@hhsadiq save that for the reddit comments.

[2016-10-21 02:34] dosaygo-coder-0 commented on #1000
@mryellow you don't know that's the problem here. And there is a fix for what you say anyway. Best to just share it with the team and let them decide whether there's any fix or not here.

This really isn't an ideological issue, it's very clear what the thing that works for the community is. Even if you're going to ban Ng, give them a chance to address your concerns and improve. To choose not to gi

[2016-10-21 08:23] mi-g commented on #1000
Since only a few people here understand what the security issue actually is, could they comment on this possible workaround: inserting as first line of the angular.min.js file being used in the Firefox extension:

`
(typeof window!=="undefined" && window.location && window.location.href && window.location.href.startsWith("resource://my-extension/")) || (function() { throw "Library loading not allo

[2016-10-21 08:30] ValentinaPC opened #1004 ""e10s" is accepted as a minversion for Add-ons"
1. Submit an add-on with `minversion` "e10s" i.e. https://addons-dev.allizom.org/en-US/firefox/addon/resurrect-pages-testminvers/

Expected results:
Submission is blocked at validation with a message of no such Firefox version.

Actual results:
User can submit and install the add-on.

Notes/Issues:
**Any value** listed in Manage Status & Version->Manage Version->Compatibility Firefox dropdown is a

[2016-10-21 08:49] AgentME commented on #1000
Ohhh I think there's been two possible issues brought up here. The issue I've been bringing up above only applies if you use Angular within an extension content script (this does *not* describe [bitwarden](https://github.com/bitwarden/browser/blob/master/src/manifest.json)). Judging from @mi-g the other issue is... I guess I shouldn't be the first to go into it but I see how what @mprobst [said](h

[2016-10-21 09:47] gkalpak commented on #1000
AFAICT, this is not specific to Angular or extensions. Allowing malicious content into your HTML code allows bad people to do bad things to anyone visiting the page (with or without Angular, with or without extensions). Furthermore, any content script that gets inject and somehow interact with a page gives more powerful tools to the malicious content that runs on the page (with or without Angular)

[2016-10-21 09:52] AgentME commented on #1000
@gkalpak I'm not sure what your point is. There's certainly no line of code in Angular that can only exist in Angular.

That's not true of all content scripts. Most code doesn't read from the DOM and then try to eval its text. Angular does that by default.

[2016-10-21 10:07] gkalpak commented on #1000
Sorry, I wasn't clear. What I meant is that banning all content scripts that eval text from the DOM (including angular.js) may make sense. But this is different from preventing angular.js (or scripts that do similar things) from being used in popups or background pages (or generally in contexts that do not have direct access to the webpages). And afaik this is what this thread is about.

[2016-10-21 13:38] adamchenwei commented on #1000
Is this really for the security? That do not share policy does not sound right at all... What is going on with Firefox team? Did you forgot who are the ones helped your growth? Wow...

[2016-10-21 14:04] adamchenwei commented on #1000
Is it just up to 1.5.8 got banned? So 1.5.8+ is not?

[2016-10-21 23:08] paolocaminiti commented on #1000
The ban makes perfect sense, reviewers do detailed reviews, and will ban any code that can be exploited, even simple DOM manipulations via .innerHTML are forbidden. I've had several reviews failing before publishing an extension for a well trusted company and all things pointed out made sense, it's code not a question of trust and authorship. The reviewing team (volounteers) is even informative an

[2016-10-22 08:22] yonjah commented on #1000
I'm not sure if this is not a bit off topic (and outsie of the scope for this issue), but this security issue has two sides to it.

1. Angular evaluating and executing code out of the DOM
2. Firefox addon allowing content scripts to run inside web pages with extremely sensitive set of permissions.

Though banning angular from extension might be the immediate and temporary fix. There might be many

[2016-10-22 14:06] tofumatt opened #1006 "clipboardWrite and history permissions are valid but cause errors"
The linter errors with valid permissions "clipboardWrite" and "history".

It should allow add-ons with these permissions without any errors.

[2016-10-25 14:36] tofumatt commented on #1006
Closed by #1005.

[2016-10-25 14:36] #1006 closed

[2016-10-25 19:20] cure53 commented on #1000
FWIW, we did the original research (together with many others) and are happy to answer any technology-related questions about that very research :)

[2016-10-25 21:38] cure53 commented on #1000
Hi @mrcktz,

That is correct, writing here in person.

AngularJS, under certain conditions, allows to bypass parts of CSP. CSP, among the many goals it has, aims to block execution of inline JavaScript (i.e. `<h1 onclick=evil()>`). AngularJS however supports `<h1 ng-click=$event.view.evil()>` when run with its own CSP-mode. That bypasses CSP *if the stars are aligned right*. The stars are known to

[2016-10-26 09:09] ValentinaPC commented on #1006
Verified as fixed on AMO-dev FF49(Win 7)
Postfix screenshot:
![newperm](https://cloud.githubusercontent.com/assets/15685960/19719909/9f577dca-9b74-11e6-8a42-105d4a863e70.png)

@tofumatt : Is this fix in -prod already, or I did not manage to test it right?

[2016-10-26 14:55] josteink opened #1014 "Add config option to treat warnings as errors"
### Describe the problem and steps to reproduce it:

First create a web-extension `manifest.json` with invalid permissions (like `"tbas"`). Then run `web-ext lint`.
### What happened?

`web-ext lint` produced a warning, but still exited with return code `0`.
### What did you expect to happen?

Have ability to add config-flag to treat warnings like errors.

This would basically mean rewriting [the

[2016-10-28 12:20] kspearrin commented on #1000
Now that all of this discussion has settled down a bit, can @wagnerand or anyone from Mozilla chime in and let me know what the plan/outlook is here? Are we waiting on changes to Angular to get patched and will reconsider the ban then or what? Is there any path around the vulnerability that can be taken in order to subvert the ban and get our extension listed in the meantime?

[2016-10-28 12:31] mi-g commented on #1000
I would add: will Mozilla reconsider the ban for extensions that do not inject Angular into external web sites where the DOM may be maliciously trapped, but keep it for local UI usage within the extension HTML code (basically serving the page from a resource:// URL) ?

[2016-10-28 15:01] petebacondarwin commented on #1000
FYI Angular and Mozilla have met to discuss this problem and are working together to find a way to mitigate any vulnerabilities, which will allow Angular 1 to be removed from the blacklist so that it can continue to be used to develop Mozilla add-ons. Not sure what the timescale is for update but I would watch this space over the next couple of weeks.

[2016-10-28 18:22] deadsquid commented on #1000
I'm Kev Needham, a Product Manager for Add-ons. We [met with the Angular team](https://twitter.com/IgorMinar/status/790925949273567233), and we’re working our way through how we got here, and how we move forward.

There's two main pieces to this thread, and I'd like to comment (briefly) on them.

The first issue covers responsible disclosure. Earlier this year, our team acted on a vulnerability we

[2016-10-28 19:38] petebacondarwin commented on #1000
(And I just want to thank all of those people from both Mozilla, Google and external teams that have acted to effectively and cooperatively to get to the bottom of this so quickly once the issue came to light.)

[2016-10-30 13:31] kumar303 opened #1023 "web-ext lint error: Too many non-option arguments: got 1, maximum of 0"
### Describe the problem and steps to reproduce it:

To reproduce:
- upgrade the `addons-linter` dependency of `web-ext` to `0.15.7` (or higher)
- run `npm install` and `npm run build` to get a new `web-ext`
- cd into any add-on
- type `web-ext lint`
### What happened?

It shows a usage message with this error:

[code]
### What did you expect to happen?

The command should show a lint report
### A

[2016-10-31 11:19] muffinresearch opened #1026 "Validate icons"
We should check that images referenced in the manifest are present, we should also check that they are an allowed type (Not sure exactly what this list is, chrome web exts allow any image format supported by webkit [1] MDN docs don't specify allowed formats [2])

We could also go further and check files are the filetype the extension suggests they are.

[1] https://developer.chrome.com/apps/manife

[2016-10-31 11:30] #1014 closed

[2016-10-31 12:23] #945 closed

[2016-10-31 13:48] muffinresearch commented on #1023
Looks like Yargs was updated 6 days ago: https://github.com/mozilla/addons-linter/pull/1003 and that was included in the 0.15.7 release.

[2016-10-31 19:29] josteink commented on #1023
I'm having this error too. It's a bit of a bummer too, because with this, I finally planned to land the warnings-as-errors support in web-ext linting.

[2016-10-31 19:46] andymckay opened #1029 "author should be a string"
In bug https://bugzilla.mozilla.org/show_bug.cgi?id=1313567 we use author if its a string, for anything else Firefox will throw a warning. Let's do the same:

1477940090315	addons.webextension.tabs-tabs-tabs@mozilla.org	WARN	Loading extension 'tabs-tabs-tabs@mozilla.org': Reading manifest: Error processing author: Expected string instead of {"email":"foo"}

[2016-11-05 20:08] Synzvato opened #1035 "Library blacklist blocks valid submissions"
The new library blacklist is currently preventing me from submitting new versions of my featured add-on [Decentraleyes](https://addons.mozilla.org/en-US/firefox/addon/decentraleyes/). It wrongly suspects that the add-on actively uses several libraries that are known to suffer from security vulnerabilities. It's a CDN emulator, and does not internally rely on said libraries.

While I expect there t

[2016-11-06 03:02] Gitoffthelawn commented on #1035
One way around this is to not include any libraries by default.  Instead include a list of available libraries, similar to how popular content blockers include lists of available block lists.  Then allow the user to select which libraries to include (and then download them).

In addition to resolving this issue, it also resolves many of the frequent *"will you include version xyz of library abc"*

[2016-11-06 09:13] Synzvato commented on #1035
@Gitoffthelawn Block lists are completely different from actual resource bundles. Allowing external downloads, and facilitating ```file://``` loads from outside of the signed extension would make the add-on less secure. Also, would not even possible to offer such files as ```moz-extension://``` resources.

I appreciate your suggestion, but there are clear reasons as to why "custom resource bundles

[2016-11-06 17:09] tofumatt commented on #1035
Quickly looking at your add-on, I'm gathering a feature is that it loads libraries like Angular from the add-on rather than a CDN for privacy protection?

If so, and you're including any [banned libraries](https://github.com/mozilla/addons-linter/blob/master/docs/third-party-libraries.md#banned-libraries), your add-on will be blocked and this is intended behaviour. While you might not be executing

[2016-11-06 17:12] tofumatt commented on #1035
As an addendum, I just took a look at your add-on's source code after reading the description on addons.mozilla.org. This is definitely the linter working as intended, identifying files like https://github.com/Synzvato/decentraleyes/tree/master/data/resources/jquery/1.11.0 as jQuery 1.x which is banned.

Again, given the nature of your add-on I would request an exemption; I can't promise you'll ge

[2016-11-06 17:42] Synzvato commented on #1035
@tofumatt The linter falsely assumes that my extension "_uses_ a JavaScript library" you do not allow.

![selectie_007](https://cloud.githubusercontent.com/assets/2366020/20039942/0c4c7fb6-a44e-11e6-8951-e0d20f3ad5ae.png)
_A screenshot of one of the numerous error messages._

The add-on does not _use_ any of the libraries, so the error message is off. It clearly shows the intent behind the new rul

[2016-11-06 17:50] tofumatt commented on #1035
I suppose that’s technically true, but we can’t determine intent. The
linter assumes that if you’re including code in your add-on, your add-on is
going to run said code. Your add-on is an edge case, and while I appreciate
the _intent_ of the rule doesn’t apply to you, this is an intentional “err
on the side of caution” design decision for the linter.

We can’t (easily) determine programatically wh

[2016-11-06 19:56] Synzvato commented on #1035
@tofumatt Thank you for the swift responses, and for sharing your thoughts.

This makes no sense to me. Why does the add-on validator throw fatal errors "on the side of caution", when a fatal error means that there is absolutely no way to upload a given add-on? When the tool raises doubts about a submission, shouldn't reviewers be able to take a peek at the issue(s) at hand?

Then I am convinced,

[2016-11-06 20:01] L-a-n-g-o-l-i-e-r-s commented on #1035
Mozilla should provide an appeal process baked into that rejection message for a sort of white list status. That way Synzvato isn't going to be contacting the review team every time he makes an update to his extension, as it stands reviewers will be spending more time on his extension than before.

[2016-11-06 21:13] gitarra commented on #1035
Decentraleyes acts as a preloaded browser cache.

Killing this addon effectively means that Mozilla's stance is that these libraries are blocked web content. So Firefox should also internally remove these libraries from its own browser cache and prevent these libraries from executing on web pages.

However this is not the case. So killing this extension is clearly a bug.

[2016-11-06 22:02] tofumatt commented on #1035
Pinging @jvillalobos and @wagnerand, who might have more to say on this topic, especially re: whitelisting and the purpose of this blocklist. It's not the first time developers have had an issue with it, though this is a lot different than #1000.

I'll say that I totally agree with @Synzvato on the subject of the message. We should at least be linking to the https://github.com/mozilla/addons-linte

[2016-11-07 08:29] Rob--W commented on #1035
Note that merely the act of making old, known-vulnerable libraries web-accessible from an add-on degrades the security of all websites, since these libraries can then be loaded despite the presence of the Content Security Policy that would otherwise have blocked the request.

[2016-11-07 09:38] Synzvato commented on #1035
@Rob--W Thanks for weighing in! That's an interesting observation, and might be something to keep in mind moving forward, but Decentraleyes does not currently overrule any Content Security Policies.

[2016-11-07 10:33] Rob--W commented on #1035
@Synzvato Your add-on is definitely vulnerable to the situation I described above. I've just set up a proof of concept and posted a detailed report at https://github.com/Synzvato/decentraleyes/issues/130

[2016-11-07 11:31] Synzvato commented on #1035
@Rob--W That's a good catch. I thought you were referring to internal redirection logic. You're right about the fact that an existing XSS vulnerability in a website could be used to perform a (highly) targeted attack. I will see if it's possible for the add-on to intercept and cancel these kinds of requests.

Assuming this is fixable, can you think of any other potential security issues? I think i

[2016-11-07 11:44] Rob--W commented on #1035
@Synzvato If the add-on does not use these libraries *and* they cannot directly be referenced, then I think that it is fine to approve your add-on.

A quick and easy (temporary) fix for both issues (this linter issue and the security issue) is to prepend "@" to all JavaScript files, and remove it before serving the file as a response to the CDNs (assuming that your add-on directly writes the respo

[2016-11-07 14:48] muffinresearch commented on #1023
@kumar303 Running web-ext lint with a version of web-ext where the tests are failing, `web-ext lint --source-dir [SOURCE]` runs correctly so I think this might be an issue with how the cli tests in web-ext are being run and less a bug in addons-linter.

[2016-11-07 15:46] Synzvato commented on #1035
@Rob--W Thanks for the clarifications and suggestions!

That's great to hear. I'm convinced that once the add-on is ported to ```WebExtensions```, it'll be no longer possible for exploits to directly refer to bundled resources. My reasoning behind this, is that the identifiers within ```moz-extension://``` addresses differ per user, where ```resource://``` locations are set in stone.

I will be su

[2016-11-07 16:09] Rob--W commented on #1035
@Synzvato

This will likely change in the future: https://bugzilla.mozilla.org/show_bug.cgi?id=1271663
Even if the URL was unique, I wouldn't be surprised if the URL can leak (e.g. via stack traces, or XHR + responseURL).

I think that an ideal API would be something like `URL.createObjectURL`, but with the ability to specify a custom URL if the extension has the right origin permissions. If I don

[2016-11-07 16:39] kumar303 commented on #1023
@muffinresearch Did you rebuild `web-ext` after upgrading its linter dep? I can still reproduce it. This is how I do it:
[code]

[2016-11-07 16:53] muffinresearch commented on #1023
@kumar303 It's working for me but the test still fails. What node / npm versions are you using?

[2016-11-07 18:42] josteink commented on #1023
I can reproduce this error too and I'm using v4.6.1 (default on Fedora 24) and v4.2.6 (Ubuntu 16.04).

This tool really *should* work with the Node LTS releases since it's bound to be involved in many CI-processes on build-servers with 100% standard configurations where adding custom repos is big no-no.

[2016-11-07 19:09] kumar303 commented on #1023
I can reproduce it in any version combo. The lats one I tried was:
[code]

[2016-11-07 19:40] josteink commented on #1023
I've run up the following script to bisect the error, and I cannot get any good results when going over addons-linter:

[code]

Going back 40 commits on `addons-linter` doesn't fix the problem in `web-ext`: It keeps on failing with the same failure mode.

From this I've gathered that the error probably has to be in `web-ext` somewhere... I'll dig deeper and see what I've found.

[2016-11-07 19:52] josteink commented on #1023
We'll that's the strangest thing ever.

I just did `git pull origin master` on both `addons-linter` and `web-ext` and ran the following script. It runs fine:

[code]

And now it works fine...

@kumar303: Can you reproduce the same behaviour?

[2016-11-07 21:26] muffinresearch opened #1036 "Move yargs closer to the linter object instantiation and remove getConfig()"
This is a follow-up to https://github.com/mozilla/addons-linter/issues/1023

The yargs config code must only be called once so it should be run as close to the instantiation of the linter as possible and from there all access to config should be either from the linter object or the linter object can pass it's config down into things that need access it.

The yargs config also should not be exporta

[2016-11-07 21:32] muffinresearch commented on #1023
@josteink Kumar and I have just been debugging this and the problem is related to the way the ManifestJson parser tries to look up the self-hosted option. The causes the the yargs parser to run again and it breaks down from there.

I couldn't initially repro it since I was pointing it at a directory with an old style extension and if the directory doesn't have a `manifest.json` the bug isn't trigg

[2016-11-07 21:48] kumar303 commented on #1036
The main goal is to prevent any linter component from trying to parse the command line for configuration. When used as a library, it should never need to do that anyway since it can ask the Linter instance for config values.

[2016-11-07 21:49] #1023 closed

[2016-11-07 21:50] kumar303 commented on #1023
@josteink thanks for the help!

This was an odd bug. We tracked it down to some code in the linter that was being a bit too lazy in how it parsed the command line for configuration. However, it's a mystery to me how this ever worked!

The bug was fixed in https://github.com/mozilla/addons-linter/pull/1037

[2016-11-09 11:35] Synzvato commented on #1035
@Rob--W I have applied the proposed temporary fix, and was able to submit the results.

It's good to know that relying on the generated identifiers is not going to be an option. I'm very happy to hear that enriching the existing APIs is something you would be willing to look into.

Agreed. I would be fine with putting this blacklist discussion on hold, until we know a bit more about the possibilit

[2016-11-15 00:30] pankajkhanzode commented on #1000
@deadsquid and @petebacondarwin - Is there any update on this? Is there mitigation path where in we can try that and mention to AMO reviewers as they have disabled/revoked the published extension now and it is hurting us badly. The other extension is stuck in review and this very same question is being asked. Thank you for the response.

[2016-11-15 09:44] petebacondarwin commented on #1000
We have patched Angular as agreed in our meetings. We are now waiting for Mozilla to unblacklist the framework from their linter.

[2016-11-15 09:53] pankajkhanzode commented on #1000
@petebacondarwin - is https://github.com/angular/angular.js/releases/tag/v1.6.0-rc.0 the release that has fixes? It is in RC - is there any released version for Angular that you could point me to? Thanks!

[2016-11-15 10:09] petebacondarwin commented on #1000
We plan to have 1.5.9 and 1.6.0.rc.1 out this week that include the patch. 1.6.0 should be released in the next week or two.

[2016-11-15 12:08] pankajkhanzode commented on #1000
Thanks @petebacondarwin - I will watch out for the update on 1.5.9

[2016-11-15 14:54] rabbitfang commented on #1000
It looks like this is the patch that was implemented: https://github.com/angular/angular.js/commit/0ff10e1b56c6b7c4ac465e35c96a5886e294bac5

[2016-11-16 04:15] mprobst commented on #1000
@rabbitfang yes, that's the patch.

It's maybe worth noting that this is a defense in depth issue. An exploit would have required a website that already has an XSS bug but is using CSP to protect against itself (which is very rare), and a site visitor that uses Firefox and has a predictable addon installed that contains Angular at a known location. At that, it's still worth fixing, but highly unli

[2016-11-17 23:37] pankajkhanzode commented on #1000
@petebacondarwin - Could you please provide update about 1.5.9 release that is getting out official? I didn't see under releases. I would like to take dependency on released one, instead of checkin. Also, will you loop back with Kev Needham, a Product Manager for Add-ons (@deadsquid) to relook at Angular 1.5.9 and unblacklist it from being used, so that we can go ahead with our plans?

[2016-11-18 10:23] Rob--W commented on #1000
@petebacondarwin @mprobst That check for `resource:` and `chrome-extension:` is insufficient.

You must also include: `moz-extension:` (=Firefox WebExtensions), `ms-browser-extension:` (=Edge extension), `safari-extension:` (=Safari extensions).

There are probably other extension environments that I did not mention. How about disallowing bootstrapping if the protocols do not match and the request

[2016-11-18 10:33] petebacondarwin commented on #1000
Thanks for the review @Rob--W - I will talk with @mprobst in the USA morning and come back with a response.

[2016-11-23 00:31] pdehaan commented on #691
Looks like **sha.js** was removed via #1040.
Not sure about the rest of the devDependencies.

I've switched to using [**depcheck-ci**](http://npm.im/depcheck-ci) which is a wrapper for **depcheck** module and lets you configure it via a config file instead of really long CLI commands.

### Current status:

1. Create a top level .depcheckrc file and add the following:

[code]

2. Install `$ npm i d

[2016-11-23 13:17] pankajkhanzode commented on #1000
@petebacondarwin - Any update on progress made here? We have been waiting for weeks now, and while long term we plan to move to Angular 2.0, it is definitely not couple of days work to move there. So we are depending on your interaction and making Angular 1.5.* go ahead and get white-listed again. Thank you very much!

[2016-11-23 13:21] mi-g commented on #1000
Waiting here for the final call too, with a few million users depending on that decision.

[2016-11-23 14:34] petebacondarwin commented on #1000
I will have an update on changes to our patch if necessary by the close of US daytime today.

[2016-11-24 06:48] IgorMinar commented on #1000
Hello everyone, on behalf of the Angular team I'm posting an update after our meeting with the Mozilla folks today.

These were the key take aways from the meeting:

- Mozilla folks agreed that to the change angular/angular.js#15346 we implemented 3 weeks ago is a good workaround for the problem identified as "Firefox script loader can be tricked into loading angular.js into websites from Firefox

[2016-11-24 08:57] pankajkhanzode commented on #1000
Thanks a lot @IgorMinar and Angular team for resolving it with Mozilla team. Happy ThankssGiving!

[2016-11-24 13:19] SebastianMetzger commented on #1000
@IgorMinar This is very good news, I already made a calendar entry for a december 1st release for our team 💯
@deadsquid Please confirm 👍

[2016-11-24 21:04] petebacondarwin commented on #1000
We have just released 1.5.9 containing the security patches requested by Mozilla. It is available right now on npm and code.angularjs.org; it will be available on the Google CDN tomorrow.

We are also releasing 1.6.0-rc.2 containing the same patches later today.

We expect that Mozilla will lift its ban on add-ons built with Angular 1.5.9+ by December 1st.

[2016-11-25 01:38] pankajkhanzode commented on #1000
Thanks @petebacondarwin , @deadsquid, @IgorMinar and @mprobst + @Rob--W - for working together. 1.5.9 is great news!

[2016-11-25 18:06] deadsquid commented on #1000
Howdy folks,

We should have a review policy update out early next week and a push to the linter by end-of-day (Pacific) time on Dec 1st, per @IgorMinar's post above.

It's important to note a couple things:

- If your add-on uses Angular, you will need to include unmodified, non-repackaged versions. Add-ons that incorporate modified versions will be rejected.
- We'll be reaching out to affected a

[2016-11-29 14:14] #1000 closed

[2016-11-29 16:35] erosman opened #1047 "eval() not caught"
### Describe the problem and steps to reproduce it:
`eval()` is missed here:
https://addons.mozilla.org/en-US/firefox/files/browse/544938/file/js/background.js#top

### What happened?

### What did you expect to happen?

### Anything else we should know?
ref: transferred from here
https://github.com/mozilla/amo-validator/issues/370

[2016-11-29 17:51] andymckay commented on #1000
Just a note that this is scheduled to be deployed Dec 1st as per the AMO deployment schedule calendar: https://calendar.google.com/calendar/embed?src=mozilla.com_lr5jsh38i6dmr72uu4d1nv7dcc%40group.calendar.google.com

[2016-11-30 08:23] erosman commented on #1047
Missing `document.createElement('script')`
https://addons.mozilla.org/en-US/firefox/files/browse/545185/file/scripts/analytics.js#top

[2016-11-30 08:35] erosman commented on #1047
Misses everything
https://addons.mozilla.org/en-US/editors/review/pulsee

[2016-12-10 01:50] groovecoder opened #1059 "Add WebExtension Experiment type to ADDON_TYPE_MAP"
### Describe the problem and steps to reproduce it:
1. Add `<em:type>256</em:type>` to `install.rdf`
2. Run `addons-linter` on the resulting `.xpi` file

### What happened?
[code]

### What did you expect to happen?
No errors

### Anything else we should know?
MDN Doc: https://developer.mozilla.org/en-US/Add-ons/Install_Manifests#type

[2016-12-12 19:08] andymckay commented on #1047
Is `document.createElement('script')` a problem with WebExtensions? What does miss everything mean? And could you please file new bugs instead of adding new things to old bugs?

[2016-12-12 19:27] erosman commented on #1047
I initially crated the bug with the title "**Validator is missing issues**".
Therefore, I was listing issues that were missed in this topic.

The topic title was changed to "**eval() not caught**" although that was only ONE of the missed issues.

There are 100s of items that are missed and filling 100s of bug seems counterproductive.

It means the validator shows a CLEAN result with zero warning w

[2016-12-13 07:27] EnTeQuAk commented on #1059
Short notice: the addons-linter is only run against webextensions currently so all old-style add-ons should use `amo-validator` for linting purposes. That doesn't mean we shouldn't fix this though :)

https://github.com/mozilla/amo-validator

[2016-12-13 15:19] groovecoder opened #1063 "Drop all support for non-WebExtensions add-ons"
### Describe the problem and steps to reproduce it:
I ran the `addons-linter` against my old-school add-on `.xpi` file.
I saw old-school rule violations & error messages.

### What happened?
I worked on the violations & error messages

### What did you expect to happen?
I should see an error message to use amo-validator on old-school add-ons.

### Anything else we should know?
https://github.com/m

[2016-12-13 17:15] andymckay opened #1064 "Warn about temporary id if using particular APIs"
Some APIs can cause side effects when loaded temporarily in about:debugging because that causes the ID to change. Let's warn the user about that. Some examples:

[code]

Any others?

[2016-12-13 17:53] #1064 closed

[2016-12-13 18:06] andymckay commented on #1004
@EnTeQuAk the linter doesn't know anything about valid versions, I think its AMO that does that. Should this bug be moved over to AMO?

[2016-12-13 21:26] andymckay opened #1067 "I'm bored of scrolling up past coverage"
Write some code, write some tests. Run tests. Get to the end and then scroll back up past all the coverage to find which test failed. Fix code. Write some tests. Run tests. Scroll again.

Coverage is going to complain on a pull request anyway. Could I get a summary instead of details every time? Or something? Could we make this easier?

[2016-12-13 21:48] andymckay commented on #1067
`grunt test-no-coverage` does this, I think this should be the default.

[2016-12-13 21:51] andymckay commented on #931
@EnTeQuAk this is up to AMO I think?

[2016-12-13 21:51] andymckay commented on #977
@EnTeQuAk is there and amo-validator bug I can dupe this to?

[2016-12-13 23:08] tofumatt commented on #1067
I want the default test run locally to be the ones that contributors new to the project run as well; I find it counter-intuitive when `npm test` passes locally but would fail our CI tests.

That said, `npm run testwatch` would be ideal, running only the tests and not coverage on code change.

[2016-12-13 23:16] tofumatt opened #1069 "Bring style rules, tasks, etc. in line with add-ons frontend"
We should be consistent across add-ons node/ES6 projects and use the styles, build commands, etc. that we do in the frontend. I like them more and the consistency helps; I already find it weird to look at our slightly different code.

[2016-12-14 09:48] EnTeQuAk commented on #931
missing this validation-wise is addons-linter imho although I didn't check yet.

[2016-12-14 09:51] EnTeQuAk commented on #977
https://github.com/mozilla/amo-validator/issues/491

[2016-12-14 09:51] #977 closed

[2016-12-14 19:31] erosman opened #1073 "Syntax Highlighting for es6 file-extensions"
### Describe the problem and steps to reproduce it:
es6 files are missed by the syntax highlighter

### Examples:
[code]

There are 14 es6 files in above addon.

Note: Does the non-WebEx parser handle them??!

[2016-12-14 21:49] kumar303 opened #1074 "Warn about unknown manifest keys"
### Describe the problem and steps to reproduce it:

* Create an extension with manifest that has an unsupported key, such as `comands` instead of [commands](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/commands).
* Run the linter

### What happened?

It should warn you that the key is unknown.

### What did you expect to happen?

Nothing happened. The linter reported no

[2016-12-15 08:54] vasilicamihasca commented on #1029
There is no warning displayed at validation while submitting a webextension which contains an object as the "author" in manifest.json.
- Attaching the webextension:
[https_everywhere-2016.9.21-an+fx.zip](https://github.com/mozilla/addons-linter/files/654170/https_everywhere-2016.9.21-an.fx.zip)
- Validation Results:
![2016-12-15_1051](https://cloud.githubusercontent.com/assets/18114210/21217378/8b

[2016-12-15 10:03] muffinresearch commented on #1029
@vasilicamihasca It's almost certainly not released yet.

[2016-12-15 10:04] #1029 closed

[2016-12-15 10:09] muffinresearch commented on #1069
I wonder if it's worth packaging up stylelint/eslint rules so we can use a shared package in all the addons projects?

[2016-12-15 10:10] vasilicamihasca commented on #1029
@muffinresearch I forgot to mention that I tested in AMO-dev.

[2016-12-15 10:38] tofumatt commented on #1069
Definitely; we did that for node-firefox and a few other things in the past and it was awesome.

[2016-12-15 10:50] muffinresearch commented on #1029
@vasilicamihasca np, to be on -dev this needs to be released as a package and then that new version needs to be added to the dependencies so that it's used by addons-server. This can mean there's a bit of a delay between patches landing and being deployed.

[2016-12-15 17:46] andymckay commented on #1074
Think this should depend upon #765

[2016-12-15 17:47] andymckay commented on #847
This should depend upon #765

[2016-12-15 17:48] andymckay commented on #978
This data is in the schema and should depend upon #765

[2016-12-15 17:50] andymckay commented on #1067
This is actually mentioned in the README as well. Since the functionality exists and is documented, let's close it. Sorry for the noise.

[2016-12-15 17:50] #1067 closed

[2016-12-15 17:52] andymckay commented on #1073
The linter doesn't syntax highlight them, addons-server does. It looks like there are multiple bugs on this: mozilla/addons-server#4147, mozilla/addons-server#4149

[2016-12-15 19:45] andymckay commented on #1059
Closing in favour of #1063

[2016-12-15 19:45] #1059 closed

[2016-12-15 20:52] #989 closed

[2016-12-15 21:35] tofumatt opened #1079 "Create a checkIfPathExists method for IO"
If we could check if a path exists (`_locales/`) inside an add-on regardless of directory, XPI, etc. we could avoid [looping through all files](https://github.com/mozilla/addons-linter/pull/1078/files#diff-baa432d9354e3de899d28a2638d1499eR146) when checking for `_locales`.

[2016-12-15 22:00] andymckay commented on #1079
Hmm, I think in #1078 we need a regex anyway. I don't think this is worth it, and iterating over files is just iterating over the object I think, its not hitting the actually file system is it?

[2016-12-15 22:45] tofumatt commented on #1079
Yeah in the case of the new code this isn't needed.

[2016-12-15 22:45] #1079 closed

[2016-12-15 23:27] #701 closed

[2016-12-16 08:19] vasilicamihasca commented on #1029
@muffinresearch  Do you have an estimated time for this package release in -dev? I’m asking this in order to be checked by the QA team.

[2016-12-16 08:25] EnTeQuAk commented on #1029
I can do this a bit later today and land it in dev. I'll update the
issue afterwards.

On Fri, Dec 16, 2016, at 09:19 AM, vasilicamihasca wrote:

Links:

  1. https://github.com/muffinresearch
  2. https://github.com/mozilla/addons-linter/issues/1029#issuecomment-267541246
  3. https://github.com/notifications/unsubscribe-auth/AAIfGQPOSWQ5P0lc6VmkRGTOjEqU92hkks5rIkmQgaJpZM4KlbLH

[2016-12-16 08:44] ValentinaPC commented on #989
Verified on AMO-dev FF50(Win 7).
While not having a `_locales` folder in the .xpi, and a `default_locale` set to "ar", for example, user can submit the webextension and have the possibility to enter its name during submission process.
At the end, the webextension appears to be in the `default_locale` that was initially set in the manifest.json.
Is that the intended behavior?
Attaching used webexte

[2016-12-16 12:04] muffinresearch commented on #1063
@andymckay do we have a plan on the Firefox side of things re: dictionaries and langpacks migrating to a web-ext wrapper?

[2016-12-16 15:26] muffinresearch commented on #945
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1323994

[2016-12-16 15:49] andymckay commented on #1063
None in the works yet.

[2016-12-16 15:52] andymckay commented on #989
I'm surprised this is actually on -dev yet, it normally takes a while for addons-linter to be merged over to addons-dev. When this and issue #989 land on addons-dev, I would retest.

Of the time of writing this comment, the last tag of addons-linter was 2 hours ago and your comment was 7 hours ago. Suggesting these bug and #989 have not landed on -dev yet.

[2016-12-16 15:55] muffinresearch commented on #1063
@andymckay Ok - so if we go ahead and remove all non-web-ext related features from the linter it would mean we'll continue to use the amo-validator for dictionaries and lang-packs until such point that we do something different with them in the future.

I think that makes sense - do you think that sounds ok? It would be nice to not block on making the linter web-ext only.

[2016-12-16 15:55] EnTeQuAk commented on #1029
This is now on -dev

[2016-12-16 16:05] andymckay commented on #1063
Ditching the old validator (eventually) would be nice. I can imagine though prioritizing support for moving them to the linter won't come until we are getting ready to drop the validator as we drop support for legacy add-ons.

[2016-12-16 16:22] andymckay commented on #989
This should be on -dev now according to #1029

[2016-12-19 08:58] ValentinaPC commented on #989
According to above results, that were different from the ones received at the time when I logged this issue, was not sure if this was fixed.
Verified as fixed on AMO-dev FF50(Win 7).
An error is shown if no correspondent locale is available in .xpi extension archive for declared `default_locale`.
Postfix screenshot:
![2016-12-19_1050](https://cloud.githubusercontent.com/assets/15685960/21306419/90

[2016-12-19 09:12] ValentinaPC commented on #1029
Verified as fixed on AMO-dev FF50(Win 7).
Postfix screenshot:
![2016-12-19_1106](https://cloud.githubusercontent.com/assets/15685960/21306769/52017134-c5db-11e6-9ee0-516478864569.png)

[2017-01-04 11:18] wagnerand commented on #1073
We decided to not do this in https://github.com/mozilla/addons/issues/147.

[2017-01-04 11:18] #1073 closed

[2017-01-06 17:04] asamuzaK opened #1091 "Logs error if async/await is used in JavaScript"
### Describe the problem and steps to reproduce it:
Initially filed in [web-ext lint logs error if async/await is used · Issue #740 · mozilla/web-ext](https://github.com/mozilla/web-ext/issues/740).

When runs `web-ext lint`, in Validation Summary, JS SYNTAX ERROR is logged.

1. save attached file
2. run `web-ext lint`
3. in Validation Summary, JS SYNTAX ERROR is logged.

### What happened?
JS SYN

[2017-01-06 17:43] kumar303 commented on #1091
In step 2, you could just do: `addons-linter .`

[2017-01-06 17:44] kumar303 commented on #1091
async/await landed Oct 2016: https://blog.nightly.mozilla.org/2016/11/01/async-await-support-in-firefox/

[2017-01-06 17:52] muffinresearch commented on #1091
Looks like additional options are required to enable later ES features in eslint https://github.com/eslint/eslint/issues/1657#issuecomment-252500711

[2017-01-10 17:22] mstriemer commented on #765
There is some discussion about beta version strings in https://github.com/mozilla/addons-server/issues/4220 that will be relevant when pulling in the schema.

[2017-01-13 05:45] asamuzaK commented on #1091
If this option is added to .eslintrc of addons-linter, will it be effective even on web-ext?
Or should this option be added to web-ext .eslintrc?
Or both?

[2017-01-13 09:55] tofumatt commented on #1091
web-ext lint is using addons-linter so we just need to tell the linter what
to do. :-)

- tofumatt

On 13 January 2017 at 05:45:44, asamuzaK (Kazz) (notifications@github.com)
wrote:

[2017-01-13 10:06] asamuzaK commented on #1091
So, add
[code]
to [web-ext/.eslintrc at master · mozilla/web-ext](https://github.com/mozilla/web-ext/blob/master/.eslintrc) will fix the issue?

[2017-01-13 12:06] muffinresearch commented on #1091
@asamuzaK I think we need a modification here: https://github.com/mozilla/addons-linter/blob/b301dda5e0c45799d6dc13e08de9227e50d65cfb/src/scanners/javascript.js#L44 since we're using the eslint api directly. The .eslintrc in our projects is intended to configure linting the code in the repository.

[2017-01-13 12:44] asamuzaK commented on #1091
Oh, thanks.
Maybe insert this line below `env: {}` will fix?
[code]
If so, I'll file a PR later.

[2017-01-13 14:52] muffinresearch commented on #1091
@asamuzaK Yep, should do it.

[2017-01-13 15:58] #1091 closed

[2017-01-27 15:05] vasilicamihasca opened #1108 "There is no error triggered for duplicated value in "matches" key from manifest.json"
**Steps to reproduce:**
Try to submit the attached web-extensions on AMO:
[pause_yt-1.0-an+fx.zip](https://github.com/mozilla/addons-linter/files/735521/pause_yt-1.0-an.fx.zip)

**Expected results:**
The webextension is not submitted and an error is displayed describing the problem.

**Actual results:**
The webextension is successfully submitted with no errors and the duplicated value is mentioned

[2017-01-29 22:46] Revanth47 commented on #572
@eviljeff Can I take up this issue?

[2017-01-30 10:18] eviljeff commented on #572
@Revanth47 sure!  It should just be a matter of changing https://github.com/mozilla/addons-linter/blob/master/bin/addons-linter to check for the presence of the executable or folder and giving an appropriate message to the user if it's not built yet. @tofumatt should be able to provide more detail.

[2017-01-30 16:31] EnTeQuAk commented on #346
This could be, as far as I understand it, a stretch goal for the schema pull from mozilla-central but let's close this one for now since it's probably old and unrelated to our current usecases.

If I'm wrong, feel very free to re-open any time.

[2017-01-30 16:31] #346 closed

[2017-01-30 17:55] EnTeQuAk commented on #211
stupid question, is that interface something only relevant for legacy add-ons? It seems that way, if so let's close this one here since we only support WebExtensions :)

[2017-01-30 17:56] EnTeQuAk commented on #168
This seems to be only relevant for legacy add-ons? Correct me if I'm wrong but otherwise I'm going to close this.

[2017-01-30 17:56] #168 closed

[2017-01-30 17:57] EnTeQuAk commented on #242
This is a duplicate of https://github.com/mozilla/addons-linter/issues/413, let's keep discussion there.

[2017-01-30 17:57] #242 closed

[2017-01-30 18:00] EnTeQuAk commented on #571
Let's close this in favor of #413

[2017-01-30 18:00] #571 closed

[2017-01-30 18:14] wagnerand commented on #211
I am pretty sure this does not apply to the linter, but it sounds like something we want for amo-validator.

[2017-01-30 22:11] jvillalobos commented on #211
This issue has been open for over a year, with no action, and dropping legacy add-ons is less than a year away. It doesn't sound like it's going to happen.

[2017-01-30 22:11] #211 closed

[2017-01-30 22:29] wagnerand commented on #211
We have to support legacy add-ons for ESR after November, which means we also have to support amo-validator for a longer period. So let's move this over to amo-validator?

[2017-01-31 10:37] Revanth47 commented on #572
So I just check if the "dist" folder exists and if it doesn't I'll just display this link '[https://github.com/mozilla/addons-linter#readme](https://github.com/mozilla/addons-linter#readme)'

[2017-01-31 11:50] EnTeQuAk commented on #211
Opened in amo-validator repository: https://github.com/mozilla/amo-validator/issues/500

[2017-02-01 09:39] EnTeQuAk commented on #285
The idea behind this is based on legacy add-ons, we do have required field linting for `manifest.json` already. Closing this.

[2017-02-01 09:39] #285 closed

[2017-02-01 09:42] EnTeQuAk commented on #284
This is based on legacy-addons and there doesn't appear to be much that is really required for things to work. If a manifest.json is missing we already have rules for that, so let's close this and re-open in case we have an actual use-case.

[2017-02-01 09:42] #284 closed

[2017-02-01 09:45] EnTeQuAk commented on #283
Is this still relevant? I couldn't find any code that actually warns about this or verifies known / unknown files. Not sure if this is something we still need, maybe @tofumatt or @muffinresearch have that somewhere in the back of their minds? :)

[2017-02-01 09:45] EnTeQuAk commented on #282
no jar files in webextensions! yeay! Let's close this :)

[2017-02-01 09:45] #282 closed

[2017-02-01 09:46] EnTeQuAk commented on #281
not the oppopsite but the same as https://github.com/mozilla/addons-linter/issues/282 - not relevant anymore in our new WebExtensions world order. Let's close this.

[2017-02-01 09:46] #281 closed

[2017-02-01 09:46] EnTeQuAk commented on #280
We don't care anymore about `install.rdf` in `addons-linter` but should only do webextension stuff. yeay!

[2017-02-01 09:46] #280 closed

[2017-02-01 09:48] EnTeQuAk commented on #278
That tutorial was 6 years ago and probably didn't know that WebExtensions were coming. Let's not implement this, ever :)

[2017-02-01 09:48] #278 closed

[2017-02-01 09:49] EnTeQuAk commented on #276
Jars Jars Jars Jars.... Let's write a Jar Song 🎶

Not anymore with WebExtensions, closing because irrelevant these days.

[2017-02-01 09:49] #276 closed

[2017-02-01 09:58] EnTeQuAk commented on #351
@muffinresearch Just to verify that I understand the intention behind this, things like ``throw new Error('RDF Node is not defined');`` should not throw the exception but rather add the error-message to the collector and use a proper constant etc?

[2017-02-01 10:02] EnTeQuAk commented on #461
Given that we agreed that addons-linter will only focus on WebExtensions and maybe other things like langpacks or dictionaries - which seem to be supported for a longer time - I think adding a "porting status" will end up being confusing and not relevant. If we're adding stuff it'll be focused on WebExtensions and I'd say it's nothing that we can easily describe in a percentage-value.

I'm going t

[2017-02-01 10:02] #461 closed

[2017-02-01 10:07] muffinresearch commented on #280
Actually that's not necessarily true depending on what we're planning re: dictionaries and langpacks long term since they still use install.rdf and as far as I know there's not yet plans to migrate them to use a web-ext style wrapper although that could eventually be the approach taken.

We should think about this and possibly take the decision to not keep any legacy support in the linter but that

[2017-02-01 10:13] EnTeQuAk commented on #275
This is still relevant, we need a proper disallowed-files system to avoid people packaging up crap inside their zips.

[2017-02-01 10:15] EnTeQuAk commented on #675
@andymckay can you elaborate on this a bit more, add a bugzilla bug or something with examples? I couldn't find anything in `amo-validator` and my searches didn't show up any results so far. Is this related to WebExtensions?

[2017-02-01 10:17] muffinresearch commented on #280
Actually based on https://github.com/mozilla/addons-linter/issues/1063 I think we can make this decision now to go ahead and make this the direction. If we want to add back support for install.rdfs we can do so later on.

[2017-02-01 10:25] EnTeQuAk commented on #746
general ideas to this: we do have a relatively good grouping of valid codes that can be raised. The problem here is more that the current constants do not have an explicit severity level (info, warning, error) defined for them. I wonder if they should. From what I see, messages are only raised with exactly the same severity all the time. I could be missing something though.

Ideas on that?

If we'

[2017-02-01 10:58] tofumatt commented on #351
@EnTeQuAk That's correct; I don't think we have many places that throw rather than add to the collector, but if they do we'd need to change it.

[2017-02-01 13:12] muffinresearch commented on #283
This is related to replicating old functionality in the amo-validator see the code above the second link which before showing that warning check various lists of file extensions amongst other things.

It might still be worth warning about unexpected exts, that could be useful for developers.

[2017-02-01 17:03] andymckay commented on #675
This is WebExtensions, #765 will likely take care of this.

[2017-02-01 17:05] andymckay commented on #275
Hmm I got a lot of this here: https://github.com/mozilla/addons-linter/blob/master/src/const.js#L123-L142 which is from #638

[2017-02-01 19:02] muffinresearch opened #1113 "Revisit whether there's a better way to consume eslint rules"
This is to summarize a conversation on vidyo with @EnTeQuAk

When the linter was originally built out we took the decision to use eslint internal APIs because that made it easier to run rules and define our own error messages.

It would be a good idea to revisit this and check if there's any better options for being able to run eslint rules via the linter in standard form so that we can more easil

[2017-02-02 15:35] EnTeQuAk commented on #275
heh, that's true, sorry I didn't see this. I'm guessing this catches quite a lot of stuff already, it doesn't catch .jar files - not sure if we should though.

[2017-02-02 15:38] EnTeQuAk commented on #351
There are actually quite a few but compared to the overall amount of stuff it's not that many, yeah. I'll leave this open then though.

[2017-02-02 15:45] EnTeQuAk commented on #274
I honestly don't think this needs porting over to a WebExtension only world, please re-open if I'm wrong with this.

[2017-02-02 15:45] #274 closed

[2017-02-02 15:48] EnTeQuAk commented on #1004
Copied to addons-server, closing here.

[2017-02-02 15:48] #1004 closed

[2017-02-02 18:17] andymckay commented on #275
If I read that code in addons-validator it looks to see if there are more than 10 files that have the .class extension here: https://github.com/mozilla/amo-validator/blob/master/validator/testcases/packagelayout.py#L96-L105 and then calls it a jar. It doesn't detect for jar files through its magic numbers (because its just a zip).

The linter just flags any add-on with a .class file anywhere in it

[2017-02-02 18:32] tofumatt opened #1115 "Generate flagged files Regexp from an array"
Right now our flagged files are stored directly as a regex in our constants file, but as mentioned it https://github.com/mozilla/addons-linter/pull/1114/files#diff-c4c3d3aa75ed8ae6e651ade4d628296aR128 we could just make that regex out of an array which would be a nicer API for developers. We should do that.

[2017-02-14 12:38] #413 closed

[2017-02-14 16:48] vcarciu commented on #413
Please add some STRs for this bug or add the "needs no qa" label

[2017-02-15 12:32] scholtzm opened #1126 "Function as an object property can trigger EVAL_STRING_ARG warning"
### Describe the problem and steps to reproduce it:

1. Run `addons-linter` on code which contains nested function reference in `setTimeout` / `setInterval`.

### What happened?

Function which is nested inside object and referenced in `setTimeout` or `setInterval` will trigger `EVAL_STRING_VAL` warning.

### What did you expect to happen?

Warning should not be emitted at all.

### Anything else

[2017-02-15 13:22] tofumatt commented on #1126
Good catch, thanks for filing. This is probably to do with how we check for the type of things passed to `setInterval`, etc.

I _think_ the way we do (going off memory) is that we allow things declared as functions to be passed in and it's possible properties that are functions aren't seen as such by our JS checks.

As warnings will not cause validation to be rejected (but will cause reviewers to

[2017-02-15 13:28] scholtzm commented on #1126
Indeed. Here are the relevant bits of code:

https://github.com/mozilla/addons-linter/blob/master/src/rules/javascript/eval_string_arg.js#L13-L23
https://github.com/mozilla/addons-linter/blob/master/src/utils.js#L116-L130

[2017-02-16 18:34] mstriemer opened #1129 "Import initial manifest.json from mozilla-central"
mozilla-central has some JSON schema-esque files to manage webextensions. We should import this data from there instead of maintaining a similar JSON schema file for the manifest.

There is some metadata that we need from mozilla-central that is missing in addons-linter. So the first step is to get the schema from mozilla-central then to add our metadata—which will be tracked separately.

[2017-02-16 18:38] mstriemer opened #1130 "Add missing metadata to mozilla-central manifest schemas"
The manifest schema is being imported from mozilla-central in #1129. mozilla-central doesn't have all of the data that we need though, so we will need to add some of our metadata to the extracted schemas.

Things that are missing are some descriptions and validations such as the `strict_min_version` which mozilla-central just marks as optional but we have a regex to validate. For the `strict_min_v

[2017-02-16 18:41] mstriemer opened #1131 "Replace existing manifest-schema.json with mozilla-central schema"
Once we have schemas imported in #1129 and updated with our extra metadata in #1130 we should be able to start using the schema data that was imported from Firefox.

[2017-02-20 15:58] EnTeQuAk opened #1135 "Make it easier to include 3rd party eslint rules"
This is a multi-step issue and part of https://github.com/mozilla/addons/issues/282 to simplify adding new rules potentially from 3rd party repositories, e.g security relevant rules from https://github.com/mozfreddyb/

Main task here for now: [ ] Port to new eslint rule format (http://eslint.org/blog/2016/07/eslint-new-rule-format) which is used by many rules and modern eslint configs.

[2017-02-20 18:53] muffinresearch commented on #50
I think this is a wontfix since we have no plans to localise this project at the moment.

[2017-02-20 18:53] #50 closed

[2017-02-20 18:55] muffinresearch commented on #140
Changing the name was a massive step in the right direction - I think the limitations are now pretty well understood that the linter does not attempt to catch obfuscated malicious intent and is aimed at guiding devlopers rather than being a tool to catch every possible permutation of bad/insecure extension code.

[2017-02-20 18:55] #140 closed

[2017-02-20 18:56] muffinresearch commented on #162
No longer needed.

[2017-02-20 18:56] #162 closed

[2017-02-20 18:57] muffinresearch commented on #195
Looks like this is resolved. Closing

[2017-02-20 18:57] #195 closed

[2017-02-20 18:57] #444 closed

[2017-02-20 18:57] #445 closed

[2017-02-20 18:57] #446 closed

[2017-02-20 18:57] #447 closed

[2017-02-20 18:59] #441 closed

[2017-02-20 18:59] #442 closed

[2017-02-20 19:01] #403 closed

[2017-02-20 19:01] #404 closed

[2017-02-20 19:01] #405 closed

[2017-02-20 19:01] #213 closed

[2017-02-20 21:36] EnTeQuAk commented on #162
Actually that's being done with my pull request :)

On Mon, Feb 20, 2017, at 07:56 PM, Stuart Colville wrote:

Links:

  1. https://github.com/mozilla/addons-linter/issues/162
  2. https://github.com/mozilla/addons-linter/issues/162#event-969663620
  3. https://github.com/notifications/unsubscribe-auth/AAIfGaCHz9nyN4RhM67iHWsIdXmarpn0ks5reeHSgaJpZM4GWj0M

[2017-02-21 07:33] EnTeQuAk commented on #404
I'm confused, didn't we say language packs need to be supported eventually?

[2017-02-21 07:33] EnTeQuAk commented on #403
Same with dictionaries, afair the plan was to support them eventually since they won't go away anytime soon.

[2017-02-21 10:25] muffinresearch commented on #404
Yeah I'm just clearing this until we need it - since we can use the old validator until that point. I'd hope eventually they'd make their way to web-ext format at some point too.

[2017-02-21 12:15] muffinresearch commented on #162
@EnTeQuAk yep I closed it because it was about to get fixed.

[2017-02-21 17:16] #1135 closed

[2017-02-21 18:30] wagnerand commented on #572
@tofumatt @eviljeff could you reply to @Revanth47 please?

[2017-02-21 20:02] tofumatt commented on #572
Sorry I missed this!

Basically: yes. You specifically want to check for the [built file in `dist/` that `/bin/addons-linter` tries to `require`](https://github.com/mozilla/addons-linter/blob/master/bin/addons-linter#L8): that file is `dist/addons-linter.js`.

[2017-02-23 13:20] EnTeQuAk opened #1141 "Add test to make sure a webext provided eslintrc can't override anything."
See https://github.com/mozilla/addons-linter/pull/1140#discussion_r102709503

[2017-02-23 18:48] cure53 commented on #1000
Bypassed the fix, wrote @petebacondarwin :)

[2017-02-23 19:15] petebacondarwin commented on #1000
Aw man!

[2017-02-24 11:03] muffinresearch opened #1143 "Test issue 1 to work out label search exclusions."
Github label exclusions are not working correctly for searches. This issue is just a test to work out which part of our labels is causing searches to break so I can file an issue with github.

[2017-02-24 11:04] muffinresearch opened #1144 "Test issue 2 to work out label search exclusions."
Github label exclusions are not working correctly for searches. This issue is just a test to work out which part of our labels is causing searches to break so I can file an issue with github.

This will be deleted when the test is complete.

[2017-02-24 11:08] #1143 closed

[2017-02-24 11:08] #1144 closed

[2017-02-24 15:07] petebacondarwin commented on #1000
@cure53 - we have landed fixes for the bypasses in master, 1.6 and 1.5 branches. See:

* https://github.com/angular/angular.js/commit/ebe90051eda8a3328e5993cca1663e28d03113d0
* https://github.com/angular/angular.js/commit/a649758655843275cc477fb638f8e55f72a4eaa6

[2017-02-24 15:31] kspearrin commented on #1000
@petebacondarwin  What 1.5.x version can we target for this fix?

[2017-02-24 16:11] cure53 commented on #1000
@petebacondarwin LGTM, @masatokinugawa what do you think?

[2017-02-24 17:07] petebacondarwin commented on #1000
@kspearrin - we were hoping not to do any more 1.5.x releases, but I guess we might have to make an exception in this case. The difficulty is that we must get 1.5.x commits synced into Google before we can release so it will take a little longer. The version number will be 1.5.12

[2017-02-24 18:38] kspearrin commented on #1000
@petebacondarwin If 1.6.x is the only upgrade path that is fine, we'll just have to make that move sooner than originally planned. I was just under the impression you would be releasing 1.5.x as well since you mentioned the change was applied in that branch as well.

[2017-02-25 00:35] masatokinugawa commented on #1000
I found it still can be bypassed on a specific situation.
@petebacondarwin Shall I report details to pete@ba[...]com?

[2017-02-25 00:52] andymckay commented on #1000
This issue is closed and emails quite a lot of people in the mozilla add-ons team. If you have other issues could you please report them to the angular team using their reporting system. Thanks.

[2017-02-27 06:19] #811 closed

[2017-02-28 18:50] gilbertginsberg commented on #292
@tofumatt: Steven Gilbert here. Thank you for mentoring. I see this bug was created awhile ago. Is it still valid?  If so, I'd like to give it a go :).

[2017-03-01 08:48] asamuzaK opened #1148 "On Windows, NO_MESSAGES_FILE error is logged even if messages.json exists."
### Describe the problem and steps to reproduce it:
When running `web-ext lint` (`addons-linter .`) on Windows, `NO_MESSAGES_FILE` error is logged even if messages.json exists.

1. Save attached test add-on.
2. Run `addons-linter .`

### What happened?
`NO_MESSAGES_FILE` error is logged

### What did you expect to happen?
No error.

### Anything else we should know?

https://github.com/mozilla/add

[2017-03-01 08:53] EnTeQuAk commented on #1148
We join paths not using `path.join` all over the place afair, I'll take a look at this.

[2017-03-01 13:15] cosminbadescuSV opened #1150 "Invalid permissions can pass the submission without any warning"
### Describe the problem and steps to reproduce it:
Prerequisites:
- Launch Firefox with clean profile.
- Create extensions.webextPermissionPrompts and set it to true.
- Create xpinstall.signatures.dev-root and set it to true.

Install the following WebExtension: https://addons-dev.allizom.org/en-US/firefox/addon/permissionsall2/

### What happened?
The WebExtension with invalid permissions passed

[2017-03-01 16:52] mstriemer commented on #1130
Be sure to look at the regexes that are coming from Firefox, some of them have case-insensitive flags at the beginning (like `(?i)^[a-f0-9]{4}...$`) that are currently being stripped out. We'll want to replace these too.

[2017-03-01 17:31] muffinresearch commented on #1150
This might be resolved once we have the full schema to validate against which is currently in progress.

[2017-03-01 18:58] #1129 closed

[2017-03-01 22:49] mstriemer opened #1151 "Import schemas from Firefox's browser directory"
In #1142 I imported the schemas from toolkit but forgot about browser. We'll need to get both of those (and eventually mobile) to correctly validate a manifest.

[2017-03-02 10:52] vasilicamihasca opened #1152 "Incorrect error message for duplicated permission"
**Steps to reproduce:**
Submit the attached webextension on AMO-dev:
[duplicatedpermission.zip](https://github.com/mozilla/addons-linter/files/813534/duplicatedpermission.zip)

**Expected results:**
The proper error message about the duplicated permission is successfully displayed.

**Actual results:**
The following error appears in Validation Report: "Permissions must be strings. If a permission

[2017-03-02 12:25] vasilicamihasca opened #1153 "Duplicated error at webextension validation"
**Steps to reproduce:**
Submit on AMO-dev the attached webextension which contains duplicated keys in manifest.json:
[duplicatederror.zip](https://github.com/mozilla/addons-linter/files/813725/duplicatederror.zip)

**Expected results:**
The error is specified only one time for each key.

**Actual results:**
The error is duplicated.

**Additional notes:**
- This issue reproduces on AMO-dev using Fi

[2017-03-02 13:50] vcarciu commented on #811
innerHTML warnings are now displayed during submission . I used same extension used when this issue was originally filled in mozilla/addons-server#3041 . Marking this as verified :
![innerhtml](https://cloud.githubusercontent.com/assets/1583842/23509863/f0cf1e02-ff5f-11e6-9eee-631647e8547e.png)

[2017-03-02 17:45] #1047 closed

[2017-03-03 02:54] erikvold opened #1156 "Add documentation about how to use this package programmatically"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

I can't seem to find any documentation about how to use this package programmatically instead via cli.  It would be nice if there was a node api which one could use instead of having to use subprocesses to call the cli, then parse the stdout.

### What happened?

I can't seem to find any documentatio

[2017-03-03 07:06] EnTeQuAk commented on #1156
This is correct, at the moment it's mostly used via the command line. https://github.com/mozilla/web-ext/ uses it programmatically and we're profiting from any changes to make this easier, this isn't our current focus right now though.

We should and will work on this eventually though. Thanks for the report!

[2017-03-03 15:52] #1151 closed

[2017-03-07 04:02] andymckay opened #1166 "Javascript error on uploading an extension"
1. Packaged my side tabs extension: https://github.com/andymckay/sidebar-tabs
2. Uploaded to AMO.
3. Got a validation error:

https://addons.mozilla.org/en-US/developers/upload/0ae81bce24f1445793262a5b3a4194d1

4.  The error is on the catch here:

[code]

I can work around that, or just remove the check, but it would be nice if it could be uploaded since that's valid JS for Firefox I believe based

[2017-03-07 21:46] andymckay opened #1168 "Warn on using an API that Firefox doesn't support"
Now we've got the schema in place, can we tell if an API is not available (or not supported) in Firefox? Some examples:

chrome.gcm.*
chrome.identity.getAccounts

[2017-03-08 02:04] erikvold opened #1170 "unexplained error: `"/incognito" should match pattern "^spanning$"`"
### What happened?

when I run `addons-linter src` on my add-on I get this error: `"/incognito" should match pattern "^spanning$"` I can't seem to find any docs about it.

### What did you expect to happen?

No error.

[2017-03-09 01:17] asamuzaK opened #1172 "Let SemVer for WebExtensions add-on versioning"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

1. Create some WebExtensions add-on
2. Fill in `"version": "1.0.0-a.1"` for example in manifest.json
3. Upload to AMO

### What happened?

Upload is rejected due to version string.

### What did you expect to happen?

Accept version control in SemVer.

### Anything else we should know?
(Please includ

[2017-03-15 14:15] wagnerand opened #1182 "Add a warning for dangerous dom injection with jQuery"
jQuery offers some methods that allow unescaped DOM injection. Similar to _innerHTML_ this allows remote code execution, which is not allowed according to our review policies.

The linter should raise a warning for occurrences of `/(((append|prepend)(To)?)|(insert)?[Bb]efore|(insert)?[aA]fter|html|globalEval|getScript|load)\s*\(/` being called on a jQuery object.

[2017-03-15 14:20] #1130 closed

[2017-03-15 14:39] Rob--W commented on #1182
`getJSON|ajax` should also be flagged. The reviewer must check whether the parameter is not an external string, and if it is, that it cannot be a JSONP request (`jsonp:false`).

[2017-03-15 14:42] EnTeQuAk opened #1183 "Implement a better description for 3rd party rules"
cc @muffinresearch @wagnerand and @jvillalobos on this for input.

In the past we implemented all rules for amo-validator and addons-linter ourselves so that we had total control over messages that were issued to the user.

With the most recent development that includes 3rd party rules (e.g https://github.com/mozilla/addons-linter/pull/1149 that implements very extensive eval-linting very easily)

[2017-03-15 15:08] #766 closed

[2017-03-15 15:28] EnTeQuAk commented on #1183
Clarification: What I mean by "we cannot overwrite a message" is that we cannot overwrite specific messages, e.g we can't identify if a rule raised "Unsafe call to insertAdjacentHTML" or "Unsafe assignment to innerHTML" but we totally can set the same message for both cases.

[code]

If no one complains of has any objections I'll implement this for now so that we can overwrite `message` for all me

[2017-03-15 15:56] mstriemer commented on #1182
I think we should be able to accomplish this without resorting to regexes. It looks like there's a project [1] that might hit some of these but we'd need some more rules too. Could be a good template to start from though.

This seems like something that could be useful as a standalone eslint plugin for unsafe-jquery usages.

[1] https://github.com/dgraham/eslint-plugin-jquery

[2017-03-16 06:21] EnTeQuAk commented on #1183
I could not have phrased it better myself, that's correct.

Thanks a lot for the input!

[2017-03-17 15:04] wagnerand opened #1187 "Linter misses innerHTML"
### Describe the problem and steps to reproduce it:

The add-on file at https://addons.mozilla.org/firefox/downloads/file/588154/joshua_tree_extension-3.0.9-an+fx.xpi includes _innerHTML_ calls which are not flagged by the linter.

### Anything else we should know?

scripts/contextMenu.js
104:        itemLink.innerHTML = menuItem.text;

scripts/editorEnhancements.js
38:        comment.innerHTML =

[2017-03-17 18:25] #1156 closed

[2017-03-17 19:42] mstriemer commented on #1183
I'm running into a somewhat similar problem in #1174 where I need to use a feature of eslint's reporter that is incompatible with our error codes. I want to do this:

[code]

Where `'gcm.register'` would be the name of an identifier we extracted from the source so it could be anything. Since we're looking up the code to get the message this doesn't work too well. Or at least I can't provide a code

[2017-03-17 21:38] tofumatt commented on #292
Hey @gilbertginsberg, sorry for my extremely late response on this one.

This bug appears to still be valid, so feel free to give it a go 😄

[2017-03-20 11:51] EnTeQuAk commented on #1183
I agree, something like that would be nice too. Very good point indeed, that's multiple things in one though. What you want should work with what I partially implemented in https://github.com/mozilla/addons-linter/pull/1189 but might need some more work to get it right since it's based off the need to overwrite eslint specific messages.

Theoretically you should be able to have a format-string in

[2017-03-20 14:13] mstriemer commented on #1183
Looking through the changes it looks like it will work. I'll give it a try and get back to you.

This sounds like what eslint already does, but you can only set the message. From what I can see the `code` is an addons-linter thing, and it's really just the `message` but we process it more later. So I can only set either the `code` or the `message`.

The deprecated API ones work because all of the

[2017-03-20 15:28] EnTeQuAk commented on #1187
![screenshot from 2017-03-20 13-55-49](https://cloud.githubusercontent.com/assets/139033/24107101/c8f630de-0d81-11e7-9e2b-3ad4d26d03b5.png)

Works for me, the add-on probably got validated on AMO before we added that functionality. Closing this issue after our discussion IRC about revalidation of all add-ons in the queue but we agreed that that's too complicated for the enhancement we get.

[2017-03-20 15:28] #1187 closed

[2017-03-22 21:50] mstriemer opened #1194 "Show all unique error messages"
We currently only show the first error message for a specific JSON pointer. This helps reduce the number of errors and likely improves the readability of the errors but some errors are more useful than others.

For example:

This error message can be useful, but it is not as useful as the one it is hiding:

We should only show `additionalProperties` errors if there are no other errors for a JSON p

[2017-03-23 17:06] wagnerand commented on #813
I pinged @cr about this a while ago. This is a friendly reminder and so she has a reference on where to reply :)

Thanks!

[2017-03-24 20:22] mstriemer opened #1196 "Fix output from ajv with bin/addons-linter"
When you run addons-linter with the Firefox schemas there is some output about the format property of some fields. We should define these formats so the output is supressed.

[2017-03-24 20:23] mstriemer commented on #1194
This is now showing all messages and hiding duplicates.

[2017-03-27 09:27] EnTeQuAk commented on #1183
This got merged with https://github.com/mozilla/addons-linter/pull/1189 - could use a few more improvements but that'll happen once we need it.

[2017-03-27 09:27] #1183 closed

[2017-03-27 09:28] EnTeQuAk commented on #1153
This is very much expected so I'm closing this. The linter raises messages for every line that it finds. We could potentially collapse them in AMO but I don't think this is reasonable to do for now.

[2017-03-27 09:28] #1153 closed

[2017-03-27 09:31] EnTeQuAk commented on #1166
[code]

If that is something that's needed it should be reported against https://github.com/eslint/espree/issues to add support for it.

Closing this for now since it's good enough documented to better not use conditional catch statements.

[2017-03-27 09:31] #1166 closed

[2017-03-27 09:32] EnTeQuAk commented on #1150
@mstriemer is this something your patches already do or can easily achieve?

[2017-03-27 09:48] EnTeQuAk opened #1197 "Implement no-implied-eval eslint rule"
Add support for http://eslint.org/docs/rules/no-implied-eval now that message overwriting got implemented.

This replaces our current src/rules/javascript/eval-string-arg.js rule.

Supports https://github.com/mozilla/addons/issues/282

[2017-03-27 09:50] EnTeQuAk opened #1198 "Implement support for no-new-func eslint rule"
We need to add support for http://eslint.org/docs/rules/no-new-func to catch all potential `eval` cases.

Supports https://github.com/mozilla/addons/issues/282

[2017-03-27 10:01] EnTeQuAk opened #1199 "Replace `singleLineString` with common-tags equivalent"
There is a wonderful package that provides an equivalent to our `singleLineString`, let's use it

https://www.npmjs.com/package/common-tags

[2017-03-27 10:04] EnTeQuAk commented on #1126
This will be fixed once https://github.com/mozilla/addons-linter/issues/1197 lands and replaces that rule.

[2017-03-27 10:25] EnTeQuAk commented on #1113
There is and this just got implemented with https://github.com/mozilla/addons-linter/issues/1140 and other PRs.

[2017-03-27 10:25] #1113 closed

[2017-03-27 10:31] EnTeQuAk commented on #1074
cc @mstriemer on this to find out whether or not this is already planned or easily implementable.

[2017-03-27 10:41] EnTeQuAk commented on #961
@mstriemer is this already something your schema-patches fix?

[2017-03-27 10:49] EnTeQuAk commented on #691
I'm closing this for now, there will be lots of code removed in the near future and we'll remove many more dependencies with it.

[2017-03-27 10:49] #691 closed

[2017-03-27 10:50] EnTeQuAk commented on #682
Closing as irrelevant, the addons-linter should never merge messages of any kind. This is something AMO can or should do potentially but isn't blocking or really necessary at the moment.

[2017-03-27 10:50] #682 closed

[2017-03-27 10:55] EnTeQuAk commented on #651
This will be fixed once https://github.com/mozilla/addons-linter/issues/1197 lands and replaces the current implementation. Linking these two to have the test ready for later.

[2017-03-27 10:55] #651 closed

[2017-03-27 10:57] EnTeQuAk commented on #401
I feel like this is a dupe of https://github.com/mozilla/addons-linter/issues/1063, closing as such.

[2017-03-27 10:57] #401 closed

[2017-03-27 11:07] #1148 closed

[2017-03-27 16:08] #1115 closed

[2017-03-27 18:32] #1194 closed

[2017-03-27 18:39] mstriemer commented on #1074
This doesn't happen by default with the new schemas. We could add `additionalProperties: false` to the manifest but then it appears as an error.

I think we'd want to update the `errorLookup()` function parsers/manifestjson.js to downgrade that to a warning if `error.type === 'additionalProperties' && error.dataPath.lastIndexOf('/') === 0`. So it's an additionalProperties error at `/foo`.

[2017-03-27 20:07] mstriemer commented on #1150
I tried running that add-on through both schema validators and they both return warnings for that permission. Perhaps they should be errors? It looks like we might not have wanted it to be an error before since there are some permissions we warn about that we support.

[code]

[2017-03-27 20:40] mstriemer commented on #1150
Actually, it looks like Firefox might be trying to parse `"history$%^"` as a URL match pattern. I don't think that should be happening.

I can install the add-on as a temporary add-on without an error so maybe that isn't happening anymore?

[2017-03-28 16:40] atsay commented on #180
@EnTeQuAk is this issue still relevant?

[2017-03-28 16:53] wagnerand commented on #572
@Revanth47 are you still working on this?

[2017-03-29 07:46] mozfreddyb commented on #1182
Also pointing to the domxss wiki at https://github.com/wisec/domxsswiki/
especially the articles on [finding dom xss](https://github.com/wisec/domxsswiki/wiki/Finding-DOMXSS) and [and jQuery](https://github.com/wisec/domxsswiki/wiki/jQuery-sinks)

[2017-03-30 20:32] andymckay commented on #664
@tofumatt or @mstriemer could someone look at this please?

[code]

When it should be https://github.com/mozilla/addons-linter/blob/e211a074227eac9687913c1f1882a9f776122632/src/messages/javascript.js#L289-L292

[2017-03-31 19:30] #1168 closed

[2017-03-31 19:55] muffinresearch commented on #664
@andymckay what version of node are you running? There are some bugs in versions of node 6 that caused truncation which apparently got fixed.

I don't see the OP's issue for --help using 6.9.5 which is the current version I'm running.

[2017-03-31 21:01] andymckay commented on #664
I can't after upgrading to version 7.x of node.

[2017-03-31 21:06] andymckay opened #1204 "Path to imported files fails when run from a different directory"
[code]
works.

Doing it from another directory, eg:

[code]

Suspect this is related to the recent @mstriemer changes?

[2017-04-03 05:18] #1198 closed

[2017-04-03 06:11] EnTeQuAk commented on #1182
Thanks @jonathanKingston for the hint, let's see what improvements will come to `no-unsafe-innerhtml` but I might start working on this nonetheless since we need that in addons-linter soon. Once there's a better upstream solution we can easily replace our current implementation later and check for compatibility.

[2017-04-03 06:17] EnTeQuAk commented on #180
I'm closing this for now, this is relevant but the related code will go away very soon so it won't make sense to change / fix it. Once this will be reimplemented with WebExtensions in mind we will try to keep everything here in the comments in mind.

[2017-04-03 06:17] #180 closed

[2017-04-03 09:23] muffinresearch commented on #664
@andymckay thanks for checking - on the basis of this being no longer reproducible with updated v6 and or current v7, I'm going to close it.

[2017-04-03 09:23] #664 closed

[2017-04-03 12:14] jonathanKingston commented on #1182
@EnTeQuAk should be fairly soon, just waiting on the resolution here: https://github.com/mozfreddyb/eslint-plugin-no-unsafe-innerhtml/issues/45

[2017-04-04 21:30] mstriemer opened #1209 "Handle Firefox schemas with multiple namespaces"
There are some schemas in Firefox that have multiple namespaces defined. Specifically privacy which defined "privacy" (empty), "privacy.network" and "privacy.websites"; and omnibox which defines "omnibox" and "omnibox_internal".

We either need to handle this by creating multiple files somehow or updating these schemas in Firefox if that makes sense.

[2017-04-05 15:11] #1204 closed

[2017-04-05 17:28] jvillalobos opened #1213 "Auto-reject static themes"
AMO isn't ready to support static (WebExtension) themes yet, so we need the linter to automatically reject them. We need to detect the `theme` key in the manifest, [like here](https://github.com/andymckay/webextensions-examples/blob/static-theme/static-theme/manifest.json#L9-L17), and throw an error with the following message: `WebExtension theme uploads are currently not supported.`

[2017-04-06 15:36] jvillalobos opened #1214 "Warn about `strict_max_version`"
I've seen at least a few developers include `strict_max_version` in their manifest files, and I don't think they're aware they don't need to include it. It'd be good to warn about it so developers avoid doing this. The warning message could be something like `strict_max_version shouldn't be used unless the add-on is expected not to work with future versions of Firefox.`

[2017-04-06 22:11] pauljt commented on #813
I think it might be an interesting data point for reviewers, but I'm not sure think a warning is appropriate. I can imagine some risks, but I dont see 'sandbox' attribute mitigating anything in those cases.

You said you raised this based on discussions with @kmaglione  - if you can describe those in more detail maybe I can respond more intelligently. Specifically in what context (options pages? b

[2017-04-07 06:54] #1197 closed

[2017-04-07 06:54] #1126 closed

[2017-04-08 05:00] ineffyble opened #1217 "Fresh install produces ENOENT error"
I just installed addons-linter for the first time with an npm global install.

Attempting to run any files gives the following error:
`Error: ENOENT: no such file or directory, scandir '../../usr/local/lib/node_modules/addons-linter/src/schema/imported'`

I've checked, and the node_modules/addons-linter folder contains no `src` directory.

I removed the package, and ran `npm install --global addon

[2017-04-10 12:15] wagnerand commented on #813
We discussed the remaining questions on email. As of now, reviewers don't need to worry about remote iframes.

[2017-04-10 12:15] #813 closed

[2017-04-11 05:37] EnTeQuAk commented on #1217
This is being fixed in https://github.com/mozilla/addons-linter/pull/1215 and should be in a release-build soon.

[2017-04-11 12:51] EnTeQuAk commented on #1217
#1215 was merged, 0.18.1 got released and seems to be working now. Please feel free to re-open if that's not the case, otherwise I'm going to close this.

Thanks for the quick report!

[2017-04-11 12:51] #1217 closed

[2017-04-13 23:31] andymckay commented on #1170
@wbamberg could we create a page for the incognito manifest key and the support on the various browsers on MDN please? Then we can link to that page.

I tried but got a scripting error from MDN.

[2017-04-17 23:25] gneatgeek commented on #1172
+1

Albeit that the version number is a tad weird, but our generator came up with "10.1704.14.024" as a version number and the linter threw an error for it. Worked fine once the 0 was removed "10.1704.14.24".

[2017-04-19 17:49] #1209 closed

[2017-04-20 09:49] EnTeQuAk commented on #1213
now that I started working this I wonder if the linter is the right place for it. Especially since people are using the linter via web-ext locally too but I think warning / erroring early is probably the reason for it to belong to the linter in the first place?

I personally would implement this directly in AMO on upload unless there's good reasons for people to see the errors locally too?

[2017-04-20 16:56] jvillalobos commented on #1213
I'm okay with implementing this directly on AMO.

[2017-04-21 05:35] #1213 closed

[2017-04-21 07:11] EnTeQuAk commented on #1213
This got merged, will be online next Thursday.

[2017-04-21 08:21] ValentinaPC commented on #1213
@EnTeQuAk : "online" aka in -dev? or "prod"?
Checked this few minutes ago and and submission of static themes is allowed and did not find any waffle.

[2017-04-21 09:30] ValentinaPC commented on #1213
Verified as fixed on AMO-dev FF52(Win 7) for listed and unlisted distribution.
WebExtension themes are not supported yet.
Postfix screenshot:
![listed](https://cloud.githubusercontent.com/assets/15685960/25271834/2f29d4a8-268e-11e7-8414-8d754d3ecf29.png)

[2017-04-21 17:50] #1131 closed

[2017-04-21 17:50] #1196 closed

[2017-04-21 17:59] mstriemer opened #1240 "Handle duplicate permissions error messages"
### Describe the problem and steps to reproduce it:
1. Set a permission to a non-string (like `24`).
2. Validate the extension.

### What happened?
You probably got a multiple errors stating that the permission must be a string. This is a bit annoying.

### What did you expect to happen?
One message stating it should be a string.

### Anything else we should know?
There was some work done in #1195

[2017-04-21 23:00] andymckay commented on #275
We've got .jar, should we close this now @EnTeQuAk?

[2017-04-21 23:02] andymckay commented on #68
In WebExtensions, inline JS isn't allowed by CSP. Does this mean we can close this?

Maybe just give a warning if we see a script tag inside a HTML file? I've seen a few people inlining JS who were surprised by this, so its probably a good idea to do.

[2017-04-22 15:18] chickahoona opened #1245 "run_at declared as mandatory while not mandatory in the documentation"
### Describe the problem and steps to reproduce it:
Running addons linter on an app with a manifest.json that does not contain a "run_at" property in the "content_scripts" section throws an error, while the documentation clearly states that the only mandatory field is "matches":

https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/content_scripts

The error object looks like th

[2017-04-24 16:49] juozhe opened #1248 "Can not parse large dictionary file"
### Describe the problem and steps to reproduce it:
I uploaded an add-on with two large dictionary .js files, of about the same size.

### What happened?
It reported "File is too large to parse."

### What did you expect to happen?
To pass the validation.

### Anything else we should know?
There are two dictionaries of about the same size, English and Chinese.
The file dict_en.js is derived from C

[2017-04-24 18:26] andymckay commented on #1245
Paging @mstriemer

[2017-04-24 21:38] #1245 closed

[2017-04-25 03:13] EnTeQuAk commented on #1248
If thse files don't contain any sensitive information it'd be very helpful if you could attach them for debugging reasons. It should be reasonable to reproduce this ourselves too though so if that's not possible, don't worry about it.

[2017-04-25 06:12] juozhe commented on #1248
Later on I noticed that the limit of .js files is 4 MB and mine are larger. I'm going to split them into smaller pieces.
However, the Developer edition of Firefox works just fine with them, and the competitive brower doesn't complain about file size, it just allows publishing.
I'll attach the .zip file as I planned to publish.
[panlatin-1-0.zip](https://github.com/mozilla/addons-linter/files/95403

[2017-04-25 06:15] EnTeQuAk commented on #1248
Thanks! As far as I know we do have a hard limit of 4MB right now because of memory usage and performance and other potential limitations of our javascript parser. But I don't remember all the details and will look into it to see if there's anything to do about it. Generally though, 4MB JavaScript files are massive so splitting them into smaller, more managable pieces sounds like a good idea to me

[2017-04-25 15:28] andymckay commented on #1248
We've seen issues in the past where that's not possible, for example if you've got large compiled files spit out from emscriptem or something. There's going to be some edge cases that are bad, and I remember that some files were particular bad in an older version of node.

But theoretically given that this is done in celery, a bad add-on should trigger time outs in celery, but should be isolated f

[2017-04-26 16:30] kumar303 opened #1252 "fetchSchemas() does not report stream errors"
In passing, I noticed that the promise returned by `fetchSchemas()` of `src/schema/firefox-schemas-import.js` is not rejected when there is a stream error. It is [resolved here](https://github.com/mozilla/addons-linter/pull/1210/files#diff-44cfe69567cbcc640cec70b9fde0adebR378) but it should probably reject the promise like this:

[code]

...otherwise any errors may go unreported which would be con

[2017-04-26 16:33] wbamberg opened #1253 "linter should recognize the "identity" permission"
From https://bugzilla.mozilla.org/show_bug.cgi?id=1358523.

The "identity" permission is needed to use the [identity](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/identity) API. It seems that the linter does not recognize this permission, and gives a warning to add-ons that include it.

[2017-04-26 16:38] kumar303 opened #1254 "Extract synchronized Firefox schemas into a new Node module"
It would be fantastic if the Firefox schemas [here](https://github.com/mozilla/addons-linter/tree/master/src/schema) were available as a separate Node module.

Here are a couple things I'd like to see the schemas used for:
* Static Flow analysis, possibly integrated into https://github.com/rpl/flow-typed-webextensions/
* WebExtension API mocks, possibly with something like https://github.com/acvet

[2017-04-28 15:01] mstriemer commented on #1253
This was fixed by #1238. There was a new AMO release yesterday which included it and a new build of addons-linter with it was released on Monday (#1250).

I believe we still need to update web-ext with the latest addons-linter. I filed https://github.com/mozilla/web-ext/issues/930 to update web-ext.

From now on when Nightly moves to Beta we'll make a new addons-linter release and include that in

[2017-04-28 15:01] #1253 closed

[2017-04-28 15:16] mstriemer opened #1257 "Make a non-beta release"
We've been using addons-linter in production for quite some time and it will soon be the only validator/linter we run on AMO. It is used by web-ext which is on version 1.9.0 and addons-linter is on version 0.19.1. Maybe it's time we make a non-beta release.

[2017-05-01 20:50] kumar303 opened #1259 "Do not require git for installation"
### Describe the problem and steps to reproduce it:

Try to install the linter (or `web-ext`) without having git on your machine

### What happened?

You get a cryptic `npm` error saying that git is not installed, probably triggered by this dependency: https://github.com/mozilla/addons-linter/blob/ca8b718821523fd9ad80dc8cbdd0018f49c0bba4/package.json#L82

### What did you expect to happen?

You sh

[2017-05-04 20:00] kumar303 opened #1263 "Undefined output when used programatically"
### Describe the problem and steps to reproduce it:

Write a script [exactly as documented](https://github.com/mozilla/addons-linter#import-linter-api-into-another-nodejs-application) to get the linter output.

### What happened?

Instead of an object defining the result, you get `undefined`.

### What did you expect to happen?

It should return an object with information about the linting errors

[2017-05-04 22:25] #68 closed

[2017-05-05 09:48] muffinresearch commented on #931
@vasilicamihasca is this still the case? I'm wondering if recent additions of the schema will now cause warnings for this issue and if the `strict_min_version` is too low e.g: https://github.com/mozilla/addons/issues/338

[2017-05-05 11:11] #1263 closed

[2017-05-05 14:55] vcarciu commented on #68
I tried to verify this bug using the attached Webextension, but no warning was displayed about inline script tags in HTML. Please let me know if I am doing something wrong.
[360CitiesTabExtension.zip](https://github.com/mozilla/addons-linter/files/979445/360CitiesTabExtension.zip)

[2017-05-08 16:39] muffinresearch commented on #110
I think this can now be closed since we're not implementing any legacy rules any more.

[2017-05-08 16:39] #110 closed

[2017-05-08 16:41] muffinresearch commented on #116
I'm not sure the potential use-case here, I think this rule is obsolete - so I'm closing on that basis.

[2017-05-08 16:41] #116 closed

[2017-05-08 16:42] muffinresearch commented on #259
Maybe an opt-in warning would work for this kind of feature. If you know you're using https then you'd probably be interested in a way to configure a warning for this in-case you slipped up.

[2017-05-08 16:43] #275 closed

[2017-05-08 16:52] muffinresearch commented on #368
Closing this in favour of handling this for a specific rule on a case by case basis.

[2017-05-08 16:52] #368 closed

[2017-05-08 17:13] jvillalobos commented on #259
The global move to HTTPS is further along, and now we want to add this flag for WebExtensions. The false positives should be fewer for WE than legacy.

[2017-05-08 17:30] muffinresearch commented on #765
@mstriemer, presumably this one be closed now?

[2017-05-08 17:32] muffinresearch commented on #479
node 6 uses npm 3 by default so I think we can close this on the basis that switching to node 6 will cover it.

[2017-05-08 17:32] #479 closed

[2017-05-08 17:34] muffinresearch commented on #1259
Assigning @EnTeQuAk since the linked package is his fork.

[2017-05-08 17:40] muffinresearch commented on #1259
Looks like consuming the package https://github.com/mozilla/eslint-plugin-no-unsanitized would now contain the relevant patches.

[2017-05-08 17:45] muffinresearch commented on #1259
Actually it's not published on npm yet

[2017-05-08 18:00] muffinresearch commented on #1035
Closing this issue since there's no action required in this repo.

[2017-05-08 18:00] #1035 closed

[2017-05-08 18:12] muffinresearch commented on #662
This is planned to be completely removed, marking as a duplicate of https://github.com/mozilla/addons-linter/issues/1063

[2017-05-08 18:55] wagnerand commented on #1259
Hm, I think it is.

[2017-05-09 12:20] muffinresearch commented on #1259
Ah ok - that fixes this issue 👍 -  I was talking about `eslint-plugin-no-unsanitized`  which is the new name for this package, but that can be handled separately.

[2017-05-09 12:25] muffinresearch opened #1273 "Migrate from eslint-plugin-no-unsafe-innerhtml to eslint-plugin-no-unsanitized"
The package `eslint-plugin-no-unsafe-innerhtml` has been renamed and been released as `eslint-plugin-no-unsanitized` on npm. The new package is version 2 and the changelog suggests there are breaking changes so filing this to handle it independently.

[2017-05-09 13:41] #1259 closed

[2017-05-09 14:36] kumar303 commented on #1259
Thanks @wagnerand

[2017-05-09 16:17] muffinresearch commented on #68
@vcarciu it probably wasn't released yet. Should be on -dev now though + stage shortly https://github.com/mozilla/addons-server/commit/87f49a40ee7a5e87d9b9efde8e91b9019e8b13d1

[2017-05-09 16:30] vcarciu commented on #68
@muffinresearch : Thanks, this is now on -dev  :
![linterjsinlinewarning](https://cloud.githubusercontent.com/assets/1583842/25861632/046999ec-34ee-11e7-857c-bac9efbfb6d2.png)

[2017-05-09 17:16] mstriemer commented on #765
The current process upgrades the Firefox schemas to the new format. The plan was to backport that to Firefox so this seems like it's still valid to me.

[2017-05-09 17:32] muffinresearch commented on #765
Would it make more sense to have a bugzilla bug for upgrading FF to use upgraded version of the schemas and then a separate issue here to migrate the linter onto that once it's done?

This issue was more about getting the linter to the point of using schemas out of mozilla-central, but the way it ended up happening was slightly different to what was proposed in the description.

[2017-05-09 18:41] mstriemer commented on #765
[Bug 1243516](https://bugzilla.mozilla.org/show_bug.cgi?id=1243516) exists to upgrade the schemas in Firefox. Making a new bug depending on that works for me.

[2017-05-09 18:54] muffinresearch commented on #765
@mstriemer great, thanks - I'll close this one and file a new one.

[2017-05-09 18:54] #765 closed

[2017-05-09 18:57] muffinresearch opened #1276 "Once mozilla-central upgrades to json schema draft-04 remove the upgrade process"
Once [bug 1243516](https://bugzilla.mozilla.org/show_bug.cgi?id=1243516) is fixed the schema upgrade process that happens as part of the import can be removed.

[2017-05-11 00:09] gilbertginsberg commented on #292
@tofumatt: And now my turn to apologize for the late response. Very good! I'll dig in.

@caitmuenster: I lost track of this issue, so I haven't been working on it. But I'd like to re-visit it, which I plan to do in the coming days. I'll drop a note should I have any questions! Thanks for checking in.

[2017-05-11 00:38] ccarruitero commented on #1240
Hi, I want to work on this issue.

I was checking the code and I think that if we only allow add a message to the collector if it had a different `dataPath` could solve the problem and show only one error in this case.
But not sure, What do you think?

[2017-05-11 01:05] ccarruitero opened #1280 "start script failed"
### Describe the problem and steps to reproduce it:

- Clone the repo
- install dependencies (`npm install`)
- Run `npm start`

### What happened?
the script is aborted with this message
[code]

### What did you expect to happen?
Complete the build and watch the files

### Anything else we should know?
I found that adding `cache` option for the [buildwatch](https://github.com/mozilla/addons-linter

[2017-05-11 08:09] jonathanKingston commented on #1182
As an update eslint-plugin-no-unsanitized is now published and usable for this. I was going to work on a jQuery setup however don't have the time. If you use the ESLint plugin we can merge in your jQuery setup if you beat us to it. It's covered in: https://github.com/mozilla/eslint-plugin-no-unsanitized/issues/23

[2017-05-11 08:12] jonathanKingston commented on #1273
Please let me know if there are issues.

The breaking changes that will impact you are:

- Different config to use
- Some error messages changed slightly (I know you regex them, ESLint hasn't resolved the issue we filed for shareable params)
- Some new error messages thrown

[2017-05-11 09:05] muffinresearch commented on #1254
@mstriemer do you have thoughts on this? Iirc it was already considered to some degree - are any things that might make doing this problematic?

[2017-05-11 09:54] wagnerand commented on #1280
Thank you for the report

[2017-05-11 12:16] muffinresearch commented on #1248
@EnTeQuAk it would be good to investigate the limits further. Node's default memory limit was always very conservative so we should look at using `–max-old-space-size=N` and see what an an increase there would do for allowing bigger files etc.

/cc @bqbn

[2017-05-11 12:26] #1280 closed

[2017-05-11 12:37] muffinresearch commented on #1252
This one should be fixed as part of #1278

[2017-05-11 12:41] muffinresearch commented on #1240
@ccarruitero yep - there's some functionality around that idea already see: https://github.com/mozilla/addons-linter/blob/e3c310e8efdb40dc50d96617f5c6708cbef1d786/src/collector.js#L69

[2017-05-15 14:43] muffinresearch opened #1285 "Flag violations of "Mozilla conditions of use""
This will be based on a list of forbidden terms.

[2017-05-15 14:47] muffinresearch opened #1286 "Flag permissions that are required but not used"
If a developer asks for various permissions that are not used it would be helpful to flag this during the lint process.

This might be difficult to do, so it needs investigation for viability and to provide some examples.

[2017-05-15 16:09] diox commented on #1285
Worth noting that, as with the other post-review related things to flag, this should only be added to the metadata, not block submission. (Not sure if that should be exposed to the developers either)

[2017-05-15 17:25] andymckay commented on #1285
I believe it should be exposed to developers, we shouldn't be surprising them but be as up front and clear. Should this be something in the linter?

[2017-05-15 17:32] diox commented on #1285
The problem is false positives: there is no foolproof way of doing this detection, which is why it has been left to the appreciation of reviewers until now.

With the post-review process, the add-on would be automatically approved, the flag would only make the priority of the add-on go up in the post-review queue so that an human reviewer can look at it.

It should not come as a surprise to develo

[2017-05-15 21:11] jvillalobos commented on #1285
I think showing these flags to developers is good, for the sake of transparency and self-policing.

[2017-05-16 17:12] caitmuenster commented on #1252
@muffinresearch Does the pull request cover this issue? Not sure if this is duped or not.

[2017-05-16 17:16] jvillalobos commented on #1199
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @EnTeQuAk

[2017-05-16 17:23] wagnerand commented on #1141
@EnTeQuAk could you please add some more information what this is about and what needs to be done so we can triage it?

[2017-05-16 17:24] caitmuenster commented on #348
Hey @muffinresearch, we think more information might be needed before tagging this as a good first bug.

[2017-05-16 21:01] potch opened #1287 "`code` and `message` is the same in JSON output"
### Describe the problem and steps to reproduce it:
Get results from programmatic usage of the linter (as an API)

### What happened?
In results, the `code` field of warnings is the same thing as the `message` field. example:
[code]

### What did you expect to happen?
The `code` field that would be something like "UNSUPPORTED_API", as listed in the messages definition: https://github.com/mozilla/a

[2017-05-16 21:08] mstriemer commented on #1287
Since `code` is something we added and isn't supported when adding an error through eslint I think we're stuck with this for now.

@EnTeQuAk and I discussed moving to the eslint standard of using the rule name to replace `code` and we agreed that was the best path forward but I don't see an issue for that.

[2017-05-17 11:57] EnTeQuAk commented on #1287
Correct, it's a bit of a tricky problem. We do have `code` and `message` and at the moment use both and for our internal messages `code` is set properly but for messages coming from eslint it's set to `message` which isn't a problem at the moment since more or less `code` was unused.

We do have the ability to overwrite `code` for messages coming from eslint, we should probably do and require that

[2017-05-17 12:34] wagnerand opened #1288 "Do not ignore node-modules/bower_components folder in add-ons"
If an add-on includes a `node-modules` folder, each JS file in that folder raises the following warning:
`Warning: File ignored by default. Use "--ignore-pattern '!node_modules/*'" to override`.

We should not ignore contents of that folder.

[2017-05-17 13:56] muffinresearch commented on #1288
Related to https://github.com/mozilla/addons-linter/issues/1141

[2017-05-18 17:09] jonathanKingston commented on #1273
This somewhat hinges on: https://github.com/eslint/eslint/issues/8344 it could be implemented without however would be cleaner for us to provide a blob of stuff instead of a string.

[2017-05-18 17:12] potch commented on #1287
I'm looking to filter for specific codes to filter under programmatic usage. Can I pass a flag that's like "this isn't eslint, give me generalized codes"?

[2017-05-19 15:01] kewisch commented on #1288
Same with bower_components `File ignored by default. Use "--ignore-pattern '!bower_components/*'" to override.`

https://addons.mozilla.org/en-US/developers/addon/cyberalterego/file/636394/validation

[2017-05-19 23:43] andymckay commented on #67
I don't think we need to do this. Currently all the CSS does is check for invalid nesting.

[2017-05-19 23:44] andymckay commented on #158
Is there a security reason to do this, or a check for invalid CSS?

[2017-05-19 23:49] andymckay commented on #283
We've already got a check for specific files: exe, java, swf, things that might be dangerous. I'm honestly not sure what else we could check for here: install.rdf, chrome.manifest?

[2017-05-19 23:53] andymckay commented on #424
It currently throws:

![screenshot 2017-05-19 16 52 42](https://cloud.githubusercontent.com/assets/74699/26270870/9dfc6888-3cb3-11e7-8ffa-a9059886d6ca.png)

Along with:

![screenshot 2017-05-19 16 53 21](https://cloud.githubusercontent.com/assets/74699/26270873/b2bf7684-3cb3-11e7-987c-525431ff6c20.png)

Are you suggesting something that says something like "hey no manifest.json found, but we've fo

[2017-05-20 00:43] andymckay commented on #675
It's this: https://developer.chrome.com/extensions/event_pages see the "persistent": false? Unfortunately it looks like #765 did not take care of this.

[2017-05-20 00:44] andymckay commented on #931
The schema doesn't know anything about the actual value of the version, only AMO knows this. I think this bug should be in addons-server?

[2017-05-22 13:30] wagnerand opened #1298 "Only flag CSP that is actually less strict than the default"
We currently flag any definition of CSP in the manifest.
This causes quite some false positives, and for post-review, we need it to be more reliable.

We are mostly interested in remote scripts, other remote resources should be fine.
So, I *think* what we need to check for is whether `http` or `*` is in `script-src` or `default-src`.

@jonathanKingston @marumari could you confirm what I wrote abov

[2017-05-22 14:33] EnTeQuAk commented on #283
Let's close this for now until we have a better idea about what to warn for and once we find use for it.

[2017-05-22 14:33] #283 closed

[2017-05-22 14:35] EnTeQuAk commented on #67
I think it'd still be nice to create the infrastructure for such hand-offs. Aside that the current css checks are relatively weak I think there's quite a few things to do, also maybe related to new themes coming up some time?

[2017-05-22 14:54] april commented on #1298
It's actually more complicated than that, as you are probably unsurprised by.

Are you not wanting to allow *any* remote scripts, or want to just allow scripts over https?

[2017-05-22 15:11] wagnerand commented on #1298
@april Sorry for using your wrong github profile.

Our policies do not allow remote scripts at all, so we'd want to flag *any* remote script.

[2017-05-22 18:51] kumar303 opened #1299 "Warnings for locale-dependent CSS using predefined messages"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

After following the [guidelines for locale-dependent CSS](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization#Locale-dependent_CSS) using predefined messages (documentation for [WebExtensions](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization#Predefined_messages)

[2017-05-22 20:24] april commented on #1298
It's okay, I actually just switched from @marumari to @april; I just re-reserved marumari so that nobody uses it to phish as me.

If you want a bulletproof solution, then having a CSP with `script-src` set to `moz-extension://{{UUID}}/` is probably going to be the only way to successfully enforce it.

If you're just trying to catch a CSP for somebody who is unaware of policies, I *think* blocking

[2017-05-22 21:03] kewisch opened #1300 "Exclude webpack eval from being flagged"
### Describe the problem and steps to reproduce it:
All add-ons using webpack will trigger an eval warning, which is not helpful. The code is try-catched, and just used to detect the global:

https://github.com/werbug/webpack/commit/2ff9a247e242f716b8ad41da460ca57108617d36

This triggers an eval warning in the linter which we should ignore.

https://addons.mozilla.org/en-US/editors/review/exactly-

[2017-05-23 09:13] vasilicamihasca commented on #931
This issue is no longer reproducible on AMO-dev, AMO-stage and AMO-production using Firefox 55.0a1 (2017-05-22). A proper error is successfully displayed. See attached screenshot.
![2017-05-23_1203](https://cloud.githubusercontent.com/assets/18114210/26347126/25edc5de-3fb1-11e7-8716-dd8034ef7a82.png)
Based on this I am closing the issue.

[2017-05-23 09:13] #931 closed

[2017-05-23 10:04] muffinresearch opened #1303 "Switch to jest for tests"
Jest is a really great test-runner, it would be great to use for addons-linter using the node test environment setting.

Moving to Jest will allow us to:

* Remove the separate coverage instrumentation.
* Makes tests feedback very fast and provides much more control.

Since it bypasses webpack it will be necessary to ensure the build still works.

[2017-05-23 15:18] diox opened #1304 "Expose total size of "code" files in metadata"
For [post-review queue prioritization purposes](https://github.com/mozilla/addons-server/issues/5473), we'd need the total size of all "code" files (manifest, css, js, etc) in each add-on exposed in the metadata returned by the linter. Libraries ignored because of dispensary should not count towards the total.

The name of the property doesn't matter, the unit should probably be bytes.

[2017-05-23 16:47] #662 closed

[2017-05-24 09:09] EnTeQuAk commented on #1304
Side note, we already calculate the file-size in the linter to block files that are too large: https://github.com/mozilla/addons-linter/blob/master/src/linter.js#L361

So there's already code to grab it, guess we simply need to store and expose the total.

[2017-05-24 19:45] gilbertginsberg commented on #292
@tofumatt: I've read through [mozilla#152 (comment)](https://github.com/mozilla/addons-linter/pull/152#issuecomment-153823073), but I'm still not super clear on when you'd use `scan()` over `getContents()`.  Perhaps you can shed some light?  For example should `getContents()` be swapped out for `scan()` only in the context of `rdfScanner`? Or for example I also see `getContents` as a method of [`c

[2017-05-24 19:49] tofumatt commented on #292
I'm saying to use `scan()` over `getContents()` in the tests to be consistent, as it should run the same code, if I recall correctly.

That said, I filed this issue some time back and I sort of forget. I think largely it was just to be using `scan()` in any test we use `getContents()` for (unless we are explicitly testing `getContents()` in that test) so the code is consistent and future developer

[2017-05-25 07:58] EnTeQuAk commented on #292
short notice, because of https://github.com/mozilla/addons-linter/pull/1296/ turning into a bigger refactor I am touching parts of where we are using `getContents` so if you're already using it, be prepared for conflicts or maybe wait one more day to start :)

[2017-05-25 08:53] muffinresearch opened #1306 "Update eslint rules for this codebase."
It would be good to consolidate the lint rules and add things like [prefer const over let](http://eslint.org/docs/rules/prefer-const) and update it.

For example we have a lot of `for of`/`for in` loops that use `let` but could use `const`.

mozilla/addons-frontend probably has a good configuration (though obviously the react pieces can be ignored for this project) - a longer term plan would be to

[2017-05-25 17:00] pdehaan commented on #1306
Using `const` instead of `let` used to cause issues in earlier versions of Firefox. Ref: https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Statements/for...of#Gecko_note_2

[2017-05-25 17:58] gilbertginsberg commented on #292
Roger that @EnTeQuAk. Thanks.

[2017-05-25 20:59] andymckay commented on #847
This is done in #765, I don't think we need to do anything else here.

[2017-05-25 20:59] #847 closed

[2017-05-26 14:56] muffinresearch commented on #1306
@pdehaan thanks for the info. This is a node application and this issue is solely about changing how we write code in this code-base rather than anything in regard to rules used to lint web-ext for FF.

[2017-05-28 20:45] freaktechnik opened #1309 "Misleading warning when using dynamic property names to use API"
### Describe the problem and steps to reproduce it:
Use an API with a dynamic property accessor, like the following:
[code]

### What happened?
The warning printed by the linter is "storage.AREA is not supported".

### What did you expect to happen?
A warning along the lines of "Could not determine if API is implemented for storage[AREA]"

### Anything else we should know?
Source code with which I

[2017-05-29 09:07] EnTeQuAk commented on #1304
This should also be easier once https://github.com/mozilla/addons-linter/pull/1296 lands

[2017-05-29 10:21] EnTeQuAk commented on #1141
This is about adding a test that adds a new webext fixture with a `.eslintrc` that tries to override our default values set by our `JavaScriptScanner` (https://github.com/mozilla/addons-linter/blob/master/src/scanners/javascript.js#L38-L58) by using all means necessary given by http://eslint.org/docs/user-guide/configuring

It should not be possible to override any of these values (most importantl

[2017-05-30 03:56] EnTeQuAk opened #1310 "Add some code that verifies and normalizes `filename` in `recordScannedFile`"
This should avoid unneccessary duplicates.

[2017-05-30 09:12] #1288 closed

[2017-05-30 18:04] muffinresearch commented on #348
This would entail looking at the collector and running process.exit as soon as an error is added to the list of errors.

[This is the relevant part of the collector](https://github.com/mozilla/addons-linter/blob/0bed228e24efd9d5d3541cf1541a6809bacd5358/src/collector.js#L28) I'm pointing there since I don't think it would make sense to rely on the addError always being called directly - that's just

[2017-05-30 18:05] muffinresearch commented on #348
Moving this to contrib welcome since it's probably a better next step rather than a first bug to start with.

[2017-05-31 22:18] andymckay commented on #1170
The message is now different. It says ""/incognito" should  be equal to one of the allowed values" because it now is using the schema.

The docs now exist at https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/incognito.

We could probably file a generic "point to the MDN docs page" when an error occurs on a manifest file as a new bug.

[2017-05-31 22:18] #1170 closed

[2017-05-31 22:20] wbamberg commented on #1170
@andymckay , I've added https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/incognito and submitted a PR to add compat data: https://github.com/mdn/browser-compat-data/pull/216, which will indicate that "spanning" is the only supported value in Firefox.

But I'm a bit unclear how "split" and "not_allowed" work in Chrome.

With "split", do you get essentially 2 versions of the a

[2017-05-31 22:26] andymckay commented on #1170
I have found that @Rob--W knows everything about Chrome so I'll summon him...

[2017-06-01 00:30] Rob--W commented on #1170
Yes. In Chrome with "spli", there will be two separate extension processes if the user has opted in to enabling the add-on in incognito mode.
With "spanning" there will be only one process, with all pages being in non-incognito mode. Chrome does not allow mixing incognito and non-incognito tabs, so a consequence of "spanning" is that extension pages cannot be opened in incognito windows.

Assuming

[2017-06-01 15:44] #1252 closed

[2017-06-01 17:29] wbamberg commented on #1170
Thanks, that's very enlightening :). @andymckay, do you know how far back Firefox supports "incognito":"spanning"? As far back as 48?

[2017-06-01 17:40] wbamberg commented on #1170
Never mind, found it: https://bugzilla.mozilla.org/show_bug.cgi?id=1277686.

[2017-06-02 04:52] EnTeQuAk commented on #292
#1296 just landed, as far as I can see it there's only a very small amount of tests left that use `getContents()` where they could use `scan()`, most tests that are left use `getContents()` because they're explicitly test it. There's only `test.installrdf.js` left that uses it in a way where `.scan()` could be used but given that the linter never tests legacy-addons these days that code is doomed

[2017-06-02 04:52] #292 closed

[2017-06-05 21:00] mstriemer commented on #1026
Firefox isn't handling missing icons very well as noted in ﻿﻿﻿﻿﻿[bug 1368447](https://bugzilla.mozilla.org/show_bug.cgi?id=1368447). We should look into performing this check and probably error if the file is missing.

[2017-06-06 08:59] muffinresearch commented on #1285
@jvillalobos Can you point to the list of terms to be checked for?

[2017-06-06 09:00] muffinresearch commented on #1309
@mstriemer any thoughts on how the schema can be used to not trip over this sort of thing?

[2017-06-06 09:10] muffinresearch commented on #1299
Do the substitutions still work in chrome/Firefox if the `@`  are escaped? Since @ has special meaning in CSS it seems an odd choice for use as part of a variable.

[2017-06-07 10:48] diox opened #1321 "Warn when detecting a <script> tag with a remote URL"
For post-review, we want to increase priority of add-ons using a `<script>` with a remote URL. The linter should detect this and add a warning with a specific code that addons-server can look for.

[2017-06-07 10:51] diox opened #1322 "Warn when detecting synchronous (non-local) HTTP requests"
For post-review, we want to increase priority of add-ons using synchronous (non-local) HTTP requests. The linter should detect this and add a warning with a specific code that addons-server can look for.

[2017-06-07 10:54] diox opened #1323 "Warn when detecting libraries and other unreadable code"
For post-review, we want to increase priority of add-ons using unknown libraries we haven't specifically allowed (or denied) or other unreadable code. The linter should detect this and add a warning with a specific code that addons-server can look for.

This is vague, but I think a basic obfuscation detection is what we want here. @jvillalobos and @wagnerand for more details.

[2017-06-07 13:58] NiklasGollenstede opened #1325 "Wrongly reported syntax error prevents upload"
### Describe the problem and steps to reproduce it:
When I try to upload the attached .zip, I get
![image](https://user-images.githubusercontent.com/10552031/26881841-ed4b4fbe-4b98-11e7-84b3-0283ace7140e.png)
in this file
https://github.com/NiklasGollenstede/web-ext-utils/blob/46a0800cbc2f042143a37a498c736c37b1eba76a/utils/event.js#L41
which means I am unable to update my extension.
But that file

[2017-06-07 14:29] EnTeQuAk opened #1326 "Fetch npm library hashes to detect libraries more broad"
cc @wagnerand and @muffinresearch on this for input.

When I thought about a few things for our post-review process I noticed that the list of libraries we actually can detect is fairly short. Especially in our modern world where people use npm to install dependencies.

So my proposal for a better detection of libraries:

…based on the list of libraries we care about (anuglar, jquery etc...)

 * F

[2017-06-07 16:19] wagnerand commented on #1326
We intentionally removed fetching from NPM, rationale is in https://github.com/mozilla/dispensary/issues/200. Does that make sense to you?

[2017-06-07 16:23] wagnerand commented on #1323
Yes, obfuscation is what comes into my mind here. I *think* that should cover it pretty much, but let's hear from @jvillalobos to see whether there is something beyond that.

[2017-06-07 16:24] EnTeQuAk commented on #1326
thats precisely why I vote for actually implementing it. I am aware that this won't be easy to do. I'd like to give it a try, just a plain simple MVP and see how that goes. I personall would love for us to have both, the manually added hashes and filenames (because CDNs and direct downloads) and npm packages.

[2017-06-07 16:41] wagnerand commented on #1325
I looked into this and it seems because of the usage of `async` as an object property. I'm not sure why though, `async` is not a reserved word in JS.

[2017-06-07 16:49] EnTeQuAk commented on #1325
I found https://github.com/eslint/espree/issues/322 - and we are using `ecmaVersion: 2017` which is equivalent to `8` which means, the linter actually supports async functions and tries to interpret them.

I'm about to say that this is something that should not be fixed but rather on the users end.

[2017-06-07 16:50] EnTeQuAk commented on #1325
Firefox supports it with version 52 too, https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function - so I'm going to close this since `async` here is a reserved keyword and should not be used.

[2017-06-07 16:53] EnTeQuAk commented on #1325
Hmm, or maybe this is a problem, theoretically it should not appear reading https://github.com/eslint/espree/pull/295

[2017-06-07 17:02] wagnerand commented on #1326
Can you elaborate on how your approach is going to be different from what we used to have in dispensary?

[2017-06-07 17:23] muffinresearch commented on #1326
I don't think I completely understand the check you're proposing to implement. What would the hash be made from and compared with? Maybe I'm missing something but I don't see obvious reliable way to compare source packages on npm with unpacked modules in a node_modules directory supplied in the xpi.

[2017-06-07 17:50] muffinresearch commented on #1325
Looks like a bug in espree related to spreading `async` as an object prop. Eslint directly shows the same problem using it directly.

Reduced test-case:

[code]

[2017-06-07 17:56] muffinresearch commented on #1325
I've filed: https://github.com/eslint/espree/issues/340

[2017-06-07 19:25] mstriemer opened #1328 "Check that icons are valid image files"
We should try to validate that the image is valid, to avoid getting broken images in Firefox.

[2017-06-07 19:30] muffinresearch commented on #1328
Duplicate of https://github.com/mozilla/addons-linter/issues/1026

[2017-06-07 19:31] mstriemer opened #1329 "Validate the size of icons"
Firefox expects icons to be at least 16 pixels in size. We should require that there be at least one icon that is at least 16 pixels in size. This should check the size defined in the manifest but it would also be nice to check the size of the actual image building off of #1328.

[2017-06-07 19:35] muffinresearch commented on #1328
Ah looks like you're just splitting things up. As you were.

[2017-06-07 19:44] muffinresearch opened #1330 "Do we want to localize the linter?"
Initially when the linter was started we didn't want to rule out the idea of localizing the linter.

However we've not gone any further than wrapping strings with noop gettext functions etc.

Do we want to actually localize the linter? In considering this we'd need to weigh up the engineering cost versus the value it would bring for the linter's community of users.

If we decide not to proceed the

[2017-06-07 19:50] tofumatt commented on #1330
The npm stats indicate that the linter is downloaded a reasonable amount:

<img width="327" alt="screenshot 2017-06-07 20 49 02" src="https://user-images.githubusercontent.com/90871/26898152-cf95c8a8-4bc2-11e7-8987-d7e816e1761f.png">

If we have any way to contact those users or even ask them maybe during next time they run the linter with a little prompt–it would be cool to know if they'd enjoy a

[2017-06-07 19:53] andymckay commented on #1330
The validator was never localised, but I think this would be a nice thing to do. We've got a large number of international developers and the documentation on MDN is being translated.

Localising errors from eslint or JSON schema sounds like it could be hard.

Would pushing error to be a URL and place a link to a website (eg MDN or AMO), make sense? The localisation could then occur on that websit

[2017-06-07 20:15] jvillalobos commented on #1330
Most communications we have with developers, including review messages, are exclusively in English, so we're already forcing them to use English to some extent. Being fully localized is always a noble goal, but it seems unrealistic in this case.

Documenting all linter flags on MDN or some other place that can be localized would be awesome, but it's also one of those things that probably won't hap

[2017-06-07 20:25] tofumatt commented on #1330
The thing about localisations happening with the linter is that we already have the gettext wrapper set up… so aside from a bit of process around extracting and using the strings, there isn’t much that has to happen to the app to localise it. I think it’s not worth the effort to remove the fake get text at the very least. It’s very little/no technical debt.

[2017-06-07 21:54] jvillalobos commented on #1323
Yes, we want to detect code that is either minified or obfuscated. @kewisch pointed out that whitespace density could be a good indicator of this.

[2017-06-07 22:07] andymckay commented on #1330
How about messages back from other libraries, or dynamically built text, eg: json schema? Just don't bother with those?

[2017-06-07 22:09] tofumatt commented on #1330
Those will definitely be more work. Something is better than nothing I think, but translating those might be quite difficult, yeah 😢

[2017-06-08 00:15] EnTeQuAk commented on #1330
We do have a system now though to overwrite them to some extend and
there's work going on in eslint to allow definition of message ids so
that we can overwrite more and more detailed messages later.It'd say it's worth trying, eslint is the only source that's
currently using 3rd party rules and half of them use our own
messaging already anyway.

On Thu, Jun 8, 2017, at 05:09 AM, tofumatt ☕️ wrote:

[2017-06-08 02:39] EnTeQuAk commented on #1325
And this is about to land upstream, yeay! Thanks for filing this @muffinresearch!

[2017-06-08 15:08] #1026 closed

[2017-06-08 15:47] mstriemer commented on #1026
STR

1. Start with a valid webextension.
2. Add an icon to manifest.json that doesn't exist in the package.
3. An error is reported and references the path that is missing.

[2017-06-08 15:51] mstriemer commented on #1026
Before these changes extensions with missing icons would be considered valid, but we would like to prevent that.

If there are multiple icons they must all be present to pass validation.

[2017-06-08 16:37] kewisch commented on #1323
Also, complete lack of code comments (although that should not be a factor alone)

[2017-06-08 18:16] mstriemer commented on #1309
I don't think we can check that a usage like this is valid. We could warn that we can't validate, but I just put a PR up to ignore the check in this case (#1332). Warning might be better.

@muffinresearch should we warn or ignore here?

[2017-06-08 22:32] jvillalobos commented on #1323
Somewhat related, in a meeting today @cr brought up retire.js (https://retirejs.github.io/retire.js/) as a tool that can detect libraries and flag outdated ones. I don't know if we're considered this for the linter before, but it looks like an interesting option.

[2017-06-09 01:49] EnTeQuAk commented on #1323
There's already an issue for that, see https://github.com/mozilla/addons-linter/issues/699 for a few more details.

[2017-06-09 14:49] mkaply opened #1335 "chrome_settings_overrides should always be flagged on WebExtensions"
Because chrome_settings_overrides has the potential to be abused, it should be something that automatically flags extensions for admin review.

In that review, we should make sure the description of the add-on clearly states that it either changes the homepage or search engine.

The reason Google doesn't need this is because it only allows homepages or search engines to be set to the verified doma

[2017-06-09 15:00] wagnerand commented on #1335
Thanks for filing!

I'm not sure what role the admin flag will play in a post-review world, but I guess we can assign a risk factor to this. @jvillalobos what do you think?

[2017-06-09 15:01] mkaply commented on #1335
Even in a post review world, aren't we still going to be able to flag certain things as review no matter what?

[2017-06-09 15:05] wagnerand commented on #1335
We won't "flag" add-ons for review, we will prioritize reviews based on signals ("flags") from the validation pipeline.

[2017-06-09 16:23] andymckay commented on #1335
This currently doesn't allow you to set the default search engine, just add search engines. Changing the default search engine is a sensitive topic that we'll need to bounce up to @deadsquid and others on exactly how we want to handle this.

[2017-06-09 17:32] jvillalobos commented on #1335
Changing the default is where I would draw the line for a flag. I don't think adding engines poses a big enough risk to warrant this test.

[2017-06-10 14:49] wagnerand commented on #1335
`chrome_settings_overrides` and `chrome_url_overrides` currently allow to override the default homepage and newtab.

[2017-06-10 15:06] savenko opened #1339 "There is a JavaScript syntax error in your code; validation cannot continue on this file."
### Describe the problem and steps to reproduce it:
I am try to upload my extention on addons site and get error "JavaScript syntax error" in description i see this message:

I opened this file and see:
[code]

[2017-06-10 15:30] #1339 closed

[2017-06-12 13:44] EnTeQuAk opened #1343 "followup on new jest based test infrastructure"
I just merged the first part to run our tests with Jest. Lets do a few cleanups:

* test.cli-process should be some kind of integration test
* ~~use sinon sandbox similar to what addons-frontend does (https://github.com/muffinresearch/addons-frontend/blob/bdcb7858594d5c09294f468e8c733151e1a4a8e4/tests/setup.js#L64-L74)~~ - https://github.com/mozilla/addons-linter/pull/1369
* check for docs in need

[2017-06-12 16:36] muffinresearch commented on #1343
I would go as far as to suggest we avoid using those expect matchers entirely. We don't allow falsey/truthy comparisons in code via linting so I think it's best to avoid them in tests too.

[2017-06-12 19:44] mstriemer opened #1345 "Update schemas to Firefox 55"
Firefox 55 is now on Beta. We should import the schemas so that we stay up to date.

Once we've cut a release web-ext should also be updated to use the new version.

[2017-06-12 19:46] mstriemer opened #1346 "Update schemas to Firefox 56"
Once Firefox 56 is on Beta we should import the schemas, cut a new release and update web-ext to use it for linting.

If there are interesting things landing in Firefox 56 please add a comment so it's a bit easier to track what's incoming.

[2017-06-12 22:04] jvillalobos commented on #1335
I agree those cases should be flagged, then.

[2017-06-15 15:17] mstriemer opened #1350 "Noisy test output"
Bunyan is causing some noisy test output. This has something to do with dtrace-provider which is optional but doesn't work on mac or not with node 6+ or something. Either way we aren't using dtrace and this is annoying.

Pino is a bunyan replacement that is supposed to be faster and doesn't depend on dtrace at all. In theory it will fix the test output.

[code]

[2017-06-15 19:08] #1350 closed

[2017-06-16 15:15] #1345 closed

[2017-06-16 23:02] jvillalobos commented on #1285
Here's a list I found online. It was about twice as long, and I removed a bunch of terms that didn't seem necessary to flag. @atsay, can you give this a look and see if it looks right or needs changes?
[flagged-terms.txt](https://github.com/mozilla/addons-linter/files/1082140/flagged-terms.txt)

[2017-06-19 10:08] EnTeQuAk opened #1355 "Overwrite `code` for 3rd party rule overwrites"
This should ref https://github.com/mozilla/addons-linter/issues/1287 and helps using that code for our post-review work in addons-linter.

[2017-06-19 14:18] SkySkimmer opened #1361 "JSON file is too large to parse, consider loading it a separate JSON file instead"
### Reproduction
Make some web extension with a large JSON file (my case: https://github.com/SkySkimmer/number_one_runner/tree/086656a92b21c9edbeb084709c1b51ff80eaf0b8 + http://thedragonrider.free.fr/states.tar.gz (decompressed: 26MB))
The linter complains with
[code]

### What did you expect to happen?
Either it tells me large json files are not accepted, or it accepts them.

[2017-06-19 22:50] EnTeQuAk commented on #1361
The error should clearly tell you that it doesn't accept large json files.

I am closing as a duplicate of https://github.com/mozilla/addons-linter/issues/1248 - there's currently not much we can do about it, there are some experiments around it but given that those huge files are an edge-case from what I can tell it's lower priority.

[2017-06-19 22:50] #1361 closed

[2017-06-19 22:51] #1287 closed

[2017-06-19 22:51] #1355 closed

[2017-06-19 22:52] EnTeQuAk commented on #1287
I marked this as fixed with merging https://github.com/mozilla/addons-linter/pull/1356. We are now able to overwrite the `code` for a 3rd party rule as well, we are currently overwriting all 3rd party rules so as far as I can tell this issue should be fixed now.

Mind testing if this helps with what you wanted to do @potch?

[2017-06-20 08:11] vcarciu commented on #1287
Please add some STRs to this bug or mark it as "qa: not needed"

[2017-06-20 09:28] EnTeQuAk commented on #1303
This is actually fixed now.

[2017-06-20 09:28] #1303 closed

[2017-06-20 14:26] jvillalobos commented on #1285
Here's an updated list after some review.
[flagged-terms.txt](https://github.com/mozilla/addons-linter/files/1088479/flagged-terms.txt)

[2017-06-21 14:41] vcarciu commented on #1026
Verified as fixed :
![iconaction](https://user-images.githubusercontent.com/1583842/27389786-1a9cc44c-56a8-11e7-84fc-22c8ef2dcd01.gif)

[2017-06-21 16:15] EnTeQuAk commented on #1325
So https://github.com/eslint/espree/commit/be85b8e97eafc502f9d3150eb5d324639d308051 landed in master, once espree get's a new release we can upgrade it and this will be fixed once that happens.

[2017-06-22 06:03] EnTeQuAk opened #1368 "Use sinon sandbox in our jest tests"
use sinon sandbox similar to what addons-frontend does (https://github.com/muffinresearch/addons-frontend/blob/bdcb7858594d5c09294f468e8c733151e1a4a8e4/tests/setup.js#L64-L74)

[2017-06-22 08:16] EnTeQuAk opened #1370 "Switch to use yarn"
Even with the new npm 5, yarn is still lots faster and adds a few niceties here and there.

Let's try switching and using it.

[2017-06-23 05:23] #1370 closed

[2017-06-23 05:28] #1368 closed

[2017-06-23 05:32] #1240 closed

[2017-06-23 07:51] EnTeQuAk commented on #1172
Before this can be tackled, addons-server needs to understand these versions properly too: https://github.com/mozilla/addons-server/blob/master/src/olympia/versions/compare.py - this is needed so that we can understand and compare versions across the system.

[2017-06-23 14:10] vcarciu opened #1372 "Cancelling add-on upload will not stop add-on upload progress"
Steps to reproduce:
1.Go to amo Stage and try to submit a big add-on
2.During upload progress , press the Cancel button

Expected results:
Upload progress is stopped immediately

Actual results:
Cancelling add-on upload will not stop add-on upload progress

Please see video for this issue :
![cancelupload](https://user-images.githubusercontent.com/1583842/27485778-c62e26ae-5836-11e7-8af0-43bd0dbd9

[2017-06-26 22:18] #1309 closed

[2017-06-27 09:44] YehudaK opened #1374 "Icon could not be found in manifest.json"
One week ago I successfully uploaded my new web extension. It was accepted without error but I was instructed that this migration is one way. I was offered to submit hybrid extension first, so I canceled migration to read more about hybrid addons. Today, when I decided to submit the same extension, I got error message that icon files are missing:

I tried to change relative path to "/data/img/icon

[2017-06-27 13:25] vcarciu commented on #1309
Please add some STRs to this bug or mark it as "qa: not needed"

[2017-06-27 21:21] #1374 closed

[2017-06-27 22:00] mstriemer opened #1378 "Rewrite $import as $merge during schema import"
The Firefox schemas now have a `$import` for the `contextMenus` namespace. This isn't part of the json-schema spec and there is a proposal for `$merge` in v5 that is [supported by ajv-merge-patch](https://github.com/epoberezkin/ajv-merge-patch).

We should convert the `$import` to a `$merge` rather than manually implementing this as done in #1376.

This would likely require some updates for the un

[2017-06-27 22:07] mstriemer commented on #1372
I don't think this is related to the linter since the server handles the request. Moved to mozilla/addons-server#5768.

[2017-06-28 16:35] #1372 closed

[2017-06-29 13:22] vcarciu commented on #1374
Verified as fixed :
![pathtoicons](https://user-images.githubusercontent.com/1583842/27689549-32ac1fc0-5ce7-11e7-8c23-d67cf4961b2c.png)

[2017-07-05 16:31] muffinresearch opened #1391 "yarn test should run watch and not coverage by default"
Would be nice to have the default test command be more useful in development.

By default running coverage slows things down too so that could be skipped by default.

Moving what the current test command does to a CI specific command would mean that the right things continue to be run for CI.

[2017-07-07 00:54] tgrundmanis opened #1395 "Do you need an automated code style review tool?"
Myself and a cofounder created a style linter developer tool that comments on style errors in GitHub pull requests (for 15 languages and counting). It is free for open source projects.

You can check out the product on https://stickler-ci.com. Just authorize your GitHub account, enable a public repo, and then open/update an existing pull request (or create a new pull request).

[2017-07-10 14:03] muffinresearch commented on #1395
For us linting is already a test fail, so we avoid most stylistic issues as part of the code review process already.

[2017-07-10 14:03] #1395 closed

[2017-07-11 08:12] muffinresearch commented on #1300
This needs to be excluded by the upstream project https://github.com/mozilla/eslint-plugin-no-unsanitized

[2017-07-18 10:56] muffinresearch opened #1407 "Add PR Template"
This will help us to get the information required in new pull-requests as it provides guidelines as to what is expected in a good PR.

[2017-07-18 10:59] #1407 closed

[2017-07-21 06:31] EnTeQuAk opened #1408 "Add node 8 to travis tests"
We're going to upgrade to node8 once it reaches LTS stage.

[2017-07-21 18:22] telliott opened #1409 "Deleting an addon that hasn't been reviewed doesn't let you resumbit it from another account."
### Describe the problem and steps to reproduce it:
Uploaded an XPI to my account. Realized it should be uploaded to the project account. Deleted the XPI from the submission queue. Submitted XPI from project account.

### What happened?
Upload rejected due to duplicate addon-id

### What did you expect to happen?
Upload accepted.

[2017-07-21 18:49] kewisch opened #1410 "Browser API check fails with "Warning: undefined.undefined is not supported""
The linter seems to be choking on the following code:

    chrome['contextMenus']['onClicked']['removeListener'](function(tab) {

With the following message:

    Warning: undefined.undefined is not supported

    This API has not been implemented by Firefox.

https://addons.mozilla.org/en-US/firefox/files/compare/673243...574262/file/ci.bg.pack.js#L885

[2017-07-21 18:52] telliott commented on #1409
Confirmed that this is intended behavior for understandable security reasons. I'm noting it because it's a bit strange to do before the addon has ever been reviewed, but I suspect you can just close as wontfix.

[2017-07-21 19:12] muffinresearch commented on #1410
/cc @mstriemer

[2017-07-22 16:28] jvillalobos commented on #1409
Yes, it's intended. You can change the owner account after uploading.

[2017-07-22 16:28] #1409 closed

[2017-07-24 12:24] asamuzaK opened #1413 "MANIFEST_ICON_NOT_FOUND error even if there is an icon"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
addons-linter reports MANIFEST_ICON_NOT_FOUND error even if there is an icon.

### What happened?
run web-ext lint
lint reports MANIFEST_ICON_NOT_FOUND error.

### What did you expect to happen?
No error if icon exists.

### Anything else we should know?
(Please include screenshots and any relevant fi

[2017-07-25 12:23] kewisch opened #1420 "Warn for use of chrome-extension:// in CSS files"
Some add-ons have CSS files using chrome-extension://. I am not sure if we can lint css files yet, but it would be nice to flag this so the developer knows it is not supported in Firefox.

[2017-07-26 10:57] asamuzaK commented on #1413
I think this line is the cause.
[code]
[addons-linter/manifestjson.js at master · mozilla/addons-linter](https://github.com/mozilla/addons-linter/blob/master/src/parsers/manifestjson.js#L165 "addons-linter/manifestjson.js at master · mozilla/addons-linter")

Pass:
[code]

But it fails if icon is under sub directory
Error:
[code]

Or if icon is SVG and refers to some fragment identifier.
Error:
[co

[2017-07-26 13:14] muffinresearch opened #1426 "The linter blows up processing zips using '\' as path separators."
Using https://github.com/mozilla/addons/files/1173219/InteractSyncForFirefox.zip

Running the validator directly locally outputs:

[code]

This exception should be caught and exposed to the user. Currently when validating on AMO we show:

<img width="1033" alt="upload_add-on____developer_hub____add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/28622233-b9f178a2-720b-11e7-8e2

[2017-07-26 13:30] muffinresearch commented on #1426
We could possibly need a bug filed on the server too if that opens the zip before processing the validation.

[2017-07-27 13:30] wagnerand commented on #1298
I'd like to get this in for MVP as well.

`<@cgrebs> parsing them is straight forward, agreed`

[2017-07-27 15:56] #1304 closed

[2017-07-27 17:59] mstriemer commented on #1413
We have a test for sub-directories and it looks like it's working for me. Do you have a sample extension I can test?

As for the fragment, that seems reasonable, but from my test Firefox doesn't support fragments for add-on icons. Does this work in your extension?

[2017-07-28 02:52] asamuzaK commented on #1413
Sample:
[webextensions_test-0.0.1.zip](https://github.com/mozilla/addons-linter/files/1181863/webextensions_test-0.0.1.zip)

Run web-ext.
You'll see red circle in "about:addons", blue circle in context menu.

[2017-07-28 06:28] ValentinaPC commented on #1304
Please add some STR or the label "qa: not needed". Thanks!

[2017-07-28 07:30] khris opened #1431 "validateIcons raises MANIFEST_ICON_NOT_FOUND on Windows even if icon exists"
### Describe the problem and steps to reproduce it:

`MANIFEST_ICON_NOT_FOUND` is raised when run `web-ext lint`.

1. Set icon path with files in sub-directory.
[code]
2. Run `web-ext lint` in working directory on Windows.
3. MANIFEST_ICON_NOT_FOUND

### What happened?

`MANIFEST_ICON_NOT_FOUND` even if icons exists.

### What did you expect to happen?

No error on Windows too.

### Anything else

[2017-07-28 09:10] asamuzaK commented on #1413
See also [validateIcons raises MANIFEST_ICON_NOT_FOUND on Windows even if icon exists · Issue #1431 · mozilla/addons-linter](https://github.com/mozilla/addons-linter/issues/1431 "validateIcons raises MANIFEST_ICON_NOT_FOUND on Windows even if icon exists · Issue #1431 · mozilla/addons-linter")

[2017-07-28 10:55] asamuzaK commented on #1413
I do not know if it will be helpful, but I'm converting url to native file path like this.

[webExtNativeMsg/file-util.js at master · asamuzaK/webExtNativeMsg](https://github.com/asamuzaK/webExtNativeMsg/blob/master/modules/file-util.js#L32 "webExtNativeMsg/file-util.js at master · asamuzaK/webExtNativeMsg")

[2017-07-28 18:25] mstriemer commented on #1413
Indeed. It looks like about:addons doesn't support the fragment but the context menu and browser action do. Looking in the inspector, the fragment is being escaped so `icon.svg#blue` becomes `icon.svg%23blue` and then it fails. I filed [bug 1385379](https://bugzilla.mozilla.org/show_bug.cgi?id=1385379) for this.

I'm guessing you're on Windows like in #1431?

[2017-07-28 23:41] asamuzaK commented on #1413
Yes. But AMO rejects too, so its impossible to submit an addon.

[2017-07-30 12:16] asamuzaK commented on #1413
Will you PLEASE revert this check until this issue is fixed?
It's not only Windows issue, AMO is affected too.
And it's impossible to submit an addon.

[2017-07-30 14:46] mstriemer commented on #1413
I don't see the same issue as #1431 through AMO. I can only reproduce the SVG fragment issue.

As a workaround can you use separate SVGs until this is fixed?

[2017-07-30 14:56] asamuzaK commented on #1413
I am talking about the SVG fragment issue.
It was OK before, and now it is not.

Are you going to tell all other add-on developers who uses SVG fragments to seperate their SVGs because of this issue?

[2017-07-30 15:04] mstriemer commented on #1413
I cannot update AMO on my own and I doubt we're going to be able to have a few people get together on the weekend for an off schedule push to avoid having to split SVGs. If you want to get your extension uploaded, splitting the SVG should allow that until fragments are supported.

[2017-07-30 15:12] asamuzaK commented on #1413
Then lets fix this issue ASAP.
As I mentioned above, parse icon path as URL and then convert to native file path should fix this.
If you need to support node v6, require("url") and use url.parse(icon[size], false, true) instead of new URL().

[2017-07-30 15:26] asamuzaK commented on #1413
Or, ad hoc way:
[code]

[2017-08-01 21:15] #1413 closed

[2017-08-02 07:13] asamuzaK commented on #1413
Thank you for a quick fix!

[2017-08-03 14:02] wagnerand opened #1436 "Add a switch to easily disable/enable existing rules"
In order to mitigate the risk when having more and more complicated rules, it'd be good to have a system to dynamically enable and disable existing rules without having to wait for a push.

@EnTeQuAk said it should be fairly straightforward 😊

I assume this needs a counterpart on *addons-server* for a UI?

[2017-08-03 15:34] #1321 closed

[2017-08-03 16:26] EnTeQuAk commented on #1436
Indeed it does.

[2017-08-03 18:11] erosman commented on #1298
Note: Not all remote scripts are actual LINKs. They can be a sha256 hash)
`"content_security_policy": "script-src 'self' 'sha256-qznLcsROx4GACP2dm0UCKCzCG+HiZ1guq6ZZDob/Tng='; object-src 'self'"`

Here is just a quick idea .... (in JavaScript)

[code]

[2017-08-03 18:49] erosman commented on #1298
**Note on sha256 hash**

AFA I understand, using a sha256 hash will allow any source with that hash (local or remote). In fact it makes little sense in using a hash for a local script.

[2017-08-03 19:38] april commented on #1298
Hashes are for only inline script, they don't work for remote script.  :)

[2017-08-03 20:12] erosman commented on #1298
Is that to use as an alternative for 'unsafe-inline'?

[2017-08-03 20:13] april commented on #1298
Yes, it's essentially "safe" inline.  :)

[2017-08-03 20:16] erosman commented on #1298
Thank you .. I take it back :)

[2017-08-04 02:03] kumar303 commented on #1431
^ It looks like a lot of `web-ext` users are running into this

[2017-08-04 05:11] EnTeQuAk commented on #1431
I'll take a look at this. I thought this might have been fixed with https://github.com/mozilla/addons-linter/pull/1432 but it doesn't look like it.

[2017-08-04 05:15] EnTeQuAk commented on #1431
There's also https://github.com/mozilla/addons-linter/pull/1432 blocking windows compatibility partially.

[2017-08-04 05:37] EnTeQuAk commented on #1426
I added https://github.com/mozilla/addons-server/issues/6111

[2017-08-04 07:35] ValentinaPC commented on #1321
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-08-04 09:00] wagnerand commented on #1298
Thank you @april for clarifying!

[2017-08-04 10:05] erosman commented on #1298
Just for reference:
https://www.w3.org/TR/2015/CR-CSP2-20150721/#script-src-hash-usage

[2017-08-04 10:18] julienw opened #1439 "Error message for versions like 1.4.0-pre.0"
### Describe the problem and steps to reproduce it:
Error message for a bad version format is too cryptic.

### What happened?
Used a version like 1.4.0-pre.0 for a beta version of my addon.
Got the error: "/version" should match format "versionString"

### What did you expect to happen?
Either no error, or an error explaining the format

[2017-08-04 11:08] muffinresearch commented on #1431
This is probably complicated by looking at dirs vs working with a zip which are different code paths. We'll probably want to unify everything on `/` as a path separator.

[2017-08-04 11:46] #1298 closed

[2017-08-04 12:08] asamuzaK commented on #1431
I think this should fix the issue.

[code]

[addons-linter/manifestjson.js at 9fa5bdd80fd51548e2272a17d0157f92fe20b153 · mstriemer/addons-linter](https://github.com/mstriemer/addons-linter/blob/9fa5bdd80fd51548e2272a17d0157f92fe20b153/src/parsers/manifestjson.js#L20 "addons-linter/manifestjson.js at 9fa5bdd80fd51548e2272a17d0157f92fe20b153 · mstriemer/addons-linter")

[2017-08-04 12:41] ValentinaPC commented on #1298
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-08-04 13:04] asamuzaK commented on #1431
Filed a PR #1440

[2017-08-04 13:10] asamuzaK commented on #1439
See also #1172

[2017-08-04 13:52] julienw commented on #1172
Here is my conversion function in JS:
[code]

[2017-08-04 20:42] andymckay commented on #1346
There's the change to allow the tools_menu, but I think that got sorted out in 55. We on course to look do this now that 56 has merged to Beta @mstriemer?

[2017-08-04 20:43] andymckay commented on #1335
Does the term "flag" have any meaning yet? Should there be a blocking bug for that?

[2017-08-04 20:45] andymckay commented on #1214
@cgrebs, you took this bug in April, would you mind if I did it? Not sure if you have a patch planned.

[2017-08-04 20:47] mstriemer commented on #1346
I checked that the import ran against nightly on the merge day. I went through the diff and it looked fine, tests passed. I'll give a more thorough look on Monday.

[2017-08-04 20:58] andymckay commented on #1346
👍

[2017-08-04 21:04] andymckay opened #1441 "Can't run tests on Windows 10"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

cd addons-linter
npm test

### What happened?

No tests run

### What did you expect to happen?

Tests run

### Anything else we should know?
(Please include screenshots and any relevant files.)

Under cygwin:

[code]

Similar on a normal command prompt.

[2017-08-05 00:37] andymckay opened #1443 "Can't run grunt test-no-coverage"
### Describe the problem and steps to reproduce it:

Want to run tests without all the coverage.

### What happened?

Didn't work.

[code]

### What did you expect to happen?

It worked.

### Anything else we should know?
(Please include screenshots and any relevant files.)

[2017-08-07 12:39] kewisch commented on #1420
This is a common issue when migrating between Chrome and Firefox. I don't think we should warn on all the things, but this is definitely something that could save the developer some pain.

[2017-08-08 04:41] EnTeQuAk commented on #1322
I don't really understand what should be flagged here. Are we talking about https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/webRequest and the use of the `blocking` argument? I mean, there is `XMLHttpRequest` and https://developer.mozilla.org/en-US/docs/Web/API/GlobalFetch/fetch which both seem to work in WebExtensions, both `fetch` and `webRequest` seem to be asyncronous though so t

[2017-08-08 04:55] EnTeQuAk commented on #1300
This requires `no-new-func` to be modified too but tbh right now I have no idea how we could even remotely detect that other than looking for the try/except around it and pray to god it's insides are not harmful? Enabling `allowIndirect` for `no-eval` "fixes" this warning for this specific code, then there's only `no-new-func` raising a warning.

I'm open to suggestions :)

[2017-08-08 04:57] EnTeQuAk commented on #1286
As far as I can tell the schema have a `permissions` property that marks APIs requiring a specific permission so we might be able to collect what APIs are used, collect the `permissions` and just diff with the manifest.

[2017-08-08 05:02] EnTeQuAk commented on #1286
We also have perfectly good APIs to access the schema properties since we already warn about deprecated, temporary or unsupported APIs so fetching the permissions along the way seems reasonable.

[2017-08-08 05:05] EnTeQuAk commented on #259
Maybe just restrict that to explicitly analyze `webRequest`, `XMLHttpRequest` and `fetch` for example and check that they're https? But even that could be quite noisy so maybe this depends on https://github.com/mozilla/addons-linter/issues/1436 to allow the rule to be disabled on run-time if we notice too many false positives.

[2017-08-08 05:08] EnTeQuAk commented on #1443
We switched to `jest` some time ago and all the grun tasks related to testing got removed. There is `npm run test-no-coverage` instead which should work fine for you.

[2017-08-08 05:08] #1443 closed

[2017-08-08 05:18] EnTeQuAk commented on #1441
There's quite a few open windows bugs open on Jest, see https://github.com/facebook/jest/issues/3121 and linked issues there. Not sure what to do about it, it seems `testMatch` contains something that is wrongly escaped or not escaped and thus no tests are found on your machine.

I don't have windows so I can't really test this locally. I might be able to grab have a windows laptop from family so

[2017-08-08 05:21] EnTeQuAk commented on #1323
@diox @wagnerand I wonder if this should be a real warning for other users too or just a flag in the metadata so that addons-server knows about this given that we allow uploading of sources and stuff on AMO?

Maybe a warning that says "please remember to upload sources if you submit minified or otherwise unreadable code"?

[2017-08-08 11:34] wagnerand commented on #1322
That. :)

[2017-08-08 11:36] wagnerand commented on #1323
We are doing that already with mixed results.

I think the main idea here is to have a risk factor that detects minified code.

[2017-08-08 13:53] EnTeQuAk commented on #1323
which means it'll just be added to the metadata similar to how jsLibs or other flagged files are. That sounds like a plan.

[2017-08-08 13:53] EnTeQuAk commented on #1322
Awesome! Thanks, that helps.

[2017-08-08 16:55] muffinresearch opened #1450 "Use the amo eslint config"
This will sync this repo up to use the same eslint config as the addons-frontend project.

[2017-08-09 16:16] kumar303 commented on #1391
Is this still happening? I deleted everything in my `coverage` directory, started `yarn test`, and triggered a run of all tests -- after that my `coverage` directory was still empty.

[2017-08-09 16:42] wagnerand commented on #961
Hm, I'm not sure we need to check for this.

@jvillalobos wdyt?

[2017-08-09 16:44] wagnerand commented on #1063
@EnTeQuAk is your branch https://github.com/mozilla/addons-linter/tree/feature/remove-legacy-addons doing this? What keeps us from merging it?

[2017-08-09 16:48] wagnerand commented on #1108
If Firefox allows this, I don't think the linter should fail on it. We could issue a warning though :)

[2017-08-09 16:50] EnTeQuAk commented on #1063
actually my branch is old and should be deleted. @andymckay did most of the work and I think we're in a pretty good shape now, there's a few more things like `legacyCode` that should go away but maybe we should file separate issues for them?

[2017-08-09 16:50] wagnerand commented on #1152
@vasilicamihasca Could you please see if this is still an issue?

[2017-08-09 16:51] wagnerand commented on #1335
In this case "flagging" means that it should probably be assigned a risk factor and perhaps a warning should be added for reviewers.

[2017-08-09 16:53] wagnerand commented on #1439
We probably need to be more be explicit about the version pattern we support.

[2017-08-09 16:55] EnTeQuAk commented on #1391
It's still reporting the coverage though which probably slows things down.

[2017-08-09 16:59] wagnerand commented on #1063
Yeah I think it makes sense to file issues and remove code as we come across it. Can't be that much left, can it? 😆

[2017-08-09 16:59] #1063 closed

[2017-08-09 17:00] kumar303 commented on #1391
Hah, ignore me. I thought this was an issue in `addons-frontend`; I wasn't even trying this in the linter at all. Sorry!

[2017-08-09 17:07] wagnerand commented on #930
I just ran https://github.com/FrancescoSTL/Site-Sonar/tree/0f7766de480e5da150ccbaf918c6b9b191dbc0e9 against the linter (0.22.7), and I am still getting the same stacktrace:

[code]

[2017-08-09 20:09] jvillalobos commented on #961
It looks like the new version of this is https://github.com/mozilla/addons-server/issues/6046, in which case I would agree that we need to have good checks for min and max versions.

[2017-08-09 20:13] wagnerand commented on #961
Ah, I see. Makes sense. I'm not sure the linter knows about valid appversions, so it might be something to be fixed on `addons-server`. @EnTeQuAk probably knows.

[2017-08-10 05:17] ValentinaPC commented on #1063
Please add some STR for us to check this or the label "qa:not needed". Thanks!

[2017-08-10 06:40] EnTeQuAk commented on #961
The linter does not know about app versions, amo-validator did but that was mostly a hack. It's probably best to get this validated in addons-server.

[2017-08-10 11:24] muffinresearch opened #1456 "Look at further ways to use Array methods where possible"
In updating the eslint config it came up that there are a lot of loops and the new lint config we've avoided the use of `for-of` / `for-in`.

Generally the approach taken was to do the smallest amount of changes - however, there's definitely likely to be some further opportunities to improve the loops and make more use of `map` and `reduce` etc.

From the [airbnb style-guide](https://github.com/ai

[2017-08-10 14:31] EnTeQuAk commented on #1456
All these feel like micro optimizations with no real-world use. I do get using `map` or `reduce` for these counting tasks but that's not what most of our loops look like. It also makes loops and usually very basic code enormously hard to read. I would say that I am a relatively experienced developer but whenever I'm faced with map, reduce and many other functional constructs that transform data in

[2017-08-10 14:54] muffinresearch commented on #1456
@EnTeQuAk I definitely don't want to do anything for the sake of it. However one of the reasons people care about purity is the difference between code which modifies versus creating a new list which TBH is probably a lot more important in a react code-base than it is in something like the linter.

Maybe if we ever review this stuff we might decide there's nothing to improve upon and if that's the

[2017-08-10 20:11] mstriemer opened #1459 "Fix permissions matchPattern test"
The matchPattern test for permissions has a bug in it and the tests weren't running against all cases. The test/code should be fixed.

The `it()` needs to be in a closure or the test will always run against the last value in the array. Here's a diff with a fix.

[code]

[2017-08-10 21:06] mstriemer commented on #1346
The original commit was reverted since I merged it without a review by accident.

[2017-08-11 09:19] vasilicamihasca commented on #1152
Retested this issue on all 3 AMO branches (dev,stage and production) on Firefox 57.0a1 (2017-08-10) under Windows 10 64-bit and seems that the initial error is no longer reproducible and the following message is displayed in its place:     Permissions should NOT have duplicate items (items ## 0 and 1 are identical).

@wagnerand, I have some doubts related to 2 things:
- Is it ok how the “##” are d

[2017-08-11 09:53] wagnerand commented on #1152
It seems like we're using a third party library (*ajv*) to detect and output duplicates. The notation seems ok to me, I am not sure how much we can do about finding multiple duplicate pairs. This might be an upstream bug, but I am not that familiar with *ajv*.

Summoning @mstriemer ...

[2017-08-11 13:04] ValentinaPC commented on #1285
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-08-11 14:49] #1391 closed

[2017-08-11 14:49] #1450 closed

[2017-08-12 00:17] andymckay commented on #1214
Got this in #1442 which didn't link up, sorry about that.

[2017-08-12 00:17] #1214 closed

[2017-08-12 00:23] andymckay commented on #1150
If I add in foo and bar I get a warning from the linter:

![screenshot 2017-08-11 17 21 12](https://user-images.githubusercontent.com/74699/29236005-aee71420-7eb9-11e7-8fa3-6f3f1481473d.png)

And in Nightly I get a rather verbose but helpful message in about:debugging:

![screenshot 2017-08-11 17 21 21](https://user-images.githubusercontent.com/74699/29236003-a8657fba-7eb9-11e7-9ac9-5c7a1e9f541a.p

[2017-08-12 00:23] #1150 closed

[2017-08-12 00:28] andymckay commented on #1152
Notation looks good to me too. And I'm not too worried about detecting 3 or 5 permissions. It could be optimized, but we've got the basic case sorted out. People can keep removing permissions until they get it right :)

[2017-08-12 00:28] #1152 closed

[2017-08-12 00:32] andymckay commented on #1108
In this cause the extension has a http and https match of the same domain. The permission prompt is because of https://bugzilla.mozilla.org/show_bug.cgi?id=1350277 and that's being fixed.

If you've two identical domains and protocols (eg: https://example.com twice) Firefox does not show you the prompt twice, throw an error or anything.

I don't think we should be doing anything there.

[2017-08-12 00:32] #1108 closed

[2017-08-12 00:35] andymckay commented on #1441
I'd be tempted to wait for Jest to fix it and let me retest it when they do.

[2017-08-12 00:36] andymckay commented on #1074
Note Firefox gives us this:

<img width="923" alt="screenshot 2017-08-11 17 36 26" src="https://user-images.githubusercontent.com/74699/29236153-a490dd7e-7ebb-11e7-8870-0d2610d17693.png">

[2017-08-14 12:57] muffinresearch commented on #1459
The test code is already fixed - however, the list items will break see the `FIXME` here: https://github.com/mozilla/addons-linter/blob/6109428a065ff175e97ef483d1ee9a29ef3d94ad/tests/schema/test.permissions.js#L38

[2017-08-14 13:32] vasilicamihasca commented on #1152
@andymckay  I am not sure about “##” notation. Isn’t it a typo? Shouldn't be one # in front of each digit?

[2017-08-14 15:07] andymckay commented on #1152
It does seem odd, as @wagnerand says the error string is straight from ajv:

https://github.com/epoberezkin/ajv/blob/52e944b9faabdf5895041e1687e436ff72639d52/lib/dot/errors.def#L117

We could file an issue against ajv: https://github.com/epoberezkin/ajv

[2017-08-14 16:27] wagnerand commented on #1152
I can imagine this being an abbreviation for *numbers* (**plural**), whereas *#* is usually used for *number* (**singular**)

[2017-08-16 04:28] #1199 closed

[2017-08-16 09:29] ValentinaPC commented on #1199
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-08-16 14:27] erosman opened #1473 "Validator is missing issues"
ref: `https://addons.mozilla.org/editors/review/843980/`

Today I noticed that the following showed all passed (zero warnings)

`https://addons.mozilla.org/en-US/developers/addon/whaleslide_v1/file/702610/validation`

However there are multitude of issues that it should have listed.
For example, addons has an unrecognised JQuery which usually attracts a lot of warnings ( innerHTML etc).

Here is a

[2017-08-16 15:08] wagnerand commented on #1473
That linked example uses a different jQuery file.

I'm not sure how actionable this issue is unless you can tell us exactly what pattern in what line of what file has been missed.

[2017-08-16 15:24] erosman commented on #1473
Looking at an unrecognised jQuery v2.1.4, typical unrecognised JQuery warnings are:

Looking at the addon in question, it has an unrecognised jQuery v2.1.1 (custom built)
It has 6 `innerHTML` (pretty identical/close to v2.1.4) that should have been picked up.

It also has `createElement("script")` but all of them do and they are not picked up validator at all.

[2017-08-20 02:56] Divya063 commented on #572
can I take up this issue?

[2017-08-20 09:12] tofumatt commented on #572
@Divya063 Yes, feel free to work on it, thanks 😀

[2017-08-21 14:53] Divya063 commented on #572
@tofumatt please review

[2017-08-22 09:28] ExE-Boss opened #1486 "`browser.tabs.print()` and `browser.tabs.printPreview()` are incorrectly marked as unsupported"
### Describe the problem and steps to reproduce it:
When using the Firefox Add-ons linter on a project that uses [`browser.tabs.print()`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/print) or [`browser.tabs.printPreview()`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/printPreview), it claims that Firefox hasn’t yet implemented this feature, even though

[2017-08-22 11:31] EnTeQuAk commented on #1486
This is currently blocked by https://github.com/mozilla/addons-linter/pull/1461 - once this got merged (hopefully soon) this will be fixed.

[2017-08-22 11:33] #1346 closed

[2017-08-22 12:27] tofumatt opened #1487 "Run eslint on bin/addons-linter"
JS linting/style errors aren't being caught in `bin/addons-linter`; I'm guessing we don't include it in our files to lint.

We should! 😄

This should just be a matter of adding it to the files `eslint` scans.

[2017-08-22 17:07] wagnerand commented on #1487
Mentor: @tofumatt

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-08-22 17:09] caitmuenster commented on #1439
This needs a little bit more context before we tag this as a good first bug. @EnTeQuAk, could we get your opinion on this and then decide if we should move forward?

[2017-08-22 21:49] yfdyh000 opened #1493 "linter should report wrong min version for APIs usage, based on mdn/browser-compat-data"
### Describe the problem and steps to reproduce it:
e.g. https://github.com/M-Reimer/undoclosetab/pull/9

### What happened?
No errors or warnings reported.

### What did you expect to happen?
Based on https://github.com/mdn/browser-compat-data/tree/master/webextensions, check for possible errors and report in amo validator and `web-ext lint`.

[2017-08-23 06:55] EnTeQuAk commented on #1439
So the linter currently supports https://developer.mozilla.org/en-US/docs/Toolkit_version_format plus an extension that allows beta addons according to https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Maintenance

I personally would love to support semver versioning since this is a good thing and standard but mixing semver + our toolkit version format + our beta version is quite complex and

[2017-08-23 07:01] EnTeQuAk commented on #1493
I think this is a great idea, we already have our linter use the official schema for validation but that schema is not yet versioned so either we start versioning the schema and report based on that or indeed use mdn/browser-compat-data which seems quite extensive. I don't know if the browser-compat-data contains all APIs though, maybe @andymckay knows how that's maintained?

[2017-08-23 15:16] asamuzaK commented on #1439
Just for a note.

According to [this comment](https://github.com/mozilla/addons-linter/blob/master/src/schema/formats.js#L5 "addons-linter/formats.js at master · mozilla/addons-linter") and `TOOLKIT_VERSION_REGEX` and `isValidVersionString`, version format is based on [Manifest - Version - Google Chrome](https://developer.chrome.com/extensions/manifest/version "Manifest - Version - Google Chrome")

[2017-08-23 15:22] EnTeQuAk commented on #1439
Correct.

That looks great! Give me a few days to look over those in-depth, otherwise if you're up for it we always appreciate a pull request that adds some more tests!

[2017-08-23 15:30] asamuzaK commented on #1439
Maybe it can be optimized further.

[2017-08-23 16:05] pdehaan commented on #1487
Yeah, I think ESLint only validates *.js files by default. But I think this is as easy as tweaking the package.json `eslint` script to include the `bin/*` directory as well (since those files don't include file extensions).

[2017-08-23 16:07] asamuzaK commented on #1439
By the way, why `isValidVersionString()` and `isToolkitVersionString()` separated?

[2017-08-23 16:18] asamuzaK commented on #1439
[addons-linter/test.formats.js at master · mozilla/addons-linter](https://github.com/mozilla/addons-linter/blob/master/tests/schema/test.formats.js#L11 "addons-linter/test.formats.js at master · mozilla/addons-linter")
[code]
they should be invalid?

[2017-08-24 02:16] Divya063 commented on #1487
can I take this issue?

[2017-08-24 03:02] tofumatt commented on #1487
Yes, that’s totally fine. Thanks! :-)

[2017-08-24 05:37] EnTeQuAk commented on #1439
I'd say it's just a way of splitting code, it reads more nicely inside `isValidVersionString` to return early if `isToolkitVersionString()` already matches and then we'll parse our custom additions.

I would not say so, imho they represent a version number with a git hash at the end which seems like a perfectly reasonable thing to do from a developers perspective. They don't match any of these sch

[2017-08-24 07:32] asamuzaK commented on #1439
Then it should be
`return TOOLKIT_VERSION_REGEX.test(version) || isValidVersionString(version);`
not
`return TOOLKIT_VERSION_REGEX.test(version) && isValidVersionString(version);`
you're testing `TOOLKIT_VERSION_REGEX.test(version)` inside isValidVersionString(),
so it's only waste of time?

[2017-08-24 18:06] jvillalobos commented on #1439
I think the minimal requirements for version numbers should be that:

1) Firefox accepts them.
2) [nsIVersionComparator](https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XPCOM/Reference/Interface/nsIVersionComparator) can compare them properly. Otherwise we could trigger problems with automatic updates.

With that in mind, I think those versions should be invalid.

[2017-08-25 09:50] Divya063 commented on #1487
@tofumatt Tweaking the eslint script to `"eslint": "eslint bin/* ."` is working  fine while using the command `npm run eslint`

[2017-08-25 15:40] asamuzaK commented on #1439
Can nsIVersionComparator compare SemVer?

[2017-08-28 04:49] EnTeQuAk commented on #1285
This got backed out recently.

[2017-08-28 13:42] #1285 closed

[2017-08-28 13:51] EnTeQuAk commented on #1439
So as far as I can tell Firefox only supports https://developer.mozilla.org/en-US/docs/Toolkit_version_format + the beta support for AMO queues and that's it. Unfortunately that means semver support in AMO is linked to that and a bug in Bugzilla should be filed (or maybe there is already one) first.

[2017-08-28 14:07] EnTeQuAk commented on #1439
So actually, semver should be fine in Firefox I think or at least it sounds like it's supported. Ignore my first comment then

[2017-08-28 16:42] asamuzaK commented on #1439
Thank you for clarifying.
By the way, last weekend, I was playing around with the test repository I mentioned earlier.
Please take a look.
How about withdrawing the PR I've submitted and use this repository instead?
[asamuzaK/webExtVersionParser: WebExtensions version parser](https://github.com/asamuzaK/webExtVersionParser "asamuzaK/webExtVersionParser: WebExtensions version parser")

[2017-08-29 02:08] asamuzaK commented on #1439
When comparing versions, there are some mismatches.
SemVer:
* 1.0.0 &gt; 1.0.0-a
* 1.0.0+1 === 1.0.0

nsIVersionComparator (tested with [linagora/mozilla-version-comparator: A node.js module that knows how to compare Mozilla products and addons versions](https://github.com/linagora/mozilla-version-comparator "linagora/mozilla-version-comparator: A node.js module that knows how to compare Mozilla p

[2017-08-29 07:13] #1408 closed

[2017-08-31 00:55] asamuzaK commented on #1439
I do not know C ++ well, so I checked the source of nsVersionComparator.cpp against the implementation of mozilla-version-comparator.
As a conclusion, comparison of SemVer can not be done with current nsIVersionComparator.

* Toolkit (nsIVersionComparator) accepts negative integer.
  * SemVer: 1.0.0-1 < 1.0.0-2 < 1.0.0-10 < 1.0.0-a < 1.0.0-a.1 < 1.0.0
  * Toolkit: 1.0.0-10 < 1.0.0-2 < 1.0.0-1 < 1.

[2017-08-31 09:16] diox commented on #961
@ValentinaPC could you retest? https://github.com/mozilla/addons-server/issues/6226 might have fixed this.

[2017-08-31 09:33] ValentinaPC commented on #961
So.... I don't know if your supposition is right, but if I set a `strict_max_version` to `53`, or `53.a`, or `57.*` or any nonexistent version for any webextension - no error message is displayed at submission and the max version in Dev Hub is `*`.
Are we ok with this fix?

[2017-08-31 09:43] diox commented on #961
It's better (because the submission no longer fails) but still not ideal (we should validate the versions). In any case that's not a linter bug, it's an addons-server bug. Could you re-open on addons-server so that we can close this one?

[2017-08-31 10:29] ValentinaPC commented on #961
Sure. I'll mark this verified-fixed.

[2017-08-31 10:29] #961 closed

[2017-08-31 16:42] Divya063 commented on #978
@andymckay Can I take this issue?

[2017-08-31 17:27] muffinresearch commented on #1487
@Divya063 I've tentatively added this to the upcoming milestone (if it needs to move into the next one, that's not a problem it can be updated as needed) - let us know if you have any questions.

[2017-08-31 20:04] andymckay commented on #978
We can't assign it to you, because github won't allow you to. But if you'd like to work on it, that would be great.

[2017-09-02 05:23] erosman opened #1504 "Validator: Violation of Mozilla conditions of use"
I have noticed a fair number of new warning with the latest pus.

They often relate to minified JavaScript code which seems strange.

Examples: (I will add more as I come across them)
[code]

PNG Image:
[code]

[2017-09-03 04:42] erosman opened #1506 "Validator: No longer warns about CSP"
Since the latest push, the validator no longer warns about CSP.

Example:
`https://addons.mozilla.org/editors/review/850282/`

[2017-09-04 09:03] EnTeQuAk commented on #1506
As far as I know we explicitly enabled them again since that matches current add-on policies.

See https://github.com/mozilla/addons-linter/blob/master/tests/parsers/test.manifestjson.js#L423-L426

Also… to verify issues faster and give more proper responses it'd be wonderful if you could add a little bit more detail - e.g what rules weren't warned about but you expected them to etc.

[2017-09-04 09:30] ValentinaPC commented on #1285
Verified this using AMO-dev FF55(Win 7).
@EnTeQuAk please see my results:

1. After submitting a webextension that has a restricted term in its name, a warning is displayed, but only in the validation report - expected?

2. The webextension gets auto-approved but the weight is incremented only with 10 - https://addons-dev.allizom.org/en-US/editors/review/asshat or with no value - https://addons-de

[2017-09-04 10:03] EnTeQuAk commented on #1285
Yes, this is only a notice not a warning. The results of this tagging/flagging are used later for post-review risk scoring but using bad words isn't a blocker to get something submitted so this is fine.

This is simply not yet added to the risk scoring, that's a separate issue so fine for now.

Example: https://addons-dev.allizom.org/en-US/editors/review/bitch-bitched-bitches

Fair point, this mig

[2017-09-04 12:48] diox commented on #1321
ValentinaV: include an html page in your add-on with a remote `<script>` element, like this: `<script src="http://foo.bar/my.js"></script>`

The linter should then add a warning. Note that the post-review weight part is not done, that'll be handled in #6033.

[2017-09-04 13:19] ValentinaPC commented on #1321
Verified this as fixed on AMO-dev FF55(Win 7) in what concerns the linter warning.
The weight will be checked in https://github.com/mozilla/addons-server/issues/6033.
Postfix screenshot form validation report:
![script](https://user-images.githubusercontent.com/15685960/30028184-bc2791b0-918c-11e7-91e3-b372d5626d97.png)

[2017-09-04 13:51] EnTeQuAk commented on #978
I marked this as `contrib: assigned` so you're good to work on this.

[2017-09-04 14:13] ValentinaPC commented on #1304
@diox : I see that weight will be implemented in https://github.com/mozilla/addons-server/issues/6033.
Is there anything else we can see after these changes, at validation maybe?
Thanks!

[2017-09-04 14:14] diox commented on #1304
Currently you can't see anything, no.

[2017-09-04 14:37] Divya063 commented on #978
Thanks 😄 @EnTeQuAk

[2017-09-04 14:38] EnTeQuAk commented on #1504
So the bug here is that we should not validate binary files (PNGs etc) but all of the other files listed above actually contain terms that are discouraged according to our badwords list - https://github.com/mozilla/addons-linter/blob/master/src/badwords.json

I'll fix the first issue (not touching binary files).

[2017-09-04 16:01] muffinresearch commented on #1306
This was fixed in that we now use the eslint-config-amo.

[2017-09-04 16:01] #1306 closed

[2017-09-04 16:02] muffinresearch commented on #1069
I think this is mostly fixed with the move to eslint-config-amo and the test commands have mostly been synced up.

[2017-09-04 16:02] #1069 closed

[2017-09-04 17:53] jvillalobos commented on #1285
It's intentional. Most prioritization weights are binary to avoid one factor overwhelming the others. We will probably have to make adjustments as we use it.

[2017-09-05 04:13] #1504 closed

[2017-09-05 04:37] erosman commented on #1506
The issue should have been apparent from the link I gave.

Example addon:
`https://addons.mozilla.org/editors/review/850282/`

Validator: No mention of CSP
`https://addons.mozilla.org/en-US/developers/addon/talking-webb/file/714747/validation`

manifest.json
`https://addons.mozilla.org/en-US/firefox/files/browse/714747/file/manifest.json#top`

Issue
`"content_security_policy": "script-src 'self' '

[2017-09-05 05:58] ValentinaPC commented on #1285
We can mark this verified-fixed based on above comments.

[2017-09-05 05:59] ValentinaPC commented on #1304
Based on above comments we can mark this verified fixed.

[2017-09-05 06:26] EnTeQuAk commented on #1506
As far as I know it's more that there are valid cases where it might make sense. Summoning @wagnerand

[2017-09-05 08:23] #1172 closed

[2017-09-05 08:23] #1439 closed

[2017-09-05 08:24] EnTeQuAk commented on #1172
So this got closed because semver isn't supported by Firefox thus the linter can't support it either. @asamuzaK added lots of tests that verify a more correct behavior of our version format matching.

[2017-09-05 08:25] EnTeQuAk commented on #1439
So this got closed because semver specifically isn't supported by Firefox thus the linter can't support it either. @asamuzaK added lots of tests that verify a more correct behavior of our version format matching in #1507 which formalizes this.

[2017-09-05 08:49] Divya063 commented on #1487
@muffinresearch I was wondering if changing the eslint script to `"eslint": "eslint bin/* ."` would be a right approach as all the *.js files  and files under bin folder are getting included while running `npm run eslint`.

[2017-09-05 09:21] wagnerand commented on #1506
I just re-read the pull request discussions. The reason, I asked for this (in https://github.com/mozilla/addons-linter/pull/1434#pullrequestreview-54312954) was that `unsafe-eval` is not forbidden, which is what the rest of those tests is about.

That said, @erosman is probably right in that we might want to add a warning for `unsafe-eval` (note that we can ignore `unsafe-inline`, since it's unsup

[2017-09-05 09:58] kewisch commented on #1506
Can you share more details on why unsafe-inline is unimportant? AIUI, if there is code that manages to inject DOM elements from a remote source, this could also be a script tag, which unsafe-inline will prevent. Sure, this may not be as common, but as the workaround is just making that script a separate file I don't see why we should relax this rule.

[2017-09-05 10:13] tofumatt commented on #1487
I think the best way to test this is to create a patch using your proposed solution (which sounds like it would work to me), and then create a linting error in a file in `bin/addons-linter` and also somewhere in the regular code base (a file in `src` and a file in `tests`).

[2017-09-05 10:18] kewisch opened #1516 "Inline script warning should only appear when scripts are actually executed"
### Describe the problem and steps to reproduce it:
Visit https://addons.mozilla.org/en-US/firefox/files/compare/704052...577665/file/templates/plids.extensions.popup.main.search.htm#top

![image](https://user-images.githubusercontent.com/607198/30056761-47397758-9234-11e7-8661-6f7374ba5f05.png)

### What happened?
A validator message appeared saying `Warning: Inline scripts blocked by default`, b

[2017-09-05 10:26] muffinresearch opened #1517 "Lint is not running in CI"
### Describe the problem and steps to reproduce it:

Running eslint locally I see failures - but the CI is green. Seems this regressed a while back.

### What happened?

CI is not reporting lint failures.

### What did you expect to happen?

Lint failures should fail the tests.

[2017-09-05 10:41] muffinresearch commented on #1487
This is currently blocked by #1517

[2017-09-05 10:47] wagnerand commented on #1506
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/content_security_policy says that `unsafe-inline` is entirely unsupported.

[2017-09-05 11:02] #1517 closed

[2017-09-05 12:58] wagnerand commented on #1516
Might be a good first bug.

We want to add a check in `src/rules/html/warn-on-inline.js` to make sure the type is JavaScript.

I could mentor this.

[2017-09-05 13:08] muffinresearch commented on #1487
Ok this is unblocked now, I've landed a fix to re-enable linting via CI.

[2017-09-05 15:19] EnTeQuAk commented on #1323
Implementation / Experimentation path:

**Easier, approach matching everything potentially minified:**
 * Does the file end with ".min.js"? (adds to a `could_be_minified` score)

From firefox devtools (also adds to a `could_be_minified` score):

[code]

which seems to be fairly good at what it does. WebKit in addition matches lines that are longer than 500 characters which sounds like a good idea

[2017-09-05 15:23] muffinresearch commented on #1323
Actually that seems quite reasonable. Un-minified code is very unlikely to hit that limit.

[2017-09-05 15:24] muffinresearch commented on #1323
@cgrebs this all looks really good to me. Definitely starting with the easier stuff is a very good idea.

[2017-09-05 17:05] wagnerand commented on #1516
Mentor: me.

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-09-05 17:14] wagnerand commented on #572
This got fixed in https://github.com/mozilla/addons-linter/pull/1492

[2017-09-05 17:14] #572 closed

[2017-09-05 19:13] EnTeQuAk commented on #1323
Well, if I paste some base64 string or some copied list from somewhere I'm sure this might happen. But yeah, it's still a good enough guess if weighted correctly.

[2017-09-06 11:29] #1459 closed

[2017-09-06 15:17] EnTeQuAk commented on #1506
@wagnerand we don't have any way of saying that `unsafe-inline` is unsupported, so maybe flagging it might be worth doing too now that we aim to flag `unsafe-eval` too? Especially once it get's supported?

[2017-09-06 15:50] wagnerand commented on #1506
@EnTeQuAk I am inclined to say we just ignore `unsafe-inline`.

Also, let me find out whether we plan on supporting it at some point.

[2017-09-06 15:54] wagnerand commented on #1506
According to @kmaglione, we don't plan on supporting it.

[2017-09-06 17:34] Divya063 commented on #978
@andymckay I'm a bit confused here, do the "permissions" refer to permissions in manifest.json or the  permissions used in core Permission API functionality (Permissions API)

[2017-09-06 23:20] jvillalobos opened #1526 "Support WebExtensions Language Packs in the linter"
Part of https://github.com/mozilla/addons-server/issues/6297

[Bug 1365709](https://bugzilla.mozilla.org/show_bug.cgi?id=1365709) introduces language packs that use WebExtensions packaging. We need to be able to validate them like the old validator does.

- [ ] The main thing to check for is that language packs should only be allowed to use metadata manifest properties and language pack manifest p

[2017-09-07 04:27] asamuzaK opened #1527 "version string like `1.123e5` should be valid?"
### Describe the problem and steps to reproduce it:
I don't know why you reverted #1507 in #1520, but in current implement, `1.123e5` is valid.
Is it okay to be valid?
See test build log https://travis-ci.org/asamuzaK/addons-linter/jobs/272750237#L499

Also, I noticed that isToolkitVersionString() is not an alias of isValidVersionString().
It detects toolkit specific version, that is, a version wi

[2017-09-07 07:46] EnTeQuAk commented on #1527
Yes, I plan to bring back #1507, I figured there were a few issues with it that I'm still trying to compose to have a proper list of things that need to be tested as well. As far as I remember the `beta` part of version strings are always optional and in #1507 they were a requirement in `isToolkitVersionString` which broke things and I reverted to fix this. I plan to re-open the PR once I'm done w

[2017-09-07 09:46] erosman commented on #1506
Another example
[code]

[2017-09-08 00:49] asamuzaK commented on #1527
Broke which things?

The original regexp required beta strings (or some kind of beta-like strings) too.
https://github.com/mozilla/addons-linter/pull/1507/files#diff-7201debcf0bc188361c63a0db3bede30L10
[code]
This can be optimized to
[code]
So, `TOOLKIT_VERSION_REGEX` requires at least `digit + alphabet` in the last part.
And note that original isToolkitVersionString() also returns false if there

[2017-09-08 13:03] ValentinaPC commented on #1506
Verified this on AMO-dev FF55(Win 7).
If I understood well we should show a warning for unsefe-eval as in the example provided above, but we don't. I misunderstood?
Attaching used webextension.
[eval in CSP.zip](https://github.com/mozilla/addons-linter/files/1287913/eval.in.CSP.zip)

[2017-09-08 13:13] erosman commented on #1506
There used to be a warning about CSP, regardless of its content.
For example here:
`https://addons.mozilla.org/en-US/developers/addon/preview-app-v2/file/704122/validation`

Of course, that warning was not always needed since CSP in itself is not a problem.

From what I understand, the validator was updated to only show a warning when CSP exists AND it contains `unsefe-eval`, `URL`, etc.

The upda

[2017-09-08 13:21] ValentinaPC commented on #1506
Just to be sure....

CSP -  no unsave eval => warning
![csp_-_no_eval](https://user-images.githubusercontent.com/15685960/30213421-a1af10ce-94b1-11e7-8954-2dd7398fc220.png)

CSP - with unsave eval => no warning
![csp-eval](https://user-images.githubusercontent.com/15685960/30213441-aed553da-94b1-11e7-85e2-c55faf73dac4.png)

Are ok?

[2017-09-08 13:29] wagnerand commented on #1506
Doesn't seem right to me.

The linter should raise a warning (respectively) for
1) Using a CSP that allows remote scripts, for example: `script-src https:;`
2) Using a CSP that allows eval, for example: `script-src 'self' 'unsafe-eval;`

So, the CSP `script-src https: 'unsafe-eval'` should raise two warnings.

[2017-09-08 13:37] wagnerand commented on #1506
Also, this works for me locally using the file from https://github.com/mozilla/addons-linter/issues/1506#issuecomment-328097502.

[code]

@ValentinaPC Did you test on -dev? This isn't on -dev yet.

[2017-09-08 13:37] #1506 closed

[2017-09-08 14:49] EnTeQuAk commented on #1506
I'll update the issue once this is on dev, I'll probably release a new version Monday morning.

[2017-09-11 11:19] muffinresearch opened #1535 "[tracker] Localize the Linter"
This will need additional bugs filing but this is an attempt to capture the steps needed to make the linter fully localized.

* [x] Setup locales - there's some potentially useful scripts in addons-frontend that will provide a guide for the typical mozilla way to do this.
* [x] Create a locale object to provide the gettext + sprintf etc. We use Jed for this in addons-frontend.
* [ ] Ensure all str

[2017-09-11 11:27] muffinresearch opened #1536 "[tracker] Convert code-base to async/await"
The code-base is heavily promise based. This issue is to convert all the promise-based code to instead use async/await.

This is a large task and will require being broken down into smaller pieces.

* [ ] Check and update babel transpilation steps to be async/await aware
* [ ] Convert src code to use await/async (leaving the tests as promise based initially)
* [ ] Once the src is converted and the

[2017-09-11 11:33] muffinresearch commented on #1330
Ok I've filed a tracker as a prospective outreachy focus see #1535 for details.

[2017-09-11 11:33] #1330 closed

[2017-09-11 11:38] muffinresearch commented on #978
@Divya063 this relates to the permissions the developer has asked for in the manifest.json.

[2017-09-12 05:15] #1516 closed

[2017-09-13 05:33] #1487 closed

[2017-09-13 07:35] ValentinaPC commented on #1487
Please add some STR for us to check this or the label "qa: not needed".
Thanks!

[2017-09-13 09:06] ValentinaPC commented on #1506
@EnTeQuAk : not yet on -dev? Thanks!

[2017-09-13 10:08] diox commented on #1526
Extra check from mozilla/addons-server#6350 that makes more sense in the linter:
- [ ] If it's a language pack, *force* `strict_min_version` and `strict_max_version` to be present (addons-server will validate that the versions are correct)

[2017-09-13 10:48] EnTeQuAk commented on #1506
Ah, I forgot this issue. It is now, got a release yesterday. It's on -dev and -stage.

[2017-09-13 10:51] #1323 closed

[2017-09-13 10:53] EnTeQuAk commented on #1323
I mark this as fixed for now since we have the detection, I'll add optional issues for later that are ideas for future improvements but if the current implementation works we might not need them.

It'd be nice to have retire.js integration for other reasons though so this should stay somewhat in focus.

[2017-09-13 10:58] EnTeQuAk commented on #699
Notes from #1323, that adds detection for minified code that also adds a basis for adding retire.js and other detection methods and potentially opens up the possibility of detecting potential security vulnerabilities.

Medium time intensive:

Write parser that searches for code based on https://github.com/RetireJS/retire.js/blob/master/repository/jsrepository.json - see exractors, e.g https://gith

[2017-09-13 11:37] vcarciu commented on #1516
Verified as fixed. Used the script from description and the "Warning : inline scripts blocker by default" is not displayed anymore(it was displayed yesterday with same script) :
![inline](https://user-images.githubusercontent.com/1583842/30375398-1032d994-9891-11e7-88d5-c39a8ea3ef0f.png)

[2017-09-13 11:50] ValentinaPC commented on #1506
I cannot see 2 warnings. I see no warning at validation and a warning in the report page.
![1](https://user-images.githubusercontent.com/15685960/30375868-ce67dae4-9892-11e7-8935-c6f2da71cf89.png)
![report](https://user-images.githubusercontent.com/15685960/30375873-d18f60b6-9892-11e7-9896-7ee1cd5da1e9.png)

Used the same extension as before.

[2017-09-13 12:05] wagnerand commented on #1506
Yeah, I can confirm that. @EnTeQuAk do you have time to look into this?

[2017-09-13 12:08] ValentinaPC commented on #1506
Also, when I use both options in the form:
`"content_security_policy": "script-src 'self'  'unsafe-eval' https://example.com; object-src 'self'"`
I receive 1 warning at validation and 2 warnings in the report page.
If I reverse the order and use the form:
`"content_security_policy": "script-src 'self'  https://example.com; 'unsafe-eval' object-src 'self'"`
I receive 1 warning validation and 1 warn

[2017-09-13 12:29] ValentinaPC commented on #1323
@EnTeQuAk : Could you provide one or two examples with unknown libraries or other unreadable code? Thanks in advance!

[2017-09-13 12:43] EnTeQuAk commented on #1506
Mhmm, interesting. I'll look into it later today

On Wed, Sep 13, 2017, at 02:08 PM, ValentinaPC wrote:

Links:

  1. https://github.com/mozilla/addons-linter/issues/1506#issuecomment-329147577
  2. https://github.com/notifications/unsubscribe-auth/AAIfGX7nWxpM5EKnAmbEa9VmGL153Dn7ks5sh8XagaJpZM4PLFnu

[2017-09-16 00:21] jonathanKingston commented on #1298
@april do you know if we block nonces from being used in addons? If not we certainly should reject them at review time.

[2017-09-16 01:23] april commented on #1298
I'm not 100% certain about the add-on architecture, but if a background script wanted to inject a script into the page's context, it could inject a nonce into the CSP policy, then inject the script with that nonce. That's pretty edge-case, and only would apply to dynamic nonces.

It certainly wouldn't apply to a manifest since that's not really a nonce, more of a number used forever.

[2017-09-17 09:53] erosman opened #1547 "Validator: Combine multiple CSP warnings for the same reason"
Example:
[code]

CSP:
`"content_security_policy": "script-src 'self' https://www.threatminer.org https://api.passivetotal.org https://cymon.io https://www.virustotal.com https://api.xforce.ibmcloud.com https://api.shodan.io https://www.censys.io 'unsafe-eval'; object-src 'self'"`

[2017-09-18 02:47] Croydon commented on #1439
It seems like 1.0.0-alpha is not allowed anymore? Only something like 1.0.0a

If this should be the decision then please update https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/version this page is telling something completely else.

Also

is rather mystic.

[2017-09-18 06:49] julienw commented on #1439
Yes, this is the main issue I outlined in the bug report...

[2017-09-18 09:51] apoorvasingh17 commented on #1486
@ExE-Boss Hi, can I take up this issue?

[2017-09-18 09:58] apoorvasingh17 commented on #1329
@mstriemer Hi, can I take this up?

[2017-09-18 10:01] apoorvasingh17 commented on #158
@muffinresearch Hi, can I take this up?

[2017-09-18 10:03] apoorvasingh17 commented on #1536
@muffinresearch Hi, can I take this up?

[2017-09-18 10:21] Divya063 commented on #1536
@muffinresearch I would like to work on this issue

[2017-09-18 13:04] vcarciu commented on #1486
Can you please add some STRs to this bug or mark it as "qa : not needed" ?

[2017-09-18 14:34] cosminbadescuSV commented on #1150
This issue is verified as fixed on Firefox 57.0a1 (2017-09-2017) on -dev, stage and prod under Wind7 64-bit

A warning message for the invalid permission is displayed in the validation results and the browser console.
The extensions are successfully submitted on AMO or loaded in about:debugging.

Please see the attached video:
![warning](https://user-images.githubusercontent.com/15885467/30547237-

[2017-09-19 10:48] muffinresearch commented on #1536
@apoorvasingh17 @Divya063 we currently have this issue set aside for consideration as part of [outreachy](https://www.outreachy.org/). For now it will be preferable if you can find other issues to work on, however I will be sure to let you know if this issue is not going to be worked on as part of that program.

[2017-09-19 13:06] matatk opened #1550 "Minimal code example (for scanning a ZIP)"
I'm calling addons-linter from JS code to lint built extension ZIP files.

I found the [example code](https://github.com/mozilla/addons-linter#import-linter-api-into-another-nodejs-application) a bit confusing; it seemed to imply that I needed to set `config._` to the current directory, and `config.scanFiles` to an array containing the name of the extension's ZIP file.  Eventually, I realised that

[2017-09-19 14:53] EnTeQuAk commented on #1323
@ValentinaPC you can theoretically browse through https://cdnjs.com/libraries and use anything that is `.min.js` and not in https://github.com/mozilla/dispensary/blob/master/src/libraries.json (which is the list of libraries we do know about). Afaik the risk factor increase for unknown minified code is already on -dev (or even prod? I don't remember) so you should see it working properly there. Re

[2017-09-19 14:54] EnTeQuAk commented on #1506
@ValentinaPC @wagnerand yeah, I can confirm that and it looks similar (or even a duplicate) to https://github.com/mozilla/addons-linter/issues/1547

I'll use #1547 to track this and work on it there.

[2017-09-19 15:41] EnTeQuAk opened #1551 "Don't scan flagged files for bad words"
Currently we scan flagged files, e.g `.DS_Store` etc for bad words.

[2017-09-19 15:42] EnTeQuAk opened #1552 "Don't count flagged and binary files into total size of code"

[2017-09-19 16:03] #1551 closed

[2017-09-19 16:03] #1552 closed

[2017-09-19 16:35] Divya063 commented on #1441
@andymckay @EnTeQuAk  I use windows and I'm getting this on executing the command `npm test`
![screenshot 256](https://user-images.githubusercontent.com/21216969/30603754-23708e6c-9d86-11e7-8eb1-6f23343a760f.png)
After pressing "a" to run all the tests
![screenshot 255](https://user-images.githubusercontent.com/21216969/30603806-54f6c956-9d86-11e7-9261-7e336fe5af68.png)

[2017-09-19 16:38] EnTeQuAk commented on #1441
@Divya063 please make sure you're using the latest master and run `npm install` (or `yarn install` depending on how you installed everything) to ensure eslint get's upgraded to the latest version. This got fixed in https://github.com/mozilla/addons-linter/pull/1515

[2017-09-19 20:06] mstriemer commented on #1329
@apoorvasingh17 You're welcome to work on this. It looks like there is a solution in https://github.com/mstriemer/addons-linter/commit/4efaf084bb7a5ec4b877856d1c135bc8d2c27ba6 that may work, but I haven't tried it in a while. It should give you an idea of how to solve this at least.

Thanks! Let me know if you require any assistance.

[2017-09-20 01:46] Divya063 commented on #1441
@EnTeQuAk Thanks for the update :)

[2017-09-20 03:06] Divya063 commented on #1074
@mstriemer Can I take this issue?

[2017-09-20 07:02] erosman commented on #1547
Was there a change? I see an odd warning:

[code]

`"content_security_policy": "script-src 'self' 'unsafe-eval'; object-src 'self'"`

[2017-09-20 07:56] EnTeQuAk commented on #1547
Yes, we are now warning for `unsafe-eval` too.

[2017-09-20 08:03] EnTeQuAk commented on #1074
@Divya063 go for it! It's open for contributions. Please let us know if you run into any trouble or need any assistance