[2018-08-27 16:26] jvillalobos commented on #2158
It's part of a Q4 project, but if anyone wants to tackle this before then, it should be fine.

Once the check is in place for submissions, we'll have to reach out to devs and give them some time to adjust. After that, we'll just change the names ourselves.

There are so many variations that I don't think we should try to cover them automatically.

@EnTeQuAk should I move this to addons-server then

[2018-08-27 16:27] jvillalobos commented on #2158
Or, rather, should I _also_ file an issue on addons-server?

[2018-08-27 16:44] EnTeQuAk commented on #2158
I guess both projects need a change, we currently don't have any checks in addons-linter regarding the trademark but eventually, we should warn developers ahead of time in case they're using disallowed add-on names.

So yes, both would be nice. Thanks!

[2018-08-27 17:46] Lusito opened #2160 "addons-linter doesn't allow duplicate keys in json files."
### Describe the problem and steps to reproduce it:

- Create a locale messages.json file with two entries that have the same key.
- Run web-ext lint

### What happened?
It fails with "JSON_DUPLICATE_KEY" "Duplicate keys are not allowed in JSON files."

### What did you expect to happen?

Duplicate keys should be allowed. The JSON specification does not forbid it.
I'd like for this error message t

[2018-08-28 06:50] enko opened #2162 "Linting fails because of bad word, but word is valid in non english language"
### Describe the problem and steps to reproduce it:

When I include the full [momentjs](https://github.com/moment/moment) package in my webpack bundle, I can't pass the linting step:

[code]

### What happened?

The reason for this is, that in the locale `tzm-latn` there is a translation for „day” which is „ass”: https://github.com/moment/moment/blob/develop/locale/tzm-latn.js#L42

### What did yo

[2018-08-30 13:11] Rob--W commented on #2160
(Originally reported at https://github.com/mozilla/web-ext/issues/1360 )

[2018-08-31 09:39] EnTeQuAk commented on #2160
Unless I'm mistaken https://tools.ietf.org/html/rfc7159#section-4 clearly states that keys in JSON objects *should* be unique so it's recommended to do so and I'd follow that path.

Not doing so opens the door for a huge amount of problems since in theory keys simply overwrite themselves so unless I'm mistaken your scenario wouldn't even work with regular JavaScript.

We introduced `JSON_DUPLICATE

[2018-08-31 09:39] #2160 closed

[2018-09-01 10:47] andreicristianpetcu opened #2166 "Please add theme_experiment as valid manifest key"
### Describe the problem and steps to reproduce it:
I uploaded an addon with this manifest.json

[code]

### What happened?
I got this error
![screenshot from 2018-09-01 13-45-12](https://user-images.githubusercontent.com/922368/44945237-5d5c8900-aded-11e8-8d30-d2ec8431b694.png)

### What did you expect to happen?
It should have allowed me to upload it.

### Anything else we should know?
Repositor

[2018-09-03 08:48] wagnerand opened #2168 "No longer allow jQuery 2 in add-ons"
jQuery 2.x is unsupported and as communicated to add-on developers earlier this year, will no longer be allowed in add-ons after a grace period that is now over.

When the linter detects a jQuery 2.x file, the validation should fail.

[2018-09-03 09:39] EnTeQuAk opened #2170 "Import Firefox 63 Beta schema"
Firefox 63 Beta will be released Sept 04th

[2018-09-03 09:52] #2168 closed

[2018-09-03 13:58] AlexandraMoga commented on #2168
@wagnerand  can this be tested already in -dev or should we wait for a new linter update?
Thanks

[2018-09-04 11:18] #2084 closed

[2018-09-04 14:41] AlexandraMoga commented on #2084
Could you please add STR to this issue?
Thanks

[2018-09-04 14:53] eiselzby opened #2176 "AngularJS 1.x support"
### Describe the problem and steps to reproduce it:
In `addons-linter/docs/third-party-libraries.md` is declared, that is allowed only latest version of Angular 1.x. In file `addons-linter/src/libraries.js` is banned every version till 1.7.2. Therefore extension containing AngularJS 1.7.2 library fail validation. But on webpage https://angularjs.org/ under _Download AngularJS_ button is presented

[2018-09-04 14:56] wagnerand commented on #2176
According to https://github.com/angular/angular.js/releases, the latest version is 1.7.3. Can you please use that version instead?

[2018-09-04 14:56] #2176 closed

[2018-09-04 15:05] eiselzby commented on #2176
Thank you for your answer. I will.

Couldn't be added the information about latest supported version in extension validation process to prevent similar misunderstandings, when webpages like https://angularjs.org/ are a bit out of date?

[2018-09-05 05:14] EnTeQuAk commented on #2168
This is now on -dev.

[2018-09-05 05:18] EnTeQuAk opened #2177 "Upgrade to Babel 7"
https://babeljs.io/docs/en/v7-migration

[2018-09-05 06:02] pdehaan commented on #2177
Possibly relevant/helpful: https://github.com/babel/babel-upgrade

[2018-09-05 06:15] EnTeQuAk commented on #2177
Thanks! Already found and used as part of #2175

[2018-09-05 08:37] AlexandraMoga commented on #2168
I've tried to upload an extension that included a jquery 2.x file (jquery-2.1.1) and I received the following validation results:

Full validation can be checked [here](https://addons-dev.allizom.org/en-US/developers/upload/3124c01ee8df40aa8c9fa63e8ea44948)
![image](https://user-images.githubusercontent.com/31961530/45081167-4aa0c780-b0ff-11e8-80ae-2408ffda8aec.png)

@EnTeQuAk could you please hav

[2018-09-05 08:40] EnTeQuAk commented on #2168
Yes, jQuery 2.x is now a banned 3rd party library so the error message is expected and correct.

[2018-09-05 08:43] AlexandraMoga commented on #2168
Ok, in that case I'm going to mark this issue as verified fixed on AMO -dev and stage with FF62, Win10x64

[2018-09-07 06:59] #2177 closed

[2018-09-10 07:53] AlexandraMoga commented on #2177
@EnTeQuAk  any testing required?
Thanks

[2018-09-19 09:35] diox opened #2188 "Force webextension dictionaries to provide an id"
When dealing with an extension without an `id`, Firefox extracts it from the signature. However, [it doesn't do this for dictionaries](https://bugzilla.mozilla.org/show_bug.cgi?id=1489106#c8). Therefore, we need to make sure all webextension dictionaries provide an explicit `id` themselves.

[2018-09-26 07:04] AlexandraMoga commented on #2188
Verified fixed on AMO -dev with FF62, Win10x64

![image](https://user-images.githubusercontent.com/31961530/46062770-80bbef00-c173-11e8-8bea-f9bd6db93b1b.png)

[2018-09-26 10:55] eviljeff opened #2206 "Support search engine plugins in the linter"
It would be good if the addons-linter supported search engine plugins (aka search engines; aka search plugins; aka search providers) so we're not dependant on amo-validator for them.  They're not webextensions, but not packaged like a legacy addon either.

[2018-09-26 20:39] jvillalobos commented on #2206
There's some [ongoing work](https://trello.com/c/uWf7aZaq/133-search-changes) to discontinue search engine plugins in their current form, which could make this work unnecessary. I don't know the details, but maybe @ddurst or @mconca can fill in the blanks.

[2018-09-27 20:52] greenkeeper[bot] opened #2210 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.99.0` to `1.99.1`.

🚨 [View failing branch](https://github.com/mozilla/addons-linter/compare/master...mozilla:greenkeeper%2Fsnyk-1.99.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very l

[2018-09-28 17:55] muffinresearch opened #2211 "Look at switching back to Sentry's babel-gettext-extractor lib #6457"
Looks like they've pulled in the changes from the Mozilla fork so we can switch back to it and deprecate the mozilla version ([once the frontend switches too](https://github.com/mozilla/addons-frontend/issues/6457)).

See https://github.com/getsentry/babel-gettext-extractor

[2018-09-28 19:42] jvillalobos commented on #2154
The requirement is that both `name` and `description` are required in the manifest, with a minimum length of 2 characters each. And, the _combined lengths_ of `name` and `description` should be 70 characters at most. So, in theory, the `name` could be 68 chars and the `description` 2 chars, and vice versa.

[2018-10-02 13:33] wagnerand commented on #2170
Raising to P2 because 63 release is approaching.

[2018-10-04 07:00] eviljeff commented on #2206
While the ESR60 supports them, AMO will have to continue to support the old packaging though (right @jvillalobos? We can't drop support early?) and we don't want to keep amo-validator around for another year-ish _just_ for that.

There's been an idea floated that we might just move the search engine validation into addons-server codebase though (it's quite small, and independent of the more comple

[2018-10-04 10:26] EnTeQuAk opened #2223 "Warn on nested zip files"
Following https://github.com/mozilla/addons-server/pull/9584/ the linter should warn for nested ZIP files, originally we expanded `.crx`, `.jar`, `.xpi`, `.zip` files but in theory the same problems with zip files apply with tar files and more.

We should rather warn about them or even disallow them altogether.

Originally nested .zip/.jar files were used to distribute additional software together

[2018-10-04 11:11] wagnerand commented on #2223
In the legacy world, .jar files were used to package some of the files in order to speed up loading the extension.

I will run a code search to see if we have any signed webextensions are doing that. My assumption would be 'no'.

If anything, I think it would be ok to raise a warning if we find a .zip or .jar file, as those seem to have the highest chance of ever being used.

I don't think we shou

[2018-10-04 12:55] wagnerand commented on #2223
I searched for .zip and .jar files and found none.

[2018-10-04 13:30] wagnerand commented on #2223
Fine with me!

[2018-10-04 19:38] jvillalobos commented on #2206
We shouldn't drop support, correct.

[2018-10-05 14:46] EnTeQuAk commented on #2166
I think this may be (partially) fixed by #2181 or at least initial acceptance of that key is added there.

[2018-10-05 23:44] andreicristianpetcu commented on #2166
@EnTeQuAk when will this be available on AMO? It seems that fix did not land in the current AMO version.

[2018-10-08 05:02] EnTeQuAk commented on #2166
The pull request isn't closed, I hope to land this this week, so Thursday. As I said though, I'd have to dig into this issue here deeper to understand if the new schema fixes anything in this regard.

[2018-10-08 15:10] wagnerand commented on #2166
Like other experiments, this should be gated by the `Experiments:submit` permission.

[2018-10-08 15:48] ExE-Boss commented on #2166
Or gated by `Experiments:submit_themes`, which would allow submitting theme experiments, but not API experiments.

[2018-10-08 15:50] andreicristianpetcu commented on #2166
how can I get Experiments:submit_themes?

[2018-10-08 16:40] ExE-Boss commented on #2166
It doesn’t exist yet.

As for getting it, I have no idea (maybe open a request on Bugzilla)

[2018-10-09 07:41] #2210 closed

[2018-10-09 07:41] EnTeQuAk commented on #2210
Fixed in #2226

[2018-10-09 11:19] rpl commented on #2114
In my opinion it is not a false positive, using the modified CSP the extension will be allowed to evaluate strings of code (e.g. using `eval` or `Function`), which as a side-effect it also means that the extension can take some external piece of code (e.g. by retrieving it with an HTTP request) and then evaluate it in an extension page (e.g. in a background page using `eval`).

@erosman Does the e

[2018-10-09 11:54] erosman commented on #2114
@rpl In above case, the linter reported that CSP contains "remote code execution" and that is NOT the case.

[code]

The case for 'unsafe-eval' is not the issue for this bug report.

[2018-10-09 16:35] rpl commented on #2114
we (@wagnerand and I) took a deeper look at the code that sets this warning and it looks that the part of the CSP string that is triggering the warning is `default-src * 'self' 'unsafe-inline' *;`, which will set `insecureSrcDirective` to `true` here:

- https://github.com/mozilla/addons-linter/blob/a62ed798c55bf100b6bb06862dd64097c6740cef/src/parsers/manifestjson.js#L482-L485

Then `insecureSrcDi

[2018-10-09 17:54] greenkeeper[bot] opened #2231 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.102.0` to `1.103.0`.

🚨 [View failing branch](https://github.com/mozilla/addons-linter/compare/master...mozilla:greenkeeper%2Fsnyk-1.103.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is ver

[2018-10-10 10:06] EnTeQuAk commented on #2114
@rpl @wagnerand thanks a lot for looking into that, that should indeed be fixed then

[2018-10-11 08:38] #2231 closed

[2018-10-12 14:02] spoji opened #2237 "Small typo in third-party-libraries.md"
### Describe the problem and steps to reproduce it:
The word "extensions" has a small typo inside docs\third-party-libraries.md

[2018-10-12 14:11] #2237 closed

[2018-10-15 11:23] brettz9 opened #2241 "Getting a `menus.getTargetElement is not supported` message"
### Describe the problem and steps to reproduce it:

### What happened?

Despite indicating a minimum Firefox version of 63.0 in `manifest.json`, the version in which `menus.getTargetElement` was added, the linter stated:

[code]

### What did you expect to happen?

No warning would be reported since this API is now supported.

### Anything else we should know?

See https://bugzilla.mozilla.org/sh

[2018-10-15 16:54] piroor opened #2242 "Support "menus.overrideContext" on "permissions" and "optional_permission""
### Describe the problem and steps to reproduce it:

A new permission "menus.overrideContext" was introduced by changes at https://bugzilla.mozilla.org/show_bug.cgi?id=1280347 and related bugs. Firefox ESR60 and existing release versions accept such an unknown optional permission, but the linter reports error, thus I cannot release any addon using the new feature. Please add it to the list of allo

[2018-10-15 20:52] caitmuenster opened #2243 "Stop .xpis with unsupported image types from being submitted"
Related to #[9667](https://github.com/mozilla/addons-server/issues/9667#issuecomment-429937981) on the addons-server repo.

Let's stop .xpis with [unsupported image file types](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme) from being submitted to AMO.

The linter should return a message saying that the file type is not supported.

[2018-10-16 16:21] EnTeQuAk commented on #2242
This will probably be fixed by https://github.com/mozilla/addons-linter/pull/2181 which is WIP and boggling our minds but we're focusing to get this merged and deployed asap.

[2018-10-16 16:21] EnTeQuAk commented on #2241
This will probably be fixed by https://github.com/mozilla/addons-linter/pull/2181 which is WIP and boggling our minds but we're focusing to get this merged and deployed asap.

[2018-10-16 16:43] piroor commented on #2242
Thanks! But `menus.overrideContext` is added on Firefox 64. Is it convered by #2181?

[2018-10-17 08:21] EnTeQuAk commented on #2242
Actually, I lied and you're right. It's not covered by #2181 and the linter will start supporting Firefox 64 features once we have the first beta release after the merge. So, sometime around 2018-10-22 depending on when the builds are happening.

[2018-10-17 16:03] EnTeQuAk commented on #2170
Fixed as part of https://github.com/mozilla/addons-linter/pull/2181

[2018-10-17 16:03] #2170 closed

[2018-10-17 16:11] EnTeQuAk commented on #2241
Marking this as fixed by https://github.com/mozilla/addons-linter/pull/2181 which will be cherry-picked and go live this Thursday (Oct 18th)

[2018-10-17 16:11] #2241 closed

[2018-10-17 16:40] asamuzaK commented on #2243
It warns (at least).
https://github.com/mozilla/addons-linter/blob/master/src/parsers/manifestjson.js#L380
https://github.com/mozilla/addons-linter/blob/master/src/const.js#L103

[2018-10-18 05:13] EnTeQuAk commented on #2243
There is already validation for the `icons` property happening in `src/parsers/manifestjson.js` -> `validateIcon` which also validates the images by actually opening the first part of them and reading their size.

So that functionality can be re-used for this purpose. See `validateIcons` for a bit more information on this, all that should be generalized into a `validateImage` function that has the

[2018-10-18 14:39] ioanarusiczki commented on #2170
Verified on AMO stage with FF62(Win10) - release testing was performed [here](https://testrail.stage.mozaws.net/index.php?/runs/view/13043&group_by=cases:section_id&group_order=asc)
I tested the submission with all add-on types (listed and unlisted, mixed versions) and the submission works, the add-ons were signed.

[2018-10-18 15:08] ioanarusiczki commented on #2241
Tested the submission flow here https://github.com/mozilla/addons-linter/issues/2170
Also, I tested with min version set to 63.0 and then 64.0 for a language pack and I did not receive errors while submitting it on AMO dev with FF62 (Win10)

[2018-10-19 02:24] grahamperrin opened #2247 "Discourage use of phrases such as 'WE', 'WebExtension' and 'WebExtensions' in add-on names"
Comparable to #2158

[Save Page WE](https://addons.mozilla.org/addon/save-page-we/), for example. Plus some of what's found by <https://addons.mozilla.org/search/?type=extension&q=WebExtension>, and so on.

In the context of [legacy switch off](https://github.com/mozilla/addons-server/labels/project%3A%20legacy%20switch%20off), distinguished naming is a waste of space.

[2018-10-19 22:31] Leif-W opened #2248 "src/badwords.json false positive "dago" is benign "there is" in Basque."
### Describe the problem and steps to reproduce it:

False positive from src/badwords.json.  One of my messages.json has this word in a eu-ES (Basque) language file.  The translation of "dago" is a benign "there is".

### What happened?

Submitted an .xpi to AMO site and got the error "Violation of Mozilla conditions of use."

### What did you expect to happen?

I expected a benign word in a forei

[2018-10-22 15:41] eviljeff commented on #2051
see https://bugzilla.mozilla.org/show_bug.cgi?id=1500501

[2018-10-22 15:42] eviljeff commented on #2243
yeah, duping this to #2501

[2018-10-22 15:42] #2243 closed

[2018-10-22 15:43] eviljeff commented on #2051
From https://github.com/mozilla/addons-linter/issues/2243#issuecomment-430877425

[2018-10-22 23:03] jvillalobos commented on #2247
This doesn't have the same SEO implications as #2158, but it's still worth considering for the reasons stated above. It's a product + reviewer decision. /cc @atsay @wagnerand @caitmuenster, maybe next week when we're together is a good time to talk this through.

[2018-10-23 10:47] AlexandraMoga opened #2253 ""homepage_url"s pointing to AMO websites should be restricted during validation"
Follow up for https://github.com/mozilla/addons-server/issues/9012

STR:
1. Log in to AMO dev
2. Create a new extension and add a `"homepage_url"` property pointing to addons-dev.allizom.org
3. Submit your add-on

Actual result:
Add-on passes validation without any errors

Expected result:
Homepage URLs pointing to AMO websites should trigger an error during validation to comply with the current i

[2018-10-23 15:42] willdurand opened #2254 "wrong repo"

[2018-10-23 15:42] #2254 closed

[2018-10-28 16:00] shridhar-tl opened #2258 "A bundled JS file with 1 MB in size is not being parsed. It says "File is too large to parse."."
In my package a JS file with 1MB in size is available. It is a bundle of multiple JS files. It is not being parsed as the size is huge. 1MB isn't a too bit file. Very easily this size can be reached. So kindly fix it ASAP. Because of this issue I was not able to publish a new package.

[2018-10-30 13:08] rpl opened #2259 "Prepare to prevent use of the deprecated theme property names in new webextension themes submissions"
As part of [Bug 1472740 Remove aliased property names from themes](https://bugzilla.mozilla.org/show_bug.cgi?id=1472740), we should coordinate the deprecation of these "aliased theme property names" with the addons-linter, so that we can prevent new theme submissions from using the deprecated aliased properties.

[2018-10-30 18:29] jasonsavard opened #2261 "export syntax error with es module"
When I submit a new version via the Firefox Addon dashboard I get this error...

Error: There is a JavaScript syntax error in your code; validation cannot continue on this file.
shared_bundle_1.js line 19202 column 1

I use [polymer-bundler](https://github.com/Polymer/tools/tree/master/packages/bundler) to produce this shared_bundle_1.js file.
The last line in that file is an export line...

```ex

[2018-10-30 22:50] jvillalobos commented on #2258
Can you include the XPI you were going to upload?

[2018-11-07 17:55] rpl opened #2269 "Validation for the manifest.json file reports missing files when those files are ignored"
### Describe the problem and steps to reproduce it:

The validation for the manifest.json file reports existing files as missing (e.g. MANIFEST_BACKGROUND_FILE_NOT_FOUND) if those fails are being ignored (based on the shouldScanFile option passed by web-ext lint: https://github.com/mozilla/web-ext/blob/7f90caa28aa08421879e41fe04049d40e48934b6/src/cmd/lint.js#L94).

The following STR can be used to

[2018-11-08 14:06] lukaszpolowczyk opened #2270 "Jow integrate addons-linter with vscode?"
how integrate addons-linter with vscode?

[2018-11-08 18:54] rpl commented on #2242
This issue has been fixed in #2255, which imported Firefox 64 schemas (released as part of version 1.3.7 in #2260).

[2018-11-08 18:54] #2242 closed

[2018-11-09 04:49] andreicristianpetcu commented on #2166
@EnTeQuAk  I think the new schema landed but I get one error on a page and no errors on the detailed page. Check out my screenshots. Not sure if this is normal.

![screenshot_2018-11-09 how to distribute this version developer hub add-ons for firefox](https://user-images.githubusercontent.com/922368/48243928-8b60d980-e3eb-11e8-8808-9352e7bb2790.png)

![screenshot_2018-11-09 upload add-on developer

[2018-11-09 04:50] andreicristianpetcu commented on #2166
Should I report a different bug for this issue?

[2018-11-09 11:46] greenkeeper[bot] opened #2272 "An in-range update of eslint-plugin-amo is breaking the build 🚨"
## The devDependency [eslint-plugin-amo]() was updated from `1.7.0` to `1.8.0`.

🚨 [View failing branch](https://github.com/mozilla/addons-linter/compare/master...mozilla:greenkeeper%2Feslint-plugin-amo-1.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-amo is a devDependency of this project. It **might

[2018-11-10 00:48] lmj0011 opened #2273 "mocha.js has term(s) from src/badwords.json that violates Conditions of Use"
### Describe the problem and steps to reproduce it:

### What happened?

During validation of my addon, I got a notice that a 3rd party library contained words that violates the Mozilla conditions of use.

### What did you expect to happen?

To not have any warnings that were in violation of Mozilla conditions of use.

### Anything else we should know?

here's a gist of the exact file --> https://

[2018-11-10 01:40] plroebuck commented on #2273
So, where/what's the problem since you don't specify? Provide line#s instead of a 16K LOC file.
This file is a browserified distribution so it has Mocha's source _and every other dependency package we're using_.

[2018-11-10 01:59] lmj0011 commented on #2273
So, where/what's the problem since you don't specify?

A word from this [list ](https://github.com/mozilla/addons-linter/blob/master/src/badwords.json) is in that dist file.

The addon-linter does not specify what that the word is.

[2018-11-10 02:05] plroebuck commented on #2273
Does it tell you _where_ in the file? Highlighted somehow?

[2018-11-10 02:09] lmj0011 commented on #2273
@plroebuck

it only gives a line number if it's a "Warning".

This is a "[Notice](https://mozilla.github.io/addons-linter/#package-layout)", what you see in the screenshot is all the info I got.

[2018-11-10 02:20] plroebuck commented on #2273
I glanced your badword list. Mocha itself does contain the word 'bang' and its usage is consistent with [reasonable](https://www.google.com/search?q=bang+exclamation+point) usage, not the NSFW variety. So, are we expected to change our code from valid usage b/c a word "can" mean more than one thing?

[2018-11-10 02:30] plroebuck commented on #1656
Apologies for adding on to closed issue here.

So we get notice from someone for using the term "bang" in reference to an exclamation point.
Is this linter's implication that functioning code should be rewritten if it contains _any_ words that can have more than one meaning?

[2018-11-10 02:34] plroebuck commented on #2273
[code]

[2018-11-10 02:37] ufb opened #2274 "wrong validation error - Duplicate add-on ID found?"
### Describe the problem and steps to reproduce it:
I released a new version of my extension and a little later I uploaded a hot fix version with a new version number.
### What happened?
I got a validation error saying: Duplicate add-on ID found.
### What did you expect to happen?
No error message
### Anything else we should know?
(Please include screenshots and any relevant files.)
![error](https

[2018-11-10 04:09] lmj0011 commented on #2273
https://github.com/mozilla/addons-linter/issues/2273#issuecomment-437550766

@jvillalobos

[2018-11-10 11:55] ufb commented on #2274
Just changed the version number in manifest.json to 3.9.2 and now it worked :]
Still unclear where the Duplicate add-on ID error came from

[2018-11-12 19:34] jvillalobos commented on #2274
It sounds like you tried to submit using the New Add-on button, rather than the New Version option for that specific add-on.

[2018-11-12 19:37] jvillalobos commented on #2273
It's just a warning message, so it shouldn't be a problem for submission or review. Reviewers verify whether the warning is valid or not before taking any action.

However I don't mind removing that word from the list, given that it can be found in library code.

[2018-11-12 19:39] ufb commented on #2274
Oh, you are right - it clearly says "Upload Version" at the to of the screenshot. This is weird anyway, cause I always use the "New version" link on https://addons.mozilla.org/en-US/developers/addons, which brings me to https://addons.mozilla.org/en-US/developers/addon/<addonname>/versions/submit/

[2018-11-12 19:39] #2274 closed

[2018-11-12 20:29] #2051 closed

[2018-11-13 08:37] AlexandraMoga commented on #2051
@rpl Hi, I guess this can be tested when a new linter version will be released. Do you know when this is going to happen?
Thanks

[2018-11-14 15:12] LinusU opened #2278 "Transpile before publishing"
### Describe the problem and steps to reproduce it:

I'm getting the following warning when installing addons-linter:

[code]

It seems like this project is using `@babel/register` to transform the source code into compatible JS at _runtime_. It's seems like babel is only used in the `bin/firefox-schema-import` file, which means that my library usage of this is probably safe from crashing because

[2018-11-14 19:07] rpl commented on #2051
@AlexandraMoga I just created a new release 1.4.0 and the new version should be available on npm pretty soon, I briefly chatted about this with @eviljeff over IRC and you should be able to test the new linting rules once the new addons-linter release is going to be part of the next deploy.

[2018-11-15 10:38] eviljeff commented on #2051
addons-linter has been updated on addons-server, so it's available on -dev.

[2018-11-15 10:59] wagnerand opened #2280 "Add support for 'browser_specific_settings' as an alias to 'applications' in the manifest"
Following https://github.com/mozilla/addons-server/issues/9989, let's add support for `browser_specific_settings` to the linter as well.

I haven't checked in detail what needs to be updated, but there are a few code paths that touch `applications`. We should probably also have at least one test that uses `browser_specific_settings`.

Note: This should already be in the schema, if I understand cor

[2018-11-16 14:01] AlexandraMoga commented on #2051
I have tried various static theme submissions, both valid and invalid and the linter was triggering the expected validation results:

[1] error thrown for missing background images, wrong or missing extensions
![image](https://user-images.githubusercontent.com/31961530/48624870-45d97900-e9b6-11e8-9d8f-b12be6d762b4.png)
[2] error thrown for missing header images, wrong or missing extensions
![image

[2018-11-16 14:11] jvillalobos commented on #2051
Because of the add-on type, Firefox won't run any JS files, so any attack should be fruitless. However, if people are trying to upload malicious themes, it's best that we know or don't allow it. So, I agree that they should be detected.

[2018-11-19 08:53] AlexandraMoga opened #2282 "[Static Themes] Unnecessary files included in theme packages are not detected during validation"
Follow up for #2051

STR:

1. Create a static theme package
2. Add an unnecessary file type inside, i.e. a `.js` file
3. Submit the theme through the add-on distribution page in AMO Developer Hub
4. Check the validation results

Actual result:
There are no errors thrown by the linter when files unrelated to static themes are included in the package uploaded

Expected result:
The linter should thro

[2018-11-19 08:56] AlexandraMoga commented on #2051
I have filed https://github.com/mozilla/addons-linter/issues/2282 as a follow up and I will mark this issue as verified fixed on AMo -dev with FF63, Win10x64

[2018-11-19 11:20] rpl commented on #2052
@EnTeQuAk @AlexandraMoga This should have been fixed in #2271 as part of the changes introduced to fix #2051.

[2018-11-19 11:36] AlexandraMoga commented on #2052
This was indeed verified in #2051 and the issue can't be reproduced anymore:

![image](https://user-images.githubusercontent.com/31961530/48704698-ec648a80-ebff-11e8-9a99-0609d1b7e43b.png)

Verified fixed on AMO -dev with FF63, Win10x64

[2018-11-19 11:42] #2052 closed

[2018-11-19 12:41] LinusU commented on #2278
That sounds great, let me know if you want any help with the actual work ☺️

[2018-11-19 15:50] jvillalobos commented on #2282
I was asked on IRC what kind of tests should be run on the unrelated files. I think that just showing a warning that they exist, maybe listing their names, is sufficient. We don't need to run any tests on their contents.

[2018-11-20 16:41] wagnerand commented on #2280
@eviljeff yes, we reverted the changes on MDN until this has landed on prod.

[2018-11-20 20:03] rpl commented on #2259
@msujaws you mean a script to run locally or a conversion that is meant to happen on the AMO server side?

Looping in @eviljeff, he likely knows more about our plans related to the conversion of the existing LWT themes.

[2018-11-20 21:11] msujaws commented on #2259
I mean a script that will run on AMO, changing these themes to use the non-aliased names, and which will in-turn trigger updates for Firefox clients to get the non-aliased version of the theme.

[2018-11-21 10:19] muffinresearch commented on #2158
@jvillalobos since the server-side changes are done and it appear based on https://github.com/mozilla/addons-server/issues/9267#issuecomment-432577779 to not affect specific account presumably the change on the linter side should only be a warning?

[2018-11-21 10:44] eviljeff commented on #2259
This is about webextension based themes that have been uploaded by users, rather than LWTs, afaik.

@msujaws can you log an issue on mozilla/addons-server?  A script is _possible_ but I wouldn't want to commit to something that may take significant dev & ops time without it going through Product, etc.

[2018-11-21 17:56] jvillalobos commented on #2158
Yeah, as long as we block submission on addons-server (for non-Moz accounts), it should be okay to have the linter just warn about it.

[2018-11-23 15:52] rpl opened #2289 "Evaluate turning linting rule for missing content script files into a warning"
In #1640 we have introduced a linting rule to verify that content scripts referenced in the manifest actually exists.

At the time we agreed to make it a linting error (See https://github.com/mozilla/addons-linter/issues/1640#issuecomment-344942150).

As part of the discussions in #2285, it come out that we may actually prefer to turn it into a warning and allow extensions on which the linter repo

[2018-11-27 13:44] rpl opened #2294 "Add a lint warning when both applications.gecko and browser_specific_settings.gecko are being used in the same manifest.json file"
As part of #2285, the addons-linter is going to use the `"browser_specific_settings"` manifest property as an alias of the `"applications"` manifest property when `"browser_specific_settings"` contains a `"gecko"` property.

As a follow up of this new behavior, the addons-linter should log a linting warning when both `"browser_specific_settings"` and `"applications"` have a `"gecko"` property in t

[2018-11-27 16:00] #2280 closed

[2018-11-28 09:45] freaktechnik commented on #2261
How is this module loaded?

Also tripple backticks (`) let you make a code block for more readable code in github issues: https://guides.github.com/features/mastering-markdown/

[2018-11-28 11:22] AlexandraMoga commented on #2280
Verified fixed on AMO -dev with FF63, Win10x64

Extensions using `browser_specific_settings` in the manifest are treated equally as those using `applications`

[2018-11-28 12:58] jasonsavard commented on #2261
So the shared_bundle_1.js file is loaded with this line of code...

```import { html as html$1, Polymer, IronResizableBehavior, dom, animationFrame, Debouncer, enqueueDebouncer, html$1 as html, afterNextRender, resolveUrl, IronButtonState, IronButtonStateImpl, IronControlState, PaperRippleBehavior, PaperInkyFocusBehavior } from './shared_bundle_1.js';```

[2018-11-28 13:00] freaktechnik commented on #2261
In a file that's loaded via `<script type="module">` in an extension page?

[2018-11-28 13:05] jasonsavard commented on #2261
in a file that is loaded dynamically via this javascript...

[code]

Note: The code works, it's just not passing the linter test.

[2018-11-29 15:49] wagnerand commented on #2289
I would be in favor of that.

[2018-12-04 16:49] Pike opened #2305 "Update fluent-syntax to pick up bug fixes."
### Describe the problem and steps to reproduce it:

AMO refused to sign language packs for en-US 'cause the files triggered a bug in fluent-syntax 0.7. See https://bugzilla.mozilla.org/show_bug.cgi?id=1511988 for details

### What happened?

Beta 1 busted

### What did you expect to happen?

Not bust :-)

### Anything else we should know?

I tested the different versions, 0.8 had a different bug,

[2018-12-05 07:32] EnTeQuAk commented on #2305
Ah perfect, then the fix will be going out on regular deployment on Dec 13th

[2018-12-05 16:30] EnTeQuAk commented on #2278
Sounds like a perfect plan!

[2018-12-05 16:35] EnTeQuAk commented on #2261
Loading a module like this is discouraged and I'd encourage you to simply add a `<script type="module">` statement to the extensions page or load the module via a regular `import` statement which both should work perfectly fine.

Let me know if you need any more help with that, if possible - to simplify debugging - it always helps if you're able to share a complete view of the add-on you're workin

[2018-12-05 16:35] #2261 closed

[2018-12-05 16:35] EnTeQuAk commented on #2259
Marking as "in progress" given that there's already a PR up for this, that only needs some updating.

[2018-12-05 16:36] #2258 closed

[2018-12-05 16:36] EnTeQuAk commented on #2258
@shridhar-tl if you have the time to include the XPI you're having a problem with, that'd help us a lot helping you with the problem you have.

[2018-12-05 16:40] EnTeQuAk commented on #2247
@jvillalobos quick product opinion on this given this taking into account our 2019 focus?

[2018-12-05 16:42] EnTeQuAk commented on #2206
I looked at this again and implementing it in the linter should be fairly easy too. We most recently added a lot of support for new file types so linting an XML file for search plugins shouldn't be too much effort.

[2018-12-05 16:43] EnTeQuAk commented on #2166
No, this is not a bug, you need the `Experiments:submit_themes` permission to submit these kinds of add-ons. @wagnerand may be able to help you with this.

I'm closing this issue since the underlying problem got fixed with #2181

[2018-12-05 16:43] #2166 closed

[2018-12-05 16:45] LinusU commented on #2278
#2309 🎉

[2018-12-05 17:07] jasonsavard commented on #2261
The library module must be loaded dynamically, what is your suggested alternative code that will pass the linter test?

[2018-12-05 18:52] jvillalobos commented on #2248
It's fine to remove.

[2018-12-05 18:54] jvillalobos commented on #2247
It might still apply, but let's hold off until we have a clear plan.

[2018-12-06 12:52] jasonsavard opened #2312 "JavaScript syntax error when using an encapsulated function in a module"
module2.js

[code]
I get this linter error:
JavaScript syntax error
Error: There is a JavaScript syntax error in your code; validation cannot continue on this file.
module2.js line 8 (last line of file) column 1

The code actually works and the linter should pass the test.

Here is a sample extension file

[test.zip](https://github.com/mozilla/addons-linter/files/2653113/test.zip)

[2018-12-06 12:54] jasonsavard commented on #2261
FYI The cause of the error is actually this #2312

[2018-12-06 15:02] Callek opened #2313 "Please switch fluent lint errors to not block addon signing"
We would like fluent files in language packs to still give messages about issues but not actually block language pack signing/publishing.

I'm flagging @Pike and @flodolo to comment and give this a thumbs up from a localization team perspective.

Some background:
For the past few releases and early on we've had issues that were flagged by AMO as errors with fluent, however these issues are not blo

[2018-12-06 15:12] flodolo commented on #2313
Thanks Callek, I think this describes the situation perfectly.

In general, we have safeguards in our build process to guard us against issues. In both cases, we ended up with a broken build process, when the builds were actually fine.

[2018-12-11 07:30] #2278 closed

[2018-12-11 07:41] #1493 closed

[2018-12-11 08:07] freaktechnik opened #2317 "Report unsupported APIs based on MDN compat data"
#2290 added checks based on `strict_min_version` against the MDN compat data. It however ignores features that are not supported at all, since those should be reported by the schema and aren't dependent on the `strict_min_version`. However the compat data differentiates between Firefox for Android and Firefox desktop, meaning it could warn about many features either of the browsers does not suppor

[2019-01-03 08:11] AlexandraMoga opened #2346 "Addon validator has a 45 char limit for the add-on name while the edit details form has a different limitation"
STR:

1. Log in to AMO -dev
2. Create a new add-on package and make sure that the manifest `"name"` has more than 45 characters
3. Submit your add-on through the dev hub distribution page
4. Observe the validation results

Actual result:
An error is triggered for the "name" field which exceeds the 45 character limitation

Expected result:
Since the Name field in Dev Hub is more flexible now - it a

[2019-01-03 08:12] AlexandraMoga commented on #2346
from eviljeff:

[2019-01-03 08:59] EnTeQuAk commented on #2346
That change is being implemented directly on the linter though so we could lift it early before the waffle is being enabled. https://github.com/mozilla/addons-linter/blob/master/src/schema/updates/manifest.json#L66-L68

[2019-01-05 06:25] erosman opened #2349 "Firefox 65: Add userScripts.onBeforeScript"
Test extension:
https://addons.mozilla.org/en-US/firefox/addon/firemonkey/

[2019-01-07 08:02] EnTeQuAk commented on #2349
It already is supported by the linter since #2325 - this version will go live this Thursday.

[2019-01-07 08:02] #2349 closed

[2019-01-17 11:23] AlexandraMoga opened #2368 "Images uploaded as static theme headers/backgrounds can hide unwanted files"
Steps to reproduce

1. Open the following theme product page - https://addons.allizom.org/en-US/firefox/addon/hiddenmandala/
2. Right click on the Add to Firefox button and download the theme archive
3. Open the archive and click on the  `.jpg` image (while still inside the archive)

Actual result:
The `.jpg` image contains hidden files

Expected result:
The linter should verify that the file cont

[2019-01-17 11:34] EnTeQuAk commented on #2368
I don't quite follow, I downloaded the theme archive, extracted it and the JPG file is a regular jpeg file and I don't see any other hidden files in there. Am I missing something?

[2019-01-17 11:40] EnTeQuAk commented on #2368
Now I see what this is about…

[code]

[2019-01-17 11:57] EnTeQuAk commented on #2368
So, we can't really prevent this. To be fair, you could also have just packed the .7z file into your .xpi and we'd more or less allow it. We only flag obviously problematic files, we can't prevent anything else really.

Unless there's a clear attack vector here which I don't really see, I'm going to close this.

[2019-01-17 11:57] #2368 closed

[2019-01-18 12:16] #2305 closed

[2019-01-18 12:16] #2313 closed

[2019-01-20 18:19] EdwardCaulfield opened #2376 "Add-On Validation fails, even when there are no warnings or errors"
### Describe the problem and steps to reproduce it:

I am attempting to update an existing FireFox Add-On by uploading a new ZIP file and I am being informed "<em:type> in Ihrer install.rdf (1) stimmt nicht mit der ID Ihres Add-ons auf AMO (10) überein".  Roughly translated this means that the <em:type> in my install.rdf file doesn't match the ID on the Add-On.

There are several problems with thi

[2019-01-21 07:14] AlexandraMoga commented on #2313
@EnTeQuAk Does this require QA? If so, please add some STR.
Thanks

[2019-01-21 07:16] AlexandraMoga commented on #2206
@EnTeQuAk is a new linter version available on -dev yet?

[2019-01-21 10:38] wagnerand commented on #2376
Thanks for filing this report. Please see the responses inline below.

I am not sure what you mean by "original file". However, technically, this error is correct. In fact, there is already another add-on with the ID specified in your manifest.json (*{6df06f37-3d37-4b59-bd5e-5b03d74bc9ad}*) which is not an extension, but a theme. Thus, the type does not match.

The file you attached to this issue

[2019-01-21 11:59] EdwardCaulfield commented on #2376
Thank you very much for getting back to me so quickly on this topic.  My apologies for including the install.rdf file.  I had experimented with adding it as a result of the error message and thought that I had deleted it for the final report.

Even after the removal of the install.rdf file from the Zip file, I am getting the same error message:
![image](https://user-images.githubusercontent.com/26

[2019-01-21 12:05] wagnerand commented on #2376
Can you give me the link your add-on that you took the second screenshot from, please?

[2019-01-21 12:07] wagnerand commented on #2376
It seems you are trying to submit an extension with the same add-on ID as an existing theme.

Note that the add-on ID must be unique for each add-on. It is not a common ID shared among all add-ons.

Also, you cannot submit an extension as a new version of an existing theme. You have to submit it as an entirely new add-on.

[2019-01-21 12:46] EdwardCaulfield commented on #2376
Thank you for your continued assistance.  I found my mistake and it appears that I was operating under the influence of a massive cloud of stupid... It was the theme I was working under, not the Add-On itself. Sorry to have bothered you with this.

[2019-01-21 12:50] wagnerand commented on #2376
No worries, I'm glad we sorted it out!

[2019-01-21 12:50] #2376 closed

[2019-01-21 15:40] AlexandraMoga commented on #2206
I've checked with several examples on -dev and I was able to reproduce some errors (expected)

- if the `.xml` file is invalid:
![image](https://user-images.githubusercontent.com/31961530/51483350-8502bc80-1da1-11e9-91a1-535ebd4f708a.png)

- if the `ShortName` or 'Description` are missing:
![image](https://user-images.githubusercontent.com/31961530/51483379-9cda4080-1da1-11e9-946d-be6a15669e03.png

[2019-01-21 15:54] EnTeQuAk commented on #2206
Interesting, `no_xmlns.xml` for example is clearly [tested](https://github.com/mozilla/addons-server/blob/l10n-extract-2019-01-21-8a7fd4adaf/src/olympia/devhub/tests/test_tasks.py#L1437)

I checked on -dev and you're right, this is very unexpected, especially since most errors are raised properly from what I see.

I'll look into it.

[2019-01-22 13:41] AlexandraMoga commented on #2206
Verified fixed on AMO -dev with FF64, Win10x64

I've re-validated some of the bad/invalid  .xml types and errors are now detected:

Here is proof:

- invalid params and/or templates
![image](https://user-images.githubusercontent.com/31961530/51539052-aa540100-1e5b-11e9-91ed-815124bbcea4.png)
- update urls
![image](https://user-images.githubusercontent.com/31961530/51539075-bb047700-1e5b-11e9-94dd-

[2019-01-22 15:30] AlexandraMoga commented on #2305
I'm not sure how relevant this is in this context, but I have submitted several language packs on AMO -dev and they were correctly signed.

@EnTeQuAk if there is anything else that I could check, please let me know.

[2019-01-23 09:44] Alien426 opened #2381 "Add-on ID comparison is case-sensitive when new version, case-insensitive when new add-on"
### Describe the problem and steps to reproduce it:
Critical error when uploading new version: "The add-on ID in your manifest.json or install.rdf (CheckCase@xxx) does not match the ID of your add-on on AMO (checkcase@xxx)"
Critical error when uploading new add-on: "Duplicate add-on ID found."

### What happened?
Signing of the add-on was prevented in both cases.

### What did you expect to happen

[2019-01-30 10:29] EnTeQuAk opened #2409 "Configure renovate"
Get inspiration from addons-frontend

[2019-01-30 15:01] #2409 closed

[2019-01-31 11:01] wagnerand opened #2416 "Update to node 10"
Let's update to node 10.

[2019-01-31 11:07] EnTeQuAk commented on #2416
This will have to be done in coordination with web-ext and carefully, given that addons-linter and web-ext are installed on peoples machines.

[2019-01-31 11:18] EnTeQuAk opened #2418 "Import Firefox 66 beta schemas"

[2019-02-04 10:07] #2418 closed

[2019-02-05 07:57] AlexandraMoga commented on #2418
Is there any QA required?

[2019-02-05 07:58] AlexandraMoga commented on #2409
Could you please add STR or the label qa:not needed?
Thanks

[2019-02-05 09:11] EnTeQuAk commented on #2418
I looked at the patch again, the changes are really small and I don't even think we'll be (easily) able to prepare an add-on that tests that.

I'll mark as no qa, thanks for the follow up.

[2019-02-11 13:10] wagnerand opened #2441 "Intermittent test failure"
[code]

[2019-02-11 15:11] dmoneyballer opened #2442 "linter: icons found in manifest not found in package"
### Describe the problem and steps to reproduce it:
When uploading a browser extension it says icons can't be found.
(Please include as many details as possible.)
I uploaded my extension to the chrome webstore and now would like to do the equivalent on firefox.  I had an issue with the manifest not being at the root of my extension so i repackaged my .zip so the manifest is at the root and it says

[2019-02-13 13:25] lunu-bounir opened #3170 "Addon Validation Error"
Please attach a copy of your add-on, and fill in the following information:

[sqlite-manager.zip](https://github.com/mozilla/addons/files/2860499/sqlite-manager.zip)

* Whether this error occurred during the submission of a new add-on, a new version of an existing add-on, a new file in an existing version, or an upload to the standalone validator.

a new version of an existing add-on

* Whether yo

[2019-02-15 22:21] wagnerand opened #2455 "Error if default_icon is empty"
We should probably follow Firefox and error if `default_icon` is empty. https://bugzilla.mozilla.org/show_bug.cgi?id=1419109

[2019-02-18 12:07] zimocode opened #2457 "Error if optional_permissions include more than one values"
Error if optional_permissions include more than one values, whether the value is valid or not.

[2019-02-19 14:36] rpl opened #2462 "Look into handling the deprecated keyword used in the API schemas"
### Describe the problem and steps to reproduce it:

While working on the changes needed for #2283 we noticed that the "deprecated" keyword is not currently being handled, because 'src/schema/validator.js' is actually registering an handler for a  `"deprecated" format`, whereas it is actually a `keyword` and not a `format` (there is actually no `"deprecated" format` used in our WebExtensions API s

[2019-02-19 14:56] rpl opened #2463 "Turn MANIFEST_THEME_LWT_ALIAS into a linting error once support for these aliases is removed in Firefox"
### Describe the problem and steps to reproduce it:

As a follow up for #2259, once the support for these LWT theme aliases is going to be removed from Firefox, we should turn the `MANIFEST_THEME_LWT_ALIAS` (which is being added as part of #2283) from a linting warning to a linting error.

Based on https://bugzilla.mozilla.org/show_bug.cgi?id=1472740#c10, the linter should start to mark this as a

[2019-03-07 11:05] sudipt1999 commented on #1679
@AlexandraMoga  I would like to work on this issue

[2019-03-07 11:06] sudipt1999 commented on #1685
I would like to work on the bug

[2019-03-11 12:15] #2259 closed

[2019-03-12 08:04] AlexandraMoga commented on #2259
@rpl can we already verify that the properties mentioned in https://github.com/mozilla/gecko-dev/commit/5b052494ce948cff59bbb1692919df7ea19b1220 are no longer supported by the linter?

[2019-03-15 04:59] Alien426 commented on #2442
It is case sensitive. Either rename the icon files to lower case or change it in the manifest.

As a side note: You should really consider moving to pure JavaScript/HTML. Such a tiny extension ...
Without Bootstrap and jQuery it's below 100 kB. Bootstrap and jQuery are over 8x that size!

[2019-03-15 13:01] #2442 closed

[2019-03-15 16:09] jumbosushi opened #2498 "Linter fails on await import"
### Describe the problem and steps to reproduce it:

I have a following code in my extension as content script.

[code]

### What happened?

When I try to load the extension. the linter fails at `import`

![image](https://user-images.githubusercontent.com/9669739/54445393-e8ee9500-4701-11e9-9505-e6e1d6c9a1ff.png)

### What did you expect to happen?

Linter to pass

### Anything else we should know

[2019-03-19 10:50] EnTeQuAk opened #2505 "Import Firefox 67 beta schemas"

[2019-03-19 15:19] AlexandraMoga opened #2506 "JavaScript heap out of memory validation error generated for addons with large JS files"
**STR:**

1. Log in to AMO -dev
2. Upload an add-on that has some large JS files (see attached example)
3.  Check the validation message

**Actual result:**
The validation fails with an unexpected error on AMO.

The actual error that prevented the submission is:
`FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory`

**Expected result:**
The erro

[2019-03-20 01:55] donbidon opened #2510 "Received an empty response from the server; status: 500"
### Cannot upload new version of add-on
v0.1.0, 1st version, "manifest.json" contains `"homepage_url": "https://addons.mozilla.org/addon/php-manual-language-keeper/"` and uploaded successfully.
v0.1.0, 2nd version, "manifest.json" contains `"homepage_url": "https://github.com/donbidon/PHP-Manual-Language-Keeper"`, I got
[code]
error when trying to upload.

[PHP Manual Language Keeper 0.1.0.zip](ht

[2019-03-20 15:44] jvillalobos commented on #2248
Mentor: @EnTeQuAk

[2019-03-20 15:51] caitmuenster commented on #1685
Hey @sudupt1999, welcome! This one's all yours. :)

[2019-03-22 22:18] RizwanSyed357 commented on #2248
Hi, I'd like to work on this if possible? This will be the third bug I've worked on for Mozilla. Cheers :)

[2019-03-25 08:14] EnTeQuAk opened #2515 "Update jest config (setupTestFrameworkScriptFile is deprecated)"
[code]

[2019-03-25 09:31] EnTeQuAk commented on #2510
You really shouldn't receive a 500 error tbh, is that reproducible? Maybe it was an intermittend?

In any case, this is the validation output for your 0.1.1 version - the manifest.json is actually valid.

[code]

I'm going to close this for now but please feel free to reply at any time and we'll re-open if there's an actual issue to fix.

[2019-03-25 09:31] #2510 closed

[2019-03-25 09:44] EnTeQuAk commented on #2498
Unfortunately `await import` is currently a stage-3 proposal and thus [not supported by our parsing library](https://github.com/eslint/espree/issues/309).

We'd have to port to use https://github.com/babel/babel-eslint/ or similar to add support for this. I'm unclear about whether this is something we want to do.

cc @rpl for a second opinion.

[2019-03-25 09:47] EnTeQuAk commented on #2457
Can you provide a bit more context about the why and a few examples?

Usually schema changes like that should be implemented upstream inside Firefox first and then land in the linter at a later stage.

[2019-03-25 10:03] EnTeQuAk commented on #2455
Given https://hg.mozilla.org/mozilla-central/rev/d7bf0d21448d and it's follow-ups landed with the Firefox 66 schema update I think we now already do that.

I see an error `"/browser_action/default_icon" should match pattern "\\S"` for an empty `default_icon`, thus closing.

[2019-03-25 10:03] #2455 closed

[2019-03-25 10:04] EnTeQuAk commented on #2441
This only happened on appveyor right? Or does it happen on travis too? I haven't seen it much recently

[2019-03-25 10:06] EnTeQuAk commented on #2381
This should be moved to [addons-server](https://github.com/mozilla/addons-server/issues/new) instead? That's where the checking is actually done.

I'll do that in a bit. Closing here for now.

[2019-03-25 10:06] #2381 closed

[2019-03-25 11:50] eyalroz opened #2517 "Non-useful error message when an icon is not found"
### Describe the problem and steps to reproduce it:

People trying to update/upgrade their legacy extension with a manifest.json can easily fail to specify the correct location for an icon file, and the linter error doesn't help them realize how to fix the problem.

1. Follow this link: [removedupes_0.3.17_tbird.xpi](https://app.box.com/s/crt6yf2dqcz1wqlarapvy8khvv7jzvt9)
2. Use the download butto

[2019-03-25 11:58] eyalroz opened #2518 "Inscrutable warning message for legacy extensions"
### Describe the problem and steps to reproduce it:

1. Follow this link: [removedupes_0.3.17_tbird.xpi](https://app.box.com/s/crt6yf2dqcz1wqlarapvy8khvv7jzvt9)
2. Use the download button link to obtain the XPI file
3. Lint it using the currently-deployed ATN linter (I used ATN itself, as an extension author)

### What happened?

I get, among others, the following warning:

### What did you expect

[2019-03-25 12:27] AlexandraMoga opened #2519 "LWT alias deprecation warning for 'headerURL' doesn't link to the correct instructions"
**STR:**

1. Upload a new static theme that is using the `headerURL` property on AMO
2. Check the validation warnings

**Actual result:**
The warning mentions that the manifest is using a deprecated LWT alias, but the instruction link is pointing to the new `colors` properties - see https://mzl.la/2T11Lkc

**Expected result:**
The instruction link should point to https://developer.mozilla.org/en-U

[2019-03-25 13:29] rpl commented on #2498
@EnTeQuAk I took a quick look on bugzilla and searchfox for the actual status of the dynamic import on Firefox (and if there are known issues when using it in a WebExtension):

- the dynamic import is disabled by default in Firefox 66 release builds, it has been recently turned on for all the channels, starting from Nightly Firefox 67: [Bug 1517546 - Enable dynamic module import by default](https:

[2019-03-25 13:45] #2505 closed

[2019-03-25 17:20] caitmuenster commented on #2248
Hey @RizwanSyed357, welcome! This one's all yours. If you have any questions, please mention the issue mentor in the comments!

[2019-03-26 08:01] AlexandraMoga commented on #2505
@EnTeQuAk does this require any QA?
Thanks

[2019-03-26 09:45] donbidon commented on #2510
Thanx.

[2019-03-26 11:44] EnTeQuAk commented on #2498
Marking this as p4 then, as support will most certainly propagate once that feature is lifted out of stage 3.

[2019-03-29 08:31] AlexandraMoga opened #2528 "Duplicate validation errors triggered for invalid JSON in addon manifests"
STR

1. Create an add-on package
2. Make sure that your manifest.json has a syntax error, i.e an extra `, ` (see attached example)
3. Submit the addon on AMO

Actual result:
Two JSON parsing errors are returned for the same invalid entry

Expected error:
The JSON parsing error is received only once

Notes:
- reproduced on AMO -dev with FF66, WIn10x64

Example: [manifest syntax errors.zip](https://

[2019-03-29 17:02] Mozilla-GitHub-Standards opened #2529 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-03-30 15:34] zimocode commented on #2457
Hi, it's my extension.
[smartup.zip](https://github.com/mozilla/addons-linter/files/3025650/smartup.zip)

[2019-04-02 15:01] wagnerand commented on #2441
Yes, so far I have only seen it on appveyor I think.

[2019-04-02 15:02] wagnerand commented on #2441
Just seen it three times in the latest round of dependency updates.

[2019-04-03 11:22] EnTeQuAk commented on #2441
We should move to travis windows workers really, appveyor is very unreliable at best. Afaik web-ext already did that so we might be able to steal some config.

[2019-04-10 14:25] #2457 closed

[2019-04-16 18:21] vaindil commented on #2158
This is already being enforced (my add-on can't have "for Firefox 57+" in the name), but the [add-on policies page](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/AMO/Policy/Reviews#Content) has not been updated. I just ran into this issue for an add-on and had search to find this issue here.

[2019-04-16 19:51] caitmuenster commented on #2158
Thanks @vaindil! I can look into updating this.

[2019-04-17 11:53] lidel opened #2553 "src/badwords.json false positive: "Cum" is short for "Friday" in Turkish"
### Describe the problem and steps to reproduce it:

The

https://github.com/mozilla/addons-linter/blob/402884cbab96980283327dd1a7c6d2bb1c0ac71c/src/badwords.json#L91

triggers `MOZILLA_COND_OF_USE`   `tr_TR` translations of day names such as https://github.com/samsonjs/strftime/blob/v0.10.0/strftime.js#L227:

[code]

### What happened?

False-positive `MOZILLA_COND_OF_USE` is displayed.

### What

[2019-04-17 15:41] caitmuenster commented on #2248
Hey @RizwanSyed357, how's it going with this bug?

[2019-04-17 15:46] caitmuenster commented on #1685
Hey @sudipt1999, how's it going with this bug?

[2019-04-17 20:45] RizwanSyed357 commented on #2248
Hey - sorry, may you please un-assign this bug? I've been crazy busy and didn't get time to work on it.

Thanks again :)

[2019-04-17 20:52] caitmuenster commented on #2248
No worries, @RizwanSyed357! We'll see you around. :)

[2019-04-19 20:19] mconca opened #2556 "Warn about deprecated proxy APIs"
The linter should begin warning that the following APIs will be deprecated in Firefox 71:
- proxy.register
- proxy.unregister
- proxy.onProxyError

This issue can be tracked in [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1545811).

[2019-04-23 18:17] eviljeff opened #2869 "validate the size of the images inside the theme zip"
Currently we just limit the size of the zip to 7MB, whereas it's the size of the images _inside_ we care about.   We should instead (in addition?) count the file sizes of the images because zip compression can result in larger images than 7MB for a <7MB zip file.

(Actually we care that the file contents, when encoded as base64, together with the rest of the xml in the svg, come to less than 10mb

[2019-04-25 18:00] #2529 closed

[2019-04-25 18:19] muffinresearch commented on #67
I'm going to wontfix this since I don't see us getting to it.

[2019-04-25 18:19] #67 closed

[2019-04-25 20:00] jvillalobos opened #2562 "Show warning when an extension requests broad host permissions"
When an extension's host permissions include `<all_urls>` or masked URLs like `*://*.mozilla.org/*`, a warning should be shown to the developer with the following message:

This issue is planned as a Q3 project, so we still need to refine the messaging and possibly the cases in which we will flag. I'm filing now to open up discussion.

[2019-04-28 15:55] poelon commented on #1952
quite similar, retard is flagged as bad word but in French retard means delay!

[2019-04-30 07:32] iYung commented on #2248
Hello, can I work on this bug?

[2019-04-30 22:38] caitmuenster commented on #2248
Hey @iYung, we've put a pause on this issue for the moment for evaluation.

Would you be interested in working on #1685 instead?

[2019-05-01 15:28] keganlance opened #2847 "Management permission is not accepted"
### Describe the problem and steps to reproduce it:
Add the management permission to optional_permissions. Try to upload it to the addons store.

### What happened?
WebExtension is rejected.

### What did you expect to happen?
WebExtension is accepted and the management permission in optional_permissions is ignored.

### Anything else we should know?
The reason this is very useful is the fact this

[2019-05-11 02:59] iYung commented on #1685
Hello, can I work on this? I asked to do issue #2248 but was directed here.

[2019-05-13 14:20] PilzAdam opened #2585 "Received an empty response from the server; status: 403"
### Describe the problem and steps to reproduce it:

Add-on verification fails with an error message from the server.

* Go to "Upload New Version" of an existing (private) add-on in developer hub
* Click on "Select a file..." and select .xpi of new version of the add-on

### What happened?

Verification fails with the following message:
[code]

### What did you expect to happen?

Addon verifies c

[2019-05-13 19:28] caitmuenster commented on #1685
Hey @iYung, go for it!

[2019-05-14 22:05] melvin2016 commented on #1685
Should we need to check if the permission mentioned int the manifest file is of nativeMessaging?
Currently no checks are implemented in manifestjson parser.
@EnTeQuAk @caitmuenster

[2019-05-15 15:44] jvillalobos commented on #1931
Mentor: @EnTeQuAk

[2019-05-15 15:46] jvillalobos commented on #2273
We're removing the bad words list because it's causing more confusion than it helps. So, closing this.

[2019-05-15 15:46] #2273 closed

[2019-05-15 15:48] wagnerand opened #2591 "Remove bad words list"
We keep seeing reports for words that would be a bad one in one language but ok in another one. We decided to remove the entire bad words list.

[2019-05-15 15:48] wagnerand commented on #2248
Closing in favor of https://github.com/mozilla/addons-linter/issues/2591

[2019-05-15 15:48] #2248 closed

[2019-05-15 15:49] wagnerand commented on #1952
Closing in favor of https://github.com/mozilla/addons-linter/issues/2591.

[2019-05-15 15:49] #1952 closed

[2019-05-15 15:49] wagnerand commented on #2553
Closing in favor of https://github.com/mozilla/addons-linter/issues/2591.

[2019-05-15 15:49] #2553 closed

[2019-05-15 15:50] wagnerand commented on #1679
Closing in favor of https://github.com/mozilla/addons-linter/issues/2591.

[2019-05-15 15:50] #1679 closed

[2019-05-15 15:50] wagnerand commented on #2151
Closing in favor of https://github.com/mozilla/addons-linter/issues/2591.

[2019-05-15 15:50] #2151 closed

[2019-05-15 15:51] wagnerand commented on #2057
Closing in favor of https://github.com/mozilla/addons-linter/issues/2591.

[2019-05-15 15:51] #2057 closed

[2019-05-16 11:51] #2591 closed

[2019-05-17 05:13] devcer commented on #1931
Hey, can I work on this?

[2019-05-20 17:47] caitmuenster commented on #1931
Hey @devcer, good to see you! 👋🏼 Go for it! We'll tag this as 'assigned' when you have a PR up. :)

[2019-05-23 03:14] Riajyuu opened #2606 "Can't Validate import() and Side-effect import"
### Describe the problem and steps to reproduce it:
My addon uses dynamic import() and side-effect import, both supported in latest Firefox 67.0 but returns with syntax error, report here: https://addons.mozilla.org/en-US/developers/upload/eefe1d13e88841e884a4a52fa5da5617

(Please include screenshots and any relevant files.)

[src.zip](https://github.com/mozilla/addons-linter/files/3210123/src.zip

[2019-05-23 08:15] AlexandraMoga commented on #2591
Verified fixed on stage with Fx66, Win10x64

I've submitted several add-on packages that used to trigger the "Violation of Mozilla conditions of use" warning and I can confirm that the warning doesn't show up anymore.

This is an example:
[3 term-violation - test.zip](https://github.com/mozilla/addons-linter/files/3210948/3.term-violation.-.test.zip)

[2019-05-24 05:05] devcer commented on #1931
Hi, I was able to fix the paths and submitted a PR. created a build and tested my add-on. However, my test cases fail with a common issue which I cannot resolve. can someone help? PFA of the screenshot below.
<img width="1120" alt="Screenshot 2019-05-24 at 10 32 50 AM" src="https://user-images.githubusercontent.com/3799600/58303855-94594b80-7e0f-11e9-9b50-6c4ab3448103.png">

[2019-05-25 18:45] melvin2016 commented on #1685
@iYung @EnTeQuAk @caitmuenster someone please guide on checks to be done ?

[2019-05-25 18:46] PilzAdam commented on #2585
I found the underlying issue: I had set `network.http.sendRefererHeader` to `1` in Firefox, [which only sends a referer header when "clicking on a link"](http://kb.mozillazine.org/Network.http.sendRefererHeader#Possible_values_and_their_effects). This seems to have triggered some kind of server-side XSS protection, which then results in a 403 answer.

Is this behavior intended?

[2019-05-27 07:58] Riajyuu commented on #2606
dup of #2498

[2019-05-27 07:58] #2606 closed

[2019-05-28 09:02] EnTeQuAk opened #2612 "Throw errors for reserved file names"
linter side implementation of https://github.com/mozilla/addons-server/issues/11425

[2019-05-28 15:45] #2612 closed

[2019-05-30 10:34] AlexandraMoga commented on #2612
This has been verified in https://github.com/mozilla/addons-server/issues/11425
Follow up question are addressed there.

[2019-05-31 10:45] EnTeQuAk opened #2618 "Regression: Reserved filenames are not scanned in subfolder"
Because of a small issue reserved filenames are not properly scanned in a subfolder.

[2019-05-31 11:07] #2618 closed

[2019-06-02 21:05] sean-adams opened #2621 "CRX3 files fail"
### Describe the problem and steps to reproduce it:

Linting a .crx file that is in CRX3 (rather than CRX2) format fails.

### Anything else we should know?

This stems from the package dependency on `crx-parser`. I've submitted a PR that fixes this issue (https://github.com/shyiko/node-crx-parser/pull/2) but considering the library hasn't been published in 4 years I'm not optimistic that it'll ge

[2019-06-03 17:03] caitmuenster commented on #2166
Closing the loop here: this permission is restricted by design because we do not want to have experiments signed and distributed through AMO. You can still sideload extensions with experimental APIs through Nightly or Beta / Dev Edition.

More information is available here: https://webextensions-experiments.readthedocs.io/en/latest/

[2019-06-03 17:41] andreicristianpetcu commented on #2166
Can't we at least get it signed as an unlisted extension? It only works in Nightly anyway. @caitmuenster

[2019-06-03 17:53] caitmuenster commented on #2166
@andreicristianpetcu Right, they're designed to be sideloaded on Nightly or Dev Edition because signatures aren't required on those channels.

The reason unlisted extensions get signed is because they are intended to be self-distributed to the public and signing is required for release and Beta.

[2019-06-03 18:21] andreicristianpetcu commented on #2166
I don't like sideloading. I will wait for the api to be finished.

[2019-06-03 21:18] RangerHume3 commented on #2166
when i have more  free t6ime to-throw a fucking away Ass Wipes folks >>>

On Mon, Jun 3, 2019 at 12:21 PM Andrei Petcu <notifications@github.com<mailto:notifications@github.com>> wrote:

I don't like sideloading. I will wait for the api to be finished.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/mozilla/add

[2019-06-04 11:49] EnTeQuAk opened #2623 "Import Firefox 68 schema"
There is already a `FIREFOX_68_0b6_RELEASE` tag so we should import the schema as soon as possible.

[2019-06-04 14:47] #2623 closed

[2019-06-04 15:07] EnTeQuAk commented on #2623
QA: There's various changes in the Webextension API as you can see in the pull request.

A few things I noted that may be relative easy to test to verify this works as expected are:

* There's now a `dark_theme` type for static themes
* The whole new `captivePortal` API seems to be completely undocumented for now, at least there is now a new `captivePortal` permission that can be used and a new `c

[2019-06-04 15:07] kewisch commented on #1931
@EnTeQuAk can you help @devcer here?

[2019-06-04 17:36] muffinresearch commented on #1931
The problem here is that cli has moved, so the reference to the mock needs to be updated.

Seeing the patch, I'm not sure about making this change in a direction of namespacing. The way that module resolution currently by looking in `src` first then `node_modules` is largely for convenience and whilst that does mean the issue in the OP is possible, I'm not sure if namespacing is the best direction

[2019-06-05 06:32] AlexandraMoga commented on #2618
Verified fixed on -dev with Fx67 Win10x64

Reserved files are now caught when included in subfolders:
![image](https://user-images.githubusercontent.com/31961530/58935001-c0ac8a80-8774-11e9-9cfa-47617acc4579.png)

[2019-06-05 08:21] EnTeQuAk commented on #1931
My experience here regarding patterns in the JavaScript world is not the best but looking at addons-code-manager it seems that most of the imports are local `import ... from ./foo/bar`-style. addons-frontend kinda uses the same import structure as addons-linter so I'm wondering if this is actually a big problem that needs fixing?

Haven't had the time to play around with it much tbh.

[2019-06-05 08:45] AlexandraMoga commented on #2623
Verified on -dev with Fx67. Win10x64

First, I've uploaded several add-ons of various types to see if there are any regressions. This part is working as before

@EnTeQuAk regarding the new supported properties:

- `dark_theme` doesn't seem to be recognized as a theme type. My understanding was that `dark_theme` should be identified the same as `theme` inside the manifest.
However, if i'm trying to

[2019-06-05 14:20] kewisch commented on #2154
@andreeaNeamtiu will be working on this.

[2019-06-05 15:12] suhailsinghbains commented on #2223
Hi, Is this bug free to work on? Would love to work on this.
Thanks

[2019-06-06 07:37] EnTeQuAk commented on #2623
Thanks for testing this!

Regarding the `dark_theme` part, if you were able to submit it, that already verifies that it's working. That it's not being identified as a theme is a bug on addons-server, mind filing one? We can fix it there, given that it's a very recent feature I think it's fine to fix that later.

This one is hard, I verified it using a local addons-linter build so I think that shou

[2019-06-06 08:05] AlexandraMoga commented on #2623
Thanks!
I've filed https://github.com/mozilla/addons-server/issues/11593 as a follow up for the `dark_theme` issue

[2019-06-07 12:23] erosman opened #2634 "Invalid CSP not detected"
ref:
[code]
manifest.json

[code]

@wagnerand

[2019-06-07 16:43] caitmuenster commented on #2154
Hey @andreeaNeamtiu, can you hold on this? This was part of a larger project that is on hold indefinitely and we're not ready to accept patches for this issue.

[2019-06-12 20:33] diox opened #2642 "Disallow submissions with a guid > 255 characters"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
- Submit an add-on that has an `id` in its manifest that obey the `@foo` format but is longer than 255 characters

### What happened?
- Validation passes, but you get a 500 error (https://sentry.prod.mozaws.net/operations/olympia-dev/issues/5942419/?query=is:unresolved)

### What did you expect to hap

[2019-06-13 17:29] asamuzaK commented on #2498
Now stage 4
[Dynamic import (`import()`) to stage 4, per 2019.06.04 TC39 + editor … · tc39/proposals@b04295f](https://github.com/tc39/proposals/commit/b04295ff4af51c143c62df62947ae7cb25759691)

[2019-06-14 14:16] #1797 closed

[2019-06-14 14:20] muffinresearch commented on #1788
Is this still reproducible for optional permissions?

[2019-06-14 14:25] #1547 closed

[2019-06-14 14:32] muffinresearch commented on #1473
This has mostly been dealt with due to Jquery updates and #1273 should cover anything else.

[2019-06-14 14:32] #1473 closed

[2019-06-14 14:33] muffinresearch commented on #1426
Wontfix

[2019-06-14 14:33] #1426 closed

[2019-06-14 14:35] muffinresearch commented on #1335
There are now doorhangers for this to confirm it in-product. Closing.

[2019-06-14 14:35] #1335 closed

[2019-06-14 14:40] muffinresearch commented on #1326
Closing this out in favour of looking in a different direction.

[2019-06-14 14:40] #1326 closed

[2019-06-17 05:54] whitevo opened #2647 "The filetype you uploaded isn't recognized."
### Describe the problem and steps to reproduce it:
Choosing addon folder.
Creating .rar file with winrar.
Uploading .rar file

### What happened?
Error with youtube addon.rar
Please make sure to report any linting related issues on GitHub
Your add-on failed validation with 1 error.

    The filetype you uploaded isn't recognized.

### What did you expect to happen?
No errors.

[2019-06-17 16:10] wagnerand commented on #2647
the RAR format is different from ZIP. Only ZIP files are accepted.

[2019-06-17 16:10] #2647 closed

[2019-06-20 20:41] #2642 closed

[2019-06-26 10:38] #2621 closed

[2019-06-26 10:55] muffinresearch commented on #2634
@erosman to make it easier for someone who doesn't necessarily have reviewer access, would it be possible for you to provide more info in the bug report rather than link to reviewer pages?

[2019-06-26 11:36] EnTeQuAk opened #2658 "Update to EsLint v6"
WIP PR: https://github.com/mozilla/addons-linter/pull/2652

[2019-06-26 12:10] erosman commented on #2634
@muffinresearch The relevant information that was included in the post is:
`"content_security_policy": "script-src 'self' object-src 'self'",`

That can be tested by entering it into any manifest.json

Furthermore, the developer link was given for the validator result which is not on reviewers interface. Can't it be accessed by the dev team?

The addon in question is: `https://addons.mozilla.org/e

[2019-06-26 13:27] muffinresearch commented on #2634
If you assume minimal prior knowledge then that would make for a better bug report. As originally filed any reader is having to guess at the what the issue you're reporting actually is.

The template for bug reports has headings to help here, e.g. "Describe the problem and steps to reproduce it", "What happened?", "What did you expect to happen?" and so on.

In addition a screenshot of the specifi

[2019-06-26 13:40] erosman commented on #2634
I assumed developers have access to `https://addons.mozilla.org/en-US/developers/addon/kiwiback/file/3020642/validation`
Do they not?
If not, I was not aware of it.

That was the reason I thought giving a link would resolve any queries.
That is how we have been doing it previously.

For example: #2114 #2086 #1943 #1708 #1767 #1547 ........ etc

I also left a ping for Andreas who does have access t

[2019-06-26 15:51] muffinresearch commented on #1931
After discussing this in the triage we've decided that the the problem isn't best solved by the current approach. Since this problem is currently not impacting us massively we're going to work on the basis that we'll reconsider this should it become a problem in the future.

[2019-06-26 15:53] #1931 closed

[2019-06-26 17:45] muffinresearch commented on #2634
Yes, validation reports should be accessible.

However, currently there's not enough information so that the reader (who may not be an admin reviewer) understands why it's a problem and what the expected change would be.

- Why is the CSP error false?
- Are both messages incorrect or just one?
- Should the message be improved or removed. If it can be improved, what should the message say?

If the

[2019-06-26 18:52] erosman commented on #2634
As evident from the posted snippet, there is no allowance remote code execution

Only 1 message relates to CPS and this bug report.

As per topic title, it is a false report.

Just looking at the corresponding code snippet that was posted in the first post, i.e. `"script-src 'self' object-src 'self'"` should be enough to ascertain the cause of the issue without even having a need to look at the li

[2019-06-27 11:21] #2515 closed

[2019-07-03 06:53] AlexandraMoga commented on #2515
Please add STR or the label qa:not needed
Thanks

[2019-07-04 07:41] Shubhamchinda commented on #1685
Hey @caitmuenster, can I take this up?

[2019-07-04 08:50] wagnerand commented on #1685
@Shubhamchinda Yes, this is free for anyone to take!

[2019-07-09 19:22] amccausl opened #2677 "Linting support for all icons in manifest.json"
### Describe the problem and steps to reproduce it:
Icon validation only validates the root `icons` property of the manifest.

[code]

### What happened?
No error

### What did you expect to happen?
Expected to get error when icon defined in the manifest is missing for any of the valid icons.  Includes:
[code]

### Anything else we should know?
Related to: mozilla/web-ext#1653

[2019-07-09 19:35] RangerHume3 commented on #2677
Whats This about  Unknown Factors appearing upon my e-mail >???  Ben Hume
3rd

On Tue, Jul 9, 2019 at 1:22 PM Alex McCausland <notifications@github.com>
wrote:

[2019-07-11 00:10] NeoInversion opened #2836 "Addon Validation Error"
Please attach a copy of your add-on, and fill in the following information:
[Crunchyroll HTML5.zip](https://github.com/mozilla/addons/files/3379772/Crunchyroll.HTML5.zip)

* Whether this error occurred during the submission of a new add-on, a new version of an existing add-on, a new file in an existing version, or an upload to the standalone validator.
Submission of a new add-on, just to get my ad

[2019-07-11 08:56] #2677 closed

[2019-07-16 09:39] EnTeQuAk opened #2691 "Import Firefox 69 schema"
With the merge already happened we should import the Firefox 69 schema.

[2019-07-16 10:18] Shubhamchinda commented on #1685
Hey @wagnerand , I need help on how to proceed on this issue.
Thanks :)

[2019-07-16 11:03] wagnerand commented on #1685
@Shubhamchinda Hi, what help do you need?

[2019-07-16 11:15] Shubhamchinda commented on #1685
I read all the comments, but I couldn't figure out properly that where and what changes are needed to be done.

[2019-07-17 22:08] peiying2 opened #2696 "Move locale bn-BD to bn"
We are going to merge the two bn-* locales into one to fully utilize the community resources. AMO Linter has only bn-BD. We want to sync up with the rest of the localized products/projects. The plan is

Dev:
- AMO Linter creates an bn folder at repo
- Move bn-BD repo content to bn repo and confirm it's all there
- Remove bn-BD repo

Pontoon (l10n):
- Pontoon dev migrates the data to bn (this inclu

[2019-07-17 22:13] peiying2 commented on #2696
@entequak

[2019-07-19 11:56] wagnerand commented on #2463
To be honest, I am not sure I agree with the timeline in aforementioned bug comment. Doing so prevents themes and updates to be submitted for the current release version, which is where the majority of our user-base are.
It will also exclude ESR for a longer period, which is another concern.

What do you think about keeping this a warning until at least until 71 hits release (assuming the Firefox

[2019-07-19 12:06] rpl commented on #2463
@wagnerand keeping them as a warning sounds ok to me too.

In the patch that we are landing on Firefox 70 we are also changing the warning message to point out explicitly that Firefox >= 70 will ignore the deprecated aliases and so the linter warnings will also mention the new expected behavior once the Firefox 70 webext schema API will be imported in the linter.

In the meantime I've added the `s

[2019-07-19 12:24] wagnerand commented on #2463
Oh wait, we won't actually exclude submissions for those users since they are on versions that already support the new aliases, right? I assume the new aliases were added before 68?

If so, then we should actually merge this soonish, to avoid users accidentally submitting files with old aliases.

Sorry for that, I misinterpreted the initial impact of this change.

[2019-07-19 12:34] rpl commented on #2463
Looking at the compatibility table on MDN (https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme#Colors) both LWT aliases and the related chromium-compatible property names are available way before 68.

Yes, that was my thought and original intention with #2694, avoid that new submission may contain the ignored property name by mistake.

Looping in @nt1m to dou

[2019-07-19 17:39] jarrodldavis opened #2702 "`snyk` should be a development dependency"
### Describe the problem and steps to reproduce it:
`snyk` has been added as a production dependency for this package when it appears to only be used for development purposes.

### What happened?
I upgraded [`web-ext`](https://github.com/mozilla/web-ext) to version `3.1.1` from `3.0.0`. I noticed a lot of additional transitive dependencies were added to my `package-lock.json`, and most of those ne

[2019-07-22 10:49] #2463 closed

[2019-07-22 12:10] AlexandraMoga commented on #2463
@wagnerand can this be verified already or do I need to wait for the next linter release?

[2019-07-22 12:30] wagnerand commented on #2463
You'll probably want to wait for a linter release. I think @EnTeQuAk will do one shortly.

[2019-07-22 14:56] wagnerand commented on #2691
This introduces a new permission `normandyAddonStudy`. Does that permission need gating on AMO?

[2019-07-22 17:54] championshuttler commented on #2696
cc @ruchikabgosain/

[2019-07-22 19:05] ruchikabgosain commented on #2696
Hello @peiying2 can i work on this?

Thankyou @championshuttler :)

[2019-07-22 19:07] peiying2 commented on #2696
As long as the team gives the A-OK, I am good with that!

[2019-07-23 08:56] EnTeQuAk commented on #2691
Maybe, but technically those permissions won't be usable by regular add-ons anyway and are gated inside Firefox - https://searchfox.org/mozilla-central/rev/4436573fa3d5c4311822090e188504c10c916c6f/toolkit/components/extensions/Extension.jsm#149 - so this shouldn't block this and explicit gating would be a separate feature maybe?

[2019-07-23 08:57] #2691 closed

[2019-07-23 11:13] #2696 closed

[2019-07-23 17:20] EnTeQuAk opened #2714 "Expected icon at "..." to be NaN pixels wide but was 32."
Regression from #2678, the following manifest.json throws an unexpected warning:

[code]

`Expected icon at "tests/fixtures/default.png" to be NaN pixels wide but was 32.`

[2019-07-23 17:55] #2714 closed

[2019-07-23 20:22] pdehaan commented on #2269
I just encountered this today while trying to ignore an included vendor file in our add-on, except [interestingly] now this is an **error** and not a **warning**:

[code]

So in my case, our add-on is including a third party script, but I don't necessarily care about any code warnings or errors in that file, but I want to avoid the `MANIFEST_BACKGROUND_FILE_NOT_FOUND` since the file is there, I ju

[2019-07-24 09:30] muffinresearch commented on #2585
I have reproduced the behaviour on -dev. The main difference I can see between `network.http.sendRefererHeader`: `1` and the default `network.http.sendRefererHeader` :`2` is that setting it to `1` removed the referer header.

Perhaps there's a code path causing the 403? I suspect this is a server issue not a linter one, so I'll transfer this across so we can investigate.

[2019-07-24 09:33] muffinresearch commented on #2562
@jvillalobos is this still something for q3, and has the discussion happened already?

[2019-07-24 09:35] muffinresearch commented on #2556
@rpl @EnTeQuAk is this something that needs special casing or will schema changes cover it?

[2019-07-24 09:37] EnTeQuAk commented on #244
We most recently talked about this and it still isn't quite easy.

What we can do in the meantime is maybe distribute the schema linting package as a separate package that allows it to be used in IDEs.

Other rules can be used too, e.g most of our JavaScript rules are written to be eslint compatible, but distributing other linting paths like the manifest.json parser might be harder and needs some

[2019-07-24 09:40] EnTeQuAk commented on #259
Removing the unclear labels, as this is a good idea to add a warning. I don't think it's high priority for now though.

[2019-07-24 09:42] #379 closed

[2019-07-24 09:42] EnTeQuAk commented on #379
Looking at https://github.com/thejoshwolfe/yauzl#limitted-zip64-support this is supported in a way that should work for us. We don't accept zips larger than a few hundred megabytes anyway.

Closing.

[2019-07-24 09:45] EnTeQuAk commented on #380
That is indeed a perfect idea. That would have to touch `getFileAsStream` and `getChunkAsBuffer`, ideally moving the check into it's own method.

[2019-07-24 09:46] EnTeQuAk commented on #391
I'm going to close this, as it's never going to happen or can be taken into account when we do significant changes to that file.

[2019-07-24 09:46] #391 closed

[2019-07-24 09:48] EnTeQuAk commented on #542
addons-server has specific tests for xml-bombs so we aren't affected by that on AMO.

When I developed this on addons-server I figured that there aren't good libraries in the JavaScript world that won't need significant engineering effort to implement these checks.

With that in mind and AMO being safe against XML bombs I'm going to close this.

[2019-07-24 09:48] #542 closed

[2019-07-24 09:48] muffinresearch commented on #2518
Firefox hasn't supported legacy extensions since Firefox 57.

AMO no longer supports extensions for Thunderbird either. Please re-file this issue at https://github.com/thundernest/addons-server as that's the right place to get support for https://addons.thunderbird.net/

[2019-07-24 09:48] #2518 closed

[2019-07-24 09:52] muffinresearch commented on #2506
@EnTeQuAk @bqbn do you know what memory allocation we have for the linter task runs or is it set to the default?

[2019-07-24 09:55] EnTeQuAk commented on #675
This seems to be handled by fd646c2dd59e4623df511b5d9de41cfc13220eca

[2019-07-24 09:55] #675 closed

[2019-07-24 09:59] EnTeQuAk commented on #895
I'm going to close this, it may not be as nice as it could be but things seem to work nicely during recent development. I don't think we have the manpower to master a refactor here anytime soon anyway.

[2019-07-24 09:59] #895 closed

[2019-07-24 10:01] muffinresearch commented on #2247
@jvillalobos any further thoughts on this or can we close it out?

[2019-07-24 10:01] EnTeQuAk commented on #930
I ran the most recent version of the linter against that add-on and can't reproduce this error anymore.

Closing.

[2019-07-24 10:01] #930 closed

[2019-07-24 10:02] #2247 closed

[2019-07-24 10:03] muffinresearch commented on #2223
@suhailsinghbains please feel free to work on it if you are still able to.

[2019-07-24 10:04] muffinresearch commented on #2211
Note they are still awaiting Babel 7 changes so that might be something worth considering.

[2019-07-24 10:05] EnTeQuAk commented on #1036
I think it did, and we can re-use that approach for other components if needed. `getConfig` is currently only used twice where it's supposed to be used.

[2019-07-24 10:05] #1036 closed

[2019-07-24 10:08] muffinresearch commented on #2158
The outstanding action here is to add warnings here in the linter.

[2019-07-24 10:09] muffinresearch commented on #2162
This was removed in https://github.com/mozilla/addons-linter/pull/2592

[2019-07-24 10:09] #2162 closed

[2019-07-24 10:10] EnTeQuAk commented on #1248
@bqbn do you have time to look into that? Should we open a bugzilla bug for reference?

[2019-07-24 10:12] EnTeQuAk commented on #1182
Going to close this in favor of #1273 as it'll fix most of the mentioned issues afaik.

[2019-07-24 10:12] #1182 closed

[2019-07-24 10:14] muffinresearch commented on #2059
@EnTeQuAk can we close this roll-up? I'm not sure how much we should worry about the last step, but the rest are filed as other issues.

[2019-07-24 10:15] muffinresearch commented on #158
I'm going to close this out since it's unlikely to be a priority ever.

[2019-07-24 10:15] #158 closed

[2019-07-24 10:18] EnTeQuAk commented on #1276
@muffinresearch ping if there's any way bringing this back to the teams attention maybe? The most recent schema updates went through nicely and weren't much work but that most certainly won't be the case all the time.

[2019-07-24 10:19] muffinresearch commented on #1938
@diox should this be an upstream bug in yauzl?

[2019-07-24 10:21] muffinresearch commented on #1793
@mstriemer should this be handled via the schema rather than directly here?

[2019-07-24 10:21] EnTeQuAk commented on #1945
`accentcolor` and `textcolor` have been deprecated and migrated recently.

A quick look through the schema shows that most other color related properties are reusing `ThemeColor` (theme.json) or `ColorValue` (browser_action.json) and are validated properly.

With that, I'm going to close this issue.

[2019-07-24 10:21] #1945 closed

[2019-07-24 10:23] EnTeQuAk commented on #1286
Actually, is this a duplicate of #978?

[2019-07-24 10:27] muffinresearch commented on #2517
Neither legacy nor Thunderbird extensions are not supported on AMO. You'll probably want to ask for support here: https://github.com/thundernest/addons-linter/ or https://github.com/thundernest/addons-server/

[2019-07-24 10:27] #2517 closed

[2019-07-24 10:28] EnTeQuAk commented on #1564
This has actually been tackled as much as possible by fc1ddbcb363b3a603513eca63b5f5f8498be1ee0

[2019-07-24 10:28] #1564 closed

[2019-07-24 10:29] EnTeQuAk commented on #1310
This isn't really a thing to do anymore.

[2019-07-24 10:29] #1310 closed

[2019-07-24 10:30] muffinresearch commented on #2441
@wagnerand Is this still an issue?

[2019-07-24 10:31] EnTeQuAk commented on #2441
Yes, appveyor is still unreliable from time to time.

[2019-07-24 10:31] muffinresearch commented on #2131
@EnTeQuAk would it be possible to add more specific actionable instructions so this can be opened up to a contribution?

[2019-07-24 10:35] muffinresearch commented on #2312
This needs investigation into where the error is, presumably it's related to an upstream dependency.

[2019-07-24 10:37] #2059 closed

[2019-07-24 10:37] EnTeQuAk commented on #2059
Yeah, we can just leave the remaining issue as a standalone open

[2019-07-24 10:38] EnTeQuAk commented on #2211
https://github.com/getsentry/babel-gettext-extractor/pull/17 for tracking.

[2019-07-24 10:39] muffinresearch commented on #2346
Blocked on content optimization.

[2019-07-24 10:41] wagnerand commented on #2441
For the record I have also seen this failure locally, but it's more rare than on appveyor.

[2019-07-24 10:42] EnTeQuAk commented on #2556
I think they need to be added to https://github.com/mozilla/addons-linter/blob/d3a36ec608f742f6330e125e32e3ee56b9a2818f/src/const.js#L147 + tests which shouldn't be too much work.

I can take a look at that, unfortunately I must have missed this issue in my email inbox.

[2019-07-24 10:51] muffinresearch commented on #2634
Since being able to fix this depends on having something to test with and contributors don't have access to reviewer tools - here's a minimal test case that allows the issue to be reproduced:

[sarle-wasshog-cobst.zip](https://github.com/mozilla/addons-linter/files/3426440/sarle-wasshog-cobst.zip)

[2019-07-24 11:26] erosman commented on #2634
Indeed it is and the error should indicate CSP error/invalid instead of
`"content_security_policy" allows remote code execution in manifest.json`

[2019-07-24 11:26] muffinresearch commented on #1276
Yep, I've asked for a timeline here: https://bugzilla.mozilla.org/show_bug.cgi?id=1243516#c10

[2019-07-24 13:15] vcarciu commented on #2714
Verified as fixed using

[code]

No warnings were displayed.

[2019-07-24 14:13] vcarciu commented on #2677
Verified as fixed for

[code]

[2019-07-24 15:53] mstriemer commented on #1793
There's an experiments.json file that has the schema. Looks like that could be used to validate the experiment manifest properties, and maybe it already is? Looks like that schema was updated around the time this issue was filed.

As for the schema provided by the extension, I'm not sure if there's a schema for that yet. Using the linter on a local experiment could be annoying with the false posit

[2019-07-24 16:12] willdurand commented on #2211
🎉 https://github.com/getsentry/babel-gettext-extractor/pull/17

[2019-07-24 19:15] jvillalobos commented on #2562
It's not part of Q3, but I think it's okay to have it as a P3. @kewisch, what do you think of the wording and the cases where we should flag?

[2019-07-25 06:37] AlexandraMoga commented on #2463
Verified fixed on stage with Fx68, Win10x64

Deprecated LWT props are raising a linting error now:

![image](https://user-images.githubusercontent.com/31961530/61851478-c7779400-aebf-11e9-8b4b-606b553fff14.png)

[2019-07-25 09:41] #2211 closed

[2019-07-25 18:08] bqbn commented on #2506
I don't remember doing any memory configuration for node. I don't even know how/where node is called in this case (even though I guess it's on the celery instances)?

Can one of you tell me how node is called by what? Then I can go check our settings for sure.

[2019-07-25 18:12] bqbn commented on #1248
Sure, a bugzilla ticket is fine. Is this to figure out how to call node with certain parameters? Please (if possible) point me to the line of code where and how node is called (I assume this is celery calling node, but not 100% sure).

[2019-07-25 19:57] ruchikabgosain commented on #2519
Hey @AlexandraMoga is this issue still available? Let me know :)

[2019-07-25 21:37] caitmuenster commented on #2519
Go for it @ruchikabgosain!

Mentor: @EnTeQuAk

[2019-07-26 10:30] wagnerand commented on #2519
@AlexandraMoga mzl.la/2T11Lkc links to https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme#Aliases which looks to me is the link we want to show.

I think the actual fix here would be to add `headerURL` and any other missing aliases to that table.

[2019-07-26 14:26] ruchikabgosain commented on #2519
Hi @wagnerand , so what exactly do what i need to do, can you please provide me little bit more details? Thank you!

[2019-07-29 08:42] wagnerand commented on #2519
Hi @ruchikabgosain. There is nothing left to do here, we will make the necessary changes on MDN directly, which is tracked in https://github.com/mdn/sprints/issues/1867.

[2019-07-29 08:42] #2519 closed

[2019-07-29 10:59] diox commented on #1938
I'm not sure, I'm not familiar enough with the linter and yazl to figure out if that's expected behavior (meaning we should be doing something on our end to catch this) or not. Ultimately is too low priority for us to spend a lot of time on it IMHO, but a contributor would be welcome to do it.

[2019-07-30 05:41] AlexandraMoga commented on #2211
Please add STR or the qa:not needed label.
Thanks

[2019-07-31 12:58] wagnerand commented on #2702
Mentor: @wagnerand

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2019-08-01 08:18] rbrishabh commented on #2702
Hey!

I would like to take this up!

I think all that needs to be done is removing snyk from ```dependencies``` in package.json and adding it to

[2019-08-01 09:34] wagnerand commented on #2702
@rbrishabh 	That's right! Thanks for taking this!

[2019-08-01 11:07] #2702 closed

[2019-08-07 16:41] EnTeQuAk commented on #2462
@rpl I'm going to tackle this one as part of working on #2556. I noticed that my assumption there, adding something new to `DEPRECATED_APIS` is wrong and that the error messages issued for all that are quite ancient and wrong.

So we're going to need something more sophisticated and the deprecation is already properly represented in the schema.

I was thinking about adding something on top of your

[2019-08-07 17:05] rpl commented on #2462
@EnTeQuAk yep I think that DEPRECATED_APIS has been originally introduced to report linting errors for APIs that were already deprecated on Chrome and never implemented in Firefox (and so I expect the message to be specifically mentioning that).

Yeah, definitely, it is basically what I was thinking of when I filed this issue.
Go for it!
(and let me know when you have opened a PR that I can start

[2019-08-14 04:42] EnTeQuAk commented on #2556
I have a branch at https://github.com/mozilla/addons-linter/tree/refactor-deprecated that is 90% done and solves this and #2462 as well. It didn't make this week's tag unfortunately but I'll have it ready for review on Thursday once I'm back on PTO.

[2019-08-21 13:20] Skeletonxf opened #2758 "False positives in syntax validation (Valid Class Field Syntax is rejected by the linter)"
### Describe the problem and steps to reproduce it:

I was trying to update my addon Duplicate Tab on AMO and ran into two false positives in the linting stage. I have been manually testing the addon in Firefox Developer Edition and am completely sure everything is working without syntax issues.

This is the zip I am trying to upload on AMO. At the time of writing my [repository](https://github.co

[2019-08-28 02:30] ankiiitraj commented on #2528
Hi, I am interested in solving this issue, somebody please guide me.

[2019-08-28 23:01] caitmuenster commented on #2528
Hey @ankiiitraj, thanks for your interest! This one might not be a good issue to work on -- we usually label those issues as 'contrib: good-first-bug` or `contrib: welcome`.

It looks like we are a little low on good first issues at the moment in this repo. :/ Would you be interested in looking for good first bugs for [other Mozilla projects](https://codetribute.mozilla.org/)? (The dev tools group

[2019-09-02 09:57] ncaq commented on #1273
eslint < 4.18.2 has bug.
[Fix: remove catastrophic backtracking vulnerability (fixes #10002) (#… · eslint/eslint@f6901d0](https://github.com/eslint/eslint/commit/f6901d0bcf6c918ac4e5c6c7c4bddeb2cb715c09)
However eslint-plugin-no-unsafe-innerhtml has `eslint@3.19.0` in dependencies(no devDependencies).
So GitHub notice security issue project that depend addon-linter.
I think to this pull request pr

[2019-09-03 09:06] EnTeQuAk opened #2773 "Document how to add new deprecation warnings"
After #2747 adding new deprecations will be much easier.

Let's document the process.

[2019-09-03 19:01] EnTeQuAk opened #2774 "Sanitize schema deprecated messages during import"
Let's sanitize deprecated messages through cheerio and strip out any html we may end up exposing otherwise.

See https://github.com/mozilla/addons-linter/pull/2747#discussion_r320238124

[2019-09-04 18:14] pasqualm opened #2777 "False positive submitting Language Pack add-on for Thunderbird 68"
Hi

I have updated my add-on for Thunderbird 68 and when submitting it the page shows an error:
'Cannot find min/max version. Maybe "strict_min_version" or "strict_max_version" contains an unsupported version?'

But the manifest.json seems to have the correct tags

I can install the add-on from my local PC and works and the Validate Add-on in the web page shows no error?

Could it be a bug? I atta

[2019-09-08 07:56] pasqualm commented on #2777
I forgot to say that the add-on is a Language Pack, perhaps this has relation with the issue

[2019-09-08 11:19] pasqualm commented on #2777
The language pack for testing the issue can be downloaded from here:
https://mega.nz/#!AEI10K5L!_leiRM4pOXVZoOQaJlU33COq2_XM4x2f_3HEwTQ9DWs

[2019-09-09 13:07] #2462 closed

[2019-09-09 13:07] #2556 closed

[2019-09-09 13:09] EnTeQuAk opened #2784 "Import Firefox 70 schema"
The merge already happened and we're able to import the Firefox 70 schema.

[2019-09-13 11:25] #2784 closed

[2019-09-13 12:41] spoji opened #2794 "Validation fails for packages that contains filenames that finish with a "dot"."
### Describe the problem and steps to reproduce it:

Create a very simple package containing 2 files :
a manifest.xml
an svg named "www.amazon.com..svg"

Then upload it to /addon/submit/upload-listed

### What happened?
/addon/submit/upload-listed fails with the following message :
"our add-on failed validation with 1 error. Sorry, we couldn't load your WebExtension"

If the file "www.amazon.com..

[2019-09-14 12:53] pasqualm commented on #2777
The platform accepted today the extension submit. All seems OK now

[2019-09-14 12:53] #2777 closed

[2019-09-17 08:49] ioanarusiczki commented on #2784
@EnTeQuAk Can qa do any checking for this issue?
I'm thinking the release testing for dev hub submission should be it?

[2019-09-17 09:11] EnTeQuAk commented on #2784
Yes, regular release-testing will certainly cover this. The newly added APIs are hardly documented anywhere so I can't really say how they're supposed to be used to test them separately. Once they're documented we can check them too but regular release-testing will be fine for now.

[2019-09-18 10:02] rbrishabh commented on #2253
Hey! I would like to tackle this!

[2019-09-19 11:44] ioanarusiczki commented on #2784
@EnTeQuAk I did not find anything unusual while making submissions on AMO stage with FF69(Win10).

[Test results](https://testrail.stage.mozaws.net/index.php?/runs/view/20727&group_by=cases:section_id&group_order=asc)

[2019-09-19 11:46] lidel opened #2834 "Addon Validation Error: value equal null"
### Information

Tried to upload fennec version for android:
[ipfs_companion_beta_aeecbb5_-2.8.4.824_fennec.zip](https://github.com/mozilla/addons/files/3630965/ipfs_companion_beta_aeecbb5_-2.8.4.824_fennec.zip)

Got error without any explanation:

* This error occurred during the submission of a new version of an existing add-on
* Add-on is unlisted (self-hosted beta channel)
* The URL where you

[2019-09-27 14:02] vrgomes opened #2814 "Error A background script defined in the manifest could not be found"
### Describe the problem and steps to reproduce it:

Hi I have uploaded a new Addon and it gives this error:
![Screenshot Capture - 2019-09-27 - 14-58-56](https://user-images.githubusercontent.com/3107574/65775184-97ef3d00-e137-11e9-8f49-2d7048f41840.png)

### What happened?
That error doesn't make any sense. The file is there on the .xpi file and the manifest is good.
Also made debug of the exten

[2019-09-30 11:42] EnTeQuAk commented on #2814
Yeah, I think this might also be related to the operating system maybe, as things are loaded from the actual disk when you're in Firefox. Maybe @rpl can confirm.

So, unless I misunderstood things are actually working as expected here. Please do let me know if I'm wrong though.

[2019-09-30 11:42] #2814 closed

[2019-09-30 19:23] rpl commented on #2814
Yes, I confirm, that is the reason behind that unexpected behavior:

- when loading temporarily from a directory, because of the filesystem case-insensitivity Firefox may be able to load successfully a filename that is not in the real case
- when loading the extension from a zip file, as it happens for a user that install the extension from AMO or from a link to the xpi, the files have to be in th

[2019-09-30 20:14] melvin2016 commented on #2774
I would like to work on this.

[2019-10-07 17:33] muffinresearch commented on #1248
@bqbn see https://github.com/mozilla/addons-server/blob/3409fe11ff26d45355b638cacdb3df303941289a/src/olympia/devhub/tasks.py#L476

If you can advise on an appropriate value this can be a patch for addon-server.

[2019-10-07 17:37] muffinresearch commented on #2506
See also https://github.com/mozilla/addons-linter/issues/1248 and https://github.com/mozilla/addons-linter/issues/1248#issuecomment-539121728 for where to use `--max_old_space_size` to up the default memory allocation for node.

[2019-10-07 17:43] muffinresearch commented on #1248
In fact this is probably better set by an env var like so:

[code]

Supported since node 8 see https://nodejs.org/dist/latest-v8.x/docs/api/cli.html#cli_node_options_options

[2019-10-08 02:25] bqbn commented on #1248
I actually don't know why the option hasn't been set before, thus I don't have a good value to recommend. However, I don't mind if we set the value to 4MB to get started, and make adjustments as needed later.

It also looks like in node 10 (which we're currently running), the default value is 0?

[code]

I tried to search and understand whether 0 means "unlimited" or not, but haven't been able to

[2019-10-09 19:53] Skeletonxf commented on #2758
The second false positive seems to be related to Class Fields https://discourse.mozilla.org/t/javascript-syntax-error-in-addon-validation-results/46195/2?u=skeletonxf

[2019-10-10 13:50] Rob--W opened #2845 "snyk sneaked snyk into dependencies"
The PR in #2827 by @snyk-bot moved the "snyk" dependency from `devDependencies` to `dependencies`. #2824 added it back to `devDependencies` (as a part of a version bump, possibly an incorrect merge conflict resolution), and now we have "snyk" both as a devDependency (where it should be) and in `dependencies` (where it should not be).

[2019-10-10 14:10] wagnerand commented on #2845
Good catch. However, snyk [believes](https://github.com/snyk/snyk/issues/146) that it should be in `dependencies`, not in `devDependencies`, so we might keep running into this unless we follow that advise.

[2019-10-10 15:29] Rob--W commented on #2845
The patches in `.snyk` are only relevant to `devDependencies`, not `dependencies`. Also, I see that some of the patches are not even relevant to the current dependencies (`isparta` and `grunt-gh-pages` are no longer (dev)dependencies, according to `package.json`).

[2019-10-10 17:06] wagnerand commented on #2847
/cc @rpl

[2019-10-11 09:11] mozfreddyb commented on #1273
Yeah. eslint-plugin-no-unsafe-innerhtml is deprecated. It would be good to move on.

[2019-10-11 15:04] kewisch commented on #2562
I think `*://*.mozilla.org/*` would be fairly common and not as objectionable to users as `<all_urls>`. I'd probably aim for patterns where `*` is the host (e.g. `http://*/*`) and`<all_urls>`. The messaging sounds fine, but I'd also link to a page like [requesting the right permissions](https://extensionworkshop.com/documentation/develop/request-the-right-permissions/) to give developers a way to

[2019-10-14 12:25] rpl commented on #2847
@wagnerand this is a known issue, it has been reported on bugzilla as [Bug 1399109 - Add `management` as an optional permission](https://bugzilla.mozilla.org/show_bug.cgi?id=1399109), closed as a duplicate in favor of tracking the more generic issue [Bug 1458585 - Allow more permissions to be used as an optional permission](https://bugzilla.mozilla.org/show_bug.cgi?id=1458585).

[2019-10-14 12:26] wagnerand commented on #2847
Thanks @rpl, let's close it here then.

[2019-10-14 12:26] #2847 closed

[2019-10-14 13:10] keganlance commented on #2847
Thanks for your replies @muffinresearch @wagnerand @rpl

My issue is not the fact the management can't be optional specifically in Firefox.

The issue is the fact the management permission is being rejected by the addon store when it is present in optional_permissions. Even tho Firefox can run addons with the management permission in optional_permissions just fine.

So there seems to be a differen

[2019-10-14 13:38] wagnerand commented on #2847
The linter takes the webextension schema from Firefox, so unless I am wrong this needs a schema fix in the Firefox codebase.

[2019-10-14 14:37] wagnerand opened #2854 "Consider auto-merging dependency updates"
When dependency updates pass all tests, we usually just merge them manually. We could save that time by having renovate auto-merging them. There is even https://docs.renovatebot.com/configuration-options/#stabilitydays which we could use if wanted.

@EnTeQuAk @rpl @muffinresearch for feedback.

[2019-10-14 14:41] wagnerand opened #2855 "Consider disabling appveyor"
Appveyor in its free tier is pretty limited. It does sequential test runs-only, which can lead to to some backlog when a few PRs are merged. Usually, that happens before the tag, where it can block merging of other patches and thus delay the release. There is no team-access to appveyor, so obsolete builds cannot be canceled.

On top, we got a few flaky tests that fail sometimes on appveyor. Of cou

[2019-10-14 14:41] wagnerand commented on #2854
The same decision would probably apply to dispensary.

[2019-10-14 15:33] muffinresearch commented on #2854
I like the sound of this, especially if we set aside some time for `stabilitydays` in case of a newly introduced issue. I'm thinking at least 7 days would probably work for that. We could probably set this for all repos not just these two if it works well.

[2019-10-14 19:00] wagnerand commented on #2855
Recent example: Due to the backlog, it took almost 4 hours for https://github.com/mozilla/addons-linter/pull/2856 to be even opened.

[2019-10-15 09:26] EnTeQuAk commented on #2855
I do agree that Appveyor blocks development on addons-linter.

web-ext doesn't use Appveyor but uses Travis Windows workers which need to be configured and tested and when we configured Appveyor this too quite some time.

Personally, I don't mind simply removing Appveyor and working on travis windows workers once there's time.

On the other hand, we should not risk regressions in web-ext because o

[2019-10-15 09:28] EnTeQuAk commented on #2854
Sounds great to me, let's do this!

@muffinresearch can you configure this for addons-linter and maybe `dispensary` to get at least security related updates into the repo.

7 days for `stabilitydays` sounds fair to me.

[2019-10-15 10:02] muffinresearch commented on #2854
This sounds like a blocker (from https://docs.renovatebot.com/configuration-options/#automerge):

[code]

[2019-10-15 11:34] EnTeQuAk commented on #2854
Do we have this configured on org-level instead of per-repo?

[2019-10-15 11:46] rpl commented on #2854
It would be nice to automerge at least minor updates related to the npm dependencies.

I would be a bit worried on automerging all major updates, especially for the yargs dependency in the web-ext repo.
Reviewing renovatebot PRs (especially the changes to the lock file) is definitely "no fun", but we got bitten by an unexpected backward incompatibility related to the array arguments in one of the

[2019-10-15 11:56] rpl commented on #2855
I also agree that we should migrate this repo from appveyor to travis windows workers.

When I migrated the web-ext repo away from apveyor I also gave a quick look into migrating the addons-linter repo as well, unfortunately [there was something in the encrypted part of the addons-linter travis config](https://github.com/mozilla/addons-linter/blob/7c2439057577fc743cf0ec28de37241085f20c1b/.travis.y

[2019-10-15 13:47] muffinresearch commented on #2854
Hmm, the docs don't make it that clear what is meant by their references to Organizations having protected their master branch. We could try it and see if it works or not.

[2019-10-16 12:55] wagnerand commented on #2416
Soon...

[2019-10-16 16:31] revad opened #2863 "Upload of new experiment API addon failed"
I wrote an addon using an experiment API. I attempted to upload it to ATN and got:

Your add-on failed validation with 1 error.
You cannot submit this type of add-on

Also
We have enabled a new linter to process your Add-on. Please make sure to report any issues on GitHub

Hence this issue.

The validation report indicates a warning, not an error:
myapi.setWindowListener is not supported
Warning:

[2019-10-16 16:57] kumar303 commented on #858
This still seems worth fixing. Using [p-limit](https://github.com/sindresorhus/p-limit) might be easier.

[2019-10-16 17:42] wagnerand commented on #2863
This repository is for addons.mozilla.org. Please file ATN issues at https://github.com/thundernest/addons-linter

[2019-10-16 17:42] #2863 closed

[2019-10-16 17:45] muffinresearch commented on #2854
A patch is up so we can give this a try, it might not work due to https://github.com/mozilla/addons-linter/issues/2854#issuecomment-542137537 but let's see.

[2019-10-16 17:53] freaktechnik commented on #2317
I think this would still be an interesting feature.

[2019-10-16 17:54] freaktechnik commented on #1807
As far as I'm aware still something that would catch potential errors.

[2019-10-16 18:30] revad opened #2864 "Upload of new experiment API addon failed"
I wrote an addon using an experiment API. I attempted to upload it to ATN and got:

Your add-on failed validation with 1 error.
You cannot submit this type of add-on

Also
We have enabled a new linter to process your Add-on. Please make sure to report any issues on GitHub

Hence this issue.

The validation report indicates a warning, not an error:
myapi.setWindowListener is not supported
Warning:

[2019-10-16 18:33] revad commented on #2864
Hmmm.

[2019-10-16 18:33] #2864 closed

[2019-10-16 20:05] wareya commented on #1700
Unless the logic or text for this was changed at some point without the issue being touched, it's still a problem.

[2019-10-17 11:07] willdurand opened #2865 "Remove CRX support?"
Addons-server converts CRX files into XPI files when submitted (when we create a file upload) so we never lint CRX files during submission. I am wondering whether we still need to support CRX in addons-linter then. WDYT?

[2019-10-17 11:09] willdurand opened #2866 "Use addons-scanner-utils `io` package"
[addons-scanner-utils](https://github.com/mozilla/addons-scanner-utils) contains a `io` package used by the new scanners. It is a port of the linter files with some fixes and improvements. This would likely fix #858 :)

[2019-10-17 16:58] jvillalobos commented on #2865
There's the [standalone validation tool](https://addons.mozilla.org/developers/addon/validate), and web-ext. Wouldn't those accept CRX without the conversion? If so, do we have or could we get numbers on people using CRX files on them?

[2019-10-18 21:47] timbru31 commented on #2845
This issue might cause `npm audit` to break with the error message: `The server said: Invalid package tree, run  npm install  to rebuild your package-lock.json`. Not 100% sure though.

[2019-10-21 08:20] EnTeQuAk commented on #2866
The link seems to be pointing into the wrong direction, you're talking about https://github.com/mozilla/addons-scanner-utils right?

I wonder, is the initial commit a 1:1 port of the linters io package so that the commit log represents all the fixes and improvements made? I'd like to make sure we don't run into any regressions for things that may have worked for the other scanners but won't for th

[2019-10-21 08:24] willdurand commented on #2866
Err.. edited, thanks!

It's not 1:1 but close enough I'd say. The one big improvement is disabled by default so that would not affect the linter anyway.

[2019-10-21 08:28] EnTeQuAk commented on #2866
Mind to elaborate a bit more or are you referring to https://github.com/mozilla/addons-scanner-utils/commit/17ce0771f5440477e390822c4e2b3999b579573b?

[2019-10-21 08:46] willdurand commented on #2866
I am indeed referring to https://github.com/mozilla/addons-scanner-utils/pull/27. As for the rest, it can't be a 1:1 port because it has been rewritten with TypeScript.

[2019-10-23 11:50] EnTeQuAk commented on #1588
Closing, this has been implemented on the server-side for some time (via https://github.com/mozilla/addons-server/commit/8990d60f71d467efd3cf9dfe21675bbd679b1fb3) and in my opinion the error is clear enough and comes up early enough in the submission process so that it doesn't necessarily be implemented in the linter.

Also, lots of times the linter is run on the directory directly before packagin

[2019-10-23 11:50] #1588 closed

[2019-10-23 12:00] EnTeQuAk commented on #858
Probably fixing https://github.com/mozilla/addons-linter/issues/2866 first would be the best start I guess, let's keep this open.

[2019-10-29 11:29] #2845 closed

[2019-10-29 11:29] #2854 closed

[2019-10-29 11:33] EnTeQuAk opened #2891 "Import Firefox 71 schema"

[2019-10-30 12:29] #1614 closed

[2019-10-30 12:29] #1254 closed

[2019-10-30 12:29] #699 closed

[2019-10-30 12:29] #1953 closed

[2019-10-30 12:29] #1300 closed

[2019-10-30 12:29] #1944 closed

[2019-10-30 12:29] #2075 closed

[2019-10-31 14:12] Mubelotix commented on #2758
Same for me. I am using wasm pack. I can't sign my extension...

[2019-11-04 10:15] mozfreddyb opened #2895 "add support for user_scripts in the manifest parser"
### Describe the problem and steps to reproduce it:

The manifest parser does not check user_scripts. It should do the same checks as applicable for content and background scripts, e.g., check that they are part of the package.

[2019-11-07 16:28] muffinresearch opened #2899 "Remove Snyk"
We've discussed the use of Snyk as a team and have decided to remove it.

This issue is to cover removing snyk dependencies and scripts.

[2019-11-08 11:58] EnTeQuAk commented on #2845
Snyk will be removed in #2899

[2019-11-08 11:58] #2899 closed

[2019-11-08 12:45] #2891 closed

[2019-11-12 15:42] ioanarusiczki commented on #2891
@EnTeQuAk I remember testing around the dev hub addon uploads. Let me know if the dev hub release testing on AMO stage will cover for this.
Test Cases -> https://testrail.stage.mozaws.net/index.php?/suites/view/99&group_by=cases:section_id&group_order=asc

[2019-11-14 09:12] EnTeQuAk commented on #2891
It'll cover this issue and make sure there aren't any regressions, yes.

[2019-11-14 11:33] ioanarusiczki commented on #2891
@EnTeQuAk Nothing unusual.
Verified on AMO stage with FF70(Win10).
[Test results
](https://testrail.stage.mozaws.net/index.php?/runs/view/22436&group_by=cases:section_id&group_order=asc)

[2019-11-19 14:53] #2416 closed

[2019-11-25 05:23] EnTeQuAk opened #2935 "Import Firefox 72 schema"
Let's run the latest import for Firefox 72

[2019-11-27 16:43] rpl commented on #1074
@EnTeQuAk is this still an issue or is it something we already fixed? would you mind to double-check it?

[2019-11-27 18:41] pdehaan opened #2940 "addons-linter fails with errors when using dynamic import syntax"
### Describe the problem and steps to reproduce it:

I'm trying to run <kbd>npx addons-linter --self-hosted ./src</kbd> on https://github.com/mozilla/secure-proxy/ and am getting a few errors.

This is my current output:

[code]

### What happened?

[code]

Where the errors in question are from:

1. [background/main.js:1](https://github.com/mozilla/secure-proxy/blob/c8fb3a5c37ad5a378a12fe533160f77

[2019-11-27 18:54] pdehaan opened #2941 "Add ability to suppress specific warning codes"
### Describe the problem and steps to reproduce it:

Ref #2940

[code]

In this case, I want to suppress all the `UNSUPPORTED_API` warnings since they aren't entirely relevant.

### What happened?

I can't find an API/flag to suppress the warnings.

### What did you expect to happen?

Hide the warnings and reduce output.

### Anything else we should know?

[code]

[2019-11-27 19:02] pdehaan commented on #2941
Possible dupe of #746; _"Ability to exclude/ignore certain warnings?"_.

[2019-11-27 19:07] pdehaan opened #2942 "Add ability to ignore files during linting"
### Describe the problem and steps to reproduce it:

Ref: https://github.com/mozilla/web-ext/issues/1770

When using `web-ext`, it looks like I can ignore files using an `--ignore-files=""` flag. I can't find a similar flag/API for the `addons-linter`.

### What happened?

No API.

### What did you expect to happen?

API for file ignoring (since I want to ignore a 3rd party vendor file).

### Anyt

[2019-11-27 22:27] rpl commented on #2940
The scriptType is currently detected from src/scanners/javascript.js here:
https://github.com/mozilla/addons-linter/blob/8ecba896cdd895d5a7402ca7a91042d8551896ed/src/scanners/javascript.js#L223-L241

If `espree.parse` throws we do fallback to scriptType "script" but we do not log any message (we should actually log a debug level message at least, to make it simpler to investigate this kind of issu

[2019-11-27 22:55] pdehaan commented on #2940
Except it wasn't just throwing errors on the `await import("./view.js")` syntax, it was throwing errors for all three of these lines (and only one was a dynamic `import()`):

[code]

[2019-11-27 23:13] eladkarako opened #2943 "JSON - too large to parse? (solved/workaround)"
I have a 37MB JavaScript file,
it contains a hard-coded list of domains,
I guess it can not be embedded in the web-extension?
where is the documentation for the file-size limits?

[2019-11-27 23:59] eladkarako commented on #2943
OK,
I've moved the data into a JSON,
the actual JS file is less than 2KB.

I still get the error message saying that I should put the data into a JSON...

<pre>
Error: This file is not binary and is too large to parse. Files larger than 4MB will not be parsed. If your JavaScript file has a large list, consider removing the list and loading it as a separate JSON file instead.
</pre>

[2019-11-28 06:06] eladkarako commented on #2943
possible same case as https://github.com/mozilla/addons-linter/issues/1700

[2019-11-28 09:38] rpl commented on #2940
The line and column shown in the linter results is not what I'm referring to.

As I mentioned in my previous comment the actual error raised by espree is not logged anywhere, after that error happens we fall back to parse the file as a "script" instead of a module and so the linter will mark the first import or export as invalid syntax (which I absolutely agree that it makes this issue way more co

[2019-11-29 14:33] freaktechnik opened #2944 "Support complex compat data"
Currently the BCD logic assumes all data to be in the simplest form. However, sometimes the compat data now has arrays because the support level has changed between Firefox versions. Further, versions that are declared to require a flag should be ignored by the checks.

I've come to this conclusion after checking what the code does based on a discussion with @rpl about the userScripts compat data.

[2019-11-29 14:36] freaktechnik commented on #1992
I think this should be doable based on the BCD, since features can have a version_removed which indicates the version in which a feature was removed.

[2019-11-29 17:02] eladkarako commented on #2943
Right,
I've solved (workaround) this thing by renaming the file extension to something other than JSON,
<code>.json_txt</code>.

the code stays the same.

Here is an example:

(the web-extension blocks hosts).

<code>background_HOSTS.json_txt</code> (sample)
[code]

background request manipilation (uses the JSON data)
[code]
(code based on <a href="https://developers.google.com/web/updates/2015/03

[2019-11-29 17:02] #2943 closed

[2019-11-29 17:09] eladkarako commented on #1700
Moving a large data away from JS files into JSON is good practice (although there is an RAM/CPU payload of loading the data while loading it from JS is considerably faster).

Mozilla linter will notify you to move the data into a JSON,
but will <strong>still</strong> notify you after you've moved the data to JSON,

The solution/workaround is to use another file-extension, other than <code>.json</c

[2019-12-03 20:30] wagnerand commented on #2935
71 is in release now, so we need to do this asap, also given that we have one more push before the end of the year.

[2019-12-03 23:25] sublimator opened #2952 "Node 13 requirement ?"
A lot of people tend to stick to LTS (currently node 12)
Is there any hard requirement for node 13?

[2019-12-04 11:07] mozfreddyb opened #2954 "relative/absolute URL check seems broken"
### Describe the problem and steps to reproduce it:

It seems to me that [isRelativeUrl()](https://github.com/mozilla/addons-linter/blob/c47afc30d6462797d365d438557ae38e41acc287/src/schema/formats.js#L64) never returns true. It's worse than a security check that never returns false, but it's still pretty wrong.

### What happened?

I tried with `isRelativeUrl("foo.js")` and get `undefined`.

### W

[2019-12-04 12:14] EnTeQuAk commented on #2952
No, it's not a requirement and only an accident because we recently tried to configure @renovate-bot to handle engine pinning and follow LTS releases but that apparently didn't work as expected.

That has been rolled back now and we'll issue a release shortly.

[2019-12-04 13:29] sublimator commented on #2952
Awesome! Thanks @EnTeQuAk :)

[2019-12-04 13:29] #2952 closed

[2019-12-04 17:12] EnTeQuAk commented on #2935
I ran into various issues with the download of the latest beta version, I'm going to try run the import with the **72b2** release again. I may file a replacement issue or juts rename this one.

[2019-12-04 17:20] EnTeQuAk opened #2955 "Port firefox schema import to use zip files"
So, it seems that the mozilla-unified downloads are only available as zip and not as .tar.gz anymore.

That'll unblock #2935

[2019-12-04 17:21] EnTeQuAk commented on #2935
As a side-note: We do have the firefox 71 schema imported and already life on production. The original issue here was to just update it.

I'm going to run it with 72 again.

This is currently blocked by https://github.com/mozilla/addons-linter/issues/2955

[2019-12-04 17:38] EnTeQuAk commented on #2955
See https://bugzilla.mozilla.org/show_bug.cgi?id=1596135 and https://bugzilla.mozilla.org/show_bug.cgi?id=1597094 for some explanation

[2019-12-05 13:18] EnTeQuAk opened #2957 "Fix `supportPolicy` definition in renovate config"
We recently enabled automatic handling of nodejs upgrades via renovate but apparently that didn't quite work as expected and it's still pinning the versions to exact versions.

Let's try to fix that.

[2019-12-05 16:01] #2957 closed

[2019-12-06 17:50] moribellamy commented on #1905
message should definitely be made more understandable. I got blocked submitting version `19.12.02`.

side note: this restriction is pretty unfortunate. https://github.com/mahmoud/calver is a great versioning scheme for applications.

[2019-12-10 10:10] #2935 closed

[2019-12-10 10:33] ioanarusiczki commented on #2935
@EnTeQuAk If qa can test/focus on something in particular besides the dev hub release testing on stage please let me know.

[2019-12-10 12:11] ioanarusiczki commented on #2957
@EnTeQuAk If this can be verified by qa please add some STR.
Thanks!

[2019-12-10 18:08] pdehaan commented on #2498
Is this still in stage 4?
(take that, **stale** bot!)

[2019-12-12 12:27] EnTeQuAk commented on #2935
Regular upload tests will cover this good enough.

[2019-12-12 14:36] ioanarusiczki commented on #2935
@EnTeQuAk I verified this on dev - I could upload add-ons and add-on new versions or static themes (listed and unlisted).
Test results are [here ](https://testrail.stage.mozaws.net/index.php?/runs/view/23451&group_by=cases:section_id&group_order=asc)

[2019-12-22 08:30] adalinesimonian opened #2978 "Class fields not supported by linter"
### Describe the problem and steps to reproduce it:

(Please include as many details as possible.)

1. Create an extension with a javascript file that uses class fields (supported by Firefox 69 and above).
2. Run the linter

### What happened?

![Screenshot of error](https://user-images.githubusercontent.com/9868643/71319361-254ddf00-2452-11ea-8a28-369ffb48a00c.png)

### What did you expect to hap

[2019-12-24 06:48] Riajyuu commented on #2498
I believe so.
See
https://tc39.es/proposal-dynamic-import/

[2019-12-25 14:01] #1456 closed

[2019-12-25 15:01] #1788 closed

[2020-01-15 19:04] erosman opened #3007 "Validator: Process 'script-src-elem' in CSP"
Example extension: (Version 0.6)
`https://addons.mozilla.org/en-US/firefox/addon/rust-search-extension/`

Example (for those with access):
`https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/3486213/file/manifest.json#top`

manifest.json snippet
`"content_security_policy": "script-src-elem 'self' https://rust-search-extension.now.sh/crates/crates-index.js; script-src 'self'; object-sr

[2020-01-16 10:42] wagnerand commented on #3007
I don't think `script-src-elem` is valid in webextensions, but @rpl or @Rob--W would know better.

[2020-01-16 15:15] Rob--W commented on #3007
Firefox doesn't support script-src-elem (https://bugzilla.mozilla.org/show_bug.cgi?id=1529337), but we should add this to validator in case we do.

[2020-01-16 17:00] A9T9 opened #3009 "JavaScript syntax check reports error, but there is no syntax error in the code"
### Describe the problem and steps to reproduce it:

I tried to upload a new addon, but the syntax check reports an error.

How to recreate:

1. Upload this extension:
[Firefox_Opera.a6.zip](https://github.com/mozilla/addons-linter/files/4072545/Firefox_Opera.a6.zip)

2. You will get this error
[code]
but line 31 looks ok:
`	changeIcon = (tabId,url) => {`

### What happened?

![s1](https://user-im

[2020-01-16 22:14] A9T9 commented on #3009
It seems the error is related to the new javascript syntax(es6)?

We changed
`changeIcon = (tabId,url) => {`
to
`changeIcon(tabId,url) {`
and the submission worked fine.

[2020-01-17 20:15] sadik-fattah opened #3011 "avast tell me this gile is virus"
[https://i.imgur.com/LA7lZ9s.png](url)

[2020-01-17 20:45] wagnerand commented on #3011
This tool detects coin miners in add-ons and flags them. The file mentioned in the screenshot is a test-file to make sure the feature works as expected.

[2020-01-17 20:45] #3011 closed

[2020-01-20 12:42] kir opened #3013 "Add-on validation fails with error 403"
### Describe the problem and steps to reproduce it:

Cannot upload new add-on version for https://addons.mozilla.org/en-US/developers/addon/checkvist-bookmarklet/, with error:
`Received an empty response from the server; status: 403`

The add-on was previously disabled due to usage of `eval` in the code.
Now, `eval` is not used. Also, with local validation, there are no errors, only some warnings.

[2020-01-20 23:34] EdgardoRios opened #3014 "Add-on failed validation with 1 error"
### Describe the problem and steps to reproduce it:
Hello, I am trying to upload a new version of an Add-on, and failed validation with 1 error.
(Please include as many details as possible.)
Steps:
1. Go to Thunderbird Add-ons page
2. Login and go to 'Tools/Manage My Submissions'.
3. Go to Submit a New Version.
4. Click on 'Select a file...' button.
5. Pick the new file version (*.xpi).
6. Valitio

[2020-01-22 16:12] muffinresearch commented on #3014
Since this is related to a thunderbird specific message it would be best to ask for support via https://github.com/thundernest/addons-server/

[2020-01-22 16:12] #3014 closed

[2020-01-22 17:10] EdgardoRios commented on #3014
Thanks!

[2020-01-30 12:23] Jack-Works commented on #2498
We're going to move our background page from webpack to ES Module but it seems I can't do it now because it will not pass this linter. watch on this issue

[2020-02-02 20:33] #2269 closed

[2020-02-03 10:26] #244 closed

[2020-02-03 10:26] #663 closed

[2020-02-03 11:26] #1286 closed

[2020-02-03 11:26] #2131 closed

[2020-02-03 12:19] EnTeQuAk commented on #2955
Currently running into a few problems with fixing the tests… I don't seem to understand the yazl library to zip files - https://github.com/mozilla/addons-linter/compare/2955-use-zip-for-schema-import#diff-f636bdc441ca6ca61aef66fd814e2198R1138-R1149 - that's what the documentation does, that's what everyone else does but the zip it produces is completely empty. All the addFile calls are executed pr

[2020-02-03 12:26] #2634 closed

[2020-02-03 16:26] #1793 closed

[2020-02-03 16:44] ianb commented on #2269
I'm still able to reproduce this issue.

[2020-02-06 19:36] rpl commented on #2955
I just spotted a typo:
- at [line 1130](https://github.com/mozilla/addons-linter/compare/2955-use-zip-for-schema-import#diff-f636bdc441ca6ca61aef66fd814e2198R1130) the test is creating a `yazl.ZipFile` instance named `zipfile`
- then [between line 1138 and line 1149](https://github.com/mozilla/addons-linter/compare/2955-use-zip-for-schema-import#diff-f636bdc441ca6ca61aef66fd814e2198R1138-R1149) th

[2020-02-08 11:31] #1938 closed

[2020-02-09 19:31] EnTeQuAk commented on #2955
:man_facepalming: that actually fixed the test - or at least the problem I had and made me progress a lot. Thanks a ton! I'll have a full PR for this some time on Monday now. Guess having a second pair of :eyes: always helps

[2020-02-12 19:28] rpl opened #3045 "Port travis deploy config to dpl v2"
### Describe the problem and steps to reproduce it:

While releasing a new tagged release from the web-ext repo, I noticed that the travis job wasn't able to successfully run the deploy task (it did fail with this error: https://travis-ci.org/mozilla/web-ext/jobs/649392805#L283-L284).

It is not unlikely that addons-linter may trigger the same issue once we are going to release the next tagged rel

[2020-02-13 13:05] #2955 closed

[2020-02-13 14:19] EnTeQuAk opened #3046 "Import Firefox schema up to 74b2"
Import the firefox schema up to the most recent version

[2020-02-14 16:10] andreeaNeamtiu commented on #2294
I started working on this:)

[2020-02-14 18:56] muffinresearch opened #3049 "Move to slack notifications from irc"

[2020-02-17 09:35] ioanarusiczki commented on #2955
@EnTeQuAk
Please add some STR for qa. Thanks!

[2020-02-17 10:31] #3049 closed

[2020-02-17 17:21] rpl commented on #2294
@andreeaNeamtiu Great! feel free to ask more details if needed or if you get stuck.

[2020-02-18 10:10] EnTeQuAk opened #3053 "Add support for `isolated_world` alias"
See https://github.com/mozilla/addons-linter/pull/3048/files#diff-c24fe98257d3c70153e05cf42301ed84R200

[2020-02-20 14:44] diox opened #4010 "Automate dispensary libraries updates"
Updates to libraries in this repo are made by humans (generally @wagnerand), with someone:
- Checking if there are updates manually
- Updating the [json file](https://github.com/mozilla/dispensary/blob/master/src/libraries.json) with the relevant version number for the library that needs to be updated
- Generating the hashes by running `npm update`
- Tagging and releasing a new version

We need to

[2020-02-23 01:46] a13o commented on #2269
Is there a workaround for this issue if you aren't using a js bundler?

Say you use npm to grab a vendor dependency, then include it in your manifest:
[code]
(as per https://github.com/mozilla/webextension-polyfill#basic-setup)

`web-ext lint` will fail even if you can run the extension successfully, because node_modules is a default ignored folder.

Also MANIFEST_BACKGROUND_FILE_NOT_FOUND is repo

[2020-02-26 13:14] rpl opened #3060 "Unknown optional_permissions are being classified as errors by the addons-linter and as warnings by Firefox"
### Describe the problem and steps to reproduce it:

Additional details about this problem and how to reproduce it are in the issue originally reported on bugzilla: [Bug 1618137 - Management permission not accepted in optional_permissions](https://bugzilla.mozilla.org/show_bug.cgi?id=1618137).

### What happened?

an unknown (or invalid, as in "permission not supported as optional on Firefox")  op

[2020-02-27 14:33] #2944 closed

[2020-02-28 15:51] erosman opened #3062 "Validator fails ES2019 public field declaration"
ref: 75.0a1 (2020-02-27) (64-bit)

Validator fails ES2019 public field declaration even though Firefox works fine with.

![image](https://user-images.githubusercontent.com/6458876/75563215-38d38280-5a5f-11ea-94e0-2c1d1e8ee5f1.png)

Example:
[code]

PS. If support was added to Firefox, which version is it from?

[2020-02-28 17:38] Rob--W commented on #3062
This is not a "variable outside the constructor". It is a (public) field declaration, supported in Firefox as of version 75 (and Chrome 74+), with the relevant bug being https://bugzilla.mozilla.org/show_bug.cgi?id=1499448 . The documentation is at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Class_fields#Public_fields (scroll a bit below to "Public instance fields" fo

[2020-02-28 18:21] erosman commented on #3062
Thank you Rob. Title updated.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Class_fields#Public_fields  states support Firefox 69 !!

[2020-02-28 18:34] Rob--W commented on #3062
I stand corrected; Public instance fields (what you're using here) have already been supported since 69 (https://bugzilla.mozilla.org/show_bug.cgi?id=1555464).

I had public *static* fields in mind (syntax is `class {static name = value}`), which differs from what you've reported here, and is supported in Firefox 75+ (https://bugzilla.mozilla.org/show_bug.cgi?id=1535804).

[2020-03-02 14:48] rpl opened #3067 "test.firefox-schemas-import.js should not create the fake mozilla-central.zip in the project root dir"
A fake mozilla-central.zip file is created as part of the test.firefox-schemas-import.js tests, but this file seems to be currently created in the project test file but, as any asset created or manipulated in the test cases, we should actually create it in a temporary directory and remove it when the test is exiting.

[2020-03-02 15:35] #3053 closed

[2020-03-02 17:05] rpl commented on #3060
@EnTeQuAk will mentor this.

@EnTeQuAk would you mind to add some detail about the implementation strategy we briefly discussed in our triage meeting last week, thanks!

[2020-03-03 09:46] #3046 closed

[2020-03-03 14:02] ManishAradwad commented on #3060
If I got this issue correctly then the addon linter should raise a warning instead of raising an error, right?
If it's ok then I would like to contribute to this issue...

[2020-03-05 11:51] #3045 closed

[2020-03-07 03:49] eight04 commented on #2658
I got some reports from npm audit:
<details>

[code]
</details>

Does upgrading eslint solve the problem?

[2020-03-09 15:01] ioanarusiczki commented on #3045
@EnTeQuAk Please add some STR for qa.
Thanks!

[2020-03-10 11:18] obviyus commented on #2133
Can I work on this? Where do we want to store the changelog file?

[2020-03-10 12:25] rpl commented on #2133
@EnTeQuAk in the web-ext repository we do use [commitlint](https://commitlint.js.org/#/) to automate a good chunk of the work needed to generate a changelog on every new release, we are using this approach for a long time now and it works great if the commitlint conventions are enforced on the commit messages.

e.g. for web-ext project we are describing the commitlint conventions here:
- https://g

[2020-03-10 18:42] Rob--W commented on #2528
Still reproduced following the STR.

[2020-03-12 10:25] Emmahchinonso commented on #3060
hello @EnTeQuAk can i be assigned this issue, i'm an outreachy contributor

[2020-03-16 16:04] caitmuenster commented on #3067
Mentor: @rpl

[2020-03-16 16:12] caitmuenster commented on #3060
Hey @ManishAradwad, would you mind letting @Emmahchinonso work on this? I'm asking because you've fixed a few bugs and I'd love to give @Emmahchinonso a chance to work on a bug. :)

[2020-03-16 16:52] ManishAradwad commented on #3060
Sure, @Emmahchinonso plz go ahead with it.

[2020-03-22 17:57] DrElvis opened #3085 "There is a JavaScript syntax error. In optional chaining"
I load the new version of the addon on https://addons.mozilla.org/, but I get a validation error:

swears at this line of code:
`arr.find(n => n.values.includes(ee.toString()))?.action();`

namely the question mark.
however, the use of this functionality is described on [https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining](https://developer.mozilla.org/en-

[2020-03-28 19:05] marchiore commented on #3067
Hey, can I work on this?

[2020-03-28 23:10] DrElvis commented on #3085
I can`t update my extention :(

[2020-03-29 05:46] ManishAradwad commented on #3060
Hey, @Emmahchinonso are you working on this issue??

[2020-03-30 16:16] caitmuenster commented on #3067
Go for it, @marchiore!

[2020-03-30 16:18] marchiore commented on #3067
Thanks! Just sent my PR https://github.com/mozilla/addons-linter/pull/3095

[2020-03-30 17:13] jvillalobos commented on #3085
This is probably related to https://github.com/mozilla/addons-linter/issues/2498 and other similar issues. There's some recent JS syntax that the linter doesn't support.

[2020-03-31 10:56] rpl opened #3098 "Import Firefox API schema up to 75b11"
Update the Extension API schema by importing updates from Firefox 75b11.

[2020-03-31 11:20] #3098 closed

[2020-04-01 14:53] ioanarusiczki opened #3103 "uses_unknown_minified_code is false for some files which look minified"
Followup for https://github.com/mozilla/addons-code-manager/issues/1462#issuecomment-606806145

STR:
1. Go to https://code.addons-dev.allizom.org/en-US/compare/618937/versions/1690424...1690425/?path=src%2Faction%2Fstyle.css.map
or https://code.addons-dev.allizom.org/en-US/compare/618937/versions/1690424...1690425/?path=src%2Faction%2Fstyle.css

Actual result:
code manager won't show the files tri

[2020-04-05 19:58] Rob--W commented on #2834
Still reproduced with latest `web-ext` and the latest AMO: https://addons-dev.allizom.org/en-US/developers/addon/submit/upload-listed

TypeError: Cannot convert undefined or null to object
    at hasOwnProperty (<anonymous>)
    at ManifestJSONParser.checkCompatInfo (/path/to/web-ext/node_modules/addons-linter/dist/webpack:/src/parsers/manifestjson.js:160:43)
    at ManifestJSONParser._validate (/

[2020-04-07 14:46] ioanarusiczki commented on #3103
@diox The work on trimmed minified files in code manager could be affected by this.

I think Bob can tell better if the fix is needed before fixing https://github.com/mozilla/addons-code-manager/issues/1507 @bobsilverberg

[2020-04-07 14:50] bobsilverberg commented on #3103
This won't have any impact on code in code-manager. It will only help us to identify more types of minified files if we implement the change.

[2020-04-08 16:18] #3067 closed

[2020-04-08 18:09] #1273 closed

[2020-04-10 20:42] LucasAndrad opened #3117 "Manifest json can't be found when package is zipped from terminal command line"
I tried to use the command from [this Firefox tutorial](https://extensionworkshop.com/documentation/publish/package-your-extension/#package-linux) but didn't worked:

`zip -r -FS ../my-extension.zip * --exclude *.git*.`

When I try to submit my package I get this error **manifest.json was not found** (image):

<img width="427" alt="Screen Shot 2020-04-10 at 17 28 21" src="https://user-images.githu

[2020-04-11 19:29] Rob--W commented on #3117
What is your current working directory (`pwd`) when you run the `zip` command? Does it contain `manifest.json`?

Can you attach the zip file that you generated so I can check whether it is in the expected format?

[2020-04-13 13:48] marchiore commented on #2954
Hey @mozfreddyb, can i work on this?

[2020-04-13 18:07] marchiore commented on #2954
I took the liberty to look into this problem but i can't reproduce the`undefined` return on `isRelativeUrl("foo.js")`.

Steps that i made trying to reproduce the problem:

### Created a simple test case

[code]
### Run it

I used the existing test `test.formats.js` to include this one and after run with `jest test.formats.js`

it pass without problems

<img width="502" alt="image" src="https://use

[2020-04-13 19:39] freaktechnik commented on #1807
Thanks stalebot, since there's a WIP PR that I really should get back to, this maybe shouldn't be closed?

[2020-04-13 20:03] marchiore commented on #2158
Is this still in the roadmap? Can i work on it?

To make the proposed solution clear, it is necessary to create a new rule in linter to see if the extension name (property name in manifest.json) has the words `Mozilla` or `Firefox`and warn the user. Am I right?

[2020-04-13 20:08] vaindil commented on #2158
I'm not sure if this is still accurate, because the [add-on policies page](https://extensionworkshop.com/documentation/publish/add-on-policies/#content) has the below quote. I don't know if that has always been there though.

[2020-04-13 21:33] jvillalobos commented on #2158
Yes

That's right. You might also need to check for localized versions of the name, but I don't know how complex that is to do on the linter.

[2020-04-14 12:18] mozfreddyb commented on #2954
@marchiore This is not my repository, I am merely the reporter.

I think we need @EnTeQuAk or @rpl to respond.

[2020-04-14 12:36] Rob--W commented on #2954
The implementation of `isRelativeUrl` cannot return `undefined`, as all exiting branches are guaranteed to return booleans. The current implementation is still the same as the time of the report, so I guess that a mistake was made when the bug was filed.

https://github.com/mozilla/addons-linter/blob/c47afc30d6462797d365d438557ae38e41acc287/src/schema/formats.js#L52-L79

@mozfreddyb Could you doub

[2020-04-14 12:58] mozfreddyb commented on #2954
Indeed, I can not verify this anymore. Weird! :disappointed:

[2020-04-14 13:00] Rob--W commented on #2954
Thanks for your confirmation. I'll close the issue then.

[2020-04-14 13:00] #2954 closed

[2020-04-14 21:06] marchiore commented on #2158
Just created #3123

[2020-04-16 13:30] willdurand opened #3125 "Travis CI should run prettier check"
We should add a travis-ci job job to run prettier and double check that PRs are "prettier-compliant". See: https://github.com/mozilla/addons-frontend/blob/375eee5c2ba0dc24b774e710b0fa301f1ee5b924/package.json#L34

I don't know if we have that already but we could also add a `prettier-dev` npm script to run [pretty-quick](https://www.npmjs.com/package/pretty-quick). This command would only run pret

[2020-04-17 16:58] diox commented on #2506
`node` is called by celery worker processes when running the linter.

Looks like `NODE_OPTIONS=--max-old-space-size=2048` on the workers would fix validation for the add-on in #1188. It does locally.

[2020-04-18 18:36] #2836 closed

[2020-04-20 11:49] diox commented on #2865
I think for the reasons @jvillalobos mentioned we still need `crx` support in the linter. I don't think we have numbers on users, but we do have issues opened from time to time for bugs in our `crx` support, so it's definitely used, if only by a small minority.

[2020-04-20 11:49] #2865 closed

[2020-04-20 11:50] diox commented on #2866
Let's keep this opened and try to do it sometime...

[2020-04-20 17:06] bqbn commented on #2506
The proposed `NODE_OPTIONS=--max-old-space-size=2048` is merged and will be deployed to -dev along with next commit. Please test it.

[2020-04-20 17:06] #2506 closed

[2020-04-22 18:07] imonja opened #3138 "check optional_permissions"
When checking **manifest.json**, if **"optional_permissions"**  is specified, **"management"**
`
...
"optional_permissions": [
		"management"
	],
...
`

throws an error.

`...
JSON_INVALID   "/optional_permissions/0" should be equal   to one of the allowed values  Your JSON file could not be parsed. `

`JSON_INVALID   "/optional_permissions/0" is not a valid  key or has invalid extra properties

[2020-04-22 21:58] Rob--W commented on #3138
`management` is not an optional permission yet. There is work in progress to support it in https://bugzilla.mozilla.org/show_bug.cgi?id=1630419

Once that has landed, and the schemas in the linter been updated with upstream, then this issue will be fixed.

[2020-04-23 11:51] wagnerand commented on #2562
We still want to do that at some point.

[2020-04-23 17:10] imonja commented on #3138
Thanks

[2020-04-27 08:50] #3125 closed

[2020-04-27 09:24] #2158 closed

[2020-04-27 11:13] marchiore commented on #2562
Can I work on this?

[2020-04-27 13:39] vaindil commented on #2158
Is the add-on policies page ever going to be updated to reflect this?

[2020-04-27 13:47] wagnerand commented on #2158
Probably, in a future update.

[2020-04-27 13:49] vaindil commented on #2158
This has been enforced for over a year now but the policies page hasn't been updated, that was why I asked. Thanks!

[2020-04-27 16:10] marchiore commented on #2158
@vaindil I can send a PR to `extension-workshop` update if you want.

https://github.com/mozilla/extension-workshop/blob/30fbb23760bc073fa133d8834d1231d8803223a3/documentation/publish/add-on-policies.md

from:

to:

do you think it is necessary to add some more information or is this good?

[2020-04-27 16:11] wagnerand commented on #2158
Thanks, I appreciate the effort but we do not accept pull requests for changes to the policies page. There is a larger process involved, we will likely change that with our next planned update.

[2020-04-28 20:04] Mubelotix commented on #2758
That issue should stay open

[2020-04-29 16:58] donbidon commented on #2498
My Buddah! Over 1 year ago bug was opened, still no progress. I cannot sign my extension.

[2020-04-30 07:13] ioanarusiczki commented on #3125
@willdurand Please add some str for qa else mark this qa not needed.
Thanks!

[2020-04-30 13:30] #3117 closed

[2020-05-04 23:16] TheUnlocked opened #3154 "Fails on nullish coalescing operator"
### Describe the problem and steps to reproduce it:

Use the nullish coalescing operator `??` in a file and try to lint it.

Minimal repro:
[code]

### What happened?

The linter reported a generic syntax error.

### What did you expect to happen?

No error.

### Anything else we should know?

The linter reports the error as occurring at line 1, col 1 despite the error being caused by the operator

[2020-05-05 10:48] Rob--W commented on #3154
Duplicate of #2978

[2020-05-05 10:49] Rob--W commented on #3154
Sorry, edited the wrong issue. Still related though: this error is because the new syntax is not yet supported by eslint.

[2020-05-05 10:49] Rob--W commented on #3009
Duplicate of #2978

[2020-05-05 10:49] #3009 closed

[2020-05-07 13:42] wagnerand opened #3160 "File incorrectly recognized as minified"
The file https://code.addons.mozilla.org/en-US/browse/2640660/versions/5019997/?path=data%2Finit.js is incorrectly recognized as minified, leading to truncation of it in the code-manager.

/cc @bobsilverberg

[2020-05-10 02:31] donbidon commented on #2498
I like to use dynamic import, so I had to do:
"manifest.json"
`...
"content_security_policy": "script-src 'self' 'unsafe-eval'; object-src 'self'",
...`json

`
let {foo, bar, ...} = await eval('import("/path/to/file")');
`js
but it looks like perversion (

[2020-05-10 03:59] Jack-Works commented on #2498
@donbidon but how? Firefox doesn't support dynamic import in content script
https://bugzilla.mozilla.org/show_bug.cgi?id=1536094

[2020-05-10 06:33] crimx commented on #2498
I made a webpack 4 plugin [webpack-target-webextension](https://github.com/crimx/webpack-target-webextension) that supports code-splitting with native dynamic import and with `tabs.executeScript` as fallback.

I also have a workaround solution for Firefox so that the dynamic import logic will be skipped.

Currently I just replace the `import` with other name to bypass the linter. It would be nice

[2020-05-10 08:04] Jack-Works commented on #2498
For anyone interested, I also made a SystemJS fork for We extension (https://github.com/Jack-Works/webextension-systemjs)

System JS is a fully ES Module compatible module format which supports import.meta (after transform) and dynamic import.
It is also powered by tabs.executeScript.

Here is a demo repo for this systemjs runtime: https://github.com/Jack-Works/web-extension-esmodule-test/tree/mas

[2020-05-11 13:20] EnTeQuAk commented on #2658
@rpl @willdurand I'm not able to finish this off. I don't think it's urgent but unfortunately it has been sitting around for a long time. On the other hand, from what I figured with playing around and wasting lots of time in the PR is that the eslint APIs have changed significantly again and especially mocking has become harder. I hope the work in the PR is useful.

[2020-05-11 18:08] jetwitaussi commented on #2758
I also have this problem, unable to publish firefox addon because arrow function not suppored. everything is working in firefox, this bug is very annoying.
Was able to publish on chrome store, so mozilla and their validation are out of date!

[2020-05-11 18:11] jetwitaussi commented on #2978
Same problem :(

[2020-05-13 09:13] SebastienGllmt opened #3169 "BigInt short-hand notation marked as syntax error"
Similar to other features such as #2978 , the linter is unable to parse syntax like `2166136261n` which is short hand for the new BigInt type in Javascript

[2020-05-17 15:06] Robbendebiene commented on #3138
@Rob--W Can you tell me when exactly the schemas in the linter will be updated with upstream?
I guess some time before the Firefox 77 release date (2020-06-02)?

[2020-05-17 22:40] Rob--W commented on #3138
@rpl will take care of the update. I guess soon, but otherwise at least before release.

[2020-05-18 04:47] moribellamy commented on #1905
I forgot about this, went to update my extension, and ran in to this again. any updates here?

at least a better error message is called for. i'd also like to know why no leading 0s are allowed. neither calver nor semver are supported because of this restriction.

[2020-05-18 14:15] alta88 commented on #3085
Any estimate here for an update? The linter in firefox works for optional chaining and nullish syntax. This is preventing addon updates.

[2020-05-19 15:27] #3138 closed

[2020-05-24 15:14] LucasAndrad commented on #3117
Sorry for the late reply on this, here is my zip:
[good-block.zip](https://github.com/mozilla/addons-linter/files/4673789/good-block.zip)

[2020-05-24 15:15] LucasAndrad commented on #3117
@rpl looks like I can't reopen this issue

[2020-05-24 21:34] Rob--W commented on #3117
The content of your extension is in the build/ directory. To zip it, you must enter that directory first:

[code]

To verify, use zipinfo. For example:

[code]

Note that manifest.json is at the top, and not in `build/zip.js`

[2020-05-25 17:10] erosman opened #3182 "Improve 'import' keyword warning"
When uploading my addon I noticed a warning by the validator:
It appears that the `class` method named `import` generates the warning meant for JavaScript method `import`.

The code in question (simplified):

[code]

[2020-05-27 21:48] wareya commented on #1700
Unless this was fixed without someone touching this issue, it's still an issue.

[2020-05-28 11:41] Mephiles opened #3189 "Javascript syntax error in review process"
### Describe the problem and steps to reproduce it:
I uploaded a new version of my browser extension/addon. It dind't pass because there was an error on line 2 (line 2: "import data from "../other_script.js";"). This had passed before so I figured this wasn't the actual problem.

After commenting line 2 out and resubmitting the new version, it came out that the real reason was line 342 which had "

[2020-05-28 17:39] jvillalobos commented on #3189
Possibly related to https://github.com/mozilla/addons-linter/issues/2498 and other issues around JS syntax.

[2020-05-29 13:22] Skeletonxf commented on #2758
Both errors were in fact be due to [class fields](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Public_class_fields) which have been supported by Firefox since version 69. [Replacing the class fields](https://github.com/Skeletonxf/duplicate-tab/commit/066449f834e3510ce3dde7af7059e4395887f334) that were both valid JavaScript and correctly interpreted when debugging the a

[2020-05-29 13:28] Mubelotix commented on #2758
I can't try your solution because I totally changed the structure of my project. I was making an extension running wasm code and the issue was in the js file containing the glue code, which was auto-generated.

[2020-06-02 13:07] Robbendebiene commented on #3138
@rpl Firefox 77 will be released today, but the add-on linter on AMO is still not updated. Can you tell me when the update for the add-on linter will role out?

[2020-06-03 12:57] timbru31 opened #3197 "Changelog is missing for the past two releases"
It would be a great addition if you can provide a changelog for 1.24.0 and 1.25.0. I've also noticed that the git tag for 1.24.0 is missing, this makes diffing even harder.

If you can add those, this makes updating more smoothly.

Thanks :)

[2020-06-03 14:25] willdurand commented on #3197
Hello, good call, thanks. I created a GitHub release for `1.25.0`: https://github.com/mozilla/addons-linter/releases/tag/1.25.0, which also describes what happened to `1.24.0`. Thanks!

[2020-06-03 14:25] #3197 closed

[2020-06-03 15:12] timbru31 commented on #3197
Appreciated :)

[2020-06-04 07:21] Robbendebiene opened #3198 "new optional permissions for Firefox 77 still throw an error on AMO"
### Describe the problem and steps to reproduce it:

(Please include as many details as possible.)

### What happened?

The add-on linter on AMO still throws errors for the new optional permissions added in Firefox 77 (https://github.com/mozilla/addons-linter/issues/3138). Therefore add-ons cannot be updated or uploaded who want to make use of the new optional permissions.

### What did you expect

[2020-06-04 07:32] willdurand commented on #3198
Sorry about that. We will deploy a new version of the linter today (at ~9am PT). It should work after that.

[2020-06-04 07:32] #3198 closed

[2020-06-04 07:52] pcdeshmukh opened #3199 "There is a new warning for Firefox extension during linting"
Hello,
During build we received a new warning `PROP_NAME_NOT_ALLOWED`. What is the intend of the of this warning. Our add-on name is "Acrolinx for Firefox".

[code]

[2020-06-04 09:37] wagnerand commented on #3199
Using the words "Firefox" or "Mozilla" in add-on names has not been allowed for a while, this warning makes it more apparent to developers.

[2020-06-04 09:37] #3199 closed

[2020-06-08 15:30] rpl opened #3202 "Unexpected callable error in no-unsanitized"
### Describe the problem and steps to reproduce it:

As originally reported in mozilla/eslint-plugin-no-unsanitized#124, it is possible for some minified code included in an extension, e.g. as the following one included in "Vimium C":

[code]

to trigger an "Unexpected callable" error while the minified code is being processed by the rules provided by the eslint-plugin-no-unsanitized plugin.

###

[2020-06-08 20:09] #2941 closed

[2020-06-14 21:41] lfilho commented on #3062
Arrived here for the same reason.
Tried running the `web-ext lint --ignore-files "**/.*js"` in an attempt to let the addons-linter only lint the manifes.json file and leave all the .js files to my local eslint setup, but that `--ignore-files` argument is actually applied to `web-ext` and not only to the `lint` subcommand, failing the lint command completely with: `"content script defined in the ma

[2020-06-14 21:49] lfilho commented on #3062
Another great workaround would be if we could just say: `web-ext lint file-to-lint-1 file-to-lint-2`. This way i could just point it to manifes.json while keeping the rest of of my .js files being linted by the `eslint` in my project.

[2020-06-14 21:53] lfilho opened #3206 "Remove eslint dependency or allow us to work around it"
There's a lot of issues in this repo regarding mdoern javascript code being used, but since the linter here is a bit old, it results as errors for the extension developers.

Personally, I want to use the addons-linter for the addon-specific linting stuff. I already have a javascript linter in my project.

As my comment in https://github.com/mozilla/addons-linter/issues/3062#issuecomment-643825903

[2020-06-17 13:18] rpl commented on #3202
Closing as fixed (by #3205)

[2020-06-17 13:18] #3202 closed

[2020-06-22 16:22] michaelts1 commented on #3085
Any news?

[2020-06-22 17:07] apriljunge commented on #3206
Bypassing eslint would only help during local developement. As this linter ist used by addons.mozilla.org it would still cause errors when publishing the addon.
Fortunaly there's a very promising PR #3181 to finally update eslint :+1:

[2020-06-23 13:45] willdurand commented on #3154
This is probably fixed by https://github.com/mozilla/addons-linter/pull/3161

[2020-06-23 13:45] #3154 closed

[2020-06-23 14:10] willdurand commented on #2658
done.

[2020-06-23 14:10] #2658 closed

[2020-06-23 14:32] willdurand commented on #2758
duplicate of https://github.com/mozilla/addons-linter/issues/3062

[2020-06-23 14:32] #2758 closed

[2020-06-23 14:32] willdurand commented on #3062
see also: https://github.com/mozilla/addons-linter/issues/2758

[2020-06-23 14:33] willdurand commented on #2940
duplicate of https://github.com/mozilla/addons-linter/issues/2498

[2020-06-23 14:33] #2940 closed

[2020-06-23 14:34] willdurand commented on #3206
As mentioned by @apriljunge, we're not going to get rid of eslint.

[2020-06-23 14:34] #3206 closed

[2020-06-23 14:34] willdurand commented on #2942
@rpl WDYT?

[2020-06-23 14:36] willdurand commented on #3189
@Mephiles hey, would you be able to share the file content? It's tricky to understand what the problem is.

[2020-06-23 14:39] Mephiles commented on #3189
Well there is not much to add. The file can be found at https://github.com/Mephiles/torntools_extension/blob/master/torntools/background.js

It starts with an import statement and somewhere deep in the code there was an "await" keyword in a function that was not set as "async". The point is that a normal browser running it understands that there is an unexpected keyword but Firefox code check flag

[2020-06-23 14:39] willdurand commented on #3182
This warning comes from https://github.com/mozilla/eslint-plugin-no-unsanitized

[2020-06-23 14:39] #3182 closed

[2020-06-23 14:40] willdurand commented on #3189
The link to the code is useful, thanks :)

[2020-06-23 14:45] willdurand commented on #2978
duplicate of https://github.com/mozilla/addons-linter/issues/3062

[2020-06-23 14:45] #2978 closed

[2020-06-23 14:47] willdurand commented on #3189
ha ok, so I am not sure if we can do anything really. I guess the parser was confused by the other error but not sure we can do anything about that. Closing for now as it does not seem to be a bug with addons-linter.

Thanks!

[2020-06-23 14:47] #3189 closed

[2020-06-23 15:01] rpl commented on #2942
@willdurand @pdehaan web-ext does integrate addons-linter as a library and to implement its `--ignore-files` cli option is passing to the addons-linter a function through the `shouldScanFile` option, and so `shouldScanfile` is technically the API to achieve the same thing when using the addons-linter npm package as an npm module in other projects.

It looks that there is also an explicit mention t

[2020-06-23 15:49] willdurand commented on #2942
Right, updating the README sounds good.

[2020-06-23 16:20] Skeletonxf commented on #2758
I opened this issue many months before that one?

[2020-06-26 07:11] abhijeetnarvekar commented on #3199
@wagnerand "Extension for Firefox" now throws an error for signing the add-on.
` Server response: Add-on names cannot contain the Mozilla or Firefox trademarks. (status: 400)`

The guideline still states "NewGadget Extension for Firefox" is still acceptable.
https://www.mozilla.org/en-US/foundation/trademarks/policy/

Can you clarify?

[2020-06-26 07:16] abhijeetnarvekar opened #3225 "Using the name "New Extension for Firefox" throws error"
Since today our build pipeline throws error for signing add-on
`Server response: Add-on names cannot contain the Mozilla or Firefox trademarks. (status: 400)`

Add-on name:  "Acrolinx for Firefox"

The guideline states it is acceptable to use "NewGadget Extension for Firefox".
https://www.mozilla.org/en-US/foundation/trademarks/policy/

What is the guideline? Is is allowed to use Firefox in the na

[2020-06-26 12:08] willdurand commented on #2158
see also https://github.com/mozilla/addons-server/issues/14656#issuecomment-650144734

[2020-06-26 12:08] willdurand commented on #3225
cc @jvillalobos @wagnerand

[2020-06-26 17:24] jvillalobos commented on #3225
It's not allowed anymore. The documentation just needs to be updated.

[2020-06-26 17:24] #3225 closed

[2020-06-27 15:22] jasonsavard opened #3226 "Nullish coalescing operator (??)"
### Describe the problem and steps to reproduce it:

This line of code failed probably due to the new Nullish Coalescing operator "??"

element.setAttribute("selected", await storage.get("key") ?? "");

### What happened?

JavaScript syntax error
Error: There is a JavaScript syntax error in your code; validation cannot continue on this file.
js/common.js line 1492 column 62

### What did you expec

[2020-06-29 11:02] #3085 closed

[2020-06-29 11:02] #2498 closed

[2020-06-29 11:02] #3169 closed

[2020-06-29 11:23] joshhofstad commented on #3225
@jvillalobos just curious, is there a reason for this change?

[2020-06-29 19:30] willdurand commented on #3226
duplicate of https://github.com/mozilla/addons-linter/issues/3154

[2020-06-29 19:30] #3226 closed

[2020-06-29 20:09] jvillalobos commented on #3225
It was always an iffy practice from a branding perspective, but the main reason is that it causes some SEO issues like duplication of "Firefox" in page titles.

[2020-06-30 09:33] willdurand opened #3228 "Only deploy once on Travis-CI"
I noticed that the `deploy` step was run twice on Travis because we have two builds (one for each node env). Let's deploy once instead. We can do this by specifying the node version: https://docs.travis-ci.com/user/deployment/#examples-of-conditional-deployment

[2020-06-30 13:47] #3228 closed

[2020-07-02 17:38] jvillalobos opened #3234 "Disallow control characters in filenames inside add-on packages"
We should have an equivalent test for https://github.com/mozilla/addons-server/issues/14817 in the linter, so developers are notified and can fix this during the development instead of after they submit to AMO.

[2020-07-02 20:45] willdurand commented on #3234
Marking as p2 since that would benefit both AMO, web-ext and the linter itself.

[2020-07-02 20:46] willdurand commented on #3234
Assigning it to myself for now but not sure I'll have time within the coming days/weeks. If someone else wants to take a look, feel free.

[2020-07-07 12:39] willdurand commented on #2866
See also: https://github.com/mozilla/addons-linter/issues/2865

[2020-07-09 00:42] ElliotHan opened #3244 ""Sorry we couldn't load your WebExtension" error at submission."
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
At the new version submission page, click on "choose file" and select the attached source (zip file).

### What happened?
Whenever I tried to submit my extension it spits out the "Sorry we couldn't load your WebExtension" error. I didn’t get this error before, so I don’t have a clue why I am getting t

[2020-07-09 13:20] willdurand commented on #3170
See also (maybe): https://github.com/mozilla/addons/issues/1219

[2020-07-09 13:33] rpl commented on #3103
We discussed about this issue during the triaging meeting and we agreed that this doesn't look worth fixing
(at least if it doesn't trigger any actual issue for the reviewers).

[2020-07-09 13:33] #3103 closed

[2020-07-09 13:44] AlexandraMoga commented on #3244
I think this error has been reported several times before. See also my issue #2506 which has additional references.

[2020-07-09 18:25] jvillalobos commented on #3244
Does this only happen on AMO or does it also fail when running `web-ext`? Is there a way to show a clearer error message on AMO?

[2020-07-10 08:45] AlexandraMoga commented on #3244
I was able to reproduce with `web-ext` as well. The error message is more or less the same, i.e. no additional information to indicate what went wrong.

[2020-07-13 00:15] ElliotHan commented on #3244
@AlexandraMoga  has the issue https://github.com/mozilla/addons-linter/issues/2506 been resolved after changing node options?

[2020-07-13 17:44] willdurand commented on #3244
The archive posted above is correctly linted with addons-linter v1.19 but it OOMs with addons-linter v2 so this is a regression, possibly in ESLint itself, we'll have to check.. cc @rpl

[2020-07-17 08:40] willdurand opened #3251 "Remove trademark restriction on add-on names"
See also https://github.com/mozilla/addons-server/issues/14945

[2020-07-17 10:26] #3251 closed

[2020-07-22 06:39] ioanarusiczki commented on #3251
@willdurand I verified submission by adding `for Firefox` or `for Mozilla` in manifest.json
Same results https://github.com/mozilla/addons-server/issues/14945#issuecomment-661043926

[2020-07-26 13:44] bhushan-borole commented on #3060
Hello @caitmuenster.
I would like to work on this issue.
Can I have a bit more insight on this, because I didn't understand the issue completely.

[2020-07-28 03:08] bmwalters opened #3269 "Warn on filenames that start with _"
### Note
I started to fix this in my fork here: https://github.com/bmwalters/addons-linter/tree/warning/chromium-illegal-filename but realized that the current scanner architecture only seems to check filenames and not directory names.

### Background
Chromium-based browsers forbid installing extensions that contain files or directories whose names begin with `_`.

Attempting to install an extensi

[2020-07-29 15:03] rpl commented on #3060
@caitmuenster I'm going to mentor this issue as we agreed.

@bhushan-borole Follows some additional details to help a contributor to have a better understanding of the issue and what parts of the addons-linter are more likely going to need some changes (there would be very likely other parts that may require changes, but this should be enough to get the work started, and don't spoil everything up

[2020-07-30 12:16] pasqualm opened #3272 "False positive submitting Language Pack add-on for Thunderbird 78"
### Describe the problem and steps to reproduce it:
Hi

I have updated my language pack add-on for Thunderbird 78 but when I submit it in https://addons.thunderbird.net/en-US/developers/addon/valencian-catalan-languag-9730/versions/submit/ the system says the xpi has validation errors:
Your FTL is not valid.
Error: Expected token: " "

localization/ca-valencia/messenger/openpgp/key-wizard.ftl line

[2020-07-30 12:17] wagnerand commented on #3272
Thanks for the report, please file issues related to the linter for Thunderbird here: https://github.com/thundernest/addons-linter/

[2020-07-30 12:17] #3272 closed

[2020-08-03 16:12] #348 closed

[2020-08-06 13:34] Rob--W commented on #3269
`_locales` is used in Firefox too (see https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Internationalization).
We don't care about `_platform_specific`, as it is obviously legacy technology in Chrome (https://developer.chrome.com/native-client/devguide/distributing).
`_metadata` doesn't have a special meaning on AMO,, so it doesn't need to be blocked. If anything, I would lik

[2020-08-06 13:34] #3269 closed

[2020-08-06 17:50] bmwalters commented on #3269
Those descriptions make sense, although I still think this linter warning would be useful for developers who are creating portable webextensions but primarily developing in Firefox.

I personally encountered this issue when placing content scripts in a folder that started with an underscore (not any of the three names that have been discussed), which worked in Firefox but failed at install-time in

[2020-08-07 09:11] els-pm-mattstratford commented on #3244
Is there a status update on this? We're unable to release* to Firefox until the regression in the addons-linter v2 is fixed.

_*Without decomposing bundles which passed fine before…_

[2020-08-07 18:24] pdehaan opened #3282 "JSON_INVALID lint error returns null file name instead of actual JSON file name"
Via https://github.com/mozilla/web-ext/issues/1993

---

### Is this a feature request or a bug?
Bug?

### What is the current behavior?

I was trying to test the webExt API to lint a project and noticed that it seems to send the `webExt.cmd.lint` output directly to STDOUT instead of returning it to my code, so I piped the output to disk (res.json) and noticed that I get an `JSON_INVALID` error be

[2020-08-07 19:13] pdehaan commented on #3282
Here's a pure **addons-linter** version:

[code]

### Output

[code]

[2020-08-12 19:26] rpl opened #3290 "Remove MANIFEST_FIELD_UNSUPPORTED validation error on background.service_worker once supported and enabled on the Firefox side"
### Describe the problem and steps to reproduce it:

As part of #3289 we are making sure that extensions using the `background.service_worker` manifest property are marked as invalid (and a new `MANIFEST_FIELD_UNSUPPORTED` linting error code is associated to the manifest validation error related to that), because the property has been added to the API schemas but it is not yet fully supported by F

[2020-08-15 07:25] sukriti1 commented on #3060
I am new to the community but would love to work on this bug!

[2020-08-17 15:21] caitmuenster commented on #3060
Welcome @sukriti1! 👋🏼 Go ahead and start working on the bug. If you have any specific questions, please ping @rpl in the comments. :) We'll assign you to the issue once you've submitted a PR.

Thanks so much!

[2020-08-26 12:36] noorulhussain commented on #3244
Is there any update on this issue?

[2020-08-26 12:40] denishowew commented on #3202
I still get this error from `web-ext lint` (5.0.0) on some large js files.

[2020-08-26 16:30] rpl commented on #3202
@denishowew is the error explicitly mentioning the about no-unsanitized plugin?

with recent versions of the addons-linter there is an issue related to linting large js files bundles (triggered by upgrading the eslint dependency to eslint v7, an existing issue related to this is #3244).

Locally you may workaround that issue by running node with an higher max heap size value (e.g. by setting the n

[2020-08-27 11:59] denishowew commented on #3202
Sorry, it is no-unsanitized but mine is "Unexpected Callee" not "callable".  Probably a different bug.

[2020-09-04 21:29] ebkhalilzadeh opened #3319 ""Your add-on failed validation with 1 error." : Received an empty response from the server; status: 0"
I tried submitting the new version of my extension for signing but got a strange error in response. Tried it multiple times and got the same response. There were some warnings and 1 notice in the lint report, but no error. There also were two warnings related to a bug in linter which I reported separately.

I also tried to re-submit the old version of my extension that was submitted successfully.

[2020-09-07 11:22] lilydjwg opened #3322 ""Icons must be square." for svg icons"
### Describe the problem and steps to reproduce it:

I'm trying to upload a new version of [cf-pop](https://addons.mozilla.org/firefox/addon/cf-pop/) to amo.

### What happened?

It says `Icons must be square.` and `Icon at "icons/Cloudflare-gray.svg" must be square.` twice.

### What did you expect to happen?

It should accept svg icons (like before).

### Anything else we should know?

The icon

[2020-09-07 11:57] Rob--W commented on #3322
This should have been a warning, not an error:
https://github.com/mozilla/addons-linter/blob/7530c81c27e7d8484b7d76381924489eaf07a5b3/src/parsers/manifestjson.js#L497

[2020-09-07 12:29] lilydjwg commented on #3322
But what I see on the website is an error and I can't continue (the button to continue is gray).

[2020-09-07 15:31] ddbeck opened #3323 "Upcoming breaking changes from mdn-browser-compat-data"
Hi, I'm a maintainer of [`mdn-browser-compat-data`](https://github.com/mdn/browser-compat-data) and [it was suggested](https://github.com/mdn/browser-compat-data/issues/6640#issuecomment-686629794) that I reach out to you about some upcoming breaking changes for the package, since you have the package as a dependency.

The summary is that we're planning to rename the package to `@mdn/browser-compa

[2020-09-08 13:10] #3060 closed

[2020-09-16 19:03] erich0123 opened #3341 "You cannot submit this type of add-on"
### Describe the problem and steps to reproduce it:
I'm trying to sign an extension that uses the "theme_experiment" feature. I get the following error when trying to upload the built zip file on AMO or sign it with `web-ext`: `You cannot submit this type of add-on".

Please add a way to sign and publish extensions that make use of experimental features. Maybe you could flag them as experimental a

[2020-09-16 19:06] jvillalobos commented on #3341
Experimental APIs are not for public use, by design. The signing restriction is intentional.

[2020-09-16 19:06] #3341 closed

[2020-09-16 19:07] erich0123 commented on #3341
I know. It makes sense but I want to install the extension in my own browser. I'm not trying to publish it on AMO, I just want to sign it. I don't think it's a problem if people distribute experimental add-ons themselves.

[2020-09-16 19:10] Rob--W commented on #3341
Even if signed, Firefox would not support the experiment.

Theme experiments are only supported for temporarily loaded add-ons (or themes with a privileged signature, or located in the Firefox application directory).

[2020-09-16 19:12] erich0123 commented on #3341
OK, is there a way to install it permanently and can you tell me if the feature is going to be supported officially someday? I think it's a great feature.

[2020-09-16 20:21] Rob--W commented on #3341
Why do you want to permanently use `theme_experiment`? If it is to load an arbitrary style sheet, use userChrome.css instead.

There is a whole community dedicated to developing userChrome stylesheets at https://reddit.com/r/FirefoxCSS .

[2020-09-17 09:57] erich0123 commented on #3341
I want to toggle the theme to hide the toolbar:

https://github.com/erich0123/firefox-zen-mode

[2020-09-17 10:04] Rob--W commented on #3341
If you use Dev Edition or Nightly, then with the instructions from your README (`xpinstall.signatures.required=false`) you can already permanently install the add-on without signing it (by zipping it, changing the file extension to `.xpi`, and loading the .xpi file in the browser).

PS. The `extensions.legacy.enabled` pref is not doing anything.

[2020-09-17 10:45] erich0123 commented on #3341
Thanks, I've installed it now.

I thought the `extensions.legacy.enabled` was required because it said so in the docs.

[2020-09-17 10:52] Rob--W commented on #3341
Which docs?

[2020-09-17 13:06] Rob--W commented on #3322
Mentor: @rpl

[2020-09-17 13:08] rpl commented on #3323
@ddbeck thanks for letting us know about this upcoming change, we'll monitor the upstream issue and replace the dependency on this repo when the first version has been published on npm,

[2020-09-17 13:11] rpl commented on #3244
@ElliotHan would you mind to try to submit the extension again? we updated the limits on the worker servers and the linting should now pass successfully.

[2020-09-17 17:38] erich0123 commented on #3341
@Rob--W https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme_experiment

[2020-09-17 17:44] Rob--W commented on #3341
Thanks, I fixed that.

[2020-09-20 10:30] parasgoyal12 commented on #3322
Hello Sir,
I am interested in this. Kindly help me get started.

Regards

[2020-09-20 22:16] Rob--W commented on #2528
Still reproducible following the STR.

[2020-09-24 10:09] willdurand opened #3352 "Update Travis CI config for Node 12 and 14"
We should update our Travis CI config to:

- run the test suite with Node 14
- build the package with Node 12 as this is the version we are going to use on AMO

We can keep the Node 10 jobs for some more time as it is needed for `web-ext`.

[2020-09-28 13:07] wagnerand opened #3357 "Reduce webpack logging"
Webpack logging is very verbose and takes about 90% of travis output, let's reduce it.

[2020-09-28 13:44] #3357 closed

[2020-09-28 13:52] wagnerand opened #3359 "Don't build twice during travis runs"
We build the project twice, once during `npm run build` and once during `npm run webext-test-functional` (which calls `build` again).

We don't need to do that and should look into avoiding the redundant build.

Note from @rpl: _we could skip that part in the related script (maybe just skip it when running on travis, given that we do know the order of the steps executed and that the linter was alr

[2020-09-29 16:06] #3352 closed

[2020-09-29 16:06] #3359 closed

[2020-10-06 08:19] willdurand opened #3381 "Remove `eslint-plugin-jest` because it is already part of the AMO config"
We use https://github.com/mozilla/eslint-config-amo, which provides an ESLint config for all our projects. It already requires `eslint-plugin-jest` so there is no need for it in the linter deps.

[2020-10-06 12:02] #3381 closed

[2020-10-08 14:43] AlexandraMoga commented on #3381
I've submitted a few add-ons on AMO and with `web-ext` and I haven't found parsing issues.
This was verified with stage.

[2020-10-08 17:00] joelpurra commented on #1299
@muffinresearch: when [escaping the `@` in CSS using `\0040`](https://www.w3.org/International/questions/qa-escapes#cssescapes):

- Running `web-ext lint` still gives `CSS_SYNTAX_ERROR` (web-ext v5.2.0 from 2020-10-05).
- Both Chrome v85 and Firefox v81 do not render properly, as the escaped message strings remains unprocessed (instead of being replaced by the predefined values such as `ltr`/`left

[2020-10-08 18:07] joelpurra opened #3389 "Clarify relation to eslint, .eslintignore"
### Describe the problem and steps to reproduce it:

- Create an extension which has a javascript build step using, for example, Typescript or Rollup.
- Build the extension, outputting files in the, for example, `dist/` directory.
- Add [`eslint`](https://eslint.org/) for source code linting.
- Create an [`.eslintignore` file](https://eslint.org/docs/user-guide/configuring#ignoring-files-and-direc

[2020-10-08 18:27] rpl commented on #3389
The .eslintignore file should be actually ignored by addons-linter.

@willdurand This is very likely a regression introduced in v2.0.0 (likely by migrating from eslint 5 to eslint 7), as an additional proof `npx addons-linter@1.26.0 .` doesn't produce those warnings (while any version >= 2.0.0 does).

we should:
- look into the changes needed to make sure that we are configuring eslint v7 to ignor

[2020-10-08 18:29] ddbeck commented on #3323
A little update here: `@mdn/browser-compat-data` is now the preferred version and `mdn-browser-compat-data` is deprecated (which I think is what triggered the autoclosure of #3388). [Upgrade instructions are also available](https://github.com/mdn/browser-compat-data/blob/v1.1.0/UPGRADE-2.0.x.md). Please @-me if you run into any problems. Thank you!

[2020-10-08 22:14] Rob--W commented on #1299
This issue was incorrectly closed, the bug report is still valid.
To reproduce, create a CSS file with the following content and run the linter:

[code]

To fix this, CSS files should be preprocessed using logic similar to: Firefox: https://searchfox.org/mozilla-central/rev/919607a3610222099fbfb0113c98b77888ebcbfb/toolkit/components/extensions/ExtensionCommon.jsm#1934-2006

[2020-10-09 15:13] Yashs911 commented on #3322
Hi, @rpl I would like to work on this issue.

[2020-10-09 15:24] regseb commented on #3282
I think it's commit https://github.com/mozilla/addons-linter/commit/087cac8e5979f17eb55979d2aa5ea6c046fce261 that introduced the problem (find with _git-bisect_).

[2020-10-09 15:40] rpl commented on #3322
@Yashs911 welcome! feel free to look into it and create a pull request (the issue will be marked as `contrib: assigned` once a pull request has been created).

In https://github.com/mozilla/addons-linter/issues/3322#issuecomment-688277745 Rob did point out which part of the addons-linter source code you may have to look into and apply some changes to.

This repository's README.md file contains som

[2020-10-09 16:07] Yashs911 commented on #3322
@rpl few tests failed after I ran npm run test how to fix them and how to reproduce the error?

![fail](https://user-images.githubusercontent.com/64412143/95605945-492cf080-0a77-11eb-9333-7e9aa1d4ad58.JPG)

[2020-10-09 16:21] rpl commented on #3322
are you running the tests on windows?
it may be due to some OS differences when running the tests on windows, I don't have a windows box nearby to me at the moment, but I can give it a try over the weekend.

Another option may be to try to use WSL and run the tests from there.

To reproduce the issue you can create a simple test extension (e.g. you may use `npx create-webextension an-extension-dir

[2020-10-09 21:36] imabp commented on #3322
I would like to work on it. Can you help me out @rpl

[2020-10-10 22:25] freaktechnik commented on #2317
more relevant than ever?

[2020-10-10 22:26] freaktechnik commented on #1807
<3 you too stale bot.

[2020-10-13 10:44] #3389 closed

[2020-10-13 11:55] erolaliyev commented on #3322
Hi, @Yashs911 , are you still working on this issue? I would like to work on it if you aren't. Thank you.

[2020-10-13 12:44] rpl commented on #3322
@Yashs911 I confirm you that those are legit issue with running the addons-linter tests on a windows native shell (I tried on powershell but I'm pretty sure that the same would happen with cmd). To make the addons-linter test suite able to work natively on windows we'll need to fix those issues, separately from fixing this one.

In the meantime you could use Windows WSL to run the tests into an Ub

[2020-10-13 14:31] Yashs911 commented on #3322
@rpl thanks for the information I will need to set up WSL first and I guess that will help me in future open contribution.

[2020-10-16 13:13] #3282 closed

[2020-10-16 23:43] ThamiMemel commented on #3322
Hello i use Linux and i manage to reproduce the error, i changed it to a warning, i'll make a PR please correct me if i'm wrong or i misunderstood the issue this is my first contrib.
thanks.

[2020-10-19 16:16] #3323 closed

[2020-10-20 06:54] AlexandraMoga commented on #3323
@wagnerand would some general regression testing (submitting various add-on types, triggering errors/warnings) suffice for these changes or is there something more specific we should focus on?

[2020-10-20 10:51] wagnerand commented on #3323
@AlexandraMoga That is a good question.

Ideally, if you have add-ons that are using APIs that recently changed (maybe @rpl could help identify some), you could submit those and verify that they are still producing the same output as before. And on the other hand, APIs that did not recently change should not trigger a validation message.

@rpl Thoughts?

[2020-10-20 10:57] wagnerand commented on #1807
This is a nice-to-have. Marking P4.

[2020-10-20 12:21] rpl commented on #3323
@wagnerand @AlexandraMoga

From a quick look to the [interdiff between the mdn/browser-compat-data version that we used before this change and the last released version](https://github.com/mdn/browser-compat-data/compare/v1.0.40...v2.0.3), it seems that there shouldn't be much that would affect our usage of that module, the only change related to the webextensions API is the one from mdn/browser-c

[2020-10-21 17:23] wagnerand commented on #2114
We should get to this sooner rather than later /cc @willdurand

[2020-10-21 17:24] wagnerand commented on #1141
@rpl is this related to https://github.com/mozilla/addons-linter/issues/3389

[2020-10-21 18:59] rpl commented on #1141
that was about the .eslintignore file (and for that we do have an integration test that covers it), this is about the eslintrc file, and so the test added in #3389 do not cover this one at the moment.

I took a quick look and it seems that we do not have any other test that covers this, but [we do still configure eslint to ignore the eslintrc file here](https://github.com/mozilla/addons-linter/blo

[2020-10-22 01:51] devsecdan commented on #3062
Ran into this issue today. Unable to publish my extension because it makes use of static fields.

[2020-10-22 10:16] rpl commented on #3062
Unfortunately this issue is still blocked on an upstream change: eslint officially supporting the class fields tc39 proposal.

It looks that the class fields tc39 proposal is still at stage 3 (see https://github.com/tc39/proposal-class-fields) and I'm pretty sure that eslint does not usually introduce support for new javascript syntaxes until their tc39 proposal does reach stage 4.

[2020-10-24 16:30] ThamiMemel commented on #2253
i would like to work on this issue

[2020-10-25 21:21] ThamiMemel commented on #2253
Here's a first draft, most likely subject to multiples changes.
Here are some point probably need to be edited . hopefully someone with more insight into the project can guide me.

- **Restricted domain should be inside some sort of config file ?**

- **Error code and description could be better ?**

- **Should i make a test case for this ?**

[2020-10-26 01:20] Qeole opened #3416 "Insufficient granularity for “valid application versions”"
### Describe the problem and steps to reproduce it:

I tried to validate a Thunderbird add-on, with `strict_min_version` set to `"78.4"` in my manifest. I do _not_ want `"78.0"`, because the MailExtension API I'm working with was introduced in Thunderbird 82 and backported to 78.4 only, so my add-on would not work with version 78.0 for example.

### What happened?

[code]

As I understand from htt

[2020-10-26 09:37] wagnerand commented on #3416
Please file Thunderbird-related issues at https://github.com/thundernest/addons-linter/. Thanks!

[2020-10-26 09:37] #3416 closed

[2020-10-26 10:07] #3322 closed

[2020-10-26 10:34] rpl commented on #2253
It depends from what degree of flexibility this validation rule should have.
e.g. addons-dev.allizom.org is a non production instance of the demo portal, but based on the original issue linked to this one it seems that addons.mozilla.org is the main domain that we were meant to disallow.
But, are those the only urls that we want to disallow? (e.g. should we also disallow localhost?).

@Yrkan this

[2020-10-26 10:38] rpl commented on #2253
@willdurand is this still something that we still want to do also on the addons-linter side? or is it already covered by (or should be covered by more) by server side checks?

If this issue is still valid, we should agree on what are the expected behaviors that we should implement (e.g. disallow addons.mozilla.org, addons-dev.allizom.org and localhost? maybe but just include an array of disallowed

[2020-10-26 16:42] Qeole commented on #3416
Thanks! I didn't know about that fork.

I'd be happy to file a new issue there, but the issues are not enabled on that repo. Would you know who I should contact about it, by any chance?

[2020-10-26 16:48] wagnerand commented on #3416
I'd try filing an issue https://github.com/thundernest/addons-server/ then.

[2020-10-26 17:23] Qeole commented on #3416
Will do, thank you.

[2020-10-26 20:20] Yrkan commented on #2294
@rpl Is this issue still valid ? if so i would love to work on it.

[2020-10-26 21:35] Yrkan opened #3417 "Manifest.json validator should accept "incognito":"split""
### Describe the problem and steps to reproduce it:

the MDN docs say that it should accept ["spanning", "split", "not allowed"] but the current validation accepts only ["spanning", "not allowed"]
ref: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/incognito

### What did you expect to happen?
"incognito":"split" should be accepted

![image](https://user-image

[2020-10-26 21:36] Yrkan commented on #2834
Should null be accepted ?
According to this incognito is an enum of **["spanning", "split", "not allowed"]**
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/incognito

While looking this up i found another potential bug, the MDN docs say that it should accept ["spanning", "split", "not allowed"] but the current validation accepts only **["spanning", "not allowe

[2020-10-26 21:39] Yrkan commented on #3417
My bad "split" isn't supported in Firefox.

[2020-10-26 21:39] #3417 closed

[2020-10-27 10:26] willdurand opened #3421 "Upgrade to Webpack 5"
Webpack v5 is the new major version. Let's upgrade to it once we're confident that it should work just fine.

[2020-10-27 12:27] rpl commented on #2294
Yes, this issue still look valid.

First step of working on this should actually be to verify that by yourself (because that makes you sure that you have got a good picture of the issue and you know how to reproduce it, and then you can try again after you are starting to make changes and verify what results you get):
- create a minimal test extension
- add both `applications` and `browser_specifi

[2020-10-27 13:22] rpl opened #3422 "Import Firefox 83 API schema data"
There were no changes to the WebExtensions API schema in Firefox 83 and so running `./scripts/download-import-tag FIREFOX_83_0b4_RELEASE` didn't generate any actual diff for the addons-linter.

I filed this issue just to track it in the addons-linter repository (and to be able in the future to more easily double-check why there were no API schema data imported for Firefox 83).

[2020-10-27 13:23] rpl commented on #3422
@wagnerand I'm going to close this issue without any pull request, for the reasons described in this issue description.

[2020-10-27 13:24] #3422 closed

[2020-10-27 14:37] Yrkan commented on #2294
@rpl Oh i got it, i was confused because i didn't know about "applications" key before but it appears to be the same as "browser_specific_settings".
I did reproduce the issue and made a patch to fix it, i'll open a PR right now. yet i'm a bit concerned  about the message code and description i feel they could be better.

[2020-10-27 14:40] wagnerand commented on #2294
@rpl Hm, shouldn't we already warn when both `"browser_specific_settings"` and `"applications"`are defined in manifest.json?

[2020-10-27 15:20] rpl commented on #2294
@wagnerand
I looked to the related code and it doesn't seem we do at the moment, we do overwrite `applications` with `browser_specific_settings` here to use them as aliases of each other here: https://github.com/mozilla/addons-linter/blob/ab124e835dfba772f67341b5e4d7107a7095c644/src/parsers/manifestjson.js#L306-L311

I haven't tried to reproduce it locally, but based on https://github.com/mozilla/

[2020-10-27 15:37] Yrkan commented on #2294
@rpl i can confirm that with the latest build of addons-linter there is not warning if both `"browser_specific_settings" ` and `"applications"`are used.
![image](https://user-images.githubusercontent.com/29315771/97324722-739dec80-1872-11eb-9591-cae606bfce8d.png)

[2020-10-27 15:38] wagnerand commented on #2294
@rpl Sorry, that was not what I meant.

I was suggesting that the fix for this issue is that we warn when both "browser_specific_settings" and "applications" are defined in manifest.json (and ignore whether `gecko` is defined in either or both).

[2020-10-27 15:52] rpl commented on #2294
ah, sorry I definitely misunderstood what you meant.

For the purpose of the warning what you are suggesting sounds definitely reasonable, we should warn if the manifest have both the properties (independently from what they actual contains).

Another scenario that we may want to consider is:
- an extension does have both and their "gecko" properties contains different content.

In that case it ma

[2020-10-27 15:58] wagnerand commented on #2294
@rpl I was first considering we might want to error in all cases, but that's probably a bit too strict.

I assume there is defined and consistent/reproducible behavior which of `"browser_specific_settings"` and `"applications"` takes precedence if both are defined. If there is, we might not have to error though. In that case, we could make that a warning and even lower the more general case to an

[2020-10-27 16:11] rpl commented on #2294
@wagnerand yes, `"browser_specific_settings"` is the one that takes precedence (on Firefox, and then we kept the same convention also here in the addons-linter and in web-ext).

I was mainly thinking of collecting an error when their content differs because it may trigger issues that may surprise the developers if they at some point remove `"browser_specific_settings"` and `"applications"` contain

[2020-10-27 16:58] wagnerand commented on #2294
Ah cool. I am not opposed to issuing an error. I was thinking throwing a warning would be more consistent here because we usually throw errors only when that file would not work (or severely break) in Firefox.

[2020-10-27 19:41] Yrkan commented on #2294
**This PR will be changed according to the final decision**

[2020-10-28 11:50] AlexandraMoga commented on #3323
I've noticed that a new linter version was published with https://github.com/mozilla/addons-linter/releases/tag/2.10.0 so I went ahead and verified the scenarios mentioned above on AMO -dev.

If an extension uses `browser.tabs.captureTab();` in combination with `"applications.gecko.strict_min_version": "57.0"`, both the new and the old linter versions will throw the following warnings:

![image](h

[2020-10-28 13:27] AlexandraMoga commented on #3282
JSON files that triggered a validation error are now returned in the linter results:

[before fix]
![image](https://user-images.githubusercontent.com/31961530/97441516-7ca1c300-1931-11eb-9f5e-9a8fd93531fc.png)

[after fix]
![image](https://user-images.githubusercontent.com/31961530/97441563-89261b80-1931-11eb-8b05-0f7ab51540c6.png)

[before fix]
![image](https://user-images.githubusercontent.com/3

[2020-10-28 14:04] willdurand opened #3428 "Add an option to disable the auto-close feature when reading xpis"
One https://github.com/mozilla/addons-linter/issues/2866 lands, we'll use a new library for the `io` layer and it will allow us to disable an "auto-close" feature when reading XPI files.

In short, instead of opening and closing the XPI every time we read something in it, we'll keep it opened. This should improve the overall perfs a bit (at least, in a different project, this optimization had a si