[2017-09-20 08:04] ValentinaPC commented on #1551
Please add some STR for this or the label "qa: not needed". Thanks!

[2017-09-20 08:54] jasmineflorencio commented on #348
Hi, I would like to handle this issue.

[2017-09-20 11:40] erosman commented on #1547
TBH, the `unsafe-eval` warning was more expressive than the generic `eval` which is used for actual `eval()` function.. but it is not an issue.

[2017-09-20 11:40] EnTeQuAk commented on #348
@jasmineflorencio please go for it! If you need any help or run into any problems along the way feel free to let us know.

[2017-09-21 11:08] Divya063 commented on #1074
@EnTeQuAk  Should I create a separate error message like MANIFEST_INVALID_KEY  in messages/manifestjson.js or just go with  `error.message = 'is not a valid key or has invalid extra properties' ` ?

[2017-09-21 11:32] ravneette commented on #1328
Hi @muffinresearch

I would like to work on this. From what I could get it means that we need to validate if the icon is a valid image? So we need to verify if its extension is one of jpg, png or svg?

Or does this issue also comprise of validating the size of the input image?

Also I see some work done on validation of image size here : https://github.com/mstriemer/addons-linter/commit/5cbdaaeed8

[2017-09-21 12:31] EnTeQuAk commented on #1074
Yes, please add a new error message in `messages/manifestjson.js` and maybe take a look at how `PROP_NAME_MISSING` and it's respective `manifestPropMissing` work on how to inject a property key into the error message.

So something along the way of `An unexpected property "unknownkey" was found in the WebExtension manifest.` might work.

[2017-09-21 12:57] Divya063 commented on #1074
@EnTeQuAk Thanks for the suggestion!

[2017-09-21 20:37] kumar303 commented on #1254
I think [webextension-polyfill](https://github.com/mozilla/webextension-polyfill) would really benefit from this too.

[2017-09-22 09:25] EnTeQuAk commented on #1550
I'm not too familiar with [yargs](http://yargs.js.org/) which is imho where this `config._` is actually coming from. As far as I know this is simply the first positional command line argument that isn't specifically named.

If you find an alternative way to do that with yargs and name this appropriately we're very happy to accept a pull request!

[2017-09-22 09:48] EnTeQuAk commented on #1328
I answered a few of these questions in https://github.com/mozilla/addons-linter/pull/1558 directly, somehow I never submitted my comment here 😇

[2017-09-22 09:58] muffinresearch commented on #1328
Hi @ravneette - I've marked this contrib assigned. I think @EnTeQuAk has covered what you were asking. Please let us know if you have any further questions.

[2017-09-22 10:15] muffinresearch commented on #1328
Cross referencing the other issues I think it might be good to look at the magic number signature [1] of the file and check that with the supplied extension.

That won't check that an image is corrupt but could help detect unexpected files.

[1] https://en.wikipedia.org/wiki/List_of_file_signatures

[2017-09-22 10:45] muffinresearch commented on #1328
Checking magic numbers can definitely be split out into a separate issue/patch too.

[2017-09-22 11:59] EnTeQuAk commented on #158
I didn't find anything useful yet but maybe there's some XSS bypassing things using data uris?

[2017-09-22 12:01] matatk commented on #1550
I've been reading through yargs' docs and GitHub issues and I agree there doesn't seem to be a straightforward way to do this, but I have asked about it, and if a straightforward way is found, I'll submit a PR.

[2017-09-22 12:05] EnTeQuAk commented on #391
This warning is no longer raised but indeed, the whole printing code (e.g `textOutput` etc) could be put into separate modules and be made easier to be re-used.

Maybe that's a good `contrib:welcome` bug?

[2017-09-22 12:11] EnTeQuAk commented on #1550
Cool, thanks for asking around! Feel free to keep us in the loop if something good comes up that we can use instead of that ambiguous `_`

[2017-09-22 12:14] EnTeQuAk opened #1559 "Drop `legacyCode` from our code-base"
Based on https://github.com/mozilla/addons-linter/issues/1063 and the fact that we don't have to maintain legacy compatibility with amo-validator anymore we can get rid of `legacyCode`.

Let's just remove it everywhere where it's being used / referenced. Also make sure to update our `rules.md` file to represent that change.

[2017-09-22 12:18] EnTeQuAk opened #1560 "Cleanup rules.md to not include old amo-validator rules anymore."

[2017-09-22 20:05] andymckay opened #1561 "Check all background scripts and pages exist"
Apparently people include things which don't exist. We'll harden WebExtensions against this, but let's let the developer know. Example: https://bugzilla.mozilla.org/show_bug.cgi?id=1402205#c2

[2017-09-23 01:40] Divya063 commented on #1074
I'm getting this error
` Cannot read property 'defineRule' of undefined
(node:11812) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: Cannot read property 'defineRule' of undefined
`

[2017-09-23 18:15] ravneette commented on #1559
Hi @EnTeQuAk
I would like to work on this.

From #1063, I could get that now amo-validator is being used for testing old school extensions, so there is no need for the legacyCode parameter in the code base.

Please correct me if I'm wrong, and I'll start working on this.

[2017-09-23 20:50] Anshika-G commented on #1559
@EnTeQuAk, I would like to solve this!
Can you please guide?

[2017-09-25 08:27] EnTeQuAk commented on #1473
This is a duplicate of https://github.com/mozilla/addons-linter/issues/1273 and should be fixed once this happens if it's not already fixed. Let's keep it open though to verify later.

[2017-09-25 08:31] EnTeQuAk commented on #1325
This should have been landed in espree 3.5.0 and eslint 4.7.1 pulls in espree 3.5.1 so this should be fixed in the latest releases :)

[2017-09-25 08:31] #1325 closed

[2017-09-25 08:36] EnTeQuAk commented on #1310
Note to whoever wants to work on this: The idea here is that `filename` should be normalized a bit - all lower-cased etc. More importantly is a bit of research what `filename`s `recordScannedFile` will see, it's being called in `src/linter.js` around line 402, I am honestly not too sure.

If it turns out that the `filenames` are unique and have their full path this issue probably doesn't need an i

[2017-09-25 08:37] EnTeQuAk commented on #1299
@muffinresearch any idea who else could answer that?

[2017-09-25 08:39] EnTeQuAk commented on #1257
I'd maybe target this for after the outreachy when we might land a few bigger releases which also should be around or shortly after Firefox 57 which marks a huge push of people developing WebExtensions and we get more and more feedback.

[2017-09-25 08:57] EnTeQuAk commented on #1074
@Divya063 as mentioned in another issue, did you run `npm install` in your local checkout to update all dependencies? This error should have been fixed in the most recent eslint upgrade.

[2017-09-25 09:10] EnTeQuAk commented on #1559
The amo-validator has always being used to test legacy (old school) extensions and the addons-linter was supposed to superseed this but with the push towards WebExtensions we deprecate amo-validator eventually and dropped all code related to legacy add-ons from addons-linter.

That's why the `legacyCode` can be dropped from the code base.

Feel free to start working on this! I am setting this to "

[2017-09-25 09:32] ValentinaPC commented on #1325
@EnTeQuAk : checking submission for the attached extension and seeing that is working, should do it for this? Or there is anything else that should be checked here? Thanks!

[2017-09-25 10:43] EnTeQuAk commented on #1325
Yes, that should suffice.

[2017-09-25 11:18] ValentinaPC commented on #1325
Verified as fixed on AMO-dev FF55(Win 7).
Submission of the attached extensions doesn't return any error.
Postfix screenshot:
![sub](https://user-images.githubusercontent.com/15685960/30805825-e72109f8-a1fb-11e7-8b07-e047a649b9fb.png)

[2017-09-25 15:09] andymckay opened #1564 "Firefox for Android support"
We know what API works in Desktop and what works in Android - generally speaking its the difference between the API existing in `browser` or `toolkit`. It would be nice to be able to target the linting to a specific application. i.e.: if i lint for Android, it should throw a warning saying nativeMessaging doesn't work there.

This is a big bug that could lead to some neat goals: being able to tell

[2017-09-25 15:24] ravneette commented on #1559
Hey @EnTeQuAk

Could you point me to the P.R. that removes the amo-validator dependency? It'll help me understand which parts of the code were being referenced by it, so I can remove them.

An obvious approach I see, and correct me if I'm wrong, is to remove the legacyCode parameter from the objects defined in messages. But I'm not sure if this might break the code.

[2017-09-25 15:31] drashti4 commented on #1535
I would like to work on this issue.

[2017-09-25 15:38] EnTeQuAk commented on #1564
That'd be nice indeed. Sounds like quite a lot of restructuring of the import process to me though, afaik the schemas get's merged together so that we have the broad picture imported. The information from where a schema file comes can probably be piped through and put on the appropriate APIs in the schema files. cc @mstriemer on this though since I only know so much of the schema import process.

[2017-09-25 15:43] EnTeQuAk commented on #1535
@drashti4 we currently have this issue set aside for consideration as part of outreachy. For now it will be preferable if you can find other issues to work on, however I will be sure to let you know if this issue is not going to be worked on as part of that program.

There are issues marked with [contrib: maybe good first bug](https://github.com/mozilla/addons-linter/labels/contrib%3A%20maybe%20go

[2017-09-25 15:48] EnTeQuAk commented on #1559
@ravneette [amo-validator](https://github.com/mozilla/amo-validator) is a completely different code-base and essentially the predecessor of the addons-linter. The removal process of removing linting code for legacy add-ons was progressive and happened in multiple pull requests.

That is actually what this issue is all about. It will certainly break some code and tests and you're going to have to f

[2017-09-25 16:10] ravneette commented on #1559
Haha
Sure was a lot of fun to remove the code! Thanks for the guidance @EnTeQuAk.

Filed a P.R here https://github.com/mozilla/addons-linter/pull/1565

[2017-09-25 16:11] ravneette commented on #1559
I could find only one test that used to check if each message has legacyCode defined.
Removed that and the tests ran fine locally.

[2017-09-25 17:29] rosygupta commented on #1536
@muffinresearch I'd like to take this up as a part of the outreachy program.

[2017-09-26 06:36] jasmineflorencio commented on #351
@EnTeQuAk I'd also like to work on this issue since it blocks #348. How can I differentiate a fatal error from a non-fatal error? It looks like [this](https://github.com/mozilla/addons-linter/blob/master/src/linter.js#L75) is a fatal error but it's getting added to the collector. From your earlier comment it looks like the non-fatal errors are located in the installrdf.js and firefox-schemas-impor

[2017-09-26 10:22] ValentinaPC commented on #1323
@EnTeQuAk : Hey, Chris, any news on this? Thanks!

[2017-09-26 15:52] EnTeQuAk commented on #1323
I attached a zip that contains a jQuery 3.2.1 that is modified to not throw any other warnings so you should now be able to test that.

[jquery-modified.zip](https://github.com/mozilla/addons-linter/files/1333815/jquery-modified.zip)

[2017-09-27 08:34] #1559 closed

[2017-09-27 10:18] itaditya commented on #1536
@muffinresearch I would like to fix this bug as part of the outreachy program

[2017-09-27 14:22] ValentinaPC commented on #1323
Verified on AMO-dev FF55(Win 7).
While adding the above .zip to the suited add-on the following warning was threw:
![d](https://user-images.githubusercontent.com/15685960/30917097-ca765430-a3a3-11e7-96af-fb45bc5d6833.png)
Weight was incremented with 10.
I don't know if I did it right?
Add-on: https://addons-dev.allizom.org/en-US/firefox/addon/webext-libun/

[2017-09-27 14:26] EnTeQuAk commented on #1323
That sounds perfect!

[2017-09-27 15:57] EnTeQuAk opened #1572 "Add better contribute docs"
Improve our contribute docs, e.g add information about outreachy and get inspired by our wonderful web-ext docs.

[2017-09-27 21:24] ravneette commented on #1560
Seems like a continuation of https://github.com/mozilla/addons-linter/issues/1559
Can I take this up if you haven't worked on it already @EnTeQuAk ?

[2017-09-28 05:18] #1328 closed

[2017-09-28 07:00] ValentinaPC commented on #1328
Please add some STR for us to check this or the label "qa: not needed".
Thanks!

[2017-09-28 11:17] Divya063 commented on #1074
Hi @EnTeQuAk,  I'm quite confused about creating a new error message as there is MANIFEST_FIELD_INVALID already present which I guess is for the same purpose (ie creating warning about  invalid keys)

[2017-09-28 12:13] pkpriya opened #1575 "warn about invalid extensions of icons"
### Describe the problem and steps to reproduce it:
I used icons having invalid extensions like img.html and linter did not produce any error or warnings

### What did you expect to happen?
I used the command bin/addons-linter  myfile.zip and expected linter to throw a warning

### Anything else we should know?
(Please include screenshots and any relevant files.)
![screenshot 274](https://user-ima

[2017-09-28 12:23] EnTeQuAk commented on #1575
This got fixed in https://github.com/mozilla/addons-linter/pull/1558 which did not yet get released but we'll push a new release soon so that you can profit from that patch.

I'm closing this since it's already fixed and just waiting on a release.

[2017-09-28 12:23] #1575 closed

[2017-09-28 16:16] EnTeQuAk commented on #1526
Assigning this for me for now for tracking, afaik we decided to not mark this as contrib: welcome to have this completed earlier rather than later to make releasing support for it more predictable.

I can take a look at this next week.

[2017-09-28 23:21] #1561 closed

[2017-09-29 18:21] mstriemer opened #1577 "Update schemas to Firefox 57"
Firefox 57 is in Beta, let's merge the updated schema files.

[2017-10-02 05:32] Roboneet commented on #379
Currently, yauzl supports zip64 zips (https://github.com/thejoshwolfe/yauzl#extrafields) . This wouldn't be an issue anymore.

[2017-10-02 06:18] Roboneet commented on #380
I would like to work on this issue. Currently, yauzl provides a method to [check if zips are encrypted](https://github.com/thejoshwolfe/yauzl#isencrypted) . We could add the checks before calling openReadStream and reject if encrypted. Am I on the right track here ?

[2017-10-02 07:20] ValentinaPC commented on #1561
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-10-02 09:30] paavininanda commented on #978
Hi! It seems that this issue has not been resolved yet. I would like to work on this. Can i take it up?

[2017-10-03 02:05] tmoskun commented on #1310
Can I take this issue?

[2017-10-03 09:49] Anshika-G commented on #1436
@wagnerand can you pls elaborate?

[2017-10-03 18:57] ravneette commented on #424
I would like to work on this.

From the code I could get that it is here : https://github.com/mozilla/addons-linter/blob/master/src/linter.js#L274 that a new check needs to be added?

Which adds a notice if we have a manifest.json file in some sub-directory.

[2017-10-04 06:21] EnTeQuAk commented on #978
@Divya063 are you still working on this issue? Otherwise @paavininanda seems interested in taking this too.

I just wanted to make sure @paavininanda doesn't start working on it while someone else already does.

[2017-10-05 18:59] kamsuri commented on #348
Hey @EnTeQuAk!
I doubt if anyone is working on this issue as there are no workarounds since past 15 days. If it is alright with you, can i take this up?

[2017-10-05 19:57] ExE-Boss opened #1585 "No error or warning displayed when the extension has an empty language directory"
### Describe the problem and steps to reproduce it:
1. Create an internationalized extension
2. Create an empty language directory in the _locales folder

### What happened?
The linter didn’t say anything.

### What did you expect to happen?
The linter should display an error that the empty language directory is missing the required messages.json file.

### Anything else we should know?
Firefox re

[2017-10-05 21:30] jasmineflorencio commented on #348
@kamsuri, I'm working on this issue but first it seemed like [issue 351](https://github.com/mozilla/addons-linter/issues/351) needed to be solved so I'm waiting to hear back from @EnTeQuAk about that first.

[2017-10-06 04:48] Divya063 commented on #978
Hi @EnTeQuAk , Currently I'm working on issue #1074  so she can take this up.

[2017-10-06 06:54] kamsuri commented on #348
Alright @jasmineflorencio , I thought no one is working as there was no commit, but now I got the reason.

[2017-10-06 15:35] eviljeff opened #1587 "Support Static Themes in the linter"
See mozilla/addons/issues/501 and connected issues for background.
We need the linter to know about Static Themes.  There are a few mandatory fields:
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/theme

As just having `theme:` in your manifest makes it suddenly not an extension but a theme we might want to warn about having other stuff in the manifest/zip that is now igno

[2017-10-06 16:08] EnTeQuAk opened #1588 "Lint zip validity, make sure filenames are encoded according to spec."
Refs https://github.com/mozilla/addons-server/issues/6507

[2017-10-06 17:24] EnTeQuAk commented on #1560
hmm, it's less of a continuation of #1559 unfortunately since it's basically syncing with what `https://github.com/mozilla/amo-validator` implements, what we have in our `rules.md` and which of these rules still apply to WebExtensions (most don't) and give that document a new live / formatting.

That might also affect the `should have updated rules.md with new message codes` test in `tests/test.me

[2017-10-06 17:49] #1577 closed

[2017-10-08 16:08] paavininanda opened #1590 "Error should be displayed in case script is missing from the content_script folder."
### Describe the problem and steps to reproduce it:
Remove the script from content_script folder of any web extension and try to run it in Firefox.

### What happened?
Web extension did not work properly

### What did you expect to happen?
A error message notifying that the Script is missing.

### Anything else we should know?
Error should be displayed in case script is missing from the content_sc

[2017-10-08 16:08] paavininanda commented on #1590
@EnTeQuAk Hi,
If you think this issue needs to be looked upon, i would like to work on this issue.

[2017-10-09 07:50] #1572 closed

[2017-10-10 02:09] hameleonka commented on #895
Do you want to make it like singleton, once created and used everywhere, all depended items just ask collector factory to provide collector for them, instead of passing it via constructor params, is this description correct?

[2017-10-10 12:51] kamsuri commented on #1141
Hi @EnTeQuAk!
Can i take this up?

[2017-10-10 15:34] mstriemer commented on #1074
I think that error is used for invalid values in the manifest. It would likely be best to add a new error called `MANIFEST_FIELD_UNKNOWN`. You'll want to add it to `src/messages/manifestjson.js` and `docs/rules.md` in a similar fashion to `MANIFEST_FIELD_INVALID`.

We expect `MANIFEST_FIELD_INVALID` to be an error and I'm guessing we want this to be a warning in case this is a cross browser extens

[2017-10-12 05:41] EnTeQuAk commented on #1436
A bit more information:

We have a list of rules that inherits from eslint which are used to lint Add-ons. This issue is about adding an argument that takes a list of rules that can be disabled, for example if we notice that many add-ons submitted to addons.mozilla.org (where the linter is used) run into problems with newly added rules.

You can find the arguments the command line defines in https

[2017-10-12 09:41] EnTeQuAk commented on #464
I'm closing this as this is not needed anymore.

[2017-10-12 09:41] #464 closed

[2017-10-12 09:45] EnTeQuAk commented on #351
I falsely marked this as a good-first-bug which this isn't since it's obsolete. More explanation in https://github.com/mozilla/addons-linter/pull/1580#issuecomment-336077770

[2017-10-12 09:45] #351 closed

[2017-10-12 13:39] EnTeQuAk commented on #1526
@jvillalobos amo-validator contains a few more checks for language packs:

* A test for l10n completeness - as far as I know checks that a certain amount of strings is actually translated
That's quite a lot of code that would need porting so depending on how important that is I'd rather do that in a separate step

* Verify that all DTD files are either ASCII or UTF-8 encoded.
I think that can and

[2017-10-12 15:33] jvillalobos commented on #1526
This doesn't sound like something we should keep. The majority of language packs are maintained by Mozilla and should be complete.

Keeping this one makes sense.

I don't think we need this, beyond what we already check in the manifest. The Add-ons Manager should know to only load the files relevant to the language pack.

@zbraniecki is it still possible for language packs to bundle different sear

[2017-10-12 15:44] EnTeQuAk commented on #1526
I can work with that :)

[2017-10-12 15:50] zbraniecki commented on #1526
We will want to allow for partial-localizations in langpacks. We also will handle multi-locale langpacks (for example with partial es-MX, and full es-ES as a backup)

Yes, but in the new langpack there are three l10n formats used: .dtd, .properties and .ftl. The former two will be eventually dropped and only .ftl will remain

The new langpack only has manifest.json and l10n files

We didn't change

[2017-10-14 16:51] asamuzaK opened #1601 "WRONG_ICON_EXTENSION if SVG fragment identifier is used"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
In package.json, if `icons` field refers to SVG fragment identifier like below, linter warns.

[code]

### What happened?
`WRONG_ICON_EXTENSION` is logged.

### What did you expect to happen?
No warnings.

### Anything else we should know?
(Please include screenshots and any relevant files.)

This PR

[2017-10-15 23:30] ericjung opened #1606 ""Violation of Mozilla conditions of use" when uploading addon"
### Describe the problem and steps to reproduce it:
Upload attached addon to AMO

### What happened?
Received informational message: "Violation of Mozilla conditions of use. Warning: Words found that violate the Mozilla conditions of use. See https://www.mozilla.org/en-US/about/legal/acceptable-use/ for more details."

The file mentioned is background.html. That file contains an SVG and canvas; no

[2017-10-15 23:30] ericjung commented on #1606
[archive.zip](https://github.com/mozilla/addons-linter/files/1385909/archive.zip)

[2017-10-16 07:34] EnTeQuAk commented on #1606
hmm, I'll look into it but this has the ability to become messy. Parsing content we already understand isn't much of a problem though it might degrade our ability to find violations more broadly since we can't be parsing all possibilities of where to hide bad words. In any case, we should reduce our false positives so this is worth looking into.

Thanks for the report.

[2017-10-16 08:03] #1601 closed

[2017-10-16 13:27] EnTeQuAk commented on #1526
Luckily nothing that we need to lint imho. If we do we should do that in a separate step.

Besides that we still need to implement all three right now, is there a timeline on when things get deprecated / dropped?

[2017-10-16 13:46] Pike commented on #1526
I don't think it makes sense to validate encodings these days. Most folks have set their OSes to utf-8 by now, and that's that.

We should still check the completeness of DTDs and properties, notably, everything in chrome://. These are things that break the build, and can just happen while we break string freezes on beta and the like.

It's probably also a good idea to validate the chrome.manifest

[2017-10-16 15:20] EnTeQuAk commented on #1526
We learned the hard way that this is not true so we are going to validate this :) It's not too hard anyway.

That'll take a while more to implement so I'm going to split them out into separate issues that can be tackled once basic WebExtension LanguagePack support landed.

[2017-10-16 18:54] jvillalobos commented on #1526
Since language packs are automatically imported and approved, the completeness tests would need to be hard errors in order to prevent the import. And I'm not even sure if validation errors stop the import. @wagnerand should know.

[2017-10-16 20:46] AsmaSwapna commented on #1536
@muffinresearch I'd like to take this up as a part of outreachy internship program round 15.

[2017-10-17 10:01] wagnerand commented on #1526
Unfortunately, I am not that familiar with the internals. I'm not sure whether those even run through the validator.

@Pike is there any way we can fully automate this? Currently, on each release day, I have to go to a page and manually start the process. There must be an event we can listen to when the langpacks are up on ftp.

[2017-10-17 10:07] Pike commented on #1526
I have no idea about the release mechanics, but it'd be nice to have this. @callek might be able to redirect that question.

Note, I'm perfectly fine to ignore the AMO validator for language packs uploaded from mozilla automation, I actually think we should.
We need the validator for communities that are self-empowered, anything from Klingon to Pirate English ;-)

[2017-10-17 10:19] wagnerand commented on #1526
I fully agree. I was talking about the 'official' ones pulled from FTP only.

[2017-10-17 12:03] hameleonka commented on #1436
I can take it

[2017-10-17 12:18] Callek commented on #1526
@wagnerand - Re: can this be automated.

There are a few approaches we can do here, we can give you a pulse message you can watch, or we can eventually (likely Q1) help get an upload to AMO for locales into in-tree taskcluster. Or some other option.

There begs some questions for which approach is good, best, etc. including the timing of things depending on those answers. I suggest either a new Is

[2017-10-17 12:22] wagnerand commented on #1526
@Callek Thanks a lot, I will follow up!

[2017-10-17 14:32] ValentinaPC commented on #1601
@EnTeQuAk : I've added the above fragment in a `manifest.json `and created a `icon.svg` file that was also added to the package. At submission I did not receive any warning.
I reproduced the issue as expected or I'm doing it wrong?

Note:
If the SVG section is only mentioned in the manifest and the package does not contain any `.SVG` file, linter returns the error "An icon defined in the manifest

[2017-10-17 15:02] EnTeQuAk commented on #1601
This change has not yet landed on -dev, let me create a new release and update you once it lands.

[2017-10-17 19:25] EnTeQuAk commented on #1601
This should be on -dev and -stage now so you'll be able to test this.

[2017-10-18 12:14] EnTeQuAk commented on #1526
@zbraniecki is there a language pack that already makes use of FTL? If so, can you link to it?

[2017-10-18 15:14] ValentinaPC commented on #1601
Verified this on AMO-dev and AMO-stage using FF56(Win 7).
No warning is displayed while using a `.SVG` image file in the extension package.
Used extension:
[webext_simple-cu svg.zip](https://github.com/mozilla/addons-linter/files/1395147/webext_simple-cu.svg.zip)

[2017-10-18 18:57] KwanEsq opened #1614 "applications.gecko.update_url error could suggest --self-hosted"
There was an add-on dev in #webextensions yesterday who was alarmed by the error, since they didn't want to submit to AMO.  Since not everyone will necessarily run --help before hand, the error could suggest what's needed.
Currently have a patch that adds the following sentence to the warning:
`Lint with the "--self-hosted" argument if you are hosting the add-on yourself.`
Feel free to suggest imp

[2017-10-19 06:36] EnTeQuAk commented on #1436
@hameleonka absolutely! Let me know if you're working on this so I can set the appropriate label and also let me know if you run into any problems / questions.

[2017-10-19 06:46] EnTeQuAk commented on #1614
Thanks for the report. True, the error message could be improved. The problem here is that this exact message is displayed on AMO too if someone submits their add-on into the wrong channel. We currently don't have a way for the linter to see if it runs via AMO or locally and adjust messages accordingly.

[2017-10-19 08:48] EnTeQuAk commented on #1590
@paavininanda this sounds like a great idea! If you still have time to work on it, please feel free to do so and let me know if you run into any problems.

[2017-10-19 09:09] olr opened #1616 "A syntax error prevents upload (false positive)"
### Describe the problem and steps to reproduce it:
I tried to upload an extension on AMO. That was an update.

### What happened?
It says: “There is a JavaScript syntax error in your code; validation cannot continue on this file.”
But this code works.
There no syntax error here.

[2017-10-19 09:25] diox commented on #1526
Langpacks imported from the FTP by the task @wagnerand is currently triggering manually are not validated at all at the moment.

[2017-10-19 10:00] EnTeQuAk opened #1617 "Post original exception when module was not found in bin/addons-linter"
I merged a branch with master and didn't update dependencies so when I ran `bin/addons-linter` it did throw the warning that I apparently did not yet build addons-linter.

So we should at least post the original error message or make the check in `bin/addons-linter` more intelligent.

[2017-10-19 10:47] Divya063 commented on #1617
@EnTeQuAk Can I work on this?

[2017-10-19 14:01] jvillalobos commented on #1526
Then I don't think it's worth keeping the completeness validation.

[2017-10-19 14:39] EnTeQuAk commented on #1617
Absolutely! 😃  Just let me know once you start working on it so that I can set the correct status / label.

[2017-10-19 15:42] muffinresearch commented on #1606
Looks like the false positive is caused by `stroke-linecap:butt;`

We should probably remove `butt` from badwords.json

[2017-10-19 16:57] zbraniecki commented on #1526
Will this work: https://send.firefox.com/share/b50c5c20db

in browser/localization you have a bunch of FTL files.

[2017-10-19 18:55] ericjung commented on #1606
I dont particularly care if it's fixed since it's only informational and
didn't stop me. I was asked to open the bug by mat, IIRC. Don't fix it on
my account :)

eric

On Thu, Oct 19, 2017 at 9:42 AM, Stuart Colville <notifications@github.com>
wrote:

[2017-10-19 19:01] jvillalobos commented on #1606
I think it's a good idea to fix it since it looks like it will cause more noise than anything.

[2017-10-19 21:17] EnTeQuAk commented on #1526
Hmm, the link unfortunately expired. Mind sharing it again?

On Thu, Oct 19, 2017, at 06:57 PM, Zibi Braniecki wrote:

Links:

  1. https://github.com/zbraniecki
  2. https://github.com/mozilla/addons-linter/issues/1526#issuecomment-337971113
  3. https://github.com/notifications/unsubscribe-auth/AAIfGUo5aiLiNbmbi-GX_nka7xpL6rA4ks5st3-AgaJpZM4PPF3b

[2017-10-19 21:25] zbraniecki commented on #1526
Ugh. Is that the right time to complain about "1 download" thing in Send?

https://send.firefox.com/download/596abf9296/#QaF5xD9Yj55yYXBpmir1-g

[2017-10-19 21:30] EnTeQuAk commented on #1526
Hehe, got it, thanks! I'll add FTL support from the beginning then.

On Thu, Oct 19, 2017, at 11:25 PM, Zibi Braniecki wrote:

Links:

  1. https://github.com/mozilla/addons-linter/issues/1526#issuecomment-338042621
  2. https://github.com/notifications/unsubscribe-auth/AAIfGSKp9yKxeaIc59Hpcl0tLBVhCe5yks5st75lgaJpZM4PPF3b

[2017-10-19 21:38] zbraniecki commented on #1526
btw. we have a lot of code for parsing/formatting/validating of .FTL files as part of `python-fluent` package and `compare-locales` package. Not sure if you'll need to go that deep, but we have ready to use code to get you an AST or validate the syntax of FTL.

[2017-10-19 21:45] Pike commented on #1526
I'd recommend trying compare-locales against the en-US language pack, unpack en-US, anpack the submitted localization, create a l10n.toml file that allows to compare one against the other.

Sadly, I don't know a way to create that toml file from the en-US langpack, but you could just create a list of patterns per release, or figure out a script. The file format is documented at http://moz-l10n-con

[2017-10-19 22:18] jasmineflorencio commented on #348
@kamsuri I'm not going to be able to participate in Outreachy this round so if you are, then you can take this issue.

[2017-10-20 01:19] ericjung commented on #1606
As an interim compromise, how about displaying the offending line (s) in
the output?

On Oct 19, 2017 1:01 PM, "Jorge Villalobos" <notifications@github.com>
wrote:

[2017-10-20 05:25] EnTeQuAk commented on #1526
Thanks a lot for all these links! That helps.

Luckily I already found the project fluent libs and already started
using the nodejs lib. I'll have a look regarding the toml generation but
might implement that in a separate step to get the actual support landed
asap first.
Looks great though!

On Thu, Oct 19, 2017, at 11:45 PM, Axel Hecht wrote:

Links:

  1. https://github.com/mozilla/addons-linte

[2017-10-20 16:56] sneakypete81 commented on #1431
This doesn't just affect icons, I see MANIFEST_BACKGROUND_FILE_NOT_FOUND too.

Web-ext has been broken for Windows users for a while now, so it would be great to see this fixed.

[2017-10-21 10:09] Divya063 commented on #1617
@EnTeQuAk I'm working on it, I just want to know whether a new message should be posted or the checks should be modified?

[2017-10-21 11:28] hameleonka commented on #1436
@EnTeQuAk , yes I'm working on this problem. Also could you please check your mozilla email? I've sent you an email with questions about Outreachy program (from Natalia Milovanova hameleonka28@gmail.com). Thanks.

[2017-10-21 11:44] wagnerand commented on #1436
@hameleonka, @EnTeQuAk will be back in a few days, sorry for the delay.

[2017-10-21 15:10] #1526 closed

[2017-10-21 15:13] EnTeQuAk opened #1621 "Require strict_min/max_version for webext langpacks."
Follow-up to #1526.

[2017-10-21 15:16] EnTeQuAk commented on #1526
I merged basic support in the linter for langpacks, linting the schema and validating doctype, properties and fluent files. I opened https://github.com/mozilla/addons-linter/issues/1621 as a follow-up.

@wagnerand we need to add code to addons-server though to make sure we lint these packages on import now right?

[2017-10-23 08:49] wagnerand commented on #1526
I am not entirely sure whether the admin import page needs updating. We might have to, to support FTL.

[2017-10-23 11:16] ValentinaPC commented on #1526
@EnTeQuAk : beside validation, is there anything else should be checked here? Thanks!

[2017-10-23 15:59] olr commented on #1616
When I tried the day after, it worked.

But today, I uploaded an update, and the same kind of bug is still there.

As long as this bug exists, there should be a way to bypass the syntax checker.

[2017-10-26 04:04] EnTeQuAk commented on #1617
@Divya063 I like the new message. More details are always better. I'd still do a `console.log` of the actual error message separated by a few empty lines after that error message to make sure the user has the ability to act accordingly.

[2017-10-26 23:34] hameleonka commented on #1590
does anyone work on this issue, I can take it @EnTeQuAk, @paavininanda?

[2017-10-27 03:10] paavininanda commented on #1590
@hameleonka Yea you can take it :)

[2017-10-27 09:45] olr commented on #1616
Is there any chance to see this problem solved soon?

[grammalecte_fr_-0.6.0.3.zip](https://github.com/mozilla/addons-linter/files/1421574/grammalecte_fr_-0.6.0.3.zip)

[2017-10-27 09:46] diox commented on #1616
@olr we'll look into it, but in the meantime, maybe you could split the offending regexp to try to work around the issue ? You can install the linter locally to test if that works, or use https://addons.mozilla.org/en-US/developers/addon/validate

[2017-10-27 10:30] olr commented on #1616
This is very strange.

I had the regex:
`/(lundi|m(?:ardi|ercredi)|jeudi|vendredi|samedi|dimanche),? (?:le |)(\d\d?)-(\d\d?)-(\d\d+)(?![a-zA-Zà-öÀ-Ö0-9_ø-ÿØ-ßĀ-ʯ–-])/gi`
I changed it for:
`/(lundi|mardi|mercredi|jeudi|vendredi|samedi|dimanche),? (?:le |)(\d\d?)-(\d\d?)-(\d\d+)(?![a-zA-Zà-öÀ-Ö0-9_ø-ÿØ-ßĀ-ʯ–-])/gi`
And it works. The syntax checker passed over it.

But the strangest thing is that on

[2017-10-27 11:25] diox commented on #1616
@bnjbvr kindly investigated the issue and provided a fix, it should be merged soon and go in production next week.

This is not possible, we absolutely need to lint all add-ons, it helps determine review priority, prevents broken add-ons from being submitted, etc. This issue is quite specific, your add-on is the first that we have heard about that triggers it, so we're not going to let anyone bypa

[2017-10-27 11:25] #1616 closed

[2017-10-27 12:02] olr commented on #1616
Thanks to you all for having fixed this.

[2017-10-27 14:21] Divya063 commented on #1617
@EnTeQuAk I'm thinking to add the error message in this way
[code]

[2017-10-28 05:48] EnTeQuAk commented on #1590
@hameleonka feel free to hack on this issue anytime, looks like no one is working on it right now.

[2017-10-28 05:51] EnTeQuAk commented on #1493
Note to myself: https://github.com/mdn/browser-compat-data#installation - browser-compat-data is available as an npm package which should make things easier.

[2017-10-28 22:45] hameleonka commented on #1590
There a 2 [ways](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Content_scripts) to load content scripts
1) declaration in manifest.json
2) programmatically with `tabs.executeScript()`

first case is simple, just check if files declared and if they actually exist in the folder, question about second case, should I parse all the js files and check if someone trying to execute script from

[2017-10-30 22:21] Ambalgi-Pankaja commented on #1535
I would like to work on this project through outreachy. I applied for this project, hopefully I get a chance.

[2017-10-30 22:30] Ambalgi-Pankaja commented on #1535
Can you please give me task to start working on this project?

[2017-10-31 17:18] EnTeQuAk commented on #1535
@Ambalgi-Pankaja this issue is specifically meant for a outreachy mentee to work on once selected. Please have a look at other [issues](https://github.com/mozilla/addons-linter/issues) to select from (note the `contrib: welcome` label) but generally the outreachy application period just ended.

We're always happy to see new contributions happening though!

[2017-11-01 09:53] akve17 commented on #1535
Hi @EnTeQuAk , I have applied for outreachy and would like to work on bugs related to linter. Can you suggest me some good bugs i can take up?
Thanks!

[2017-11-01 16:23] #1436 closed

[2017-11-01 19:43] gregglind opened #1632 "Spread operator causing JS_SYNTAX ERROR."
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

Attempted to validate an addon whose bootstrap.js had this code:

[code]

### What happened?

[code]
### What did you expect to happen?

I expect my addon to be invalid in SOME OTHER WAY :)

### Anything else we should know?
(Please include screenshots and any relevant files.)

    "addons-linter": "

[2017-11-02 02:57] EnTeQuAk commented on #1632
Looks like this is an experimental feature in eslint:

[code]

Should be easy enough to add.

[2017-11-02 11:45] #1632 closed

[2017-11-03 00:06] hameleonka opened #1640 "linter doesn't throw an error when content_scripts referenced from code are missing"
### Describe the problem and steps to reproduce it:
there are 2 ways to introduce content scripts to addon
1) declaration in manifest.json covered in #1630
2) programmatically with tabs.executeScript()

### What happened?
linter doesn't trow an error in the second case if script is missing

### What did you expect to happen?
I would expect error notification

### Anything else we should know?
(Ple

[2017-11-03 00:45] andymckay commented on #1493
@EnTeQuAk that repo is maintained by @wbamberg and the MDN team.

[2017-11-07 10:40] 523860169 opened #1641 ""/version" should match format "versionString""
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?
upload the new version of webextension then it shows me
[code]
### Anything else we should know?
(Please include screenshots and any relevant files.)
manifest.json:
`  "version": "17.11.07.1",
`

[2017-11-07 22:52] asamuzaK commented on #1641
You should remove leading zero.

[2017-11-08 18:13] CoolCmd opened #1642 "JavaScript syntax error: false positive"
### Describe the problem and steps to reproduce it:
Trying to submit new version of [extension](https://addons.mozilla.org/en-US/firefox/addon/twitch_5/) (attached)

### What happened?
2 JavaScript syntax errors:

Error: There is a JavaScript syntax error in your code; validation cannot continue on this file.
worker.js line 415 column 16

Error: There is a JavaScript syntax error in your code; val

[2017-11-08 22:11] jvillalobos opened #1643 "Show warning if add-on uses 'coinhive'"
Including coin miners in add-ons is strictly forbidden, and [Coinhive](https://coinhive.com/) is the method most often used by developers for this. We need to look for the string 'coinhive' in add-on code and show an error if present. It can lead to some false positives, but they should be rare and easy to work around.

Error message: `Firefox add-ons are not allowed to run coin miners.`

[2017-11-09 10:12] wagnerand commented on #1643
Note that most ad blocker filter lists include the string 'coinhive'. We don't want to deny those.

[2017-11-09 10:41] 523860169 commented on #1641
thank you

[2017-11-09 10:41] #1641 closed

[2017-11-09 11:55] AlexandraMoga opened #1645 "Extra weight added for extensions that don't use minified code"
Steps to reproduce:

1. Log into AMO-stage and submit a new add-on using eval() risk factor
2. In the submission process note the validation warning triggered
3. Once the add-on is auto-approved go to Reviewers tools and check the applied weight (i.e. https://reviewers.addons.allizom.org/en-US/editors/queue/auto_approved)

Expected results:
The submitted add-on received a weight of 20, according t

[2017-11-09 16:39] jvillalobos commented on #1643
One possible alternative would be to check for `CoinHive` with strict casing, so it catches the object used in the library. It wouldn't work for add-ons loading it remotely, though.

[2017-11-09 19:55] frigus02 opened #1646 "Binary images are incorrectly reported as corrupted"
### Describe the problem and steps to reproduce it:

Icons linked in the manifest.json are reported as CORRUPT_ICON_FILE, if they are PNGs.

### Anything else we should know?

When validating a web extension from a directory, images are read using `encoding: 'utf8'`:

https://github.com/mozilla/addons-linter/blob/ff7ffa2ce46f27738d83416b66acc950da9b1fe2/src/io/directory.js#L62-L66

This makes bina

[2017-11-11 13:41] CoolCmd commented on #1642
Today I tried to repeat the submission and no errors were found. Maybe something has been fixed in the validator?

[2017-11-13 10:51] peter-kehl opened #1648 "manifest.json > applications > strict_min_version failing"
"applications": {
    "gecko": {
      "strict_min_version": "57.a"
    }
  }
generates: Cannot find min/max version. Maybe "strict_min_version" or "strict_max_version" contains an unsupported version?

However, when I click at 'See full validation report', that has all checks green and OK:
https://addons.mozilla.org/en-US/developers/upload/e05493c69eb343a795f2b782107b33ef
![image](https://user-im

[2017-11-13 13:24] asamuzaK commented on #1648
"strict_min_version": "57.0a"
Add digit before alpha version string

[2017-11-13 15:14] matatk opened #1649 "NO_MESSAGES_FILE reported on Windows, but not on macOS"
### Describe the problem and steps to reproduce it:

When I lint an add-on on macOS, it reports no errors. When I lint the same add-on on Windows, I get a `NO_MESSAGES_FILE` error.

### What happened?

A `NO_MESSAGES_FILE` error was reported.

### What did you expect to happen?

No errors to be reported.

### Anything else we should know?

[Repo for the add-on I'm working on.](https://github.com/m

[2017-11-13 15:32] ValentinaPC commented on #1632
Please add some STR for us or the label "qa: not needed". Thanks!

[2017-11-13 21:00] wagnerand opened #1650 "Show error for certain manifest patterns"
We need to filter certain add-ons, based on information in the manifest, for example matching a content script hostmask.

Fictional example:
[code]

The linter should have a list of `matches` with their corresponding actions, e.g. `error`. It would be good if that list would be a separate file.

[2017-11-13 21:25] peter-kehl commented on #1648
Dear Kazz,

Thank you for the tip. Still negative: "strict_min_version": "57.0a" doesn't work either, unfortunately.

To eliminate my potential human error:
1. my manifest is compatible with web-ext. The following demonstrates it (since my local Firefox is 56 and not 57 yet):
  web-ext run
  ...
  run: WebExtError: installTemporaryAddon: Error: unknownError: Could not install add-on at
  '/home/pk

[2017-11-14 04:55] peter-kehl commented on #1648
This affects developers who have updates for new Firefox only. Release of Firefox 57 tomorrow (or soon) is making this urgent.

[2017-11-14 09:00] #1590 closed

[2017-11-14 17:03] #1650 closed

[2017-11-14 17:31] jvillalobos commented on #1648
[Here's the list](https://addons.mozilla.org/firefox/pages/appversions/) of valid minimum and maximum application versions you can use.

Using `57.0a1` should work.

[2017-11-14 17:31] #1648 closed

[2017-11-15 10:49] ValentinaPC commented on #1650
Please add some STR for us to check this or the label "qa: not needed".
Thanks!

[2017-11-15 18:00] jvillalobos opened #1656 "Remove term from list of Conditions of Use violations"
We added a list of forbidden terms in #1285. A [forum report](https://discourse.mozilla.org/t/words-found-that-violate-the-mozilla-conditions-of-use/21606) points out that the Ace.js library is being flagged by this. Looking at the source, it appears that the term "alt-right", referring to a key combination, is the one being flagged.

Let's remove that term from the list.

[2017-11-15 18:52] cpeterso opened #1657 "Unknown permissions: "browsingData""
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
My [extension](https://github.com/cpeterso/clear-flash-cookies)'s [manifest.json](https://github.com/cpeterso/clear-flash-cookies/blob/master/src/manifest.json) includes `"permissions": ["browsingData"]`, which is a necessary permission to use the browsingData APIs: "[To use this API you must have the

[2017-11-15 18:53] icl7126 commented on #1606
Since the list of forbidden words is [public](https://github.com/mozilla/addons-linter/files/1088479/flagged-terms.txt), I don't see a reason not to tell developer what problematic words it found. It would be really helpful since nobody will read whole `messages.json` file to find it.

[2017-11-15 19:00] cpeterso opened #1658 "Linter should warn if manifest.json refers to a file that does not exist"
### Describe the problem and steps to reproduce it:
I accidentally published an extension with a manifest.json whose `"icons": { "48": "icon.png"}` pointed to a file that didn't existed (because I had renamed the icon file).

### What happened?
addons-linter and web-ext silently accepted the manifest.json without warning.

### What did you expect to happen?
I expected a warning that the referenced

[2017-11-15 19:57] andymckay commented on #1658
Hmm, I thought I fixed this for background pages in #1562.

I changed a test add-on and broke the icons and background scripts and got this output. Can I check what version you are on please?

[code]

[2017-11-15 20:03] cpeterso commented on #1658
I'm using web-ext version 2.2.2 on macOS.

[2017-11-15 21:07] andymckay commented on #1658
Hmm, do you have your addon somewhere?

[2017-11-15 22:47] andymckay commented on #1657
I have browsingData in my manifest permissions and it passes with no problem. Issue #1658 suggests you are on 2.2.2, but I'm confused because I don't get these errors.

[2017-11-16 02:33] hameleonka commented on #1640
will work on this

[2017-11-16 03:18] cpeterso commented on #1657
I've narrowed the problem somewhat: I see this unknown permission warning when running `addons-linter src` but not `web-ext lint -s src`. That's the reverse of the errors I see in issue #1658. :)

[2017-11-16 03:19] cpeterso commented on #1658
Yes. You can git clone https://github.com/cpeterso/clear-flash-cookies and run ./build.sh.

I've narrowed the problem somewhat: I see expected FILE_NOT_FOUND warnings when running `web-ext lint -s src` but not `addons-linter src`. Is addons-linter deprecated in favor of web-ext lint?

[2017-11-16 04:37] andymckay commented on #1658
addons-linter is a library, we use this as the source for web-ext and the linter on AMO. AMO gets updated every week, web-ext not quite so much. Currently addons-linter is on 0.28.2 and web-ext is on 0.27.0.

The next scheduled release of web-ext will be in the next week, we are doing a regularly scheduled export of the schema from Firefox when it merges to beta into the linter and then doing a ne

[2017-11-16 04:37] #1658 closed

[2017-11-16 04:40] andymckay commented on #1657
I'm not sure how that could be the opposite, now I'm confused. But running with addons-linter head I do not get this error.

[2017-11-16 04:40] #1657 closed

[2017-11-16 13:59] rpl commented on #1640
@hameleonka very good question!

In my opinion it could make sense to:
- raise an error if the file url specific is a "static" file url and it does not exist in the extension
- we should also raise an error if the file value is a static string and it is not an extension url
  (because it will raise a validation error when tabs.executeScript runs, the file attribute is
  validated at runtime and it

[2017-11-16 14:28] rpl commented on #1640
@hameleonka @EnTeQuAk @wagnerand another error scenario that we should take into account (also when validating that a content scripts file specified in the manifest really exists) is that when an extension is loaded from a directory (by installing the addon temporarily from "about:debugging#addons") an extension file with the wrong case can be loaded correctly on a "case insensitive" filesystem (e

[2017-11-16 14:40] wagnerand commented on #1640
I don't have very strong feelings about this issue, but to it sound a bit too low-level. I see that this could be useful but we have to be careful about throwing warnings because we've in the past we experienced that developers stop reading warnings if there are too many.

That being said, I am ok with raising an error if a file referenced by a static file is missing (be careful of false-positives

[2017-11-16 17:30] cpeterso commented on #1658
Thanks. Just to be clear: `web-ext lint` version 2.2.2 is doing everything correctly! It shows the expected FILE_NOT_FOUND warnings I wanted to see and doesn't show the incorrect "Unknown permission: browsingData" warning (#1657).

The addons-linter command-line utility is what broken: it omits the expected FILE_NOT_FOUND warnings but shows the incorrect "Unknown permission: browsingData" warning.

[2017-11-17 11:40] ValentinaPC commented on #1658
Verified this on AMO-dev FF57(Win 7).
If a file is mentioned in the manifest, and does not exist, and error message is returned.
Postfix screenshot:
![2017-11-17_1339](https://user-images.githubusercontent.com/15685960/32945624-d03f166a-cb9c-11e7-9d1c-5c5fbb4c9865.png)

[2017-11-20 22:15] kewisch opened #1660 "CSP wrongly considers default-src+script-src unsafe"
https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/782622/#top

has default-src with various hosts, but script-src self. The validator things that this allows remote scripts.

This is actually ok since the script-src is reset to self. The validator should understand this.

[2017-11-21 11:54] #1656 closed

[2017-11-21 15:48] AlexandraMoga commented on #1656
I've submitted an extension with name "alt-right addon", which passed validation with no warnings. After auto-approval the add-on had 0 weight in reviewer tools.
Based on this outcome we can mark this as verified fixed in AMO-dev, FF57 (Win10)

[2017-11-21 19:20] wagnerand commented on #1646
Good catch!

@EnTeQuAk we should probably distinguish between binary files and text files when reading them?

[2017-11-21 19:21] wagnerand commented on #1642
Works for me too, closing.

[2017-11-21 19:21] #1642 closed

[2017-11-21 20:09] matatk commented on #1649
Sorry, to build the add-on, issue `npm run build:firefox` (or `npm run build:all`). I have also attached an add-on file to this message.

[landmarks-2.1.0-firefox.zip](https://github.com/mozilla/addons-linter/files/1492829/landmarks-2.1.0-firefox.zip)

[2017-11-21 20:36] wagnerand commented on #1649
Hm, I tried to install the linter from npm on Windows, but getting weird dependency installation errors. @EnTeQuAk have you ever tried to run the linter on Windows?

[2017-11-21 20:49] matatk commented on #1649
The errors are probably due to needing to compile stuff to install Sharp.

I got it to work by running [`npm install --global windows-build-tools`](https://www.npmjs.com/package/windows-build-tools) from an admin command prompt.

[2017-11-21 20:51] peter-kehl commented on #1648
Jorge @jvillalobos,
Thank you.

[2017-11-21 20:54] wagnerand commented on #1649
Thanks, yes I just found that on the internets...running now...

[2017-11-21 21:15] matatk commented on #1649
There's a [function in my build script that creates the ZIP file](https://github.com/matatk/landmarks/blob/bc1b09f28d41abbeee7282cb38f4e9c832795288/scripts/build.js#L209-L227).  The ZIP file passes all the tests on AMO (and on macOS).  Actually I am pretty sure I transferred the ZIP file generated on macOS to Windows and found that addons-linter reported the error on Windows, but not on macOS with

[2017-11-22 09:05] AlexandraMoga commented on #1645
@wagnerand I have two examples you could look at:
1. [https://addons.allizom.org/en-US/firefox/addon/家に帰りたい家Thursadyたい 家に帰りた/](https://addons.allizom.org/en-US/firefox/addon/%E5%AE%B6%E3%81%AB%E5%B8%B0%E3%82%8A%E3%81%9F%E3%81%84%E5%AE%B6thursady%E3%81%9F%E3%81%84-%E5%AE%B6%E3%81%AB%E5%B8%B0%E3%82%8A%E3%81%9F/)
2. https://addons.allizom.org/en-US/firefox/addon/webext-docwritelexa/

[2017-11-22 16:27] wagnerand commented on #1645
@EnTeQuAk I think the added weight for minified code is because the file is one line only. I remember us talking about that a while ago. Maybe we should make sure that the line length is < X characters if the file has only one line?

[2017-11-22 17:33] ValentinaPC commented on #1645
Another example with wrong weight (not entirely sure), from my calculations:
https://reviewers.addons.allizom.org/en-US/editors/review/webext-evalinsandbox-test-w

[2017-11-23 16:54] EnTeQuAk commented on #1645
This definitely needs some fine-tuning. I've seen a few other cases where unminified code was detected as minified. How important is that? Otherwise, I'd like to tackle this during next week so potentially targetting next tag or the one after that.

[2017-11-23 16:57] wagnerand commented on #1645
Given the added weight is only 10 currently, it doesn't make a huge difference, so it is not a priority.

[2017-11-23 17:02] #1660 closed

[2017-11-23 17:44] andymckay opened #1666 "Fail on invalid translations"
In bug https://bugzilla.mozilla.org/show_bug.cgi?id=1417103 we found a case where a key in the JSON file had been typo'd: mssage instead of message.

This caused Firefox to fail to load the extension with an unhelpful "Extension is invalid" message. Let's try and catch that sooner in the linter and in AMO and raise a fatal error (not a warning) until Firefox changes.

Here's a diff to sort tabs by

[2017-11-24 03:41] asamuzaK opened #1668 "Can't install addons-linter anymore if python is not installed"
### Describe the problem and steps to reproduce it:
When I tried to install (upgrade) addons-linter (Windows 10), installation failed.
Failed at the sharp module install script, and it seems to require Python.

Is sharp really needed?

### What happened?
Installation failed.

### What did you expect to happen?
Complete installation without any error.

### Anything else we should know?
(Please incl

[2017-11-24 05:37] asamuzaK opened #1669 "Don't warn about icon size mismatch if icon is SVG"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
When I uploaded add-on to AMO, it is warned about icon size mismatch.

[code]

My manifest.json is like this.
[code]

It is an SVG file, so size should not matter.

### What happened?
AMO raised warning.

### What did you expect to happen?
No warning.

### Anything else we should know?
(Please include

[2017-11-24 10:20] ValentinaPC commented on #1660
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-11-24 10:46] wagnerand commented on #1660
STR:

Create a webextension that has the following CSP in the manifest:
`defaults-src: https:; script-src 'self'`

When submitted to AMO, this should not throw the CSP warning during validation.

[2017-11-24 13:58] ValentinaPC commented on #1660
Is there a mandatory order while writing CSP content?
Because `"content_security_policy": "script-src 'self' default-src:https://example.com;"` triggers a warning and `"content_security_policy": "default-src: https://example.com; script-src 'self' "` does not.

[2017-11-24 14:44] wagnerand commented on #1660
Yes, this has a special syntax. The former syntax is not valid.

I think we can mark this as verified.

[2017-11-24 14:44] wagnerand commented on #1660
For background information, https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy documents what the syntax is.

[2017-11-24 15:16] ValentinaPC commented on #1660
@wagnerand : just for my inner peace - why the syntax you say is not valid, triggers a CSP warning and corresponding weight, and not an error?
![csp](https://user-images.githubusercontent.com/15685960/33215592-1811004c-d139-11e7-96ae-f783fa475771.png)
Example: https://reviewers.addons-dev.allizom.org/en-US/editors/review/csp

[2017-11-24 15:22] wagnerand commented on #1660
That is a reasonable question and a discussion we need to have at some point. So far, we have refrained from using `error` in most cases because those tests have to be 100% accurate, otherwise, we're failing for legitimate submissions.

The CSP evaluation in the linter needs some further tweaking...

[2017-11-28 17:40] jvillalobos commented on #1643
Switching to a warning so we can move forward with this. We can be more strict in this case without worrying about false positives. Calling this a P2 since it's becoming much more common.

[2017-11-29 00:29] peter-kehl opened #1678 "Can't re-sign an unhosted .XPI"
### Describe the problem and steps to reproduce it:
Visit https://addons.mozilla.org/en-US/developers/addon/submit/distribution
Choose 'On your own.' Hit Continue. Upload a .ZIP of new version of an extension that you had signed here before (as an older version).

### What happened?
Error: "Duplicate add-on ID found"
Yet, the detailed validation was all OK. However, 'Sign Add-on' button is disable

[2017-11-29 14:25] AlexandraMoga opened #1679 "The linter fails to detect a flagged term contained by the add-on name"
Steps to reproduce:

1.Submit an add-on with a name in the following format: "name": "word1_word2". One (or both) of the terms needs to violate Mozilla's conditions of use
2. Observe the results triggered in the validation report

Expected result:
The flagged term is detected during add-on validation

Actual result:
The submission passes validation with no warnings

Notes: another scenario would b

[2017-11-29 15:28] jvillalobos commented on #1678
I'm pretty sure there's a duplicate somewhere in the addons-server repo for doing the right thing when submitting an update via the new add-on flow. I can't find it now, but that's what I think is the right solution for this.

[2017-11-29 15:28] #1678 closed

[2017-11-30 15:12] pardeepshokeen commented on #1585
Hi @wagnerand  I would like to work on this issue. Can I take this?

[2017-11-30 16:23] wagnerand commented on #1585
@pardeepshokeen Sure, go ahead!

[2017-12-01 12:23] asamuzaK commented on #1668
Can we use [probe-image-size](https://www.npmjs.com/package/probe-image-size "probe-image-size") instead of "sharp"?

[2017-12-01 22:25] andymckay opened #1685 "Warn about more APIs with a temporary ID"
### Describe the problem and steps to reproduce it:

Use nativeMessaging in your add-on.
Don't specify a applications > gecko > id in your manifest.

### What happened?

No warning.

### What did you expect to happen?

A warning, just like if you have a temporary id but use storage.local.

### Anything else we should know?

nativeMessaging is listed on this page: https://developer.mozilla.org/en-U

[2017-12-01 22:37] andymckay commented on #1685
Actually there's a couple more:

* pcks11
* runtime.onMessageExternal
* storage.managed

This is hopefully just a matter of copying and pasting rules for STORAGE_SYNC and the relevant code.

[2017-12-01 23:16] wagnerand commented on #1685
I would prefer if warnings like these would only show up during `web-ext lint`, for example. They are not useful to developers in validation reports when submitting to AMO or to reviewers.

Legacy developers have suffered from warning fatigue, and I would like to avoid the same for webextension developers. 😄

[2017-12-04 14:01] ashclarke commented on #1606
This applies to Highcharts.js:

![image](https://user-images.githubusercontent.com/963023/33556338-73def388-d8fb-11e7-9c31-9abf9ffb60fd.png)

[2017-12-04 16:09] EnTeQuAk commented on #1685
We can talk about adding a "local" (e.g via web-ext, ide etc) and "remote" (on AMO) mode that enables/disables different warnings/errors

[2017-12-05 08:35] #1668 closed

[2017-12-05 13:47] #1640 closed

[2017-12-06 02:40] asamuzaK commented on #1646
[addons-linter/directory.js at master · mozilla/addons-linter](https://github.com/mozilla/addons-linter/blob/master/src/io/directory.js#L59 "addons-linter/directory.js at master · mozilla/addons-linter")

[code]

Is this function used only for icons?
If so, here is a proposal for fixing this.

[code]

[2017-12-06 04:38] asamuzaK commented on #1646
2nd proposal

[code]

[2017-12-06 09:35] EnTeQuAk commented on #1535
Alrighty, so @ravneette will take this on. Once we can set you up in the Github org we'll assign the issue but feel free to start on it anytime :)

Links mentioned in the vidyo call today:

 * https://github.com/mozilla/addons-frontend/blob/master/package.json#L85-L92 - for how the addons-frontend calls the locale extraction
 * https://github.com/mozilla/addons-frontend/blob/master/webpack.l10n.co

[2017-12-06 17:22] ravneette commented on #1535
Hey @EnTeQuAk , happy to be onboard :) I'm going through the babel-gettext-extractor for now and looking for gettext strings. Will connect with you with further plan of action. Thanks for sharing all the links!

[2017-12-08 15:01] ravneette commented on #1535
@muffinresearch Could you please elaborate on this or provide a link to the said script?
"Setup locales - there's some potentially useful scripts in addons-frontend that will provide a guide for the typical mozilla way to do this." https://github.com/mozilla/addons-linter/issues/1535#issue-256667324

[2017-12-08 15:30] muffinresearch commented on #1535
@ravneette yep certainly - there are docs here: https://addons-frontend.readthedocs.io/en/latest/i18n/

The scripts can be found here: https://github.com/mozilla/addons-frontend/tree/master/bin

We use https://github.com/mozilla/babel-gettext-extractor for extraction.

If it would be useful to have a call to run through how this fits together let me know.

[2017-12-08 18:36] ravneette commented on #1535
@muffinresearch Thanks for sharing all the links, this is quite helpful.

Yeah, a call would be great! I'll find you on IRC.

[2017-12-12 15:37] laedit commented on #1074
Sorry to dig into this, but after some test in Firefox 56 and 59.0a1 and with the following manifest:

[code]
(`engines` key have been migrated from an old addon), it seems that Firefox doesn't load the extension at all and display this ![ff_invalid_extension](https://user-images.githubusercontent.com/871092/33892890-490cc936-df5a-11e7-91b5-6a7c7a079b01.png)

So I think that the linter should disp

[2017-12-13 06:28] wareya opened #1700 "Linter should not suggest including large JSON file as separate JSON file"
![image](https://user-images.githubusercontent.com/585488/33924606-d4c6827e-dfa4-11e7-824f-7fddd4aa4f49.png)

[2017-12-13 22:25] kumar303 opened #1701 "Fluent no longer supports Node 6"
The `fluent` dependency states in its README that it no longer supports Node 8. I can't tell if that's just for project maintenance or if there is really some code that is broken in Node 6. Also, it seems that *only* [version 0.4.2](https://github.com/projectfluent/fluent.js/releases/tag/fluent%400.4.2) has introduced a hard dependency on Node 8 in its `package.json`.

This causes installation of

[2017-12-14 21:27] designakt opened #1703 "Static Theme that works in about:debugging fails in linter"
### Describe the problem and steps to reproduce it:
Create a theme that uses an RGB Array for "accentcolor". e.g. [222,184,135]
Try this theme via about:debugging. It will work in Firefox. Create a zip file from the manifest and submit it to AMO. It will fail the validator with:

### What did you expect to happen?
I expected a theme that works in Firefox to pass the validation.

### Anything else

[2017-12-14 21:54] wagnerand commented on #1703
Arrays got introduced in https://searchfox.org/mozilla-central/commit/3adfb3eca60d5b284e55c1384c335afef656a8f9.

[2017-12-14 22:38] kewisch commented on #424
We've discussed this is just a matter of changing the current message to add a note to check that it is not in a subfolder.

[2017-12-15 16:38] erosman opened #1708 "False Warning: Inline scripts blocked by default"
Example:
https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/812849/file/lib/chrome/background.html#top

Code:

[code]

[2017-12-15 23:03] #1606 closed

[2017-12-15 23:07] muffinresearch commented on #1700
@wareya please can you provide an example so we can investigate?

[2017-12-15 23:19] wareya commented on #1700
JMdict.json was a ~32MB JSON file, comprising a translingual dictionary. It was generated from the JMdict XML file from http://www.edrdg.org/jmdict/edict_doc.html using this python script https://gist.github.com/wareya/c2175520db5f1927e4f6ba839487dd8c/44722c80dfbe814594616ba48c018f9c6cf5e92a

It just kind of triggered the FILE_TOO_LARGE error, but the text in the message for FILE_TOO_LARGE wasn't

[2017-12-16 19:18] #424 closed

[2017-12-18 10:16] AlexandraMoga commented on #1606
Is the term allowed now anywhere in the manifest (i.e. "name", "description") or this applies only to `stroke-linecap` attribute?
If the latter, may I have an example to properly test this with?

[2017-12-18 11:36] AlexandraMoga commented on #424
I've tried loading an extension on -dev for which the manifest.json was located in a sub-directory. The message I receive during validation is "No install.rdf or manifest.json found. Add-on missing manifest."

Are the changes not available yet or am I missing something?

[2017-12-18 19:00] andymckay commented on #1708
Isn't this reflecting what Firefox does though? Even though the script is empty it can't be run. Here's the error I get in Firefox when inserting a console.log.

Content Security Policy: The page’s settings blocked the loading of a resource at self (“script-src moz-extension://3cfb34ac-7f68-4306-b5b3-669662d32c5e”). Source: console.log('in background page');

Is there a value to having an inline s

[2017-12-19 07:58] erosman commented on #1708
It can be filled, programmatically.
The Firefox error is another issue.

In this case, I was wondering if the linter warning was appropriate,

[2017-12-19 14:59] #1585 closed

[2017-12-19 16:46] andymckay commented on #1708
The CSP prevents it from doing anything though.

[2017-12-19 20:01] erosman commented on #1708
For example (not in that addon), developer may want to select a local JS depending on some factors. In that case,

`document.getElementById('common').src = 'script1.js';`

As long as it is local, there should be no problem AFA CSP is concerned.

Of course, we are talking hypothetically and the discussion is academic. ;)

[2017-12-19 20:33] andymckay commented on #1708
That's true. But its a valid warning and will help developers avoid the most common use case of writing something inline. It's only a warning and doesn't block them. I think we should keep it as it is.

[2017-12-19 20:33] #1708 closed

[2017-12-20 12:50] AlexandraMoga commented on #1585
Verified as fixed on AMO-dev FF57 Win10

![image](https://user-images.githubusercontent.com/31961530/34207905-04a9e526-e595-11e7-95c6-a30d166eb26a.png)

[2017-12-20 14:08] rpl commented on #1646
Fixed in #1714

[2017-12-20 14:08] #1646 closed

[2017-12-25 21:49] freaktechnik commented on #1666
I'd like to tackle this.

[2017-12-28 12:34] ravneette commented on #1535
Hi @muffinresearch
What do you think should be our entry point for webpack.

In addons-frontend, I see that the entry is taken from https://github.com/mozilla/addons-frontend/blob/master/src/amo/client.js which uses the makeclient function from 'core/client/base'

From what I can get, the entry file is the one that will help webpack recursively go through all files to extract all the strings. So s

[2017-12-28 16:10] ravneette commented on #1535
So am I getting this right?
babel-gettext-extractor can be used to extract strings from a single file. We use webpack to transverse recursively in all the files and run babel-gettext-extractor on them to get strings present in all the files?

[2017-12-30 15:01] erosman commented on #1669
Was this one filled and pushed?
The error is still present.

[2017-12-30 16:42] Incrested opened #1727 "Fixed Linter Errors, Manifest is Now "Missing""
I was porting some Chrome extensions the "proper" way (if that makes sense) by editing the manifest.json's errors from Firefox's Online Linter and changing them on my desktop. When I got to fix the "author", I simply changed the author. However, when I re-zipped the source and went to upload the addon, it said "Could not find manifest.json." Of course, I didn't expect this to happen as the manifes

[2017-12-30 17:02] ravneette commented on #1535
So if I run the following command, an error pops up
[code]
Error: Can't resolve 'cli'.
How do we use webpack.config.js currently, and what is its use case?

[2017-12-31 00:27] asamuzaK commented on #1669
In addons-linter, yes.
I don't know it is pushed to AMO server.

[2017-12-31 00:56] asamuzaK commented on #1669
Latest release seems to be [Release 2017.12.07 · mozilla/addons-server](https://github.com/mozilla/addons-server/releases/tag/2017.12.07 "Release 2017.12.07 · mozilla/addons-server") but linter is merged on Dec 08, 2017? [Comparing 2017.12.07...master · mozilla/addons-server](https://github.com/mozilla/addons-server/compare/2017.12.07...master "Comparing 2017.12.07...master · mozilla/addons-server

[2018-01-03 01:02] wagnerand commented on #1727
Can you please link to the XPI file you tried to upload?

[2018-01-03 01:11] wagnerand commented on #1666
Hi @freaktechnik, thank you for your interest in this bug. Have you already started working on it? If no, ca I help you find another bug to work on? I'd like to give this one to a particular person who wants to work on linting stuff.

[2018-01-03 03:43] Incrested commented on #1727
I was trying to compile into an XPI but it wouldn't work. The extension is already given above.

[2018-01-03 08:06] freaktechnik commented on #1666
Haven't really started yet, I've thought about what should be linted though and came up with the following:
 - `message` property missing for string
 - string name is reserved (https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization#Predefined_messages, warning?)
 - Invalid string name (contains characters that are not allowed)
 - Message contains a placeholder, but the plac

[2018-01-03 09:28] EnTeQuAk commented on #1643
I'm working on this right now, I was wondering if we might want to reuse the blacklist from https://github.com/keraf/NoCoin which might be a bit more useful than simple string blacklisting? I'll try both attempts and see what gives better results.

[2018-01-03 10:36] wagnerand commented on #1666
Ok, feel free to take this, I will look for another bug :)

[2018-01-03 10:48] wagnerand commented on #1727
Can you please provide detailed steps to reproduce the issue?

[2018-01-04 10:58] muffinresearch commented on #1535
@ravneette hi sorry for the delayed response - I'm only just back from PTO.

The babel-gettext-extractor is just a babel plugin, so as long as babel touches all of the files with localisations it should work for extracting the strings into the pot file.

In the addons-frontend project we have a specific l10n webpack config here https://github.com/mozilla/addons-frontend/blob/master/webpack.l10n.co

[2018-01-04 23:05] JGames101 opened #1732 "Import detected as "JavaScript syntax error""
I am using Material Design Components from Google, this is the first of many imports detected as an error:
`import autoInit from '@material/auto-init';`

[2018-01-06 03:19] Incrested commented on #1727
1. I downloaded the CRX from Google's Chrome Web Store

2. I extracted the CRX using a CRX Viewer and compressed it into a ZIP, removing some Chrome specific features

3. I went to Mozilla's Addon Website and did the steps to submit an add-on for my own site, not Mozilla's

4. I uploaded the ZIP file and it prompted that the "\author" field could not be a boolean, even though it was as follows:

[

[2018-01-06 13:39] wagnerand commented on #1727
Thank you for the detailed steps. I assume in step 6 you zipped the folder that contains the code instead of the files inside that folder.

Can you please attach the zip files created after step 2 and 6 to this issue or upload them somewhere we can access them?

[2018-01-06 17:05] Incrested commented on #1727
Of course!

Original Extension: [Chrome Webstore - Data Saver by Google](https://chrome.google.com/webstore/detail/data-saver/pfmgfdlgomnbgkofeojodiodmgpgmkac)
Step 2 (modifications): [1st Edits.zip](https://github.com/mozilla/addons-linter/files/1609023/1st.Edits.zip)
Step 6 (fixing "author" error): [2nd Edits.zip](https://github.com/mozilla/addons-linter/files/1609024/2nd.Edits.zip)

[2018-01-06 23:57] wagnerand commented on #1727
Yes, it's what I assumed in the previous comment. The files in the zip file in step 6 are nested in a subfolder, instead of top-level. Just zip the files directly instead of the folder that contains them and you should be able to upload successfully.

[2018-01-06 23:57] #1727 closed

[2018-01-07 00:01] Incrested commented on #1727
I did what you asked, but it made the original issue and one that makes 0 sense. "Can't parse" and "can't find" the manifest

https://gyazo.com/ccbcd7fe394242a090418c3edc91fe4f

[2018-01-07 10:48] wagnerand commented on #1727
Please provide the file you tried to upload

[2018-01-09 08:49] EnTeQuAk opened #1743 "Update ajv to version 6"
ajv released a new version 6 that by default uses the json schema 7.

We might get around using the current one by setting `ajv.addMetaSchema(require('ajv/lib/refs/json-schema-draft-06.json'));`

[2018-01-10 14:32] Incrested commented on #1727
[2nd Edits.zip](https://github.com/mozilla/addons-linter/files/1619188/2nd.Edits.zip)
^ The ZIP I uploaded with the Edits you asked

[2018-01-10 16:35] EnTeQuAk commented on #1649
This should have been fixed via https://github.com/mozilla/addons-linter/pull/1730 and the `sharp` dependency has been removed in another PR as well.

In case it hasn't please let us know.

[2018-01-10 16:35] #1649 closed

[2018-01-10 16:36] EnTeQuAk commented on #1431
This should have been fixed by https://github.com/mozilla/addons-linter/pull/1730 and a few other PRs which add windows compatibility and testing.

In case it's still an issue, please let us know and feel free to re-open this issue at any time :)

[2018-01-10 16:36] #1431 closed

[2018-01-10 16:46] jvillalobos commented on #1685
Mentor: @EnTeQuAk

Let's move the discussion about the warning levels to a different issue.

[2018-01-10 16:50] wagnerand commented on #1727
So, running your manifest file through a JSON parser reveals that your JSON is not valid, hence we can't parse it:

Line 25 has a trailing space:
`    "scripts": [ "background_compiled.js" ],`
should be
`    "scripts": [ "background_compiled.js" ]`

[2018-01-10 23:02] Incrested commented on #1727
Just needed to define "default_locale" and the scripts issue, and I was good. Thanks for the help @wagnerand

[2018-01-11 16:14] vcarciu commented on #1413
Verified as fixed using the [webext](https://github.com/mozilla/addons-linter/files/1181863/webextensions_test-0.0.1.zip) from the bug :
![addonslinter](https://user-images.githubusercontent.com/1583842/34834614-25540afa-f6fb-11e7-87bc-67371ab98364.png)

[2018-01-11 16:20] vcarciu commented on #1431
Verified in Windows10x64 , using this [webext](https://github.com/mozilla/addons-linter/files/1181863/webextensions_test-0.0.1.zip) :
![addonslinter](https://user-images.githubusercontent.com/1583842/34834952-160c64ce-f6fc-11e7-9df8-3f4b1af67014.png)

[2018-01-11 16:38] vcarciu commented on #1649
Tried on Windows 10x64 with latest linter, [webext](**https://github.com/mozilla/addons-linter/files/1492829/landmarks-2.1.0-firefox.zip**) from this issue and there are no errors  :
![noliontererrors](https://user-images.githubusercontent.com/1583842/34835807-a780f08a-f6fe-11e7-9274-1e360b81cc3c.png)

[2018-01-11 17:48] matatk commented on #1649
Same here; working fine now; thanks :-).

[2018-01-14 14:49] asamuzaK commented on #1669
Confirmed fixed on AMO server too.

[2018-01-14 14:49] #1669 closed

[2018-01-15 12:28] AlexandraMoga commented on #1669
Tried validating an extension which included `.svg` icons with wrong sizes defined in the manifest and no errors/warnings  were thrown.
Marking this as verified fixed.

[2018-01-17 16:56] EnTeQuAk commented on #1732
Hey @JGames101, thanks for the report!

Are you able to upload the XPI or a minimalistic so that we can directly try to reproduce that problem locally?

[2018-01-17 17:00] wagnerand commented on #1732
This is most probably because you're using the `import` statement which is not enabled by default in Firefox yet, and thus causing a syntax error.

[2018-01-17 17:23] #1732 closed

[2018-01-17 18:34] #1643 closed

[2018-01-17 20:33] erosman opened #1767 "Validator: False Unsupported image extension"
Ref:
`https://reviewers.addons.mozilla.org/en-US/firefox/files/compare/777564...386417/`

Code:
[code]

[2018-01-18 08:22] asamuzaK commented on #1767
`giff` is there but `gif` is missing.
https://github.com/mozilla/addons-linter/blob/master/src/const.js#L117

[2018-01-19 03:43] asamuzaK opened #1775 "Add ES module support"
### Describe the problem and steps to reproduce it:
This is a feature request.

Module scripts are enabled on Nightly. [1428002 - Enable &lt;script type=&quot;module&quot;&gt; in nightly builds](https://bugzilla.mozilla.org/show_bug.cgi?id=1428002 "1428002 - Enable &lt;script type=&quot;module&quot;&gt; in nightly builds")

addons-linter should support it.

### What happened?

### What did you exp

[2018-01-19 04:06] asamuzaK commented on #1775
Extension for test.
[webextensions_test-0.0.1.zip](https://github.com/mozilla/addons-linter/files/1645320/webextensions_test-0.0.1.zip)

[2018-01-19 04:10] asamuzaK commented on #1775
See also #1732

[2018-01-19 04:20] asamuzaK commented on #1775
Extension for test.
[webextensions_test-0.0.2.zip](https://github.com/mozilla/addons-linter/files/1645339/webextensions_test-0.0.2.zip)

addons-linter currently reports JS_SYNTAX_ERROR.

[2018-01-19 05:23] erosman commented on #1767
[code]

Out of curiosity, has Firefox started supporting webp?

[2018-01-19 06:00] asamuzaK commented on #1767
Seems not yet. [1294490 - (WebP) Implement experimental WebP image support](https://bugzilla.mozilla.org/show_bug.cgi?id=1294490 "1294490 - (WebP) Implement experimental WebP image support")
I don't know why it is listed.

[2018-01-19 07:09] erosman commented on #1767
Suggestion: This may look better, ie grouping the alternative file extensions

description: _('Icons should be one of JPG/JPEG, WebP, GIF/GIFF, PNG or SVG.'),

Suggestion2: Having WebP in the notice may lead to confusion, as happened to me, when someone tries them and they don't work

[2018-01-19 07:23] erosman commented on #1767
I have just came across this one. Should **ico** be accepted or not?!!

ref:
`https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/840543/`

[code]

[2018-01-19 07:24] asamuzaK commented on #1767
Thanks. Updated PR.

File extension list is implemented in #1558

@EnTeQuAk
Should we remove `webp` for now?

[2018-01-19 07:42] asamuzaK commented on #1767
Looks like it's okay in chrome extension? [Manifest - Icons - Google Chrome](https://developer.chrome.com/extensions/manifest/icons "Manifest - Icons - Google Chrome")

I'm not sure about WebExtensions, it says nothing about file format. [icons - Mozilla | MDN](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/icons "icons - Mozilla | MDN")

[2018-01-19 09:18] erosman commented on #1767
I know.... I wonder if it can be used, then it could be added at the same time.

Someone should verify it .... Whom can we ping here? (Not really worth opening a Bugzilla bug)

[2018-01-22 13:11] lidel opened #1783 "Whitelist protocol handlers for work on decentralization technologies (update schemas to Firefox 59)"
### The problem and steps to reproduce it:

Thanks to @soapdog latest nightly (Firefox 59) [whitelists protocol handlers for work on decentralization technologies](https://hg.mozilla.org/integration/mozilla-inbound/rev/c2cb8a06bcf1). This means WebExtensions related to these technologies can provide handlers without `web+` prefix, namely:
- "ssb" for Secure Scuttlebutt communications
- "dat" for D

[2018-01-22 13:13] lidel commented on #1783
- Is this something we can provide a PR for? Is there anything apart from adding new protocols to the list in [extension_protocol_handlers.json](https://github.com/mozilla/addons-linter/blob/4823a07c6a7b62f257e6bf6311f48ec91132ab82/src/schema/imported/extension_protocol_handlers.json)?

- This probably requires updates to AMO and `web-ext` as well -- should I create related tickets in related repo

[2018-01-23 09:38] EnTeQuAk commented on #1643
That's perfect, thanks! We will add more filters over time once we notice more coin mining software being uploaded in different ways but that'll work fine for now.

[2018-01-23 09:42] vcarciu commented on #1643
Thanks @EnTeQuAk !
Marking bug as verified.

[2018-01-23 15:20] ravneette opened #1784 "Hook up Pontoon to allow translators to translate the strings."
The PR that contains the .po files for the current project state has been made. (https://github.com/mozilla/addons-linter/pull/1739)
As @EnTeQuAk mentioned, the next step should be to hook up Pontoon to allow translators to actually translate the strings.

According to the website, we need to create a bug here
https://developer.mozilla.org/en-US/docs/Mozilla/Implementing_Pontoon_in_a_Mozilla_websi

[2018-01-23 16:29] rpl commented on #1783
@lidel updating the extension_protocol_handlers.json schema file with the changes applied on Firefox 59 is part of a semi-automated schema import procedure (which usually happen right before the related Firefox version is about to release), there is a script inside the repo which is used to update all the schema files and then create a PR for this repository.

pinging @mstriemer which can confirm

[2018-01-24 16:47] EnTeQuAk commented on #1767
@rpl do you have maybe a bit more insight about supported image formats?

If WebP isn't supported we should not allow it in the linter imho.

[2018-01-25 11:38] piroor opened #1788 "Illegal values in optional_permissions should be accepted"
### Describe the problem and steps to reproduce it:

Firefox now accepts illegal values in `optional_permissions` (after the [Bug 1350759: Warn but accept illegal values in optional_permissions](https://bugzilla.mozilla.org/show_bug.cgi?id=1350759)) but the linter still blocks any unknown permission names. Thus I cannot release [my addon including new permission `tabHide` in optional permissions](

[2018-01-25 13:41] EnTeQuAk commented on #1784
Thanks for filing this, I'm in contact with the l10n team to get this set-up, I'll cc you on any mails.

[2018-01-25 18:23] zbraniecki opened #1789 "Fluent Linter should use fluent-syntax, not fluent"
Fluent linter seems to be using `fluent` package according to:
 - https://github.com/mozilla/addons-linter/blob/master/src/parsers/fluent.js
 - https://github.com/mozilla/addons-linter/blob/master/package.json#L96

The `fluent` package is a runtime Fluent implementation meant for performance, not conformance. We have another package, called `fluent-syntax` that provides a better parser, with bette

[2018-01-25 19:53] EnTeQuAk commented on #1789
Oh, that's a great hint, thanks a lot! That should be ported to use the
Syntax package then.

On Thu, Jan 25, 2018, at 7:23 PM, Zibi Braniecki wrote:

Links:

  1. https://github.com/mozilla/addons-linter/issues/1789
  2. https://github.com/notifications/unsubscribe-auth/AAIfGez2MZhECQWCJhg7xJ_GdaZuQqJ3ks5tOMajgaJpZM4RtR4T

[2018-01-26 07:31] erosman commented on #1767
Out of curiosity, what was decided on WebP & ICO?

[2018-01-26 14:20] AlexandraMoga commented on #1767
I've tried to upload an extension containing a `.gif` file on AMO-dev but I can still see the same error in the validator:

![image](https://user-images.githubusercontent.com/31961530/35443644-81b8c8f2-02b4-11e8-942c-6813cb8faada.png)

[2018-01-26 23:47] mstriemer opened #1793 "Support bundled webextension experiments"
### Describe the problem and steps to reproduce it:
As of Firefox 59 Firefox supports bundling an experiment with a webextension. Extensions may provide a schema.json file that defines an API that it provides.

When an extension is using its own experiment APIs you get warnings that APIs are not supported. Schema.json files are also not validated. It would be nice to provide some basic error repor

[2018-01-27 00:06] mstriemer commented on #1793
An experiment extension should include something like this in the manifest.json:

[code]

The `paths` property tells us that the bundled experiment exposes a `browser.hello.hello` property. It doesn't tell us what type the property is, but we might be able to glean that from the `schema` path.

There is no schema file for the format of the schema.json file, however.

[2018-01-27 13:19] ravneette commented on #1784
Great, thanks! :)

[2018-01-28 18:56] erosman commented on #1669
There are still warnings ....

`https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/817497/`

[2018-01-29 02:53] asamuzaK commented on #1669
I think you should file a new issue in [mozilla/addons-server](https://github.com/mozilla/addons-server "mozilla/addons-server: 🕶 addons.mozilla.org Django app and API 🎉") for that?

[2018-01-29 10:18] wagnerand commented on #1666
@freaktechnik are you still working on this?

[2018-01-29 12:39] freaktechnik commented on #1666
Yes, however I have been trying to get some tests running and have not made much progress with that.

[2018-01-29 17:25] EnTeQuAk commented on #1784
This is now working properly

[2018-01-29 17:25] #1784 closed

[2018-01-30 08:07] AlexandraMoga commented on #1784
Could you please add some STR to help us verify this?

[2018-01-30 20:20] ravneette commented on #1784
Could you elaborate what that means @AlexandraMoga
Do you mean some way to test that translation is working?

[2018-01-30 20:35] ravneette opened #1796 "Use Jed to start translating strings."
Right now we don't use the translation functionality of Jed. It is only imported as a dependency, but the gettext function is a stub which returns the string as such.
https://github.com/mozilla/addons-linter/pull/1785 works on fixing it and using Jed for actually translating the messages.

[2018-01-30 20:38] ravneette opened #1797 "Get the language from user as a command line parameter"
To facilitate translation, we need to take the input language from the user either as a command line parameter, or set it as an environment variable. (As discussed in today's meeting)

I can get some inspiration for extracting environment variables from addons-frontend, but not sure how we will take a parameter from the user from the CLI to get the language. @EnTeQuAk could you point me to some ex

[2018-01-30 21:33] #1378 closed

[2018-01-31 02:01] asamuzaK commented on #1767
@AlexandraMoga
Is this reopened for WebP and ICO?

[2018-01-31 06:41] AlexandraMoga commented on #1784
@ravneette yes, what we require are some steps that would help us understand where we should focus our testing in order to make sure that these changes are properly verified.

[2018-01-31 08:41] EnTeQuAk commented on #1784
Sorry to chime in but this isn't really testable by QA and not end-user visible yet. It's merely the process how translations will land in addons-linter.

[2018-02-01 07:06] AlexandraMoga commented on #1378
Please add some STR or the label 'qa:not needed'

[2018-02-01 11:21] freaktechnik commented on #1783
I think this was fixed with the latest release that added those handlers to the protocol list. 0.35.0 should include those.

[2018-02-01 11:54] lidel commented on #1783
Yes, it is in v0.35.0

https://github.com/mozilla/addons-linter/blob/0.35.0/src/schema/imported/extension_protocol_handlers.json#L43

Thanks!

[2018-02-01 11:54] #1783 closed

[2018-02-03 18:36] ParticleCore commented on #1643
I don't know if it is of any use, but I forgot to remove the opt-in mining section from the code while testing an unlisted version and AMO correctly warned as described here.

However, I only found this out because I clicked the full validation report and not before because this warning is only showing in the full report.

I would suggest that this warning were to be displayed in the prior screen

[2018-02-04 06:57] notdls opened #1803 "Error when attempting to find content scripts"
### Describe the problem and steps to reproduce it:
Recently I was trying to upload a new version of my add-on but I kept getting the error "Content script file could not be found.". However, the scripts still run how and when they're supposed to and don't get any errors while debugging with the browser. So Inside my main folder I have one main JavaScript file and several which are executed by the

[2018-02-06 07:35] ravneette opened #1806 "Link translation to addons-server to show warnings and error messages in different languages"
As discussed in the biweekly outreachy meeting, after we've added i18n in addons-linter, we would need to make changes in addons-server which allow the user to see the warnings in various languages. I'm still a little unclear with the requirements for this one.
@EnTeQuAk , Could you point me to some code in addons-server where we need to make the changes?

[2018-02-06 13:16] freaktechnik opened #1807 "Warn when getting undefined message in default_locale"
### Describe the problem and steps to reproduce it:
 - Extension calls `browser.i18n.getMessage("someMessage");`
 - Extension manifest defined `default_locale`
 - Extension contains `messages.json` for default locale, but no `someMessage` key in it

### What did you expect to happen?
The linter shows a warning, that `someMessage` does not exist for the default locale.

It may even make sense to ch

[2018-02-06 14:11] #1666 closed

[2018-02-07 08:22] EnTeQuAk opened #1811 "Allow firefox schema to be imported from RC and Release tags"
We should allow the firefox schema import to fetch other tags than just beta.
It'd be best to import directly from https://hg.mozilla.org/mozilla-unified/tags which contains RC tags and others as well.

Background: We had the scenario that after the 58 schema import from beta there was a uplift in a later Firefox release which changed the schema and actually added a new API. We should catch that a

[2018-02-07 11:31] muffinresearch commented on #1806
I've filed an issue for this on addons-server https://github.com/mozilla/addons-server/issues/7515

[2018-02-07 11:31] #1806 closed

[2018-02-07 11:35] muffinresearch commented on #1797
As a suggestion it might be possible to just start with using something like https://github.com/sindresorhus/os-locale and then seeing if overrides are needed and add them later if they are.

[2018-02-07 11:39] muffinresearch commented on #1775
This will need checking for support upstream in eslint. If it has it we should be able to enable it. If it doesn't we'll need to file an issue upstream.

[2018-02-07 11:44] muffinresearch commented on #1767
@AlexandraMoga can you re-test? I think you checked before the release was out on addons-server.

With any patch here it's important to check the version of the release packge against the [version used on addons-server](https://github.com/mozilla/addons-server/blob/0b2030505e56b26709b85bd066ccd13318be715e/package.json#L13) if you're testing it from there.

[2018-02-07 11:44] #1767 closed

[2018-02-07 11:44] muffinresearch commented on #1767
If those need to be added they would be better filed as new issues.

[2018-02-07 11:47] muffinresearch commented on #1703
@designakt The schema was recently updated - so this might be fixed now.

[2018-02-07 12:04] asamuzaK commented on #1775
eslint supports es modules.
set config
[code]

The problem is that you need to set that config *before* linting.

https://eslint.org/docs/user-guide/configuring

[2018-02-07 12:12] asamuzaK commented on #1775
node.js decided to use `.mjs` file extension for es modules, browsers decided to use `script="module"` which means file extension doesn't matter, so `.js` files can be normal script or module.

So I suppose addons-linter need to look into the file and detect It's normal script or module?

[2018-02-07 12:27] designakt commented on #1703
Yay!
On dev I can now upload my WebExtension-Theme.
However, when trying to install, Nightly states it is corrupt...
(not sure why that is... installing via about:deugging works)
![install_my_theme](https://user-images.githubusercontent.com/8145891/35916377-82ed6ab6-0c0a-11e8-8d43-a0d8f8867b3c.PNG)

https://addons-dev.allizom.org/de/firefox/addon/burlywood-css-named-color/

[2018-02-07 12:46] muffinresearch commented on #1535
@EnTeQuAk would be nice to update this issue with the relevant links to other issues and tick off the bits that have already been done.

[2018-02-07 12:48] muffinresearch commented on #1527
@EnTeQuAk do you have anything in the works for this? Otherwise maybe you could consider un-assigning it and marking it `contrib: welcome`?

[2018-02-07 12:53] muffinresearch commented on #1410
@kewisch is this still happening with the latest version - there was a recent schema update.

[2018-02-07 12:56] muffinresearch commented on #1326
@EnTeQuAk where did we get to on this - I'm not sure there's a clear outcome on this yet. We should also revisit the existing libs for additional detection since they might provide an easier way forward.

[2018-02-07 13:00] muffinresearch commented on #1254
/me pages @mstriemer for input

[2018-02-07 14:25] AlexandraMoga commented on #1767
I've re-tested on stage and this seems fixed now for .gif files

![image](https://user-images.githubusercontent.com/31961530/35921475-5e4f4f12-0c23-11e8-992a-3c83a7af110c.png)

[2018-02-07 14:52] eviljeff commented on #1703
signing from the dev/stage servers is different from production AMO so it will be regarded as corrupt (unless you change some settings in about:config - I forget which)

[2018-02-07 16:01] asamuzaK commented on #1329
@muffinresearch  I think this is already fixed in [Added check to add warning in case of corrupt image file by ravneette · Pull Request #1581 · mozilla/addons-linter](https://github.com/mozilla/addons-linter/pull/1581 "Added check to add warning in case of corrupt image file by ravneette · Pull Request #1581 · mozilla/addons-linter")

[2018-02-07 16:42] muffinresearch commented on #1329
@asamuzaK yep looks like it, thanks for the heads-up!

[2018-02-07 16:42] #1329 closed

[2018-02-08 01:19] hameleonka opened #1814 "remove all `mozIndexedDB` related rules"
from conversation [here](https://github.com/mozilla/addons-linter/pull/1790#issuecomment-363809708)

[2018-02-08 09:27] kewisch commented on #1410
This seems to work now, thanks for checking in!

[2018-02-08 09:27] #1410 closed

[2018-02-08 12:08] muffinresearch commented on #1141
@kamsuri if you still have time to look at this we'd welcome a contribution.

[2018-02-08 15:27] AlexandraMoga commented on #1666
I've verified this on AMO stage and managed to detect the following errors/warnings:
![image](https://user-images.githubusercontent.com/31961530/35980975-c879ee66-0cf4-11e8-94f7-f7c35066542a.png)
I wasn't sure, however, how to generate this one: 'PREDEFINED_MESSAGE_NAME'. Do you have some example which I could use, besides [this guideline](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/

[2018-02-08 15:42] freaktechnik commented on #1666
@AlexandraMoga Whenever a message starts with two `@` characters, it should trigger `PREDEFINED_MESSAGE_NAME`, which is a warning.

[2018-02-09 07:15] AlexandraMoga commented on #1666
Thanks @freaktechnik .
Here is the generated warning:

![image](https://user-images.githubusercontent.com/31961530/36015788-bdcc0790-0d78-11e8-86cf-8a318a410d77.png)

I'm marking this as verified fixed

[2018-02-09 12:24] EnTeQuAk commented on #1535
Hmm, I recently ran into this as well. I solved it by letting webpack resolve from `src` as well, I don't know if that's a good thing to do or not though.

[code]

@muffinresearch I see addons-frontend doing that too so I'd think that's not a too bad habit?

[2018-02-09 12:41] muffinresearch commented on #1535
@EnTeQuAk yeah I think that should be ok, the only thing that would potentially be an issue would be if you had 3rd-party modules with the same name but IIRC that config should mean it resolves in `src` before resolving in `node_modules`.

[2018-02-09 14:03] jonathanKingston commented on #1273
ESLint ended up closing my issue; then solving it in another bug despite them suggesting they only wanted to do messageIDs: https://github.com/eslint/eslint/issues/6740

Either way this should allow us to colab on some shape between each other. I think @mozfreddyb and I can take a first stab at what data you will need here so we can get this moving :).

[2018-02-09 14:42] muffinresearch commented on #1273
That's great news!

[2018-02-10 06:34] #1814 closed

[2018-02-11 07:22] erosman opened #1820 "Font Awesome: Should it be allowed and hashed?"
ref: `https://fontawesome.com/`

Recently, I have seen a lot of add-ons using the large 656.7kb Font Awesome minified library.

Should it be allowed and if so, should it be hashed?
It is not practical to check it manually.

Example:
`https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/849237/file/js/fontawesome-all.min.js#top`

@wagnerand

[2018-02-13 05:03] erosman opened #1838 "Review Tools: Package already signed is no longer relevant"
Since all add-ons get signed automatically, the notice is no longer relevant.
Example:
`https://reviewers.addons.mozilla.org/en-US/firefox/files/compare/860847...837025/file/install.rdf#top`

[2018-02-13 05:05] #1838 closed

[2018-02-14 20:18] harry-7 commented on #1679
I want to work on this issue. I have looked at the source code and figured out that there is a regex [here](https://github.com/mozilla/addons-linter/blob/master/src/const.js#L101) and corresponding code is [here](https://github.com/mozilla/addons-linter/blob/master/src/scanners/filename.js#L30). But I did not find where I can find the rules regarding add-on naming policies. Can anyone guide me to

[2018-02-15 10:43] asamuzaK commented on #1775
Refs
* [Intent to ship: Module scripts (ES6 modules)](https://groups.google.com/forum/m/#!msg/mozilla.dev.platform/DZ7YctNoUUk/c2w8Ue8QCgAJ)
* [1438139 - Enable JS modules by default for all builds](https://bugzilla.mozilla.org/show_bug.cgi?id=1438139)

[2018-02-19 12:05] spikespaz opened #1848 "Problems with "strict_min_version" when uploading to AMO"
While uploading to [AMO](https://addons.mozilla.org/en-US/developers/addon/submit/distribution), I am getting an error `Cannot find min/max version. Maybe "strict_min_version" or "strict_max_version" contains an unsupported version?`.

Then, if I click [See full validation report](https://addons.mozilla.org/en-US/developers/upload/3a87718c18f545f18d52f34b2f2ce565), it shows no errors, and I did ma

[2018-02-19 23:27] andymckay commented on #1848
The versions that AMO knows about are here: https://addons.mozilla.org/en-us/firefox/pages/appversions/

Likely private-browsing-theme never got uploaded to AMO. Let's file a bug on the example repo to remove that.

[2018-02-20 17:52] wagnerand commented on #1820
I need to run a few queries first to see how many add-ons really use this and check how complex updates of that library are.

Generally, add-ons using minified code should should be admin flagged. You can also compare the hashsums of the file in the add-on and the file in the maintainer's repository and if they match review the unminified original in that repository.

[2018-02-20 17:52] #1820 closed

[2018-02-20 18:53] pdehaan commented on #1536
Should this be closed, or are there still some things left to `async..await`?

[2018-02-20 19:18] rpl commented on #1536
There are still 2 more pull requests: #1805 #1822

[2018-02-21 13:43] lgierth opened #1851 "Remove fucked, fuck, queer from badwords"
### Describe the problem and steps to reproduce it:
1. (to) fuck up is in regular colloquial use around the world -- https://en.wiktionary.org/wiki/fuck_up
2. How queer ended up on that list is a mystery to me. There's no good reason at all really.

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include screenshots and any relevant files.)

[2018-02-21 13:48] wagnerand commented on #1851
@jvillalobos @caitmuenster

[2018-02-21 16:13] rpl commented on #1343
Follows some additional notes related to the creation of a new integration testsuite for the addons-linter.

## Goals

1. integration tests on the addons-linter bin scripts:

   - a minimal set of smoke tests on the addons-linter bin script running as a whole and without any mocks, to ensure that everything is working as expected once the project sources are running using its real npm dependencies

[2018-02-21 16:27] ravneette commented on #1535
So in the mentioned goals, I think we're almost done with the points except 2 :

1. Automate locale extraction.
2.  Setup localization via the submission flow in addons-server. This will warrant a separate bug to be filed - this will probably mean the CLI will have a locale option so the web-ui can pass this to the task so that errors are localized.

Not sure what Automating locale extraction woul

[2018-02-21 17:32] jvillalobos commented on #1851
That list is meant to block submission of add-ons that violate our [Acceptable Use policy](https://www.mozilla.org/en-US/about/legal/acceptable-use/). While there may be valid uses for those words, more often than not they are used in ways that are not allowed for listed AMO add-ons. Since it looks like you just need to make changes to a couple of comments on your end, I don't think we need to mak

[2018-02-21 17:32] #1851 closed

[2018-02-22 13:20] VictorBjelkholm commented on #1851
@jvillalobos the badwords that are mentioned in the issue, which rule do they fall under exactly? I'm failing to understand how the usage of "fuck" is blocked by any of the rules listed in the "Acceptable Use Policy" you linked.

[2018-02-22 18:03] jvillalobos commented on #1851
Context matters, of course, but the use of such words (and similar ones) for those purposes is the reason the list was introduced.

[2018-02-25 15:50] pardeepshokeen commented on #1803
hi @muffinresearch . I want to work on this bug. Can I take this?

[2018-02-26 06:05] EnTeQuAk commented on #1527
Agreed, done. I don't have anything working for that yet except all the work that @asamuzaK already did but I didn't have the time to follow-up on that yet except that we ran into some issues last time we deployed it. It's quite a bit of time ago though :(

[2018-02-26 06:47] EnTeQuAk commented on #1803
Sure thing, feel free to give this a try.

As a helping note, it seems there's a problem with the path in `src/rules/javasript/content-scripts-file-absent.js` probably somewhere around or in the `normalizePath` call in line 39.

As an alternative have a look at our https://github.com/mozilla/addons-linter/issues?q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+good+first+bug%22 - good first bugs - to

[2018-02-26 12:49] wagnerand commented on #1789
Since `fluent-syntax` requires at least node 8.9.0, we can't migrate to it before we drop support for node 6.

[2018-02-26 13:35] EnTeQuAk commented on #1789
it does too? That's sad :( Well, then we'll have to wait for a bit I suppose.

[2018-02-27 03:26] asamuzaK commented on #1527
Can you clarify which issue?
This one? [Different format for beta versions used in Add-ons and WebExtensions · Issue #4220 · mozilla/addons-server](https://github.com/mozilla/addons-server/issues/4220 "Different format for beta versions used in Add-ons and WebExtensions · Issue #4220 · mozilla/addons-server")

[2018-02-28 12:17] spikespaz commented on #1848
This can be closed now as the issue has been posted to the MDN repo.

[2018-02-28 12:17] #1848 closed

[2018-02-28 16:36] tofumatt opened #1872 ""String name contains invalid characters" error should be more helpful"
Originally filed at https://github.com/mozilla/addons/issues/650 by @arantius

-------

I just tried to upload a new version of my extension.  I got the error

140 times.  Each was tagged with the file it came from, but not which name triggered it.  It's a lot of effort for me to figure out which name it might be complaining about, to try and fix it.  It's a lot less effort for it to just TELL me

[2018-03-01 16:48] #1743 closed

[2018-03-06 07:06] #1535 closed

[2018-03-06 07:13] EnTeQuAk commented on #1703
Closing since this issue isn't an issue anymore and seems to work on dev and stage now.

We're also working on static theme support in https://github.com/mozilla/addons-linter/issues/1587

[2018-03-06 07:13] #1703 closed

[2018-03-06 12:34] vcarciu commented on #1535
@EnTeQuAk  : Can you please add some STRs here in order to be sure that we correctly test this?

[2018-03-07 08:49] cvan opened #1885 ""queer" should not be flagged as a "bad word""
`queer` should be not flagged as a ["bad word"](https://github.com/mozilla/addons-linter/blob/master/src/badwords.json#L265).

Though context is definitely important, `queer` on its own is a common LGBT* term used colloquially, professionally, and appropriately without derogation.

[2018-03-07 14:50] jvillalobos commented on #1885
Duplicate of https://github.com/mozilla/addons-linter/issues/1851

[2018-03-07 14:50] #1885 closed

[2018-03-07 21:17] Callek commented on #1789
This issue was discovered as a blocker for the work happening in https://bugzil.la/1438246 and per IRC discussion there may be a path forward here.

[2018-03-08 06:36] EnTeQuAk commented on #1701
This will be fixed with https://github.com/mozilla/addons-linter/issues/1789 which is what I'm working on right now.

[2018-03-08 06:36] #1701 closed

[2018-03-08 06:38] EnTeQuAk commented on #1789
Steps forward:

* [ ] Add an example implementation that uses fluent-syntax for fluent parsing and error extraction
* [ ] Try out their compat build for node 6 compatibility

Since this seems to be a blocking part of  https://bugzil.la/1438246 I pushed the priority and started working on it.

[2018-03-08 09:10] EnTeQuAk commented on #1789
Added an upstream [patch](https://github.com/projectfluent/fluent.js/pull/164) to relax their engines configuration a bit, the compat build works fine with node6.

#1789 is WIP and adds support for fluent-syntax.

[2018-03-09 12:51] cosminbadescuSV opened #1893 "Update the API schema with "downloads" and "downloads.open" as optional permissions"
### Describe the problem and steps to reproduce it:
Submit an add-on that has “downloads" and "downloads.open” as optional permissions.

### What happened?
The add-on validation has failed and some errors are displayed.

### What did you expect to happen?
The "downloads" and "downloads.open" to be recognized as optional permissions at submit.

### Anything else we should know?
Reproduced on AMO -d

[2018-03-09 13:22] freaktechnik commented on #1872
As I originally implemented that: sadly the linter doesn't support lines or similar for JSON files, only paths, which would already be sufficient here.

I assume this is a rule originally from Chrome, which Firefox doesn't seem to actually enforce. I asked if this specific rule should possibly be degraded to a warning about compatibility instead, but didn't get any feedback.

[2018-03-12 18:57] Marat-Tanalin commented on #1872
Can’t upload my new addon version due to this uninformative error multiple times.

I _suspect_ the issue is with a dot in string name. But in fact the previous version of my extension as well as other two extension do work like a charm, so dots should probably be allowed back.

Linter should not formally disallow something that actually works and worked always.

[2018-03-13 16:14] mstriemer opened #1898 "Import Firefox 60 schemas"
Firefox 60 is now in Beta, the schemas should be updated to support any new or changed APIs.

[2018-03-13 16:37] #1803 closed

[2018-03-13 16:47] #1587 closed

[2018-03-13 17:14] Marat-Tanalin opened #1899 "JSON property names should NOT be linted, they are just STRINGS"
Can’t upload my new addon version due to the “String name contains invalid characters” error repeated 10 times as for my `messages.json` files in `_locales` directory.

I suspect the issue is with a dot in string name. But in fact previous versions of my extension as well as other two extensions DID and DO work fine, so dots should probably be allowed back as soon as possible.

Dots are useful as

[2018-03-13 18:05] #1789 closed

[2018-03-13 19:00] psono opened #1901 "addons-linter@0.39.0 package throws error :/"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

Im using addons-linter in my build pipeline. About 2hours ago everything worked with version 0.38.
My build pipeline runs on alpine and it installs addons-linter "global". But i can reproduce the problem on ubuntu installing it locally, see below:

[code]

### What happened?
I get the following error

[2018-03-13 19:10] Marat-Tanalin commented on #1899
To prevent being stuck with the issue or changing property names the way I believe is wrong, I moved my custom locale strings out from `messages.json` to **my own** `locales.js` where the data object is assigned to a constant. Since the file is custom JS, it’s free from linter checks whatsoever. The `messages.json` files now contain just placeholder strings used in `manifest.json` such as `addon_d

[2018-03-13 19:29] Marat-Tanalin commented on #1899
Those docs obviously contradict with reality.

It should then probably be documented that `messages.json` should be used just for **special** strings such as `addon_description` and `addon_url` and not for custom strings at all.

But then the locales feature would get mostly unneeded because those special strings could be put directly into `manifest.json` itself, and all an addon developer would n

[2018-03-13 19:51] EnTeQuAk commented on #1901
This will be fixed in a few minutes, https://github.com/mozilla/addons-linter/pull/1902 is already open waiting for CI-tests to pass.

[2018-03-13 19:56] #1901 closed

[2018-03-13 20:04] EnTeQuAk commented on #1901
Alrighty, now there is time for a proper comment.

Thanks a lot for filing this issue so quickly! It helped a lot and I just pushed out a 0.39.1 release that should fix the build. Along that release we also implemented some more safe-guards and smoke-tests to guard against failures like that in the future.

Please let us know if things are still not working.

[2018-03-13 22:09] psono commented on #1901
`Thanks a lot for filing this issue so quickly!`

Not as selfless as you might think :)

addons-linter@0.39.1 fixes the issue. Thank you for this quick solution!

[2018-03-14 11:28] vcarciu commented on #1789
@EnTeQuAk : Please add STRs to this issue or mark it as "qa: not needed"

[2018-03-14 11:48] vcarciu commented on #1901
@EnTeQuAk : Please add some STRs to this issue or mark it as "qa: not needed"

[2018-03-14 13:11] AlexandraMoga commented on #1803
I've used the two webextension examples provided to check the validation reprot.

[1] - [hackbar_error.zip](https://github.com/mozilla/addons-linter/files/1811143/hackbar_error.zip) - no error generated during validation anymore

![image](https://user-images.githubusercontent.com/31961530/37404043-5aea3a8a-2799-11e8-80fa-a9cef8c53abd.png)

[2] - [hackbar_no_error.zip](https://github.com/mozilla/ad

[2018-03-14 13:24] AlexandraMoga commented on #1587
@eviljeff @EnTeQuAk  Could you please provide more details with regards to what should be expected now when validating a static theme? Are there any errors/warnings to be detected depending on specific conditions?

[2018-03-14 14:27] pardeepshokeen commented on #1803
hi @AlexandraMoga
yes second case has error

here is quote from issue

here hackbar/polyglot.js is relataive path but in previous patch everything was considered as absolute path so there was no error before.

[2018-03-14 14:39] diox opened #1905 "Validation error "/version" should match format "versionString" should say what the versionString format is"
Initially filed as https://github.com/mozilla/addons-server/issues/7778

Original description of the issue written by @arantius:

I tried to automatically submit a nightly build for signing and self-serving.  The (partial) result was:

    {
      "guid": "{e4a8a97b-f2ed-450b-b12d-ee082ba24781}",
    ...
      "validation_results": {
        "errors": 1,
        "success": false,
    ...
        "

[2018-03-14 14:49] AlexandraMoga commented on #1803
Considering that the initial error will no longer reproduce, this issue can be marked as verified fixed.
Verified on AMO-stage, FF59 Win10x64.

[2018-03-14 14:57] arantius commented on #1905
Interesting, moving the issue here has helped me find:

https://github.com/mozilla/addons-linter/blob/053bb7a515d3c1d6fd8832da21ff3c5fa77bee34/src/schema/formats.js#L12

The actual code (I think) which does this validation.  Which seems oddly restrictive, but I can reverse engineer into something that I can generate.

Out of curiosity:

* Why a max of 4 parts?
* Why no leading zeros?

I can only s

[2018-03-14 23:45] asamuzaK commented on #1905
See:
* [Manifest - Version - Google Chrome](https://developer.chrome.com/extensions/manifest/version "Manifest - Version - Google Chrome")
* [Error message for versions like 1.4.0-pre.0 · Issue #1439 · mozilla/addons-linter](https://github.com/mozilla/addons-linter/issues/1439 "Error message for versions like 1.4.0-pre.0 · Issue #1439 · mozilla/addons-linter")

The definition of the version format

[2018-03-15 09:01] EnTeQuAk commented on #1587
QA: the linter verifies only the `manifest.json` of a theme so to test this:

* Make sure your `manifest.json` has a `theme` property, once it does the linter detects that this add-on is a theme and starts linting it's properties
* Outside the `theme` property, on the root of the `manifest.json` it only supports these properties: https://github.com/mozilla/addons-linter/blob/master/src/schema/impo

[2018-03-15 15:28] AlexandraMoga opened #1913 "Static theme linter does not identify errors when some properties/values are missing"
Follow up for #1587

STR:
1. Submit a static theme and modify it's manifest to force some errors in the linter
2. Observe the erros idnetified during validation

Expected result:
Errors are detected when certain properties/values are missing or wrongly defined

Actual result:
The following items are not properly handled:
 1. the linter detects no errors when certain properties are misspelled, for

[2018-03-15 15:31] AlexandraMoga commented on #1587
Verified on AMO-dev, with FF59, Win10x64

Some criteria mentioned above are behaving as expected but I've also found some (possible) issues.
I will mention here the things that work and I will open a new issue to track the aspects that need to be clarified.

What works:
- errors are detected if the root of the manifest contains the following properties: `langpack_id`  content_script,  `permissions

[2018-03-15 19:45] #1898 closed

[2018-03-16 09:37] AlexandraMoga commented on #1898
Could you please add STR or the label "qa:not needed"?
Thanks

[2018-03-16 10:12] kvetko commented on #1803
@AlexandraMoga Do you think it is OK that the change has broken what was working before, thus the task can be considered as fixed?
This change most likely prevents us from publishing our extension to the store and more it will most likely break all existing addons after upgrade to FF59 if check is applied in FF runtime

[2018-03-16 10:26] kvetko opened #1915 "The extension submission fails"
### Describe the problem and steps to reproduce it:
We can't publish our extension to the store.

We use background script shared between FF and Chrome. Our background script references js files in
following way:
`chrome.tabs.executeScript(
                sender.tab.id,
                { file: "js/dialog.js", runAt: "document_idle" }
            );`

### What happened?
When we submit our extensio

[2018-03-16 10:31] wagnerand commented on #1915
@EnTeQuAk given the repeated regressions with this rule, I'd be in favor to disable it until we have proper tests and make sure we don't regress anymore. Thoughts?

[2018-03-16 12:50] AlexandraMoga commented on #1803
sorry @kvetko , but my understanding was that the main issue with your submission was raised by the first example, namely [hackbar_error.zip](https://github.com/mozilla/addons-linter/files/1819170/hackbar_error.zip), which was passing validation after this fix has landed.

[2018-03-16 12:58] kvetko commented on #1803
Indeed but fixing something by breaking something else is not the best approach ;-) Don't worry about that I believe we have catch it on time. I have created #1915 for our current issue.

[2018-03-16 13:03] pardeepshokeen commented on #1915
hi. The reason for this problem is how path to file is resolved
As written in [executeScript docs](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/executeScript)

string. Path to a file containing the code to inject. In Firefox, relative URLs are resolved relative to the current page URL. In Chrome, these URLs are resolved relative to the extension's base URL. To work cross-brow

[2018-03-16 13:36] kvetko commented on #1915
@pardeepshokeen thanks for this. We were able resolve the issue by changing our paths to absolute. Keeping this open as I still believe that this is regression and should be addressed.

[2018-03-16 16:16] mstriemer commented on #1898
It would be nice to get some QA on this but the changes are quite broad so I'm not sure that's realistic.

[2018-03-18 21:52] Eccenux opened #1918 "Messages validator is too strict excluding dot form keys"
### Describe the problem and steps to reproduce it:

Extension with messages like:
[code]

### What happened?
The linter is complaining about the message.

### What did you expect to happen?
It was fine last time I submitted my extension. It works fine in Firefox. It validates as JSON. You can find similar keys in e.g. VSCode settings... I see no reason why "." would be an invalid character.

[2018-03-18 22:02] Eccenux commented on #1807
Note that `browser.i18n.getMessage` might not be called directly to e.g. support testing outside of the browser environment.

[2018-03-18 22:19] Eccenux commented on #1918
BTW. If you are really committed to this change then I think it would be a good idea to first deprecated something and make a warning in the linter. And only after few months (or years) make it an error.

I can't publish my extensions because of this check and I think Angular update is more important then having keys with dots or not.

[2018-03-19 13:41] EnTeQuAk commented on #1915
@wagnerand

Or degrade it to a warning severity?

[2018-03-19 13:45] EnTeQuAk commented on #1913
That's a great idea to implement but not a bug but rather a nice enhancement we should implement at some point.

@eviljeff should know more about this but that sounds like a addons-server bug to me?

I think that's out of scope, still a nice enhancement but very low priority.

    accentcolor and textcolor - no error when value is an empty string ie. "" or when they contain a wrong color value (i.

[2018-03-19 14:03] Woundorf commented on #1899
If a typical namespacing character such as `.` is not allowed it should be explicitly stated in the [documentation](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/i18n/Locale-Specific_Message_reference#Member_details) since it's easy to oversee that it is not allowed. Especially considering that in previous extension models it was a valid character for keys in DTD and .properties fi

[2018-03-19 14:09] eviljeff commented on #1913
This isn't a fail - `additional_backgrounds_alignment` and `additional_backgrounds_tiling` are optional fields even if you specify `additional_backgrounds` and there isn't a requirement to specify a value for every `additional_background` either.

[2018-03-19 14:10] #1796 closed

[2018-03-19 14:28] eviljeff commented on #1913
logged mozilla/addons-server#7844 for the addons-server related bugs - not sure if there's anything else you want to handle in the linter to keep this issue open?

[2018-03-19 21:40] lightalex opened #1920 "Can't find these JS files"
Can't find these JS files
But files exist
`chrome.tabs.executeScript(tabs[i].id, {
	file: 'files/script/preload.js'
});
chrome.tabs.executeScript(tabs[i].id, {
	file: 'files/script/postload.js'
});`

Error from your test system - `Content script file could not be found`

In past uploads, errors didn't arise. The files didn't change. Only one file was exchanged. And after your update, boom, got an

[2018-03-20 09:14] EnTeQuAk commented on #1920
Can you upload a test extension that reproduces that error? That'll help find and fix your scenario quickly.

[2018-03-20 09:26] EnTeQuAk commented on #1899
I'm working on an improvement to this linting rule in https://github.com/mozilla/addons-linter/pull/1919, this will hopefully make it to this weeks deployment (on Thursday)

[2018-03-20 10:25] lightalex commented on #1920
You can download it here
https://addons.mozilla.org/ru/firefox/addon/darkvk/
I changed only CSS in my update

[2018-03-20 10:34] andy61i opened #1921 "Numerous Errors: Your JSON file could not be parsed."
I've got 906 errors "Error: Your JSON file could not be parsed." while uploading my extension to addons.mozilla.org today. They all are about localization files. This did not happen with the previous version (with almost the same localization files). The extension also loads and works normally via about:debugging.

Here is the extension's zip: https://www.dropbox.com/s/f4rrzq294z2lftm/safeincloud_

[2018-03-20 19:30] #1918 closed

[2018-03-21 05:53] hiikezoe opened #1925 "Get rid of calls of getConfig() in ManifestJSONParser"
The constuctor of ManifestJSONParser uses getConfig() to get default argument value for selfHosted and isLanguagePack, so if caller doesn't specify these values, getConfig()  incidentally parses command line arguments, thus if the command does not specify any argument,  yargs output 'Not enough non-option arguments: got 0, need at least 1' error unfortunately.

You can easily confirm the error to

[2018-03-21 05:56] hiikezoe commented on #1925
A solution I can think of is to split options object for yargs into an independent variable and then re-use it to get the default argument value for  ManifestJSONParser too.  I will send a PR soon.

[2018-03-21 08:50] AlexandraMoga commented on #1918
@EnTeQuAk  I've tried to verify this with an extension containing messages like `"options.Parameter.Name"` in the `_locales` file but I am still receiving an error:

![image](https://user-images.githubusercontent.com/31961530/37700799-8ba149d2-2cf5-11e8-8ab9-e0a6d0216d7c.png)

Here is the full validation report: https://addons.allizom.org/en-US/developers/upload/e15cd1ba35c341779df38926b234db7e

[2018-03-21 12:33] #1920 closed

[2018-03-21 13:03] EnTeQuAk commented on #1921
Actually your message.json files are invalid but I agree we should issue a more reasonable error message.

`description` should be a valid string (even empty works) but must not be `null` or anything that is not a string. You can also just omit the `description`. If you change that your add-on should validate.

I keep this issue open to improve the error message on this.

[2018-03-21 13:09] EnTeQuAk commented on #1893
This should have been fixed with the Firefox 60 #1898 schema import. It'll land this Thursday on production.

[2018-03-21 13:31] EnTeQuAk commented on #1915
This should have been fixed in https://github.com/mozilla/addons-linter/pull/1923 and will land this Thursday

[2018-03-21 13:31] #1915 closed

[2018-03-21 14:13] EnTeQuAk commented on #1918
@AlexandraMoga this only landed a few minutes ago on -dev probably and will land on -stage in approx an hour or so.

[2018-03-21 14:16] andy61i commented on #1921
Thanks, it worked!

[2018-03-21 14:49] vcarciu commented on #1920
Verified as fixed using the extension from description :
![contentscriptnotfound](https://user-images.githubusercontent.com/1583842/37716704-cea91e9e-2d27-11e8-9ef2-3e9953177c2d.gif)

[2018-03-21 14:56] lightalex commented on #1920
Doesn't work with ZIP archives
ZIP archive for test
https://yadi.sk/d/dVcAwtLp3TcUfg

[2018-03-21 15:10] vcarciu commented on #1915
Verified with extension from description and no content script error is displayed.
Anyway, based on the fact that the extension from description will return a ""update_url" is not allowed" error I think that the extension is not exactly the same one used in reporter's description.
I will mark this as verified based on the other similar issues where the examples were good (ie. https://github.com/mo

[2018-03-22 00:53] hiikezoe commented on #1036
I believe #1926 fixes this to some extent.

[2018-03-22 15:33] kumar303 opened #1931 "Local modules could over shadow node_modules, preventing imports"
### Describe the problem and steps to reproduce it:

Add an import like this to any local module, such as for [`logger.js`](https://github.com/mozilla/addons-linter/blob/cc2cb5b1f6ca0e72924972c030066ecd40d42fc9/src/logger.js):

[code]

Install an npm package by the [same name](https://www.npmjs.com/package/logger), just as an example.

### What happened?

There is no way to import the `logger` mod

[2018-03-22 15:56] AlexandraMoga commented on #1913
@EnTeQuAk I can log a separate issue related to color codes detection, but I'm not sure how you want to handle the rest (not server related) points.
Thanks

[2018-03-22 19:17] Eccenux commented on #1918
Thanks for resolving this so fast! 👍
I thought I would have to rewrite whole bunch of my extension.

[2018-03-26 10:17] cosminbadescuSV opened #1933 "Extensions with some white spaces in the name don’t display the name from submission process in Add-ons Manager"
### Describe the problem and steps to reproduce it:
Submit an add-on that has some white spaces in the name from manifest.json.
At the submission process, the user is forced to choose a name because of the white spaces.

### What happened?
After you add a name in the submission process, the add-on validation has successfully passed and the extension can be installed.
After install, in Add-ons Mana

[2018-03-26 11:40] cosminbadescuSV commented on #1893
This issue is still reproducing, please see the attached video.
![bug1893](https://user-images.githubusercontent.com/15885467/37904163-8795289c-3103-11e8-892c-b280494b7be3.gif)

[2018-03-26 17:00] erosman opened #1936 "Liner Inconsistent on JQ 3 Hash"
I have seen a few times that linter fails to recognise valid jQuery v3.3.1 hash.

Example:
`https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/842459/file/jquery.js#top`

Where are the hashes and why does it fail on some occasions?

[2018-03-26 17:20] wagnerand commented on #1936
Weird, this seems like a bug. The hash of that file matches the original and I confirmed that that hash is in the production instance.

[2018-03-26 17:23] wagnerand commented on #1936
Ah, no, no bug. The add-on got submitted (and therefore validated) end of January, but we only added the hash for that jQuery version beginning of February.

[2018-03-26 17:23] #1936 closed

[2018-03-26 17:31] erosman commented on #1936
I hash check myself using my own hash-check system, but this system of cached validation can lead into a lot of compilations for the reviewers and developers.

[2018-03-27 15:43] #1893 closed

[2018-03-27 21:59] freaktechnik commented on #1872
This error has been removed, see #1918

[2018-03-27 22:02] freaktechnik opened #1937 "Add line numbers to JSON warnings/errors"
### Describe the problem and steps to reproduce it:
Currently errors and warnings in JSON files do not have any reference to line number (or column).

### What did you expect to happen?
The error should at least point to a line number, potentially even a column.

### Anything else we should know?
Most linter errors already have the path to the JSON property that was the source of the error. With s

[2018-03-27 22:51] Marat-Tanalin commented on #1918
It’s not enough just to resolve the specific issue.

This case should be a **lesson** for the linter authors that they should **double-check** the **quality** and **reasonability** of **each** new invented check **before** shipping it the way that prevents addon many developers from updating their addons on the ground of **pure theory** and **blind formality**.

[2018-03-28 09:25] cosminbadescuSV commented on #1893
This issue is verified as fixed on Firefox 61.0a1 under Wind 7 64-bit.

Please see the attached video:
![bug1893](https://user-images.githubusercontent.com/15885467/38020496-0e18e608-3283-11e8-80c7-da0e82062fcf.gif)

[2018-03-28 18:07] diox opened #1938 "Handle broken zip created with adm-zip in a nicer way"
[`adm-zip`](https://www.npmjs.com/package/adm-zip) is a popular node package to generate zip files. Somehow, at least one developer using it end up with a weird zip that the linter can't handle. I've attached [the zip file in question](https://github.com/mozilla/addons-linter/files/1857107/extension.zip) to this issue.

The error being thrown is
[code]

The linter process terminates when hitting t

[2018-04-03 08:08] erosman opened #1943 "[Review Tools] Handling of JSON and CSS is hampers the Review"
I had already mentioned this issue a few times (maybe starting from over a year ago).
e.g. https://github.com/mozilla/addons/issues/313 https://github.com/mozilla/addons/issues/455

Just now, I spent about 5 minutes trying to load `manifest.json` and every time being faced with multiple "Page is slowing down your browser" and finally failing to load.

`https://addons.cdn.mozilla.net/en-US/firefox/

[2018-04-03 09:31] EnTeQuAk opened #1944 "Handle misspelled properties for static themes"
From https://github.com/mozilla/addons-linter/issues/1913

The linter detects no errors when certain properties are misspelled, for example: `theme`, `headerURL`, `additional_backgrounds`, `colors`, `accentcolor`, `textcolor` etc. - all these can be misspelled

[2018-04-03 09:31] EnTeQuAk commented on #1944
This should be fixed by updating the schema, either upstream or via a manual overwrite.

[2018-04-03 09:33] EnTeQuAk opened #1945 "Handle invalid color values, e.g an empty string"
From https://github.com/mozilla/addons-linter/issues/1913

accentcolor and textcolor - no error when value is an empty string ie. "" or when they contain a wrong color value (i.e. any value is accepted, like dje757$%#, 4)

[2018-04-03 09:34] EnTeQuAk commented on #1913
I filed #1945 and #1944 to handle these bugs separately, the rest has been reported in addons-server.

I'm closing this issue and everything else will be handled in specific issues.

[2018-04-03 09:34] #1913 closed

[2018-04-03 18:55] erosman opened #1947 "Mark GA use in Permission Information Pop-up"
I am not sure if liner is responsible for the data on "Request the right permissions" or not.
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Request_the_right_permissions

I have been discussing the review aspect of the issue with Andreas & Philipp.

However, from users point of view, a notification should be greatly beneficial.

Numerous add-ons now use GA in their add-on to collect so

[2018-04-03 21:39] jvillalobos commented on #1947
There's a plan underway to support certain privacy flags in the add-on manifest, which would be exposed by AMO and possibly Firefox, which sounds like this, pretty much. There's some info about it [here](https://trello.com/c/yvvCmDA6/12-privacy-flags-on-amo).

It's not a high priority right now, so I can't give any assurances as to when we will have it. Closing this issue since we're tracking this

[2018-04-03 21:39] #1947 closed

[2018-04-04 14:36] #1925 closed

[2018-04-05 08:17] vcarciu commented on #1925
Can you please add some STRs to this bug or mark it as "qa : not needed" ?

[2018-04-05 08:40] hiikezoe commented on #1925
STR is just running the script in https://github.com/mozilla/addons-linter/issues/1925#issue-307127344.

1. Copy the script text into a new file, e.g. run-lint
2. Save the file, run-lint, in the top of source directory of addons-linter
3. $ chmod +x run-lint
4. $ ./run-lint

[2018-04-05 08:40] hiikezoe commented on #1925
oops, already marked qa: not neened.

[2018-04-06 09:04] EnTeQuAk commented on #1943
This is not a linter issue and solely addons-server related. We are going to touch reviewer tools in Q2 so some things may change and get improved as part of that.

[2018-04-06 09:04] #1943 closed

[2018-04-06 11:32] #1811 closed

[2018-04-06 13:50] EnTeQuAk commented on #1933
quoting from the bugzilla issue

[2018-04-06 15:48] EnTeQuAk commented on #1937
This should be done with the `parse-json` library that adds more advanced error handling and actually parses the `error.message` we are already catching to something more useful. Unfortunately node doesn't set `columnNumber` and `lineNumber` on `SyntaxError` :(

[2018-04-06 16:48] rpl commented on #1937
@EnTeQuAk I guess (based on the json-source-map package mentioned in the issue description) that @freaktechnik was thinking especially about the errors/warnings related to the schema validations (on a JSON file which is valid from a "JSON parsing" point of view).

And so, to start to summarize this with some additional details:

From the addons-linter we can produce on the linted JSON files 2 kind

[2018-04-07 15:42] fnxweb opened #1952 "False positive: “Violation of Mozilla conditions of use”"
### Describe the problem and steps to reproduce it:
Every time I upload one of my extensions, I get an info. report of a “Violation of Mozilla conditions of use” within the Hungarian help HTML file inside it.

I haven’t a clue what it doesn’t like; I didn’t do the translation myself, but Google Translate doesn’t show anything untoward. I suspect the analysis doesn’t know it’s not English?

It was

[2018-04-10 12:09] vcarciu commented on #1811
Can you please add some STRs from this bug and mark it as "qa: not needed" ?

[2018-04-11 13:51] kewisch opened #1953 "Allow scanning single file without manifest"
It would be great to be able to pass in files using `-f` without specifying an xpi or directory.

The use case is to integrate addons-linter with IDE when reviewing sources, which don't always have a manifest available, i.e. if it is generated. As the manifest determines add-on type, there may be further flags necessary to pass the addon type, or maybe a flag to pass an external manifest.json. In

[2018-04-13 21:28] jeffg2k opened #1954 "Regex fails validation"
This regex fails validation.  I've tried several different ways to write it and it keeps getting rejected when I submit my Firefox Extension.  It works fine, so not sure what the problem is.

`var regex = /PRELOADED_STATE__ \= .*?(?=;.*?<\/script>)/gs;`

Here was my first attempt, which worked as well and validated at regex101.com:
`var regex = /(?<=window\.__PRELOADED_STATE__ \= ).*?(?=;.*?\<\/sc

[2018-04-15 20:42] jeffg2k commented on #1954
I was able to get this to work / validate when submitting my Firefox Extension.
var regex = new RegExp('(?<=window\.__PRELOADED_STATE__ \= ).*?(?=;.*?\<\/script>)', 'gs');

[2018-04-16 12:56] jeffg2k commented on #1954
When I tried to upload it to the Mozilla Add-On Developer Hub, I got this error message.

Here is an Add-On that exhibits the problem.
[smartcopy-4.3.15.zip](https://github.com/mozilla/addons-linter/files/1915293/smartcopy-4.3.15.zip)

As a side note, seems it would make sense to exclude jQuery from the "Unsafe assignment to innerHTML" warnings.  Nothing anyone can do about that.

[2018-04-16 13:10] #1954 closed

[2018-04-16 13:29] jeffg2k commented on #1954
@wagnerand Please reopen this.  You are incorrect that it is modified.  I had the same problem jQuery v3.2.1.  I only download from jQuery.

The checksum is different because I copy / pasted the text instead of the file, but if you want me to prove it.. hold on.  Acting like I'm some noob.

Also, even if it was modified.. it shouldn't matter.  The linter should still see it as a valid syntax.  If

[2018-04-16 13:33] jeffg2k commented on #1954
This one is the direct file download: 160a426ff2894252cd7cebbdd6d6b7da8fcd319c65b70468f10b6690c45d02ef.

It still has the problem.
[smartcopy-4.3.15.2.zip](https://github.com/mozilla/addons-linter/files/1915440/smartcopy-4.3.15.2.zip)

[2018-04-16 13:53] wagnerand commented on #1954
That file does not throw any innerHTML warnings for the jquery file, so it works as expected.

[2018-04-16 13:54] jeffg2k commented on #1954
I'd also note that the linter doesn't have a problem when I put it in the new RegExp.  The validator should work in either format.

Ok, so you were addressing the jQuery warnings (the side note).  I thought you were talking about the regex issue.

[2018-04-16 14:11] jeffg2k commented on #1954
Unless - are you saying the regex doesn't work in FireFox?  To be honest, I only tested it in Chrome.  So maybe their javascript supports it, but mozilla doesn't?

[2018-04-16 14:11] wagnerand commented on #1954
You are using a regular expression that is not valid in JavaScript. Therefore our JavaScript parser throws an error.

[2018-04-16 14:12] jeffg2k commented on #1954
But this works and no errors is thrown and its the same regular expression.
`var regex = new RegExp('(?<=window\.__PRELOADED_STATE__ \= ).*?(?=;.*?\<\/script>)', 'gs');`

[2018-04-16 14:16] jeffg2k commented on #1954
Going to test it in Firefox to see if it works..

[2018-04-16 14:18] wagnerand commented on #1954
Sorry, I misspoke. Those regex features were recently added and are in fact valid JS. But, since they are rather new, they time timeline is for browser vendors to implement them some time in 2018.
While Chrome has already implemented them, Firefox hasn't yet, see http://kangax.github.io/compat-table/es2016plus/ (under '2018 features').

[2018-04-17 14:14] EnTeQuAk commented on #1074
Thanks @laedit for the update on this (and sorry for the late reply). I do agree that this should very well be an error, especially if Firefox behaves that way too.

[2018-04-18 18:55] ddawson opened #1958 "Fails on catch without binding"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
Fails to recognize `catch` without a binding, i.e. `catch { ... }` instead of `catch (e) { ... }`. This is [valid JavaScript as of Firefox 58](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Statements/try...catch#The_exception_identifier).

### What happened?
Declares it a syntax error.

[2018-04-23 18:53] Dtrav commented on #1905
I'm getting the same error here for the past month when my version number is only "1.1". Any idea what could be causing this and what I would need to do to fix the issue?

[2018-04-23 20:12] fnxweb commented on #1952
Most of the help files have anal in some fashion, so to speak, but only the Hungarian one complains.

[2018-04-23 20:59] welwood08 commented on #1952
In all of the other instances, the next character is ASCII. In this case, it is not - hence my untested theory of a word boundary occurring and causing this instance to match the bad word.

Since the ecma-international.org link in the code comment seems to be down, I'll refer to https://es5.github.io/#x15.10.2.6 which appears to be about RegExp. The algorithm for `\b` calls "IsWordChar" which has

[2018-04-25 15:02] EnTeQuAk opened #1962 "Port grunt-gh-pages to gh-pages and remove grunt completely"
github pages is the last part missing to be able to rip out grunt completely.

[2018-04-25 18:31] fnxweb commented on #1952
OK, I've come up with a hacky work-around;  you were right, it was that word.

I've just made use of the Unicode zero-width joiner `&zwj;` — plonking that in the middle of the “offending” word has cleared up the report, and still shows up OK in the browser: `an&zwj;alízis`

[2018-05-04 10:34] greenkeeper[bot] opened #1970 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- Replaced the old Node.js version in your `.nvmrc` with the new one

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/mozil

[2018-05-06 05:17] erosman opened #1972 "Add FF60 new namespace proxy.settings"
Ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1455755

Example:
https://addons.mozilla.org/en-US/developers/upload/9066b64a76224d14925992d914426f9c

[2018-05-06 07:06] #1970 closed

[2018-05-06 07:48] EnTeQuAk commented on #1972
This is part of Firefox 61 which will be merged to beta on Monday and once that happens we'll import it's schema to the linter.

[2018-05-06 07:52] EnTeQuAk opened #1974 "Import Firefox 61 schema"
Firefox 61 beta will be released on May 9th, let's merge the schema for the first time once this happens.

[2018-05-06 07:59] erosman commented on #1972
Actually not.. it is part of FF60

status-firefox60: fixed → verified
status-firefox61: fixed → verified
status-firefox-esr60: fixed → verified

[2018-05-06 11:03] katersaid11 opened #1975 "faire adblocker from chrome to firefox"
I tried to download faire Adblocker from the chrome extensions to firefox but I'm just getting errors and it says "AMO validation failed".

https://chrome.google.com/webstore/detail/fair-adblocker/lgblnfidahcdcjddiepkckcfdhpknnjh?hl=de
![unbenannt](https://user-images.githubusercontent.com/25457206/39672594-84db4ac4-512d-11e8-91e4-358cb80ebba4.PNG)

[2018-05-07 06:48] EnTeQuAk commented on #1972
Hmm, it certainly wasn't in the `FIREFOX_60_0b15_RELEASE` I recently checked

[2018-05-07 07:30] erosman commented on #1972
It has recently been added. It was decided that FF60 is a major milestone as it correlates with esr60 therefore, it was decided to push the change more rapidly as the previous API `browserSettings.proxyConfig` was broken and discarded for FF60-ESR60

[2018-05-07 07:51] EnTeQuAk commented on #1972
I see, yeah we can only import directly from tags from mozilla-unified so once this lands there I'll import it.

[2018-05-07 10:46] #1257 closed

[2018-05-07 10:48] EnTeQuAk commented on #1441
Soooo, we do have appveyor running tests now and they're stable and green. I'm going to close this but please let me know if anyone runs into any problems with using Windows.

[2018-05-07 10:48] #1441 closed

[2018-05-07 11:02] AlexandraMoga commented on #1257
Could you please add STR or the label "qa:not needed"?
Thank you

[2018-05-09 19:09] EnTeQuAk opened #1984 "Add support for WebExtension dictionaries"
Part of https://github.com/mozilla/addons-server/issues/6739

The first part of the schema support for that lands with https://github.com/mozilla/addons-linter/pull/1983/

[2018-05-09 20:44] jvillalobos opened #1985 "Show error when submitting legacy language pack for Firefox"
We're discontinuing legacy language packs on AMO, so we need to show an error to stop any future submissions. The presence of the `install.rdf` file is how they are detected. This is limited to language packs that support Firefox (all add-ons supporting Thunderbird and SeaMonkey are going to be handled separately).

The error message should be:

[2018-05-10 06:33] robinst commented on #1775
Firefox 60 has been released with modules enabled by default (see [release notes](https://developer.mozilla.org/en-US/Firefox/Releases/60#JavaScript)):

Does that unblock this issue @muffinresearch?

[2018-05-11 08:58] wagnerand commented on #1985
Is that distinctive enough? Wouldn't dictionaries meet that requirement too?

[2018-05-11 15:46] jvillalobos commented on #1985
They have a different type in the manifest. I didn't mean that having an `install.rdf` is the *only* condition, but rather that is how you distinguish between the legacy and non-legacy variants.

[2018-05-14 05:30] #1972 closed

[2018-05-14 05:30] #1974 closed

[2018-05-14 05:57] AlexandraMoga commented on #1972
Could you please add STR or the label 'qa:not needed'?
Thanks

[2018-05-14 05:58] AlexandraMoga commented on #1974
Could you please add STR or the label 'qa:not needed'?
Thanks

[2018-05-14 15:15] EnTeQuAk commented on #1972
STR:

* run the addons-linter against an add-on that uses the new `proxy.settings` API, e.g `
browser.proxy.settings.set({value: { proxyType: 'system' }});` or so.

This isn't on -dev yet, once it is I'll update the issue.

[2018-05-15 06:03] EnTeQuAk commented on #1775
That does indeed unblock the issue, we'll try to add support for it

[2018-05-15 07:47] harry-7 commented on #1685
I would like to work on this issue. Can someone guide me on what has to be done? and where to start looking at?

[2018-05-15 08:25] muffinresearch commented on #1775
As https://github.com/mozilla/addons-linter/issues/1775#issuecomment-363750519 points out, looks like fixing this is going to require introspecting if the file is a module and then configuring the lint run on a file by file basis so it's probably not as simple as just configuring eslint's parseOptions to use `sourceType:  "module"`

[2018-05-16 09:34] EnTeQuAk opened #1992 "Schema import, deprecation process, handling compat versions correctly"
Sooo, this will be more of a discussion that'll require us to create more issues along the way.

We do have a problem with how we're importing the schema and how we're using it to lint add-ons. Currently, we import a new version of the schema whenever the next Firefox version hits beta and a few times after that to import bugfixes etc. That essentially means that addons-linter is following whateve

[2018-05-16 09:39] EnTeQuAk commented on #1992
cc @mstriemer who originally implemented the schema import

[2018-05-16 16:01] caitmuenster commented on #1685
Hey @harry-7! Welcome!

@EnTeQuAk, could you provide some guidance about what the warning needs to look like?

[2018-05-16 20:33] jvillalobos commented on #1992
That works [as documented](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/applications), and probably how Firefox handles it, but Firefox doesn't need to worry about backwards compat, while we do. Maybe a more sensible behavior would be to default to min compatibility with the current ESR. Developers who need something different can always declare compatibility in the mani

[2018-05-17 06:48] AlexandraMoga commented on #1972
@EnTeQuAk I have tested this on -dev with some add-ons using `proxy.settings`
- add-ons using `browser.proxy.settings` - have passed validation without warnings (see [ex. 1](https://addons-dev.allizom.org/en-US/developers/addon/proxy-settings-test-dev/file/254943/validation) and [ex. 2](https://addons-dev.allizom.org/en-US/developers/addon/foxypac-dev/file/254944/validation))
- add-on with `browse

[2018-05-17 06:49] EnTeQuAk commented on #1972
Should I understand that browserSettings.proxyConfig is still not supported?

This is the currently correct behavior. There is https://github.com/mozilla/addons-linter/issues/1992 to discuss future backwards compatibility so for now this is expected and correct.

Thanks a lot for testing!

[2018-05-17 07:59] AlexandraMoga commented on #1972
Marking issue as verified fixed on AMO-dev and stage with FF60, Win10x64

[2018-05-22 09:00] christofferholmstedt opened #1995 "Successful upload of new addon but says 1 error due to duplicate add-on ID found"
### Describe the problem and steps to reproduce it:
1. Upload a new locally signed addon (web-ext sign).
2. Add-on ID specified in manifest.json (https://gitlab.com/christofferholmstedt/braintimevsbodytime-webextension/blob/master/manifest.json#L15)
3. Result from "new linter":
[code]
4. Press "See full validation report"
[code]
5. Back at the upload page "Continue" button is disabled.
6. Email re

[2018-05-22 17:04] jvillalobos commented on #1995
This was resolved over IRC. The problem is that `web-ext sign` created the self-hosted entry, so uploading that file again yielded the duplicate ID error. The solution is to upload a new version as hosted.

[2018-05-22 17:04] #1995 closed

[2018-05-24 13:53] mikedeboer opened #1999 "`fsevents@1.1.2` dependency doesn't compile on OSX, node@10.1.0, breaking package"
### Describe the problem and steps to reproduce it:
1. Make sure you're running on OSX and have NodeJS 10.x installed.
2. Run `npm install addons-linter`.
3. Watch it fail to install `fsevents` due to a compilation error due to breaking V9 header changes.

The solution is to have your dependencies upgraded to `fsevents@1.2.4` and all will be fine again.
However, npm isn't smart enough anymore to t

[2018-05-25 07:56] erosman opened #2005 "[Ongoing] Update Library Hashes"
IMHO, it would be an idea to keep one topic for this report, instead of opening a new topic each time ...

Bootstrap.js 4.1.1
underscore 1.9.0
AngularJS v1.7.0

[2018-05-28 18:36] sneakypete81 commented on #1775
A global option, while not perfect, would be a nice easy start for projects that use only ES modules.

[2018-05-28 18:40] ExE-Boss commented on #1775
There’s also [bug 1394303](https://bugzil.la/1394303) and [bug 1451545](https://bugzil.la/1451545).

[2018-05-29 10:13] EnTeQuAk commented on #1775
I'll look into getting this ready for next weeks deployment. Given that this is a bit more complicated I doubt I'll be able to get this into this weeks deployment. We'll see

[2018-06-04 11:27] LinusU opened #2019 "Lock files in this repository"
When starting work on an unrelated issue I found that this repository has both a `package-lock.json` file, and a `yarn.lock` file.

Furthermore, none of these files seems to be in sync with the `package.json` file.

I think that trying to have more than one lock file is impossible, without a special tool that syncs between them. Trying to run both `npm install` and `yarn` to keep them in sync will

[2018-06-04 11:37] LinusU commented on #2019
I'd be happy to submit a PR for this if I can get an indication of whether `yarn` or `npm` would be preferred ☺️

[2018-06-04 11:47] wagnerand commented on #2019
I would be in favor of moving back to `npm`. Any objections, @EnTeQuAk?

[2018-06-04 11:58] EnTeQuAk commented on #2019
No, more recent versions of npm are very powerful and fast enough so I'm all in favor of simplifying this and moving back to npm.

[2018-06-04 23:33] woky opened #2024 "There is a JavaScript syntax error in your code, line 1, column 1"
Report:

    $ addons-linter output/archives/upload.zip
    Validation Summary:

    errors          2
    notices         0
    warnings        0

    ERRORS:

    Code              Message                   Description                                                                   File                      Line   Column
    JS_SYNTAX_ERROR   JavaScript syntax error   There is a JavaScript syn

[2018-06-05 10:42] wagnerand commented on #2024
Looks like eslint doesn't know about `import/export`.

[2018-06-05 14:16] kewisch commented on #2024
See #1775

[2018-06-05 14:16] #2024 closed

[2018-06-08 15:07] #1962 closed

[2018-06-08 15:11] EnTeQuAk commented on #1999
It seems to be pinned by a sub-dependency of a dependency of webpack. I'll try to pin us to `fsevents@1.2.4` and see how that goes.

Thanks a lot for the report!

[2018-06-08 15:19] muffinresearch opened #2030 "Fix rules gh-pages favicon"
Rules favicon was committed directly to the gh-pages branch [here](https://github.com/mozilla/addons-linter/pull/1546/files), but since this is generated it gets blown away but the rules publication.

Fixing this requires adding it to the template instead.

[2018-06-08 15:29] EnTeQuAk commented on #1985
@jvillalobos what's the timing on this? When can this be implemented or go live?

[2018-06-08 15:36] EnTeQuAk commented on #1999
Okay, looking at #2029 this doesn't seem that easy, needs more investigation.

[2018-06-08 15:37] #2030 closed

[2018-06-08 15:39] jvillalobos commented on #1985
Developers have already been notified, so this can go out as soon as it's ready.

[2018-06-08 15:40] EnTeQuAk commented on #1985
Alrighty, I'll get this ready for the 06.21 milestone.

On Fri, Jun 8, 2018, at 5:39 PM, Jorge Villalobos wrote:

Links:

  1. https://github.com/mozilla/addons-linter/issues/1985#issuecomment-395800673
  2. https://github.com/notifications/unsubscribe-auth/AAIfGcwIrxbxwvBYptLNdaJNOU7x2WDzks5t6pqxgaJpZM4T4-Bl

[2018-06-08 16:10] muffinresearch opened #2034 "Fix up the readme to remove obsolete references"
The readme talks about several things that are no longer relevant:

*  logging via bunyan - we've switched to Pino long ago
*  Testing with chai - we're using jest now.

It would be nice to clean up these and identify any other areas that are out of date in the readme.

[2018-06-13 07:25] ginpei opened #2040 "ES Modules syntax support"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

Since latest Firefox has supported ES Modules, it would be great to use them even if you are working on addons. Would you add ES Modules syntax support?

### What happened?

I created an addon using ES Modules, tried to publish on the store but it was rejected because of lint error.

[code]

One of t

[2018-06-13 16:43] wagnerand commented on #2040
Duplicate of #1775.

[2018-06-13 16:43] #2040 closed

[2018-06-15 18:27] EnTeQuAk opened #2046 "Import Firefox 61 Beta 14 Schema"

[2018-06-15 20:49] wagnerand commented on #1999
It's interesting that using yarn does not raise that error for me.

[2018-06-15 20:55] EnTeQuAk commented on #1999
It does for me :thinking:

[2018-06-16 17:01] EnTeQuAk commented on #1775
This is WIP, we discussed possible strategies and I just tested out what'd happen if we simply set `sourceType: 'module'` but that doesn't seem to work because eslint's no-eval rule and a few others that we actually use behave differently.

Needs more investigation but it seems we'll have to read `background.page` files (and I need to check docs to see where else this is possible) and lint modules

[2018-06-16 19:12] sneakypete81 commented on #1775
I don't think that's true - I'm using them everywhere (popup, sidebar, page loaded in the browser) without problems, aside from the fact that I can't sign the extension.

[2018-06-16 19:12] ExE-Boss commented on #1775
@EnTeQuAk Actually, browser_action, page_action, sidebar_action, options_ui and any other extension page can use modules (as they are HTML files that can contain `<script type="module" src="…"/>` tags), see my [Application Menu](https://github.com/ExE-Boss/app-menu) [<img align="top" alt="(Mozilla Add‑on)" src="https://img.shields.io/amo/v/application-menu.svg"/>](https://addons.mozilla.org/firefo

[2018-06-16 20:30] sneakypete81 commented on #1775
The following works for me (for an all-module extension: [sneakypete81/updatescanner).](https://github.com/sneakypete81/updatescanner/)
[code]

[2018-06-16 20:32] rpl commented on #1775
@EnTeQuAk sorry but that is not what I meant :-), es6 modules have to be added explicitly to a HTML page as script tag elements with type "module", and so they can't be used in a background that is auto-generated (basically when the manifest.json contains the background.scripts property instead of the explicit background.page property) and in the content scripts, but any HTML page packaged in the

[2018-06-17 08:42] EnTeQuAk commented on #1775
I did understand how you meant it, also already got it working mostly,
I'll push the PR monday. Just need to update it to fetch all html pages,
for now I only implemented background.page but as you noted it'll work
for all other pages too

On Sat, Jun 16, 2018, at 10:32 PM, Luca Greco wrote:

Links:

  1. https://github.com/EnTeQuAk
  2. https://github.com/mozilla/addons-linter/issues/1775#issueco

[2018-06-17 08:43] EnTeQuAk commented on #1775
Or rather, were on the same page with background.scripts and sorts not
being able to use modules. browserAction etc is indeed new but should be
easy to add.

On Sun, Jun 17, 2018, at 10:42 AM, cg@webshox.org wrote:

Links:

  1. https://github.com/EnTeQuAk
  2. https://github.com/mozilla/addons-linter/issues/1775#issuecomment-397837257
  3. https://github.com/notifications/unsubscribe-auth/AAIfGSL

[2018-06-17 12:12] asamuzaK commented on #1775
Eslint gives the following error when module scripts are scanned as normal script.

sample files:
 moduleExportSample.js
[code]
moduleImportSample.js
[code]

Eslint result (JSON):
[code]

So, even though there is some overhead, how about

1. first scan as usual JS
2. if Eslint reports fatal error and it is because of the use of `import` / `export`, scan that file again as `sourceType = module`.

M

[2018-06-18 09:47] EnTeQuAk commented on #1985
QA: Make sure that no language packs using an install.rdf (e.g, uploading one older Firefox times) should not work anymore. This feature is behind the `disallow-legacy-langpacks` waffle.

[2018-06-18 09:47] #1985 closed

[2018-06-18 09:54] AlexandraMoga opened #2051 "[Static Themes] Unsupported image formats are not detected by the linter at static theme submission"
STR:

1. Log in to AMO -dev
2. Submit a static theme and make sure to incude an unsupported image format under `'images'` in your manifest -  i.e. a `.tif` file
3. Observe the validation results

Actual result:
There are no errors generated when a static theme package contains an unsupported image format

Expected result:
The linter should detect when an image format doesn't match the static theme

[2018-06-18 10:09] AlexandraMoga opened #2052 "[Static Themes] The linter doesn't detect when an image specified in the manifest is missing from the theme package"
STR:

1. Log in to AMO -dev
2. Choose a static theme and make sure that an image specified in the manifest is missing from the package - i.e. delete the image or change its type (from `.png` to `.jpg`)
3. Submit your static theme via dev hub distribution page
4. Observe the validation results

Actual result:
There is no error generated at static theme submission

Expected result:
The linter should

[2018-06-18 11:17] EnTeQuAk commented on #1775
This would be quite error-prone, we'll parse the respective html-files and filter out `type=module` references and lint these with `sourceType: module` instead of `sourceType: script`.

https://github.com/mozilla/addons-linter/commit/fff3e09b08e96d82191444e69141c71a8f6181d5 adds the first part of that support, more will be coming up shortly.

[2018-06-19 11:42] lunu-bounir opened #2053 "ES6 import is not supported"
### Describe the problem and steps to reproduce it:

In my extension's window (basically an HTML page), I have ES6 static import statement and I get "JavaScript syntax error" in the addons-linter which does not let me to submit my add-on.

### What happened?
Got syntax error message and the submit button is disabled

### What did you expect to happen?
The linter should support or ignore ES6 import

[2018-06-19 11:43] lunu-bounir commented on #2053
btw, the extension works just fine in the latest released version of FF (debugging mode)

[2018-06-19 13:38] AlexandraMoga commented on #1985
Verified on AMO -dev after enabling the `disallow-legacy-langpacks` switch.
When submitting a legacy language pack, the new incompatibility error message is received.
Dictionaries and webextension language packs submission works as expected.

![image](https://user-images.githubusercontent.com/31961530/41600169-ce179d28-73dd-11e8-93dd-46e9278acf0f.png)

Marking issue as verified fixed

[2018-06-19 14:09] EnTeQuAk commented on #1775
Moving this to next weeks milestone given that this is a lot more work than anticipated and needs quite some testing and things to figure out. Eslint does have different behavior based on the type so this needs investigation and a few more edge-cases I've run into.

I'll update this issue with more information as I have them.

[2018-06-19 14:13] #2019 closed

[2018-06-19 14:23] EnTeQuAk commented on #2053
This work is ongoing and will be handled in #1775, es6-modules are currently unsupported in the linter but that very certainly will change next Thursday (not this weeks Thursday unfortunately).

Please stay tuned :)

[2018-06-19 14:23] #2053 closed

[2018-06-19 16:14] #1999 closed

[2018-06-20 06:17] AlexandraMoga commented on #2019
@EnTeQuAk please let me know if this requires any testing, otherwise add the "qa:not needed" label
Thanks

[2018-06-20 06:18] AlexandraMoga commented on #1999
Could you please add a 'qa:not needed' label?
Thank you

[2018-06-20 13:57] muffinresearch commented on #1921
@EnTeQuAk I'm assuming you're planning to work on this since you updated the milestone.

[2018-06-20 15:28] muffinresearch opened #2055 "Validate Web Extension Dictionaries"
In the linter, validate that:

* [ ] Dictionaries only includes the dictionary manifest flags. Dictionaries shouldn't run any code.
* [ ] Show an error if a dictionary uses strict_max_version, since they shouldn't have compatibility restrictions.

[2018-06-21 07:43] EnTeQuAk commented on #1958
The respective support in eslint landed as part of https://github.com/eslint/eslint/issues/10392 which landed in https://github.com/eslint/eslint/commit/e0a0418fef214e0c548d2ddb02e98182e625f93a just a few days ago.

So this will be fixed once there is a new eslint release.

[2018-06-21 07:48] EnTeQuAk commented on #1872
Closing since this has been fixed.

[2018-06-21 07:48] #1872 closed

[2018-06-22 08:00] therealglazou opened #2057 ""Words found that violate the Mozilla conditions of use" for official IANA and ICANN TLDs lists"
### Describe the problem and steps to reproduce it:

For various reasons, we have to include in our WebExtension the official list of existing TLDs IANA regularly updates at https://data.iana.org/TLD/tlds-alpha-by-domain.txt .

### What happened?

addons-linter complains that file contains "Words found that violate the Mozilla conditions of use"...

We have the same problem when we include another

[2018-06-22 08:03] EnTeQuAk opened #2058 "Cleanup existing documentation in docs/"
There are a few documents in there that aren't up-to-date or not needed at all. Let's clean that up, restructure a bit and make it a nice-looking and easier to read github page.

[2018-06-22 08:06] EnTeQuAk opened #2059 "Refactor addons-linter documentation"
This is a meta-issue containing a few papercuts that help drive the project a bit forward.

* [x] [Cleanup and update our README.md](https://github.com/mozilla/addons-linter/issues/2034)
* [x] [Cleanup our rules.md](https://github.com/mozilla/addons-linter/issues/1560)
* [ ] [Cleanup our documentation](https://github.com/mozilla/addons-linter/issues/2058)
* [ ] Generate our github-page directly fr

[2018-06-22 13:38] vcarciu commented on #2030
@muffinresearch  : Can you please add some STRs to this issue or mark it as "qa: not needed" ?

[2018-06-22 14:18] EnTeQuAk commented on #2005
These are already in dispensary afaik and I disagree that we should not have one issue to track them all. Separate issues are much easier to follow and reference for specific milestones. That way we know exactly when something lands.

[2018-06-22 14:18] #2005 closed

[2018-06-22 16:43] jvillalobos commented on #2057
The message is just a warning, and reviewers shouldn't reject on it unless they find something that is really objectionable. Maybe we can do something about the content of the message to better reflect that.

/cc @wagnerand @kewisch

[2018-06-22 21:59] caitmuenster commented on #2057
I'd like to update the content of the message to make it clear that it's just a warning and will not block submission.

Maybe the warning could say something like "Words found may violate Mozilla's Conditions of Use and could result in your extension being rejected from addons.mozilla.org. For more information, please see https://www.mozilla.org/about/legal/acceptable-use/."

[2018-06-23 15:36] haraldbre opened #2063 "Duplicate add-on ID found."
### Describe the problem and steps to reproduce it:
When uploading an extension for submission, validation fails with this message. Submission is for my own.

Error with tabfilter.zip
100% complete · 64.54 KB of 64.54 KB
We have enabled a new linter to process your Add-on. Please make sure to report any issues on GitHub
Your add-on failed validation with 1 error.

    Duplicate add-on ID found.

S

[2018-06-23 20:59] haraldbre commented on #2063
The reason seems to be that the url
https://addons.mozilla.org/en-US/developers/addon/submit/upload-unlisted
only accepts add-ons with a new id. However, as the add-on is unlisted, version update seems to be impossible.

[2018-06-24 06:04] haraldbre commented on #2063
The reason seems to be that the url
https://addons.mozilla.org/en-US/developers/addon/submit/upload-unlisted
only accepts add-ons with a new id. However, as the add-on is unlisted, version update seems to be impossible.

[2018-06-24 06:04] #2063 closed

[2018-06-24 06:07] haraldbre commented on #2063
The problem was me using the wrong API. Using
https://addons.mozilla.org/de/developers/addons
everything works fine.
Sorry!

[2018-06-25 13:56] EnTeQuAk opened #2069 "Update to ESLint 5.0.0"

[2018-06-25 14:09] #2069 closed

[2018-06-26 08:25] EnTeQuAk opened #2073 "Import Firefox 62 Beta schema"

[2018-06-26 09:44] wagnerand commented on #2057
I am fine with the suggested change of copy, although to me it sounds more scary than the current one. I am also not sure whether it really makes clear that this is a warning only, and if we should even try and do that. The validation result design uses a distinct layout for warnings vs blocks.

[2018-06-26 13:35] diox commented on #1645
Heads-up: the weight is now 100+10 per instance, so this becomes more relevant. QA just stumbled upon it while testing the new weights.

[2018-06-26 13:36] diox commented on #1645
IMHO this should be enough as a workaround, btw.

[2018-06-26 16:08] Dani3lNL opened #2074 "Firefox Addons upload doesn't accept WebExtension theme"
Tried to upload my .zip containing the manifest.json and a .png. Error message appeared.

[2018-06-26 16:21] wagnerand commented on #2074
Can you please attach the file you were trying to submit?

[2018-06-26 16:38] wagnerand commented on #2074
Actually, webextension theme submission is not enabled yet as we're still working on the implementation.

[2018-06-26 16:38] #2074 closed

[2018-06-26 20:10] jvillalobos commented on #2057
Separately from this, we should probably make it clearer that warnings are non-blocking, since most devs will never see hard errors.

[2018-06-27 06:19] AlexandraMoga opened #2075 "Show a warning when validating an extension that uses native messaging"
STR:

1. Log in to Developer Hub
2. Submit a new extension that uses a native messaging permission (see example)
3. Observe the validation results

Actual result:
There is no warning triggered at validation

Expected result:
A warning should be displayed to inform the developers that they are using a sensitive permission

Notes:
- add-ons with native messaging will receive a weight of 100 now, whi

[2018-06-27 06:27] EnTeQuAk opened #2076 "Use babel-eslint parser instead of espree"
We should be using https://github.com/babel/babel-eslint instead of espree. There are various reasons for that.

1) `babel-eslint` supports an `allowImportExportEverywhere` option, it also set's the `sourceType` to `module` by default
2) This wouldn't be needed if https://github.com/eslint/espree/issues/334 got implemented, I don't see this happening anytime soon

This may simplify future adaption

[2018-06-27 09:39] muffinresearch commented on #2076
Are we wanting to do this because setting the correct module sourceType is proving difficult. I'd like to understand the thinking here a bit more.

I'm not sure why we'd be in a position where the syntax used in extensions is so far ahead of where eslint is at, after all eslint needs to keep up with browser support. Are there other examples of needing to do this aside from module related code?

I'

[2018-06-27 10:24] #2076 closed, assigned to EnTeQuAk

[2018-06-27 14:41] EnTeQuAk commented on #1645
I'll give this a look for next weeks tag.

[2018-06-28 13:03] Dani3lNL commented on #2074
@wagnerand Will the implementation (webextension theme submission) come to Firefox Nightly first/is it firefox client related, or will it directly work with the Firefox release version aswell? And can I read somewhere about the current progress of implementation/an expected week for release? (I hope we can get it to work next week or until mid july)

[2018-06-28 13:09] wagnerand commented on #2074
Once submission on AMO is enabled, they should work in current release (61) and newer.

[2018-06-28 13:30] wagnerand commented on #2074
I should probably add that this should not be considered an authoritative answer, since I am not involved in the client-side work for themes. I do know that relevant people have it on their radar and scheduling will be coordinated.

[2018-06-28 13:31] Dani3lNL commented on #2074
Is there a specific github Issue (link?) that states what work remains until webextension themes can be allowed? Or is there even more than one AMO problem that must be solved before WE themes can be accepted?

[2018-06-28 13:36] wagnerand commented on #2074
Maybe @eviljeff has more information he can point you to.

[2018-06-28 14:12] Dani3lNL commented on #2074
@wagnerand and is there a way to get an email once the update has been pushed (so that I will know the instant when AMO accepts webextension themes) ?

[2018-06-28 17:06] jvillalobos commented on #2074
We will announce it in the [Add-ons Blog](https://blog.mozilla.org/addons/) and [Discourse](https://discourse.mozilla-community.org/c/add-ons).

[2018-06-28 17:24] eviljeff commented on #2074
https://github.com/mozilla/addons-frontend/projects/6 has the remaining frontend issues and
https://github.com/mozilla/addons-server/labels/project%3A%20static%20themes shows the remaining backend (api/developer hub) issues.  Not all of the issues are blockers on launching the feature though.

[2018-06-29 05:14] asamuzaK commented on #2075
As an addon developer, it will be very annoying to be warned every time.
How about staying at notification, not warning?

[2018-06-29 06:13] EnTeQuAk opened #2084 "Integrate Prettier"
Things to steal:

* https://github.com/mozilla/addons-frontend/issues/5312
* https://github.com/mozilla/addons-frontend/pull/5428
* https://github.com/mozilla/addons-frontend/pull/5429

[2018-06-30 08:49] erosman opened #2086 "Flag Synchronous option in XMLHttpRequest.open"
Example:
https://reviewers.addons.mozilla.org/en-US/firefox/files/compare/1002571...991553/file/bgr.js#L12

[code]

[2018-06-30 11:43] Dani3lNL commented on #2074
But I assume you want to/must have fixed all P3 priority issues before launching the feature?

[2018-06-30 12:20] eviljeff commented on #2074
Not really. P3 is just general priority we'd like fix at some point. Some
relate to cleaning up code later; some to the existing theme migration
rather than the launch; some will just be too complicated to fix in the
next few weeks and we'll aim to do afterwards.

On Sat, 30 Jun 2018, 12:43 Dani3lNL, <notifications@github.com> wrote:

[2018-06-30 20:04] erosman opened #2088 "Update Library Hashes: angular-1.7.2"
The latest version of AngularJS is 1.7.2
[code]

[2018-07-02 07:33] EnTeQuAk commented on #2086
Why should we flag this? Is that a rule in our policy somewhere?

I'm sure there are good reasons to flag this, e.g synchronous calls may block user ui etc but generally, it's hard to make this false-positive proof since the synchronous request can be hidden in some async code somewhere.

Not sure what the benefit would be here.

cc @wagnerand

[2018-07-02 14:47] ioanarusiczki commented on #1958
@EnTeQuAk Please add the qa not needed label or some STR for qa.
Thanks!

[2018-07-02 18:18] erosman commented on #2088
PS. Where is the location of the hashes on this repository?

[2018-07-04 13:52] muffinresearch commented on #2075
/cc @wagnerand for input

[2018-07-05 06:00] EnTeQuAk commented on #2088
This is currently happening in https://github.com/mozilla/dispensary/

[2018-07-05 06:02] EnTeQuAk commented on #1992
I added this into Q3 maintenance project but I'm not yet sure which parts of this can be tackled as parts of it. I'll open a few more issues split off of this one to represent the decisions and implementation-ideas we made / have.

[2018-07-05 06:04] EnTeQuAk commented on #1793
@mstriemer or @jvillalobos these extensions are currently not going through AMO right? Is there a timeline on when support for this needs to land?

[2018-07-05 09:35] wagnerand commented on #2075
It could be useful for reviewers, yes. But I see @asamuzaK's point. I think we need to start categorizing and splitting linter annotations (reviewers vs developers) and then only show the respective category by default before we can add more warnings like this one.

[2018-07-05 16:30] erosman opened #2094 "Update Library Hashes: Moment 2.22.2"
ref: https://github.com/moment/moment/releases/
[code]

[2018-07-09 06:39] wagnerand commented on #2094
Done.

[2018-07-09 06:39] #2094 closed

[2018-07-10 23:10] mconca commented on #1793
WebExtension experiments are not supported on AMO, nor should they ever be.  I think this is a low priority still, but will defer to David Durst on that since it is often his team dealing with the experiments stuff.

[2018-07-11 14:01] JohnLeicht opened #2101 "AMO addon updater errors out - although Firefox 61 does not"
### Describe the problem and steps to reproduce it:
[BH-18.7.11.275.zip](https://github.com/mozilla/addons-linter/files/2184728/BH-18.7.11.275.zip)

(Please include as many details as possible.)
When unzipped, the attached file tests fine in Firefox 61 (I am not using Developer or Nightly). The upload should be accepted by AMO; however, it indicates there are 15-errors. Each error points to the 1s

[2018-07-11 14:16] Dani3lNL commented on #2074
Could somebody please reply here if currently the plan is to fix all of these issues listed [here](https://github.com/mozilla/addons-server/labels/project%3A%20static%20themes) before allowing webExtension theme uploads?

[2018-07-11 14:41] wagnerand commented on #2074
That question has been answered above.

[2018-07-11 14:43] wagnerand commented on #2101
Duplicate of #1775.

[2018-07-11 14:43] #2101 closed

[2018-07-11 14:44] Dani3lNL commented on #2074
"P3 is just general priority we'd like fix at some point" he wrote, which makes the impression that there is currently no issue which delays the release of the feature/must be fixed before we can upload webExtension theme?

[2018-07-11 14:46] wagnerand commented on #2074
There might be other, non-code related tasks like cross-team coordination, documentation, testing etc that plays a role. We will announce a timeline soon.

[2018-07-11 15:07] ddurst commented on #1793
To clarify, this is not for AMO use, but for anyone using the linter or web-ext CLI for extension development. I expect this is something that SHIELD has to deal with all the time.

Greg has filed a bunch of stuff, and I can see if this is one of them (it should be). There is no timeline for it yet, but I've asked them to determine what is the most important things to fix from their list. P3 sound

[2018-07-12 07:13] EnTeQuAk commented on #2101
It is a duplicate of #1775 which hasn't been fixed yet. We're working on getting es6 module support in the linter as soon as possible to not block submissions any longer.

[2018-07-12 07:58] EnTeQuAk commented on #1958
QA:

Simply try to upload an add-on that contains the following JavaScript:

[code]

The `catch` here that doesn't explicitly catch an exception `catch (err)` is what we recently added support for.

The support for this just landed on -dev and on -stage and will be heading out to production this week.

[2018-07-12 11:30] madalincm commented on #1958
Verified in FF61 Win7 x64

**In -dev** add-ons submission is not working (https://github.com/mozilla/addons-server/issues/8835) So I could try only using the valdiate add-on tool. I'm getting the following error:
![devvalidate1](https://user-images.githubusercontent.com/15685441/42630447-70226b3a-85df-11e8-897f-be8cdde5a0fc.png)

**In stage** both when using the validate add-on tool or when submit

[2018-07-14 14:09] erosman opened #2104 "'Font Awesome Free' Library Hashes"
I have seen many add-ons using the _Font Awesome Free_ JavaScript. As a result, I have added them to my own hash checker. I thought maybe it is worth considering its inclusion in the linter.

CDN (example): https://use.fontawesome.com/releases/v5.1.0/js/fontawesome.js
[code]
@wagnerand

[2018-07-16 09:03] muffinresearch opened #2105 "Replace NPM token"
Tokens have been revoked and need re-issuing.

These tokens were revoked because of a backdoor in eslint-scope@3.7.2 that stole the content of ~/.npmrc: https://status.npmjs.org/incidents/dn7c1fgrr7ng

This affected any installation of eslint-scope@3.7.2 for two hours last thursday (12 July 2018). For the exact timeline, see https://eslint.org/blog/2018/07/postmortem-for-malicious-package-publishe

[2018-07-16 12:30] #2105 closed

[2018-07-16 16:05] vcarciu commented on #2105
@muffinresearch : can you please add some STRs to this issue or mark it as "qa: not needed" ?

[2018-07-16 17:51] Dani3lNL commented on #2074
I hope you (developers) will announce it this week? Or what is your estimate?

[2018-07-16 19:12] jvillalobos commented on #2074
As I wrote above, it will be announced in the add-ons blog when it happens.  No other status updates will be posted here.

[2018-07-17 18:33] lidel opened #2108 "Generator function causing JS_SYNTAX_ERROR"
### Describe the problem and steps to reproduce it:

Attempted to validate an extension whose background .js had [generator function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/function*):

[code]

#### How to reproduce

[code]

### What happened?
[code]

### What did you expect to happen?

Firefox runs generators just fine. It guess [`function *`](https://develop

[2018-07-17 18:38] lidel commented on #2108
Hm.. I repeated the test wih latest version and the error is gone:

[code]

Does it mean generators were added after v1.0.0  and `web-ext` just needs to be bumped to the latest version of addons-linter?

[2018-07-17 19:08] EnTeQuAk commented on #2108
Correct. There were quite a few updates after 1.0.0 even that added support for many more recent JS features (e.g generators like you described, `catch` without an exception etc).

I'm closing this in favor of https://github.com/mozilla/web-ext/pull/1326

[2018-07-17 19:08] #2108 closed

[2018-07-18 17:23] erosman opened #2112 "Update Library Hashes: DOMPurify 1.0.6"
DOMPurify version1.0.6
https://github.com/cure53/DOMPurify/releases

[code]

[2018-07-20 05:48] Dani3lNL commented on #2074
Cool!! Only Issue #8038 remaining! :D

[2018-07-20 09:18] wagnerand commented on #2074
I am locking comments in this issue since it's already closed and I don't see any relevant information to this issue being added. Communication schedules and timelines are outside of the scope of this issue. For everyone interested in this, please monitor the [Add-ons Blog](https://blog.mozilla.org/addons/) for an announcement.

[2018-07-26 18:28] erosman opened #2114 "False positive on "content_security_policy" allows remote code execution in manifest.json"
ref:
https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/1026521/file/manifest.json#top

Is this a false positive?

`"content_security_policy": "default-src * 'self' 'unsafe-inline' *; script-src 'self' 'unsafe-eval'; object-src 'self'; child-src * 'self' 'unsafe-inline' 'unsafe-eval';"`

[2018-07-27 15:40] erosman opened #2115 "Update Library Hashes: bootstrap-4.1.2"
The latest version

[code]

[2018-07-30 17:56] erosman opened #2116 "Update Library Hashes: bootstrap-4.1.3"
The latest version

[code]

[2018-07-31 09:00] muffinresearch commented on #1945
@EnTeQuAk has an upstream bug been filed to get the schema updated?

[2018-07-31 09:00] muffinresearch commented on #1944
@EnTeQuAk has an upstream bug been filed to get the schema updated?

[2018-07-31 12:46] #2088 closed

[2018-07-31 12:46] #2112 closed

[2018-07-31 12:46] #2115 closed

[2018-07-31 12:46] #2116 closed

[2018-07-31 12:47] wagnerand commented on #2104
Have you reviewed them to make sure they are safe?

[2018-07-31 13:10] wagnerand commented on #2088
Fixed in https://github.com/mozilla/dispensary/commit/f0af564a65de534606d9d8e1bdaf12a03b12aec9

[2018-07-31 13:10] wagnerand commented on #2116
Fixed in https://github.com/mozilla/dispensary/commit/f0af564a65de534606d9d8e1bdaf12a03b12aec9

[2018-07-31 13:10] wagnerand commented on #2115
Fixed in https://github.com/mozilla/dispensary/commit/f0af564a65de534606d9d8e1bdaf12a03b12aec9

[2018-07-31 13:10] wagnerand commented on #2112
Fixed in https://github.com/mozilla/dispensary/commit/f0af564a65de534606d9d8e1bdaf12a03b12aec9

[2018-07-31 13:16] erosman commented on #2104
https://github.com/FortAwesome/Font-Awesome
I have checked them overall and they mostly deal with safe functions but I haven't checked them deeply and thoroughly.

It has `innerHTML` & `outerHTML` but no `fetch/ajax/xhr` so they are all local string (even though they didn't really need to use `innerHTML` in some places e.g. `style.innerHTML = css;` where `css` is text and `textContent` would have

[2018-07-31 15:36] diox opened #2120 "Validate extensions as language packs if language pack properties are found in the manifest"
It looks like the only way for the linter to validate language pack properties is through the use of the `--langpack` command line flag. This is a problem, because addons-server does not pass that flag to the linter.

I believe the linter should detect the type on its own, like it does for static themes, by looking for the `langpack_id` property in the manifest.

To prove that it doesn't work on A

[2018-07-31 15:39] diox commented on #2120
The code responsible for this:
- https://github.com/mozilla/addons-linter/blob/10e4ba9a50736a94bb78c8139f9a381c952cdcd3/src/parsers/manifestjson.js#L42 sets `isLanguagePack` from the config
- https://github.com/mozilla/addons-linter/blob/10e4ba9a50736a94bb78c8139f9a381c952cdcd3/src/parsers/manifestjson.js#L60 sets it on `this`
- https://github.com/mozilla/addons-linter/blob/10e4ba9a50736a94bb78c81

[2018-07-31 15:40] diox commented on #2120
If it's just a matter of changing that initial `isLanguagePack` value, detecting it from the manifest and removing the `--langpack` option, I can do it myself. However, I'd like confirmation that I'm not looking at this wrong first :)

[2018-07-31 16:28] EnTeQuAk commented on #1984
Some more information on how to tackle this:

Add a new `validateDictionary` function in `schema/validator.js` similarly to https://github.com/mozilla/addons-linter/blob/master/src/schema/validator.js#L84-L114
This needs to select the correct parts in the schema. I think something like

[code]

will probably work, plus all that fuzz regarding `additionalProperties` if needed.

This can then be use

[2018-07-31 18:01] EnTeQuAk commented on #1944
No I haven't, the upstream schema is actually quite unstrict about missing or misspelt properties since forever for some reasons. But I think filing an upstream issue to at least open the discussion about it and making clear which part lints what may make sense.

I'll do that!

[2018-08-01 10:11] muffinresearch commented on #2075
Since the status quo (no warning or notification) doesn't impact developers at all except that their code might get a manual review sooner, I don't see the a strong need to add a warning for this.

[2018-08-01 10:26] wagnerand commented on #2086
@EnTeQuAk I think your example talks about a false negative. I think we can live with that since we'll never reach 100% coverage using those static checks and this warning is to point out obvious mistakes instead of trying to identify sneaky behavior.

P3 is fine though, it's not a high priority.

[2018-08-02 10:39] diox commented on #2055
On this topic:

@EnTeQuAk suggested this:

[2018-08-02 10:43] diox commented on #2120
Also, language packs should not run any code. @EnTeQuAk suggested to inject `additionalProperties: false` when validating dictionaries, like it's done for static themes, and we can do the same for language packs.

[2018-08-02 11:00] diox commented on #2120
While we are at it the notice about `strict_max_version` should not apply to langpacks. They *are* meant to have a max version.

[2018-08-02 14:41] #2120 closed

[2018-08-02 15:02] #1984 closed

[2018-08-06 06:42] AlexandraMoga commented on #2120
@diox I've used the language pack example you posted above and I've uploaded it on -dev, however, I don't see any changes during validation, specifically:
- there is no error triggered for the invalid `langpack_id`
- the `strict-max-version` notice is still present in the validation results
- if I include any properties which are not supposed to be present in language pack manifests (i.e. a CSP) t

[2018-08-06 10:20] diox commented on #2120
@AlexandraMoga sorry, we haven't made a new linter release with those changes, so it hasn't been pushed to dev yet.

[2018-08-06 10:48] #2055 closed

[2018-08-06 12:28] diox commented on #1984
Dictionaries are a webextension with a manifest containing the `dictionaries` property, which is an object of the form: `{ "localename": "/path/to/locale.dic"}`. Inside the extension, the `/path/to/locale.dic` path must exist, whatever it is, must match what's specified in the `dictionaries` object, and there must be a corresponding `.aff` file placed in the same directory.

Only single-locale dic

[2018-08-06 14:00] AlexandraMoga commented on #2120
Verified fixed on AMO -dev with FF61, Win10x64

- errors are generated for invalid `langpack_id` or unintended additional properties
- `strict-max-version` notice is no longer displayed in the validation results

Validation results: https://addons-dev.allizom.org/en-US/developers/upload/877ce4f6c3fc42b38c9b7b9dee020f96

![image](https://user-images.githubusercontent.com/31961530/43720578-380867d6-

[2018-08-07 00:26] NiklasGollenstede commented on #1958
This still doesn't work.

It's pretty stupid that the linter prevents developers from using new language features. (And this is not the first time this happened.)

[2018-08-07 09:54] EnTeQuAk commented on #1958
Can you attach an add-on that shows me what is not working?

I tested this locally and basic catch without catching the actual exception seems to work for me.

[2018-08-07 09:59] EnTeQuAk commented on #1958
Nevermind, i found the problem

[2018-08-07 10:03] NiklasGollenstede commented on #1958
I don't have the file anymore (unless AMO saves it), but here is the failed CI build: https://ci.appveyor.com/project/NiklasGollenstede/re-style/build/0.4.1b22
The output contains: `Validation results: https://addons.mozilla.org/en-US/developers/upload/a6aa480017f14f6cbb4470b735261b51`
Which sais (themed):
![image](https://user-images.githubusercontent.com/10552031/43769168-670faab2-9a39-11e8-86cc

[2018-08-07 10:16] NiklasGollenstede commented on #1958
I have a more general question: Is the parsing only necessary to pass the AST to these tests?: https://github.com/mozilla/addons-linter/tree/master/src/rules/javascript

If so, why is a file that fails to pass a critical error? Would failing any of those tests be critical as well?
If not, what else is the parsed script used for?

[2018-08-07 10:31] NiklasGollenstede commented on #1958
So if I see that correctly, the only JS related test that errors is `BANNED_LIBRARY`, which I don't think requires you to parse that file.

Given that, the current behavior is "**ERROR**: can't proceed with checking for **warnings**".
I think that should be a warning itself.

[2018-08-07 12:04] AlexandraMoga commented on #1984
Verified on AMO -dev with FF61, Win10x64

The linter will read the `dictionaries` property from the manifest and will apply validation rules specific to this add-on type.

To prove this works, I have tried to trigger several specific errors during validation:
- supplying an invalid property (i.e. csp, permissions etc)
- adding multiple languages
- removing a dictionary file - `.dic` or `.aff`
- in

[2018-08-07 12:37] AlexandraMoga commented on #2055
I believe this issue was verified through https://github.com/mozilla/addons-linter/issues/1984#issuecomment-411032806

[2018-08-07 13:09] diox commented on #1984
Yeah, I didn't want to have a whitelist of valid locales in the linter itself, we could want completely arbitrary ones...

[2018-08-07 18:29] EnTeQuAk opened #2131 "Unify manifest.json schema overwrites"
Thanks to me not looking properly we now have two places where we have manifest.json schema overwrites:

In the `schema/validator.js` - https://github.com/mozilla/addons-linter/blob/master/src/schema/validator.js#L79-L96
And (I actually just found this or noticed it) in `schema/updates/manifest.json` we also have schema overwrites.

We should unify this and probably merge the first one with the se

[2018-08-07 19:43] #1775 closed

[2018-08-07 19:44] #2046 closed

[2018-08-07 19:44] #2073 closed

[2018-08-07 20:02] EnTeQuAk opened #2133 "Create changelog of what changed in addons-linter"
@rpl mentioned this and it's a great idea. Let's create a ChangeLog file that follows what changes in the addons-linter.

Could be part of our #2059 (addons-linter docs refactoring)

[2018-08-07 20:12] ExE-Boss commented on #1775
Finally!

[2018-08-08 03:43] robinst commented on #1775
Does [web-ext](https://www.npmjs.com/package/web-ext) also need to be updated? I've tried running `web-ext lint` but it still gives me errors for imports.

[2018-08-08 03:50] psimonyi commented on #1775
@robinst: See https://github.com/mozilla/web-ext/pull/1353

[2018-08-08 06:30] EnTeQuAk commented on #2073
This isn't on -stage yet, only on -dev.

QA: Just make sure that add-on validation works as expected and as before. There should not be any obvious changes that require testing.

You can test this change by writing an add-on that uses https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webRequest/getSecurityInfo which should now be allowed by the linter.

[2018-08-08 06:30] EnTeQuAk commented on #2046
QA: If you're testing #2073 then this is being covered too.

There are no specific Firefox 61 schema changes that need QA

[2018-08-08 06:31] EnTeQuAk commented on #1775
QA: This isn't on -stage yet, only on -dev.

Make sure that we support ES6 modules.

Either download one of the mentioned add-ons here or re-use https://github.com/mozilla/addons-linter/tree/master/tests/fixtures/webextension_es6_module and make sure that validation doesn't fail with a syntax error.

[2018-08-08 08:56] EnTeQuAk commented on #2073
This is now on -stage too.

[2018-08-08 08:56] EnTeQuAk commented on #2046
This is now on -stage too

[2018-08-08 08:56] EnTeQuAk commented on #1775
This is now on -stage too

[2018-08-08 09:28] vcarciu commented on #1775
Verified as fixed in both Stage and -dev :
![es6module](https://user-images.githubusercontent.com/1583842/43828948-7f6c4cdc-9b06-11e8-9f89-bde54b75d183.png)

[2018-08-08 09:37] vcarciu commented on #2073
Verified in Stage:
![webrequest](https://user-images.githubusercontent.com/1583842/43829522-d4f5a648-9b07-11e8-94e9-59d0c7f3faf3.gif)

[2018-08-08 09:38] vcarciu commented on #2046
Tested this in #2073

[2018-08-11 10:22] asamuzaK opened #2137 "Addons-linter fails to lint ES modules file if import/export is not declared at the beginning of the file"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

1. lint attached file.
2. addons-linter reports error if `import`/`export` is not declared before `const`.

reports error:
[code]

no error:
[code]

### What happened?

log:
[code]

### What did you expect to happen?
addons-linter reports no error

### Anything else we should know?
(Please include sc

[2018-08-11 10:29] psimonyi opened #2138 "Some modules are detected as scripts"
### Describe the problem and steps to reproduce it:
Following #2078, addons-linter should detect whether a .js file is a module or a script.
Run addons-linter on an extension with a module whose first statement is not an import or export statement.

### What happened?
The module is still detected as a script, so it reports a syntax error on any import or export statements.

### What did you expect

[2018-08-11 10:33] asamuzaK commented on #2137
dupe #2138

[2018-08-11 10:33] #2137 closed

[2018-08-11 13:58] psimonyi commented on #2138
Ah, I should have refreshed the page!  #2137 has a good test extension.

[2018-08-13 07:58] #2138 closed

[2018-08-14 07:08] SeinopSys opened #2145 "ES6 module default export line trips linter"
### Describe the problem and steps to reproduce it:
I submitted an extension that contained a `connectivity.js` file (and others like it) with the following contents:

[code]

### What happened?
The linter blocked the zip file stating that there is a JS syntax error on the last line of said file.

### What did you expect to happen?
The extension should have passed validation without issues.

### A

[2018-08-14 10:26] EnTeQuAk commented on #2145
Duplicate of https://github.com/mozilla/addons-linter/issues/2137

The fix will be heading to production this Thursday.

[2018-08-14 10:26] #2145 closed

[2018-08-18 18:54] roysix opened #2151 "Bad Word "AltRight" conflicts with KeyboardEvent.code "AltRight""
### Describe the problem and steps to reproduce it:
The [KeyboardEvent.code](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code) returns the String `AltRight` when the Alt Right modifier key is pressed. When developers write extensions that need to check for the return value of this specific key's event, they'll see a warning that their code violates Mozilla's policy. I am guessin

[2018-08-23 23:16] jvillalobos opened #2154 "Restrict length of add-on name and summary (description)"
We're setting these limits on the dev hub in https://github.com/mozilla/addons-server/issues/9243, but it would also be good that the linter warns developers about this during development.

[2018-08-24 08:41] szz-dvl opened #2155 "angular 1.7.2 marked as Error"
### Describe the problem and steps to reproduce it:
I'm trying to upload a new version of  [jsloader] (https://github.com/szz-dvl/JSLoader), with my libraries updated to last version, it is angular 1.7.2, however it still complains.

### What happened?
I can't carry on with my review process since I can not upload a new version.

### What did you expect to happen?
Upload a new version updated.

##

[2018-08-24 09:07] wagnerand commented on #2155
We are monitoring the [github page](https://github.com/angular/angular.js/releases) for angular and that one has 1.7.3 listed as the newest release. It seems they just haven't updated the website yet.

Can you upgrade to 1.7.3 please and resubmit?

[2018-08-24 09:07] #2155 closed

[2018-08-24 09:31] wagnerand commented on #2104
I am closing this for now. I agree that it's a good idea to expand the list, but the process is very manual currently and we don't have a good way (yet) to assess impact. There is some upcoming work planned around code search where we could hook into for this. I am planning to revise the known libraries list after that has been landed.

[2018-08-24 09:31] #2104 closed

[2018-08-24 17:39] jvillalobos opened #2158 "Don't allow use of "Mozilla" or "Firefox" in add-on names"
Up until now, we've allowed add-on names to end with "for Firefox" or "for Mozilla". For SEO reasons, we don't want to allow this anymore. Any use of those terms in add-on names should produce an error.

/cc @wagnerand to coordinate policy change when this lands.

[2018-08-27 11:38] wagnerand commented on #2158
Thanks Jorge!

What is the timeline for this?

I assume there will be some kind of validation for any submission (both new add-ons and updates to existing ones). We need to keep in mind that updates with a changed name in the XPI does not automatically update the name on AMO.

What will happen to existing add-ons that don't get updates? Will they be automatically updated by us? We need to keep pot

[2018-08-27 11:41] EnTeQuAk commented on #2158
Luckily the current validation happens directly on addons-server and not on the linter, so we should be able to distinguish between new submissions and updates in case we want to handle them differently.